﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../CadPersonagemLocal_files/Quadrado_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:145px;
    width:1167px;
    height:541px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:547px;
}

.u1 {
    position:absolute;
    left:2px;
    top:262px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:114px;
    top:100px;
    width:638px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../CadPersonagemLocal_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:140px;
    top:130px;
    width:140px;
    height:25px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u4 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:150px;
    top:160px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../CadPersonagemLocal_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u6 {
    position:absolute;
    left:138px;
    top:174px;
    width:1130px;
    height:10px;
    
}

.u7 {
    position:absolute;
    left:953px;
    top:250px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u22_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u9 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../MenuPrincipal_files/preto_u24_normal.png');
}

.u10_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u11 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../MenuPrincipal_files/Logo_u26_normal.png');
}

.u12_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u13 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u16_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u17 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u18_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u19 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u34_normal.png');
}

.u20_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u21 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u36_normal.png');
}

.u22_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u23 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u38_normal.png');
}

.u24_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u25 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u27 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u27 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u28_normal {
    background-image: url('../BuscaMenu_files/u42_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u29 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u52_normal.png');
}

.u38_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u39 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u41_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u41_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u41_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u42 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u57_mouseOver.png');
}

.u43_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u43_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u43_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u44 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u45_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u45_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u45_container {
    position:absolute;
    left:444px;
    top:2px;
    width:148px;
    height:25px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u46 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u57_mouseOver.png');
}

.u47_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u47_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u47_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u48 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u49_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u49_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u49_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u50 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u57_mouseOver.png');
}

.u51_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u51_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u51_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u52 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u53_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u53_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u53_container {
    position:absolute;
    left:296px;
    top:2px;
    width:148px;
    height:25px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u54 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u69_mouseOver.png');
}

.u55_selected {
    background-image: url('../MenuPrincipal_files/Sair_u69_selected.png');
}

.u55_normal {
    background-image: url('../MenuPrincipal_files/Sair_u69_selected.png');
}

.u55_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u56 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:953px;
    top:208px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:953px;
    top:186px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:1178px;
    top:370px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u61_line {
    background-image: url('../CadPersonagemLocal_files/u61_line.png');
}

.u61_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u61 {
    position:absolute;
    left:138px;
    top:355px;
    width:1130px;
    height:10px;
    
}

.u62_normal {
    background-image: url('../CadPersonagemLocal_files/GravarJornada_u62_normal.png');
}

.u62_container {
    position:absolute;
    left:1085px;
    top:691px;
    width:100px;
    height:25px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u63 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../CadPersonagemLocal_files/GravarJornada_u62_normal.png');
}

.u64_container {
    position:absolute;
    left:1185px;
    top:691px;
    width:100px;
    height:25px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u65 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u66 {
    position:absolute;
    left:140px;
    top:402px;
    width:1126px;
    height:272px;
    overflow:hidden;
}

#pd0u66 {
    position:absolute;
    left:0px;
    top:0px;
    width:1126px;
    height:272px;
    
}

.u67_normal {
    background-image: url('../CadPersonagemLocal_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:5px;
    top:31px;
    width:1117px;
    height:26px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u68 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../CadPersonagemLocal_files/u67_normal.png');
}

.u69_container {
    position:absolute;
    left:5px;
    top:85px;
    width:1117px;
    height:26px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u70 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../CadPersonagemLocal_files/u67_normal.png');
}

.u71_container {
    position:absolute;
    left:5px;
    top:139px;
    width:1117px;
    height:26px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u72 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../CadPersonagemLocal_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:905px;
    top:0px;
    width:147px;
    height:30px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:36px;
}

.u74 {
    position:absolute;
    left:2px;
    top:7px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:915px;
    top:36px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../CadPersonagemLocal_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:1055px;
    top:34px;
    width:20px;
    height:20px;
}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u77 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../CadPersonagemLocal_files/u78_normal.png');
}

.u78_container {
    position:absolute;
    left:1077px;
    top:34px;
    width:20px;
    height:20px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u79 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../CadPersonagemLocal_files/u80_normal.png');
}

.u80_container {
    position:absolute;
    left:1099px;
    top:34px;
    width:20px;
    height:20px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u81 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../CadPersonagemLocal_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:1052px;
    top:0px;
    width:70px;
    height:30px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:36px;
}

.u83 {
    position:absolute;
    left:2px;
    top:7px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:915px;
    top:90px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../CadPersonagemLocal_files/u76_normal.png');
}

.u85_container {
    position:absolute;
    left:1055px;
    top:88px;
    width:20px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../CadPersonagemLocal_files/u78_normal.png');
}

.u87_container {
    position:absolute;
    left:1077px;
    top:88px;
    width:20px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../CadPersonagemLocal_files/u80_normal.png');
}

.u89_container {
    position:absolute;
    left:1099px;
    top:88px;
    width:20px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:915px;
    top:144px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../CadPersonagemLocal_files/u92_normal.png');
}

.u92_container {
    position:absolute;
    left:5px;
    top:166px;
    width:1117px;
    height:26px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u93 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../CadPersonagemLocal_files/u76_normal.png');
}

.u94_container {
    position:absolute;
    left:1055px;
    top:142px;
    width:20px;
    height:20px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u95 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../CadPersonagemLocal_files/u78_normal.png');
}

.u96_container {
    position:absolute;
    left:1077px;
    top:142px;
    width:20px;
    height:20px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u97 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../CadPersonagemLocal_files/u80_normal.png');
}

.u98_container {
    position:absolute;
    left:1099px;
    top:142px;
    width:20px;
    height:20px;
}

#u98_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u99 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:45px;
    top:171px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:915px;
    top:171px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../CadPersonagemLocal_files/u76_normal.png');
}

.u102_container {
    position:absolute;
    left:1055px;
    top:169px;
    width:20px;
    height:20px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u103 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../CadPersonagemLocal_files/u78_normal.png');
}

.u104_container {
    position:absolute;
    left:1077px;
    top:169px;
    width:20px;
    height:20px;
}

#u104_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u105 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../CadPersonagemLocal_files/u80_normal.png');
}

.u106_container {
    position:absolute;
    left:1099px;
    top:169px;
    width:20px;
    height:20px;
}

#u106_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u107 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../CadPersonagemLocal_files/u67_normal.png');
}

.u108_container {
    position:absolute;
    left:5px;
    top:193px;
    width:1117px;
    height:26px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u109 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:45px;
    top:198px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:915px;
    top:198px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../CadPersonagemLocal_files/u92_normal.png');
}

.u112_container {
    position:absolute;
    left:5px;
    top:220px;
    width:1117px;
    height:26px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u113 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../CadPersonagemLocal_files/u76_normal.png');
}

.u114_container {
    position:absolute;
    left:1055px;
    top:196px;
    width:20px;
    height:20px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u115 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../CadPersonagemLocal_files/u78_normal.png');
}

.u116_container {
    position:absolute;
    left:1077px;
    top:196px;
    width:20px;
    height:20px;
}

#u116_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u117 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../CadPersonagemLocal_files/u80_normal.png');
}

.u118_container {
    position:absolute;
    left:1099px;
    top:196px;
    width:20px;
    height:20px;
}

#u118_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u119 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:45px;
    top:225px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:915px;
    top:225px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../CadPersonagemLocal_files/u76_normal.png');
}

.u122_container {
    position:absolute;
    left:1055px;
    top:223px;
    width:20px;
    height:20px;
}

#u122_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u123 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../CadPersonagemLocal_files/u78_normal.png');
}

.u124_container {
    position:absolute;
    left:1077px;
    top:223px;
    width:20px;
    height:20px;
}

#u124_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u125 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../CadPersonagemLocal_files/u80_normal.png');
}

.u126_container {
    position:absolute;
    left:1099px;
    top:223px;
    width:20px;
    height:20px;
}

#u126_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u127 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../CadPersonagemLocal_files/u134_normal.png');
}

.u134_container {
    position:absolute;
    left:5px;
    top:0px;
    width:30px;
    height:30px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u135 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../CadPersonagemLocal_files/u136_normal.png');
}

.u136_container {
    position:absolute;
    left:35px;
    top:0px;
    width:399px;
    height:30px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:405px;
    height:36px;
}

.u137 {
    position:absolute;
    left:2px;
    top:7px;
    width:395px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:45px;
    top:36px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../CadPersonagemLocal_files/u92_normal.png');
}

.u139_container {
    position:absolute;
    left:5px;
    top:58px;
    width:1117px;
    height:26px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u140 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:45px;
    top:63px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:915px;
    top:63px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../CadPersonagemLocal_files/u76_normal.png');
}

.u145_container {
    position:absolute;
    left:1055px;
    top:61px;
    width:20px;
    height:20px;
}

#u145_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u146 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../CadPersonagemLocal_files/u78_normal.png');
}

.u147_container {
    position:absolute;
    left:1077px;
    top:61px;
    width:20px;
    height:20px;
}

#u147_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u148 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../CadPersonagemLocal_files/u80_normal.png');
}

.u149_container {
    position:absolute;
    left:1099px;
    top:61px;
    width:20px;
    height:20px;
}

#u149_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u150 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:45px;
    top:90px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../CadPersonagemLocal_files/u92_normal.png');
}

.u152_container {
    position:absolute;
    left:5px;
    top:112px;
    width:1117px;
    height:26px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u153 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:45px;
    top:117px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:915px;
    top:117px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../CadPersonagemLocal_files/u76_normal.png');
}

.u156_container {
    position:absolute;
    left:1055px;
    top:115px;
    width:20px;
    height:20px;
}

#u156_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u157 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../CadPersonagemLocal_files/u78_normal.png');
}

.u158_container {
    position:absolute;
    left:1077px;
    top:115px;
    width:20px;
    height:20px;
}

#u158_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u159 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../CadPersonagemLocal_files/u80_normal.png');
}

.u160_container {
    position:absolute;
    left:1099px;
    top:115px;
    width:20px;
    height:20px;
}

#u160_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u161 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:45px;
    top:144px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:455px;
    top:171px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:455px;
    top:198px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:455px;
    top:225px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:455px;
    top:36px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:455px;
    top:63px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:455px;
    top:90px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:455px;
    top:117px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:455px;
    top:144px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:722px;
    top:171px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:722px;
    top:198px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:722px;
    top:225px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:722px;
    top:36px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:722px;
    top:63px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:722px;
    top:90px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:722px;
    top:117px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:722px;
    top:144px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189_normal {
    background-image: url('../CadPersonagemLocal_files/u189_normal.png');
}

.u189_container {
    position:absolute;
    left:434px;
    top:0px;
    width:267px;
    height:30px;
}

#u189_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:273px;
    height:36px;
}

.u190 {
    position:absolute;
    left:2px;
    top:7px;
    width:263px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191_normal {
    background-image: url('../CadPersonagemLocal_files/u191_normal.png');
}

.u191_container {
    position:absolute;
    left:701px;
    top:0px;
    width:204px;
    height:30px;
}

#u191_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:210px;
    height:36px;
}

.u192 {
    position:absolute;
    left:2px;
    top:7px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193 {
    position:absolute;
    left:902px;
    top:251px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_normal {
    background-image: url('../CadPersonagemLocal_files/u194_normal.png');
}

.u194_container {
    position:absolute;
    left:1049px;
    top:254px;
    width:10px;
    height:10px;
}

#u194_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u195 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196_line {
    background-image: url('../CadPersonagemLocal_files/u196_line.png');
}

.u196_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:10px;
}

.u196 {
    position:absolute;
    left:1042px;
    top:254px;
    width:10px;
    height:10px;
    
}

.u197_normal {
    background-image: url('../CadPersonagemLocal_files/u194_normal.png');
}

.u197_container {
    position:absolute;
    left:1068px;
    top:254px;
    width:10px;
    height:10px;
}

#u197_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u198 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199_normal {
    background-image: url('../CadPersonagemLocal_files/u199_normal.png');
}

.u199_container {
    position:absolute;
    left:1086px;
    top:254px;
    width:10px;
    height:10px;
}

#u199_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u200 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201_normal {
    background-image: url('../CadPersonagemLocal_files/u199_normal.png');
}

.u201_container {
    position:absolute;
    left:1105px;
    top:254px;
    width:10px;
    height:10px;
}

#u201_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u202 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203_line {
    background-image: url('../CadPersonagemLocal_files/u203_line.png');
}

.u203_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:10px;
}

.u203 {
    position:absolute;
    left:1112px;
    top:254px;
    width:10px;
    height:10px;
    
}

.u204 {
    position:absolute;
    left:951px;
    top:333px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u205 {
    position:absolute;
    left:149px;
    top:212px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u206 {
    position:absolute;
    left:149px;
    top:190px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207 {
    position:absolute;
    left:149px;
    top:333px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u208 {
    position:absolute;
    left:149px;
    top:311px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209 {
    position:absolute;
    left:554px;
    top:333px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u210 {
    position:absolute;
    left:554px;
    top:311px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211 {
    position:absolute;
    left:951px;
    top:311px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212 {
    position:absolute;
    left:149px;
    top:276px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u213 {
    position:absolute;
    left:149px;
    top:254px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214 {
    position:absolute;
    left:951px;
    top:276px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u215_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u215_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u215_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u215_container {
    position:absolute;
    left:0px;
    top:81px;
    width:100px;
    height:40px;
}

#u215_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u216 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u217 {
    position:absolute;
    left:0px;
    top:121px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u217 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u218_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u218_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u218_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u218_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u218_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u219 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u220 {
    position:absolute;
    left:0px;
    top:161px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u220 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u221_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u221_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u221_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u221_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u221_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u222 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u223 {
    position:absolute;
    left:0px;
    top:201px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u223 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u224_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u224_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u224_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u224_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u224_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u225 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u226 {
    position:absolute;
    left:0px;
    top:241px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u226 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u227_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u227_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u227_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u227_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u227_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u228 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u229 {
    position:absolute;
    left:0px;
    top:281px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u229 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u230_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u230_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u230_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u230_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u230_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u231 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u232 {
    position:absolute;
    left:0px;
    top:321px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u232 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u233_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u233_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u233_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u233_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u233_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u234 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u235 {
    position:absolute;
    left:0px;
    top:361px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u235 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u236_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u236_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u236_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u236_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u236_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u237 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u238 {
    position:absolute;
    left:10px;
    top:161px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u238 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u239_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u239_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u239_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u239_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u239_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u240 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u241_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u241_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u241_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u241_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u241_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u242 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u243 {
    position:absolute;
    left:10px;
    top:201px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u243 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u244_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u244_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u244_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u244_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u244_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u245 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u246_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u246_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u246_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u246_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u246_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u247 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u248 {
    position:absolute;
    left:10px;
    top:241px;
    width:91px;
    height:281px;
    overflow:hidden;
}

#pd0u248 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:281px;
    
}

.u249_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u249_selected {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_selected.png');
}

.u249_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_normal.png');
}

.u249_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u249_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u250 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u251 {
    position:absolute;
    left:0px;
    top:80px;
    width:91px;
    height:201px;
    overflow:hidden;
}

#pd0u251 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:201px;
    
}

.u252_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u252_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u252_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u252_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u252_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u253 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u254_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u254_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u254_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u254_container {
    position:absolute;
    left:0px;
    top:40px;
    width:90px;
    height:40px;
}

#u254_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u255 {
    position:absolute;
    left:2px;
    top:6px;
    width:86px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u256_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u256_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u256_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u256_container {
    position:absolute;
    left:0px;
    top:80px;
    width:90px;
    height:40px;
}

#u256_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u257 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u258_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u258_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u258_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u258_container {
    position:absolute;
    left:0px;
    top:120px;
    width:90px;
    height:40px;
}

#u258_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u259 {
    position:absolute;
    left:2px;
    top:6px;
    width:86px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u260_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u260_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u260_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u260_container {
    position:absolute;
    left:0px;
    top:160px;
    width:90px;
    height:40px;
}

#u260_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u261 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u262 {
    position:absolute;
    left:0px;
    top:40px;
    width:91px;
    height:41px;
    overflow:hidden;
}

#pd0u262 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:41px;
    
}

.u263_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u263_selected {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_selected.png');
}

.u263_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_normal.png');
}

.u263_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u263_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u264 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u265 {
    position:absolute;
    left:10px;
    top:281px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u265 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u266_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u266_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u266_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u266_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u266_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u267 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u268_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u268_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u268_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u268_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u268_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u269 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u270 {
    position:absolute;
    left:10px;
    top:321px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u270 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u271_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u271_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u271_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u271_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u271_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u272 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u273_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u273_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u273_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u273_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u273_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u274 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u275 {
    position:absolute;
    left:10px;
    top:361px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u275 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u276_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u276_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u276_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u276_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u276_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u277 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u278_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u278_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u278_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u278_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u278_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u279 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u280 {
    position:absolute;
    left:10px;
    top:401px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u280 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u281_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u281_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u281_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u281_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u281_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u282 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u283_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u283_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u283_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u283_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u283_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u284 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

