﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../ListagemEscala_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:142px;
    width:1167px;
    height:107px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:113px;
}

.u1 {
    position:absolute;
    left:2px;
    top:46px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:114px;
    top:100px;
    width:254px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:549px;
    top:182px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:149px;
    top:159px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:549px;
    top:159px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../ListagemEscala_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:140px;
    top:130px;
    width:140px;
    height:25px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u7 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:1169px;
    top:214px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u9_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u22_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u10 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../MenuPrincipal_files/preto_u24_normal.png');
}

.u11_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u12 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../MenuPrincipal_files/Logo_u26_normal.png');
}

.u13_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u14 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u17_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u18 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u19_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u20 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u34_normal.png');
}

.u21_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u22 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u36_normal.png');
}

.u23_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u24 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u38_normal.png');
}

.u25_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u26 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u28 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u28 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u29_normal {
    background-image: url('../BuscaMenu_files/u42_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u30 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u52_normal.png');
}

.u39_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u40 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u42_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u42_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u42_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u43 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_mouseOver {
    background-image: url('../MenuPrincipal_files/Transfer_u57_mouseOver.png');
}

.u44_selected {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u44_normal {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u44_container {
    position:absolute;
    left:296px;
    top:2px;
    width:296px;
    height:25px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:31px;
}

.u45 {
    position:absolute;
    left:2px;
    top:4px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u46_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u46_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u46_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u47 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u48_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u48_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u48_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u49 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_mouseOver {
    background-image: url('../MenuPrincipal_files/CadastroBasico_u63_mouseOver.png');
}

.u50_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u50_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u50_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u51 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u52_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u52_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u52_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u53 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u67_mouseOver.png');
}

.u54_selected {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u54_normal {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u54_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u55 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../ListagemEscala_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:120px;
    top:286px;
    width:1167px;
    height:26px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u58 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../ListagemEscala_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:120px;
    top:255px;
    width:30px;
    height:30px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u60 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../ListagemEscala_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:150px;
    top:255px;
    width:783px;
    height:30px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:789px;
    height:36px;
}

.u62 {
    position:absolute;
    left:2px;
    top:7px;
    width:779px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../ListagemEscala_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:933px;
    top:255px;
    width:284px;
    height:30px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:290px;
    height:36px;
}

.u64 {
    position:absolute;
    left:2px;
    top:7px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:160px;
    top:291px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:945px;
    top:291px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../ListagemEscala_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:120px;
    top:313px;
    width:1167px;
    height:26px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u68 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:1070px;
    top:830px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../ListagemEscala_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:1217px;
    top:833px;
    width:10px;
    height:10px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u71 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_line {
    background-image: url('../ListagemEscala_files/u72_line.png');
}

.u72_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:10px;
}

.u72 {
    position:absolute;
    left:1210px;
    top:833px;
    width:10px;
    height:10px;
    
}

.u73_normal {
    background-image: url('../ListagemEscala_files/u70_normal.png');
}

.u73_container {
    position:absolute;
    left:1236px;
    top:833px;
    width:10px;
    height:10px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u74 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../ListagemEscala_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:1254px;
    top:833px;
    width:10px;
    height:10px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u76 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../ListagemEscala_files/u75_normal.png');
}

.u77_container {
    position:absolute;
    left:1273px;
    top:833px;
    width:10px;
    height:10px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u78 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_line {
    background-image: url('../ListagemEscala_files/u79_line.png');
}

.u79_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:10px;
}

.u79 {
    position:absolute;
    left:1280px;
    top:833px;
    width:10px;
    height:10px;
    
}

.u81 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../ListagemEscala_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:1220px;
    top:289px;
    width:20px;
    height:20px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u83 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../ListagemEscala_files/u84_normal.png');
}

.u84_container {
    position:absolute;
    left:1242px;
    top:289px;
    width:20px;
    height:20px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u85 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../ListagemEscala_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:1264px;
    top:289px;
    width:20px;
    height:20px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u87 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../ListagemEscala_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:1217px;
    top:255px;
    width:70px;
    height:30px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:36px;
}

.u89 {
    position:absolute;
    left:2px;
    top:7px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:160px;
    top:318px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:945px;
    top:318px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../ListagemEscala_files/u82_normal.png');
}

.u92_container {
    position:absolute;
    left:1220px;
    top:316px;
    width:20px;
    height:20px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u93 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../ListagemEscala_files/u84_normal.png');
}

.u94_container {
    position:absolute;
    left:1242px;
    top:316px;
    width:20px;
    height:20px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u95 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../ListagemEscala_files/u86_normal.png');
}

.u96_container {
    position:absolute;
    left:1264px;
    top:316px;
    width:20px;
    height:20px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u97 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../ListagemEscala_files/u57_normal.png');
}

.u98_container {
    position:absolute;
    left:120px;
    top:340px;
    width:1167px;
    height:26px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u99 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:160px;
    top:345px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:945px;
    top:345px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../ListagemEscala_files/u67_normal.png');
}

.u102_container {
    position:absolute;
    left:120px;
    top:367px;
    width:1167px;
    height:26px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u103 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../ListagemEscala_files/u82_normal.png');
}

.u104_container {
    position:absolute;
    left:1220px;
    top:343px;
    width:20px;
    height:20px;
}

#u104_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u105 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../ListagemEscala_files/u84_normal.png');
}

.u106_container {
    position:absolute;
    left:1242px;
    top:343px;
    width:20px;
    height:20px;
}

#u106_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u107 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../ListagemEscala_files/u86_normal.png');
}

.u108_container {
    position:absolute;
    left:1264px;
    top:343px;
    width:20px;
    height:20px;
}

#u108_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u109 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:160px;
    top:372px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:945px;
    top:372px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../ListagemEscala_files/u82_normal.png');
}

.u112_container {
    position:absolute;
    left:1220px;
    top:370px;
    width:20px;
    height:20px;
}

#u112_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u113 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../ListagemEscala_files/u84_normal.png');
}

.u114_container {
    position:absolute;
    left:1242px;
    top:370px;
    width:20px;
    height:20px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u115 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../ListagemEscala_files/u86_normal.png');
}

.u116_container {
    position:absolute;
    left:1264px;
    top:370px;
    width:20px;
    height:20px;
}

#u116_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u117 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../ListagemEscala_files/u57_normal.png');
}

.u118_container {
    position:absolute;
    left:120px;
    top:394px;
    width:1167px;
    height:26px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u119 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:160px;
    top:399px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:945px;
    top:399px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../ListagemEscala_files/u67_normal.png');
}

.u122_container {
    position:absolute;
    left:120px;
    top:421px;
    width:1167px;
    height:26px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u123 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../ListagemEscala_files/u82_normal.png');
}

.u124_container {
    position:absolute;
    left:1220px;
    top:397px;
    width:20px;
    height:20px;
}

#u124_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u125 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../ListagemEscala_files/u84_normal.png');
}

.u126_container {
    position:absolute;
    left:1242px;
    top:397px;
    width:20px;
    height:20px;
}

#u126_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u127 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../ListagemEscala_files/u86_normal.png');
}

.u128_container {
    position:absolute;
    left:1264px;
    top:397px;
    width:20px;
    height:20px;
}

#u128_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u129 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:160px;
    top:426px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:945px;
    top:426px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../ListagemEscala_files/u82_normal.png');
}

.u132_container {
    position:absolute;
    left:1220px;
    top:424px;
    width:20px;
    height:20px;
}

#u132_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u133 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../ListagemEscala_files/u84_normal.png');
}

.u134_container {
    position:absolute;
    left:1242px;
    top:424px;
    width:20px;
    height:20px;
}

#u134_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u135 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../ListagemEscala_files/u86_normal.png');
}

.u136_container {
    position:absolute;
    left:1264px;
    top:424px;
    width:20px;
    height:20px;
}

#u136_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u137 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../ListagemEscala_files/u57_normal.png');
}

.u138_container {
    position:absolute;
    left:120px;
    top:448px;
    width:1167px;
    height:26px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u139 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:160px;
    top:453px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:945px;
    top:453px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../ListagemEscala_files/u67_normal.png');
}

.u142_container {
    position:absolute;
    left:120px;
    top:475px;
    width:1167px;
    height:26px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u143 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../ListagemEscala_files/u82_normal.png');
}

.u144_container {
    position:absolute;
    left:1220px;
    top:451px;
    width:20px;
    height:20px;
}

#u144_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u145 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../ListagemEscala_files/u84_normal.png');
}

.u146_container {
    position:absolute;
    left:1242px;
    top:451px;
    width:20px;
    height:20px;
}

#u146_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u147 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../ListagemEscala_files/u86_normal.png');
}

.u148_container {
    position:absolute;
    left:1264px;
    top:451px;
    width:20px;
    height:20px;
}

#u148_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u149 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:160px;
    top:480px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:945px;
    top:480px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../ListagemEscala_files/u82_normal.png');
}

.u152_container {
    position:absolute;
    left:1220px;
    top:478px;
    width:20px;
    height:20px;
}

#u152_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u153 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../ListagemEscala_files/u84_normal.png');
}

.u154_container {
    position:absolute;
    left:1242px;
    top:478px;
    width:20px;
    height:20px;
}

#u154_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u155 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../ListagemEscala_files/u86_normal.png');
}

.u156_container {
    position:absolute;
    left:1264px;
    top:478px;
    width:20px;
    height:20px;
}

#u156_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u157 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../ListagemEscala_files/u57_normal.png');
}

.u158_container {
    position:absolute;
    left:120px;
    top:502px;
    width:1167px;
    height:26px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u159 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160 {
    position:absolute;
    left:160px;
    top:507px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:945px;
    top:507px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../ListagemEscala_files/u67_normal.png');
}

.u162_container {
    position:absolute;
    left:120px;
    top:529px;
    width:1167px;
    height:26px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u163 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_normal {
    background-image: url('../ListagemEscala_files/u82_normal.png');
}

.u164_container {
    position:absolute;
    left:1220px;
    top:505px;
    width:20px;
    height:20px;
}

#u164_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u165 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../ListagemEscala_files/u84_normal.png');
}

.u166_container {
    position:absolute;
    left:1242px;
    top:505px;
    width:20px;
    height:20px;
}

#u166_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u167 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../ListagemEscala_files/u86_normal.png');
}

.u168_container {
    position:absolute;
    left:1264px;
    top:505px;
    width:20px;
    height:20px;
}

#u168_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u169 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:160px;
    top:534px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:945px;
    top:534px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_normal {
    background-image: url('../ListagemEscala_files/u82_normal.png');
}

.u172_container {
    position:absolute;
    left:1220px;
    top:532px;
    width:20px;
    height:20px;
}

#u172_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u173 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174_normal {
    background-image: url('../ListagemEscala_files/u84_normal.png');
}

.u174_container {
    position:absolute;
    left:1242px;
    top:532px;
    width:20px;
    height:20px;
}

#u174_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u175 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176_normal {
    background-image: url('../ListagemEscala_files/u86_normal.png');
}

.u176_container {
    position:absolute;
    left:1264px;
    top:532px;
    width:20px;
    height:20px;
}

#u176_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u177 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_normal {
    background-image: url('../ListagemEscala_files/u57_normal.png');
}

.u178_container {
    position:absolute;
    left:120px;
    top:556px;
    width:1167px;
    height:26px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u179 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:160px;
    top:561px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:945px;
    top:561px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182_normal {
    background-image: url('../ListagemEscala_files/u67_normal.png');
}

.u182_container {
    position:absolute;
    left:120px;
    top:583px;
    width:1167px;
    height:26px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u183 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184_normal {
    background-image: url('../ListagemEscala_files/u82_normal.png');
}

.u184_container {
    position:absolute;
    left:1220px;
    top:559px;
    width:20px;
    height:20px;
}

#u184_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u185 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186_normal {
    background-image: url('../ListagemEscala_files/u84_normal.png');
}

.u186_container {
    position:absolute;
    left:1242px;
    top:559px;
    width:20px;
    height:20px;
}

#u186_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u187 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188_normal {
    background-image: url('../ListagemEscala_files/u86_normal.png');
}

.u188_container {
    position:absolute;
    left:1264px;
    top:559px;
    width:20px;
    height:20px;
}

#u188_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u189 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190 {
    position:absolute;
    left:160px;
    top:588px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:945px;
    top:588px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192_normal {
    background-image: url('../ListagemEscala_files/u82_normal.png');
}

.u192_container {
    position:absolute;
    left:1220px;
    top:586px;
    width:20px;
    height:20px;
}

#u192_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u193 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_normal {
    background-image: url('../ListagemEscala_files/u84_normal.png');
}

.u194_container {
    position:absolute;
    left:1242px;
    top:586px;
    width:20px;
    height:20px;
}

#u194_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u195 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196_normal {
    background-image: url('../ListagemEscala_files/u86_normal.png');
}

.u196_container {
    position:absolute;
    left:1264px;
    top:586px;
    width:20px;
    height:20px;
}

#u196_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u197 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198_normal {
    background-image: url('../ListagemEscala_files/u57_normal.png');
}

.u198_container {
    position:absolute;
    left:120px;
    top:610px;
    width:1167px;
    height:26px;
}

#u198_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u199 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:160px;
    top:615px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201 {
    position:absolute;
    left:945px;
    top:615px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202_normal {
    background-image: url('../ListagemEscala_files/u67_normal.png');
}

.u202_container {
    position:absolute;
    left:120px;
    top:637px;
    width:1167px;
    height:26px;
}

#u202_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u203 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204_normal {
    background-image: url('../ListagemEscala_files/u82_normal.png');
}

.u204_container {
    position:absolute;
    left:1220px;
    top:613px;
    width:20px;
    height:20px;
}

#u204_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u205 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206_normal {
    background-image: url('../ListagemEscala_files/u84_normal.png');
}

.u206_container {
    position:absolute;
    left:1242px;
    top:613px;
    width:20px;
    height:20px;
}

#u206_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u207 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208_normal {
    background-image: url('../ListagemEscala_files/u86_normal.png');
}

.u208_container {
    position:absolute;
    left:1264px;
    top:613px;
    width:20px;
    height:20px;
}

#u208_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u209 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210 {
    position:absolute;
    left:160px;
    top:642px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211 {
    position:absolute;
    left:945px;
    top:642px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212_normal {
    background-image: url('../ListagemEscala_files/u82_normal.png');
}

.u212_container {
    position:absolute;
    left:1220px;
    top:640px;
    width:20px;
    height:20px;
}

#u212_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u213 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214_normal {
    background-image: url('../ListagemEscala_files/u84_normal.png');
}

.u214_container {
    position:absolute;
    left:1242px;
    top:640px;
    width:20px;
    height:20px;
}

#u214_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u215 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216_normal {
    background-image: url('../ListagemEscala_files/u86_normal.png');
}

.u216_container {
    position:absolute;
    left:1264px;
    top:640px;
    width:20px;
    height:20px;
}

#u216_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u217 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218_normal {
    background-image: url('../ListagemEscala_files/u57_normal.png');
}

.u218_container {
    position:absolute;
    left:120px;
    top:664px;
    width:1167px;
    height:26px;
}

#u218_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u219 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220 {
    position:absolute;
    left:160px;
    top:669px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u221 {
    position:absolute;
    left:945px;
    top:669px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222_normal {
    background-image: url('../ListagemEscala_files/u67_normal.png');
}

.u222_container {
    position:absolute;
    left:120px;
    top:691px;
    width:1167px;
    height:26px;
}

#u222_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u223 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224_normal {
    background-image: url('../ListagemEscala_files/u82_normal.png');
}

.u224_container {
    position:absolute;
    left:1220px;
    top:667px;
    width:20px;
    height:20px;
}

#u224_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u225 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u226_normal {
    background-image: url('../ListagemEscala_files/u84_normal.png');
}

.u226_container {
    position:absolute;
    left:1242px;
    top:667px;
    width:20px;
    height:20px;
}

#u226_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u227 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u228_normal {
    background-image: url('../ListagemEscala_files/u86_normal.png');
}

.u228_container {
    position:absolute;
    left:1264px;
    top:667px;
    width:20px;
    height:20px;
}

#u228_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u229 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u230 {
    position:absolute;
    left:160px;
    top:696px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u231 {
    position:absolute;
    left:945px;
    top:696px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u232_normal {
    background-image: url('../ListagemEscala_files/u82_normal.png');
}

.u232_container {
    position:absolute;
    left:1220px;
    top:694px;
    width:20px;
    height:20px;
}

#u232_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u233 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u234_normal {
    background-image: url('../ListagemEscala_files/u84_normal.png');
}

.u234_container {
    position:absolute;
    left:1242px;
    top:694px;
    width:20px;
    height:20px;
}

#u234_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u235 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u236_normal {
    background-image: url('../ListagemEscala_files/u86_normal.png');
}

.u236_container {
    position:absolute;
    left:1264px;
    top:694px;
    width:20px;
    height:20px;
}

#u236_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u237 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u238_normal {
    background-image: url('../ListagemEscala_files/u57_normal.png');
}

.u238_container {
    position:absolute;
    left:120px;
    top:718px;
    width:1167px;
    height:26px;
}

#u238_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u239 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u240 {
    position:absolute;
    left:160px;
    top:723px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u241 {
    position:absolute;
    left:945px;
    top:723px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u242_normal {
    background-image: url('../ListagemEscala_files/u67_normal.png');
}

.u242_container {
    position:absolute;
    left:120px;
    top:745px;
    width:1167px;
    height:26px;
}

#u242_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u243 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u244_normal {
    background-image: url('../ListagemEscala_files/u82_normal.png');
}

.u244_container {
    position:absolute;
    left:1220px;
    top:721px;
    width:20px;
    height:20px;
}

#u244_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u245 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u246_normal {
    background-image: url('../ListagemEscala_files/u84_normal.png');
}

.u246_container {
    position:absolute;
    left:1242px;
    top:721px;
    width:20px;
    height:20px;
}

#u246_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u247 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u248_normal {
    background-image: url('../ListagemEscala_files/u86_normal.png');
}

.u248_container {
    position:absolute;
    left:1264px;
    top:721px;
    width:20px;
    height:20px;
}

#u248_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u249 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u250 {
    position:absolute;
    left:160px;
    top:750px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u251 {
    position:absolute;
    left:945px;
    top:750px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u252_normal {
    background-image: url('../ListagemEscala_files/u82_normal.png');
}

.u252_container {
    position:absolute;
    left:1220px;
    top:748px;
    width:20px;
    height:20px;
}

#u252_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u253 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u254_normal {
    background-image: url('../ListagemEscala_files/u84_normal.png');
}

.u254_container {
    position:absolute;
    left:1242px;
    top:748px;
    width:20px;
    height:20px;
}

#u254_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u255 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u256_normal {
    background-image: url('../ListagemEscala_files/u86_normal.png');
}

.u256_container {
    position:absolute;
    left:1264px;
    top:748px;
    width:20px;
    height:20px;
}

#u256_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u257 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u258_normal {
    background-image: url('../ListagemEscala_files/u57_normal.png');
}

.u258_container {
    position:absolute;
    left:120px;
    top:772px;
    width:1167px;
    height:26px;
}

#u258_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u259 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u260 {
    position:absolute;
    left:160px;
    top:777px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u261 {
    position:absolute;
    left:945px;
    top:777px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u262_normal {
    background-image: url('../ListagemEscala_files/u67_normal.png');
}

.u262_container {
    position:absolute;
    left:120px;
    top:799px;
    width:1167px;
    height:26px;
}

#u262_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u263 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u264_normal {
    background-image: url('../ListagemEscala_files/u82_normal.png');
}

.u264_container {
    position:absolute;
    left:1220px;
    top:775px;
    width:20px;
    height:20px;
}

#u264_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u265 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u266_normal {
    background-image: url('../ListagemEscala_files/u84_normal.png');
}

.u266_container {
    position:absolute;
    left:1242px;
    top:775px;
    width:20px;
    height:20px;
}

#u266_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u267 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u268_normal {
    background-image: url('../ListagemEscala_files/u86_normal.png');
}

.u268_container {
    position:absolute;
    left:1264px;
    top:775px;
    width:20px;
    height:20px;
}

#u268_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u269 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u270 {
    position:absolute;
    left:160px;
    top:804px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u271 {
    position:absolute;
    left:945px;
    top:804px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u272_normal {
    background-image: url('../ListagemEscala_files/u82_normal.png');
}

.u272_container {
    position:absolute;
    left:1220px;
    top:802px;
    width:20px;
    height:20px;
}

#u272_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u273 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u274_normal {
    background-image: url('../ListagemEscala_files/u84_normal.png');
}

.u274_container {
    position:absolute;
    left:1242px;
    top:802px;
    width:20px;
    height:20px;
}

#u274_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u275 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u276_normal {
    background-image: url('../ListagemEscala_files/u86_normal.png');
}

.u276_container {
    position:absolute;
    left:1264px;
    top:802px;
    width:20px;
    height:20px;
}

#u276_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u277 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u279 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u281 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u283 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u285 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u287 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u289 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u291 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u293 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u295 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u297 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u299 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u301 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u303 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u305 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u307 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u309 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u311 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u313 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u315 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u317 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u318_normal {
    background-image: url('../ListagemEscala_files/u318_normal.png');
}

.u318_container {
    position:absolute;
    left:129px;
    top:830px;
    width:151px;
    height:25px;
}

#u318_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:31px;
}

.u319 {
    position:absolute;
    left:2px;
    top:4px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u320 {
    position:absolute;
    left:149px;
    top:182px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u321 {
    position:absolute;
    left:149px;
    top:207px;
    width:301px;
    height:131px;
    overflow:hidden;
}

#pd0u321 {
    position:absolute;
    left:0px;
    top:0px;
    width:301px;
    height:131px;
    
}

.u322_normal {
    background-image: url('../Copy_of_Dynamic_search_box_files/u59_normal.png');
}

.u322_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u322_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u323 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u324 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u325 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u326 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u327 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u328 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u329 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u330 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u331 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u333_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u333_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u333_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u333_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u333_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u334 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u335_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u335_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u335_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u335_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u336 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u337_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u337_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u337_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u337_container {
    position:absolute;
    left:0px;
    top:160px;
    width:100px;
    height:40px;
}

#u337_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u338 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u339_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u339_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u339_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u339_container {
    position:absolute;
    left:0px;
    top:200px;
    width:100px;
    height:40px;
}

#u339_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u340 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u341_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u341_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u341_container {
    position:absolute;
    left:0px;
    top:240px;
    width:100px;
    height:40px;
}

#u341_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u342 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u343_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u343_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u343_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u343_container {
    position:absolute;
    left:0px;
    top:280px;
    width:100px;
    height:40px;
}

#u343_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u344 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u345_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u345_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u345_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u345_container {
    position:absolute;
    left:0px;
    top:320px;
    width:100px;
    height:40px;
}

#u345_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u346 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u347_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u347_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u347_container {
    position:absolute;
    left:0px;
    top:360px;
    width:100px;
    height:40px;
}

#u347_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u348 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u349_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u349_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u349_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u349_container {
    position:absolute;
    left:0px;
    top:400px;
    width:100px;
    height:40px;
}

#u349_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u350 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u351 {
    position:absolute;
    left:100px;
    top:280px;
    width:102px;
    height:81px;
    overflow:hidden;
}

#pd0u351 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:81px;
    
}

.u352_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u352_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u352_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u352_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u352_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u353 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u354_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u354_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u354_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u354_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u354_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u355 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u356 {
    position:absolute;
    left:100px;
    top:240px;
    width:102px;
    height:81px;
    overflow:hidden;
}

#pd0u356 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:81px;
    
}

.u357_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u357_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u357_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u357_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u357_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u358 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u359_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u359_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u359_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u359_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u359_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u360 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u361 {
    position:absolute;
    left:100px;
    top:320px;
    width:102px;
    height:81px;
    overflow:hidden;
}

#pd0u361 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:81px;
    
}

.u362_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u362_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u362_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u362_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u362_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u363 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u364_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u364_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u364_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u364_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u364_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u365 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u366 {
    position:absolute;
    left:100px;
    top:200px;
    width:101px;
    height:161px;
    overflow:hidden;
}

#pd0u366 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:161px;
    
}

.u367_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u367_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u367_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u367_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u367_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u368 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u369_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u369_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u369_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u369_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u370 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u371_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u371_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u371_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u371_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u371_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u372 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u373_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u373_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u373_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u373_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u373_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u374 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u375 {
    position:absolute;
    left:100px;
    top:360px;
    width:102px;
    height:81px;
    overflow:hidden;
}

#pd0u375 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:81px;
    
}

.u376_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u376_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u376_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u376_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u376_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u377 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u378_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u378_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u378_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u378_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u378_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u379 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

