﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../ListagemDestinatario_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:286px;
    width:1167px;
    height:26px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u1 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../ListagemDestinatario_files/u0_normal.png');
}

.u2_container {
    position:absolute;
    left:120px;
    top:340px;
    width:1167px;
    height:26px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u3 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../ListagemDestinatario_files/u0_normal.png');
}

.u4_container {
    position:absolute;
    left:120px;
    top:394px;
    width:1167px;
    height:26px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u5 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../ListagemDestinatario_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:120px;
    top:142px;
    width:1167px;
    height:107px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:113px;
}

.u7 {
    position:absolute;
    left:2px;
    top:46px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:114px;
    top:100px;
    width:254px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:149px;
    top:159px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../ListagemDestinatario_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:140px;
    top:130px;
    width:140px;
    height:25px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:1169px;
    top:214px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u13_normal {
    background-image: url('../ListagemDestinatario_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:1070px;
    top:255px;
    width:147px;
    height:30px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:36px;
}

.u14 {
    position:absolute;
    left:2px;
    top:7px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:1082px;
    top:291px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:1070px;
    top:830px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../ListagemDestinatario_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:1217px;
    top:833px;
    width:10px;
    height:10px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u18 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_line {
    background-image: url('../ListagemDestinatario_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:10px;
}

.u19 {
    position:absolute;
    left:1210px;
    top:833px;
    width:10px;
    height:10px;
    
}

.u20_normal {
    background-image: url('../ListagemDestinatario_files/u17_normal.png');
}

.u20_container {
    position:absolute;
    left:1236px;
    top:833px;
    width:10px;
    height:10px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u21 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../ListagemDestinatario_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:1254px;
    top:833px;
    width:10px;
    height:10px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u23 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../ListagemDestinatario_files/u22_normal.png');
}

.u24_container {
    position:absolute;
    left:1273px;
    top:833px;
    width:10px;
    height:10px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u25 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_line {
    background-image: url('../ListagemDestinatario_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:10px;
}

.u26 {
    position:absolute;
    left:1280px;
    top:833px;
    width:10px;
    height:10px;
    
}

.u27_normal {
    background-image: url('../ListagemDestinatario_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:1220px;
    top:289px;
    width:20px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../ListagemDestinatario_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:1242px;
    top:289px;
    width:20px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../ListagemDestinatario_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:1264px;
    top:289px;
    width:20px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../ListagemDestinatario_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:1217px;
    top:255px;
    width:70px;
    height:30px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:36px;
}

.u34 {
    position:absolute;
    left:2px;
    top:7px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:1082px;
    top:345px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../ListagemDestinatario_files/u27_normal.png');
}

.u36_container {
    position:absolute;
    left:1220px;
    top:343px;
    width:20px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../ListagemDestinatario_files/u29_normal.png');
}

.u38_container {
    position:absolute;
    left:1242px;
    top:343px;
    width:20px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../ListagemDestinatario_files/u31_normal.png');
}

.u40_container {
    position:absolute;
    left:1264px;
    top:343px;
    width:20px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:1082px;
    top:399px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../ListagemDestinatario_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:120px;
    top:421px;
    width:1167px;
    height:26px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u44 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../ListagemDestinatario_files/u27_normal.png');
}

.u45_container {
    position:absolute;
    left:1220px;
    top:397px;
    width:20px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../ListagemDestinatario_files/u29_normal.png');
}

.u47_container {
    position:absolute;
    left:1242px;
    top:397px;
    width:20px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../ListagemDestinatario_files/u31_normal.png');
}

.u49_container {
    position:absolute;
    left:1264px;
    top:397px;
    width:20px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:160px;
    top:426px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:1082px;
    top:426px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../ListagemDestinatario_files/u27_normal.png');
}

.u53_container {
    position:absolute;
    left:1220px;
    top:424px;
    width:20px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../ListagemDestinatario_files/u29_normal.png');
}

.u55_container {
    position:absolute;
    left:1242px;
    top:424px;
    width:20px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../ListagemDestinatario_files/u31_normal.png');
}

.u57_container {
    position:absolute;
    left:1264px;
    top:424px;
    width:20px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../ListagemDestinatario_files/u0_normal.png');
}

.u59_container {
    position:absolute;
    left:120px;
    top:448px;
    width:1167px;
    height:26px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u60 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:160px;
    top:453px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:1082px;
    top:453px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../ListagemDestinatario_files/u43_normal.png');
}

.u63_container {
    position:absolute;
    left:120px;
    top:475px;
    width:1167px;
    height:26px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u64 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../ListagemDestinatario_files/u27_normal.png');
}

.u65_container {
    position:absolute;
    left:1220px;
    top:451px;
    width:20px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../ListagemDestinatario_files/u29_normal.png');
}

.u67_container {
    position:absolute;
    left:1242px;
    top:451px;
    width:20px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../ListagemDestinatario_files/u31_normal.png');
}

.u69_container {
    position:absolute;
    left:1264px;
    top:451px;
    width:20px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:160px;
    top:480px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:1082px;
    top:480px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../ListagemDestinatario_files/u27_normal.png');
}

.u73_container {
    position:absolute;
    left:1220px;
    top:478px;
    width:20px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../ListagemDestinatario_files/u29_normal.png');
}

.u75_container {
    position:absolute;
    left:1242px;
    top:478px;
    width:20px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../ListagemDestinatario_files/u31_normal.png');
}

.u77_container {
    position:absolute;
    left:1264px;
    top:478px;
    width:20px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../ListagemDestinatario_files/u0_normal.png');
}

.u79_container {
    position:absolute;
    left:120px;
    top:502px;
    width:1167px;
    height:26px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u80 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:160px;
    top:507px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:1082px;
    top:507px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../ListagemDestinatario_files/u43_normal.png');
}

.u83_container {
    position:absolute;
    left:120px;
    top:529px;
    width:1167px;
    height:26px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u84 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../ListagemDestinatario_files/u27_normal.png');
}

.u85_container {
    position:absolute;
    left:1220px;
    top:505px;
    width:20px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../ListagemDestinatario_files/u29_normal.png');
}

.u87_container {
    position:absolute;
    left:1242px;
    top:505px;
    width:20px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../ListagemDestinatario_files/u31_normal.png');
}

.u89_container {
    position:absolute;
    left:1264px;
    top:505px;
    width:20px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:160px;
    top:534px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:1082px;
    top:534px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../ListagemDestinatario_files/u27_normal.png');
}

.u93_container {
    position:absolute;
    left:1220px;
    top:532px;
    width:20px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../ListagemDestinatario_files/u29_normal.png');
}

.u95_container {
    position:absolute;
    left:1242px;
    top:532px;
    width:20px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../ListagemDestinatario_files/u31_normal.png');
}

.u97_container {
    position:absolute;
    left:1264px;
    top:532px;
    width:20px;
    height:20px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../ListagemDestinatario_files/u0_normal.png');
}

.u99_container {
    position:absolute;
    left:120px;
    top:556px;
    width:1167px;
    height:26px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u100 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:160px;
    top:561px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:1082px;
    top:561px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../ListagemDestinatario_files/u43_normal.png');
}

.u103_container {
    position:absolute;
    left:120px;
    top:583px;
    width:1167px;
    height:26px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u104 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../ListagemDestinatario_files/u27_normal.png');
}

.u105_container {
    position:absolute;
    left:1220px;
    top:559px;
    width:20px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../ListagemDestinatario_files/u29_normal.png');
}

.u107_container {
    position:absolute;
    left:1242px;
    top:559px;
    width:20px;
    height:20px;
}

#u107_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../ListagemDestinatario_files/u31_normal.png');
}

.u109_container {
    position:absolute;
    left:1264px;
    top:559px;
    width:20px;
    height:20px;
}

#u109_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:160px;
    top:588px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:1082px;
    top:588px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../ListagemDestinatario_files/u27_normal.png');
}

.u113_container {
    position:absolute;
    left:1220px;
    top:586px;
    width:20px;
    height:20px;
}

#u113_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../ListagemDestinatario_files/u29_normal.png');
}

.u115_container {
    position:absolute;
    left:1242px;
    top:586px;
    width:20px;
    height:20px;
}

#u115_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../ListagemDestinatario_files/u31_normal.png');
}

.u117_container {
    position:absolute;
    left:1264px;
    top:586px;
    width:20px;
    height:20px;
}

#u117_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../ListagemDestinatario_files/u0_normal.png');
}

.u119_container {
    position:absolute;
    left:120px;
    top:610px;
    width:1167px;
    height:26px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u120 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:160px;
    top:615px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:1082px;
    top:615px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../ListagemDestinatario_files/u43_normal.png');
}

.u123_container {
    position:absolute;
    left:120px;
    top:637px;
    width:1167px;
    height:26px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u124 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../ListagemDestinatario_files/u27_normal.png');
}

.u125_container {
    position:absolute;
    left:1220px;
    top:613px;
    width:20px;
    height:20px;
}

#u125_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u126 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../ListagemDestinatario_files/u29_normal.png');
}

.u127_container {
    position:absolute;
    left:1242px;
    top:613px;
    width:20px;
    height:20px;
}

#u127_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u128 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../ListagemDestinatario_files/u31_normal.png');
}

.u129_container {
    position:absolute;
    left:1264px;
    top:613px;
    width:20px;
    height:20px;
}

#u129_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u130 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:160px;
    top:642px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:1082px;
    top:642px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../ListagemDestinatario_files/u27_normal.png');
}

.u133_container {
    position:absolute;
    left:1220px;
    top:640px;
    width:20px;
    height:20px;
}

#u133_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u134 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../ListagemDestinatario_files/u29_normal.png');
}

.u135_container {
    position:absolute;
    left:1242px;
    top:640px;
    width:20px;
    height:20px;
}

#u135_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u136 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../ListagemDestinatario_files/u31_normal.png');
}

.u137_container {
    position:absolute;
    left:1264px;
    top:640px;
    width:20px;
    height:20px;
}

#u137_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u138 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../ListagemDestinatario_files/u0_normal.png');
}

.u139_container {
    position:absolute;
    left:120px;
    top:664px;
    width:1167px;
    height:26px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u140 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:160px;
    top:669px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:1082px;
    top:669px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../ListagemDestinatario_files/u43_normal.png');
}

.u143_container {
    position:absolute;
    left:120px;
    top:691px;
    width:1167px;
    height:26px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u144 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../ListagemDestinatario_files/u27_normal.png');
}

.u145_container {
    position:absolute;
    left:1220px;
    top:667px;
    width:20px;
    height:20px;
}

#u145_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u146 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../ListagemDestinatario_files/u29_normal.png');
}

.u147_container {
    position:absolute;
    left:1242px;
    top:667px;
    width:20px;
    height:20px;
}

#u147_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u148 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../ListagemDestinatario_files/u31_normal.png');
}

.u149_container {
    position:absolute;
    left:1264px;
    top:667px;
    width:20px;
    height:20px;
}

#u149_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u150 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:160px;
    top:696px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:1082px;
    top:696px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_normal {
    background-image: url('../ListagemDestinatario_files/u27_normal.png');
}

.u153_container {
    position:absolute;
    left:1220px;
    top:694px;
    width:20px;
    height:20px;
}

#u153_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u154 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../ListagemDestinatario_files/u29_normal.png');
}

.u155_container {
    position:absolute;
    left:1242px;
    top:694px;
    width:20px;
    height:20px;
}

#u155_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u156 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../ListagemDestinatario_files/u31_normal.png');
}

.u157_container {
    position:absolute;
    left:1264px;
    top:694px;
    width:20px;
    height:20px;
}

#u157_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u158 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../ListagemDestinatario_files/u0_normal.png');
}

.u159_container {
    position:absolute;
    left:120px;
    top:718px;
    width:1167px;
    height:26px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u160 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:160px;
    top:723px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:1082px;
    top:723px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163_normal {
    background-image: url('../ListagemDestinatario_files/u43_normal.png');
}

.u163_container {
    position:absolute;
    left:120px;
    top:745px;
    width:1167px;
    height:26px;
}

#u163_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u164 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../ListagemDestinatario_files/u27_normal.png');
}

.u165_container {
    position:absolute;
    left:1220px;
    top:721px;
    width:20px;
    height:20px;
}

#u165_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u166 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_normal {
    background-image: url('../ListagemDestinatario_files/u29_normal.png');
}

.u167_container {
    position:absolute;
    left:1242px;
    top:721px;
    width:20px;
    height:20px;
}

#u167_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u168 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_normal {
    background-image: url('../ListagemDestinatario_files/u31_normal.png');
}

.u169_container {
    position:absolute;
    left:1264px;
    top:721px;
    width:20px;
    height:20px;
}

#u169_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u170 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:160px;
    top:750px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:1082px;
    top:750px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_normal {
    background-image: url('../ListagemDestinatario_files/u27_normal.png');
}

.u173_container {
    position:absolute;
    left:1220px;
    top:748px;
    width:20px;
    height:20px;
}

#u173_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u174 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../ListagemDestinatario_files/u29_normal.png');
}

.u175_container {
    position:absolute;
    left:1242px;
    top:748px;
    width:20px;
    height:20px;
}

#u175_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u176 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../ListagemDestinatario_files/u31_normal.png');
}

.u177_container {
    position:absolute;
    left:1264px;
    top:748px;
    width:20px;
    height:20px;
}

#u177_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u178 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../ListagemDestinatario_files/u0_normal.png');
}

.u179_container {
    position:absolute;
    left:120px;
    top:772px;
    width:1167px;
    height:26px;
}

#u179_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u180 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:160px;
    top:777px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:1082px;
    top:777px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_normal {
    background-image: url('../ListagemDestinatario_files/u43_normal.png');
}

.u183_container {
    position:absolute;
    left:120px;
    top:799px;
    width:1167px;
    height:26px;
}

#u183_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u184 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_normal {
    background-image: url('../ListagemDestinatario_files/u27_normal.png');
}

.u185_container {
    position:absolute;
    left:1220px;
    top:775px;
    width:20px;
    height:20px;
}

#u185_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u186 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187_normal {
    background-image: url('../ListagemDestinatario_files/u29_normal.png');
}

.u187_container {
    position:absolute;
    left:1242px;
    top:775px;
    width:20px;
    height:20px;
}

#u187_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u188 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189_normal {
    background-image: url('../ListagemDestinatario_files/u31_normal.png');
}

.u189_container {
    position:absolute;
    left:1264px;
    top:775px;
    width:20px;
    height:20px;
}

#u189_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u190 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:160px;
    top:804px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:1082px;
    top:804px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193_normal {
    background-image: url('../ListagemDestinatario_files/u27_normal.png');
}

.u193_container {
    position:absolute;
    left:1220px;
    top:802px;
    width:20px;
    height:20px;
}

#u193_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u194 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195_normal {
    background-image: url('../ListagemDestinatario_files/u29_normal.png');
}

.u195_container {
    position:absolute;
    left:1242px;
    top:802px;
    width:20px;
    height:20px;
}

#u195_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u196 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197_normal {
    background-image: url('../ListagemDestinatario_files/u31_normal.png');
}

.u197_container {
    position:absolute;
    left:1264px;
    top:802px;
    width:20px;
    height:20px;
}

#u197_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u198 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u226 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u228 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u229_normal {
    background-image: url('../ListagemDestinatario_files/u229_normal.png');
}

.u229_container {
    position:absolute;
    left:129px;
    top:830px;
    width:151px;
    height:25px;
}

#u229_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:31px;
}

.u230 {
    position:absolute;
    left:2px;
    top:4px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u231_normal {
    background-image: url('../ListagemDestinatario_files/u231_normal.png');
}

.u231_container {
    position:absolute;
    left:120px;
    top:255px;
    width:30px;
    height:30px;
}

#u231_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u232 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u233_normal {
    background-image: url('../ListagemDestinatario_files/u233_normal.png');
}

.u233_container {
    position:absolute;
    left:150px;
    top:255px;
    width:650px;
    height:30px;
}

#u233_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:656px;
    height:36px;
}

.u234 {
    position:absolute;
    left:2px;
    top:7px;
    width:646px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u235 {
    position:absolute;
    left:160px;
    top:291px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u236_normal {
    background-image: url('../ListagemDestinatario_files/u43_normal.png');
}

.u236_container {
    position:absolute;
    left:120px;
    top:313px;
    width:1167px;
    height:26px;
}

#u236_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u237 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u239 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u240 {
    position:absolute;
    left:160px;
    top:318px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u241 {
    position:absolute;
    left:1082px;
    top:318px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u242_normal {
    background-image: url('../ListagemDestinatario_files/u27_normal.png');
}

.u242_container {
    position:absolute;
    left:1220px;
    top:316px;
    width:20px;
    height:20px;
}

#u242_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u243 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u244_normal {
    background-image: url('../ListagemDestinatario_files/u29_normal.png');
}

.u244_container {
    position:absolute;
    left:1242px;
    top:316px;
    width:20px;
    height:20px;
}

#u244_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u245 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u246_normal {
    background-image: url('../ListagemDestinatario_files/u31_normal.png');
}

.u246_container {
    position:absolute;
    left:1264px;
    top:316px;
    width:20px;
    height:20px;
}

#u246_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u247 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u248 {
    position:absolute;
    left:160px;
    top:345px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u249_normal {
    background-image: url('../ListagemDestinatario_files/u43_normal.png');
}

.u249_container {
    position:absolute;
    left:120px;
    top:367px;
    width:1167px;
    height:26px;
}

#u249_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u250 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u251 {
    position:absolute;
    left:160px;
    top:372px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u252 {
    position:absolute;
    left:1082px;
    top:372px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u253_normal {
    background-image: url('../ListagemDestinatario_files/u27_normal.png');
}

.u253_container {
    position:absolute;
    left:1220px;
    top:370px;
    width:20px;
    height:20px;
}

#u253_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u254 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u255_normal {
    background-image: url('../ListagemDestinatario_files/u29_normal.png');
}

.u255_container {
    position:absolute;
    left:1242px;
    top:370px;
    width:20px;
    height:20px;
}

#u255_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u256 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u257_normal {
    background-image: url('../ListagemDestinatario_files/u31_normal.png');
}

.u257_container {
    position:absolute;
    left:1264px;
    top:370px;
    width:20px;
    height:20px;
}

#u257_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u258 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u259 {
    position:absolute;
    left:160px;
    top:399px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u261 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u263 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u265 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u267 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u269 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u270 {
    position:absolute;
    left:956px;
    top:182px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u271 {
    position:absolute;
    left:956px;
    top:159px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u272 {
    position:absolute;
    left:810px;
    top:426px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u273 {
    position:absolute;
    left:810px;
    top:453px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u274 {
    position:absolute;
    left:810px;
    top:480px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u275 {
    position:absolute;
    left:810px;
    top:507px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u276 {
    position:absolute;
    left:810px;
    top:534px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u277 {
    position:absolute;
    left:810px;
    top:561px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u278 {
    position:absolute;
    left:810px;
    top:588px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u279 {
    position:absolute;
    left:810px;
    top:615px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u280 {
    position:absolute;
    left:810px;
    top:642px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u281 {
    position:absolute;
    left:810px;
    top:669px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u282 {
    position:absolute;
    left:810px;
    top:696px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u283 {
    position:absolute;
    left:810px;
    top:723px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u284 {
    position:absolute;
    left:810px;
    top:750px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u285 {
    position:absolute;
    left:810px;
    top:777px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u286 {
    position:absolute;
    left:810px;
    top:804px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u287 {
    position:absolute;
    left:810px;
    top:291px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u288 {
    position:absolute;
    left:810px;
    top:318px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u289 {
    position:absolute;
    left:810px;
    top:345px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u290 {
    position:absolute;
    left:810px;
    top:372px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u291 {
    position:absolute;
    left:810px;
    top:399px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u292_normal {
    background-image: url('../ListagemDestinatario_files/u292_normal.png');
}

.u292_container {
    position:absolute;
    left:800px;
    top:255px;
    width:270px;
    height:30px;
}

#u292_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:36px;
}

.u293 {
    position:absolute;
    left:2px;
    top:7px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u294_mouseOver {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_mouseOver.png');
}

.u294_selected {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_selected.png');
}

.u294_normal {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_normal.png');
}

.u294_container {
    position:absolute;
    left:0px;
    top:121px;
    width:100px;
    height:40px;
}

#u294_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u295 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u296_mouseOver {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_mouseOver.png');
}

.u296_selected {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_selected.png');
}

.u296_normal {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_normal.png');
}

.u296_container {
    position:absolute;
    left:0px;
    top:81px;
    width:100px;
    height:40px;
}

#u296_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u297 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u298_mouseOver {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_mouseOver.png');
}

.u298_selected {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_selected.png');
}

.u298_normal {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_normal.png');
}

.u298_container {
    position:absolute;
    left:0px;
    top:161px;
    width:100px;
    height:40px;
}

#u298_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u299 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u300 {
    position:absolute;
    left:0px;
    top:201px;
    width:101px;
    height:201px;
    overflow:hidden;
}

#pd0u300 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:201px;
    
}

.u301_mouseOver {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png');
}

.u301_selected {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_selected.png');
}

.u301_normal {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_normal.png');
}

.u301_container {
    position:absolute;
    left:15px;
    top:40px;
    width:85px;
    height:40px;
}

#u301_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u302 {
    position:absolute;
    left:2px;
    top:5px;
    width:81px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u303_mouseOver {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png');
}

.u303_selected {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_selected.png');
}

.u303_normal {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_normal.png');
}

.u303_container {
    position:absolute;
    left:15px;
    top:0px;
    width:85px;
    height:40px;
}

#u303_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u304 {
    position:absolute;
    left:2px;
    top:5px;
    width:81px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u305_mouseOver {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png');
}

.u305_selected {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_selected.png');
}

.u305_normal {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_normal.png');
}

.u305_container {
    position:absolute;
    left:15px;
    top:120px;
    width:85px;
    height:40px;
}

#u305_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u306 {
    position:absolute;
    left:2px;
    top:5px;
    width:81px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u307_mouseOver {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png');
}

.u307_selected {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_selected.png');
}

.u307_normal {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_normal.png');
}

.u307_container {
    position:absolute;
    left:15px;
    top:80px;
    width:85px;
    height:40px;
}

#u307_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u308 {
    position:absolute;
    left:2px;
    top:12px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u309_mouseOver {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png');
}

.u309_selected {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_selected.png');
}

.u309_normal {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_normal.png');
}

.u309_container {
    position:absolute;
    left:15px;
    top:160px;
    width:85px;
    height:40px;
}

#u309_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u310 {
    position:absolute;
    left:2px;
    top:12px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u312 {
    position:absolute;
    left:149px;
    top:182px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u313 {
    position:absolute;
    left:149px;
    top:207px;
    width:301px;
    height:131px;
    overflow:hidden;
}

#pd0u313 {
    position:absolute;
    left:0px;
    top:0px;
    width:301px;
    height:131px;
    
}

.u314_normal {
    background-image: url('../Copy_of_Dynamic_search_box_files/u293_normal.png');
}

.u314_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u314_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u315 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u316 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u317 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u318 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u319 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u320 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u321 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u322 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u323 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u325_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u24_normal.png');
}

.u325_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u325_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u326 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u327_normal {
    background-image: url('../MenuPrincipal_files/preto_u26_normal.png');
}

.u327_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u327_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u328 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u329_normal {
    background-image: url('../MenuPrincipal_files/Logo_u28_normal.png');
}

.u329_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u329_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u330 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u331 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u332 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u333_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u32_normal.png');
}

.u333_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u333_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u334 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u335_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u32_normal.png');
}

.u335_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u335_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u336 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u337_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u36_normal.png');
}

.u337_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u337_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u338 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u339_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u38_normal.png');
}

.u339_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u339_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u340 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u341_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u40_normal.png');
}

.u341_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u341_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u342 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u343 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u344 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u344 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u345_normal {
    background-image: url('../BuscaMenu_files/u44_normal.png');
}

.u345_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u345_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u346 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u347 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u348 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u349 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u350 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u351 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u352 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u353 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u354 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u355_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u54_normal.png');
}

.u355_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u355_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u356 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u358_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u358_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u358_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u358_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u358_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u359 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u360_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u360_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u360_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u360_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u360_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u361 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u362_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u362_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u362_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u362_container {
    position:absolute;
    left:444px;
    top:2px;
    width:148px;
    height:25px;
}

#u362_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u363 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u364_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u364_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u364_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u364_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u364_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u365 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u366_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u366_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u366_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u366_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u366_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u367 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u368_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u368_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u368_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u368_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u368_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u369 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u370_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u370_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u370_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u370_container {
    position:absolute;
    left:296px;
    top:2px;
    width:148px;
    height:25px;
}

#u370_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u371 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u372_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u71_mouseOver.png');
}

.u372_selected {
    background-image: url('../MenuPrincipal_files/Sair_u71_selected.png');
}

.u372_normal {
    background-image: url('../MenuPrincipal_files/Sair_u71_selected.png');
}

.u372_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u372_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u373 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

