﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:114px;
    top:260px;
    width:1160px;
    height:478px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u1_normal {
    background-image: url('../Escrever_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:114px;
    top:230px;
    width:1160px;
    height:30px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1166px;
    height:36px;
}

.u2 {
    position:absolute;
    left:2px;
    top:7px;
    width:1156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_mouseOver {
    background-image: url('../Escrever_files/u3_mouseOver.png');
}

.u3_normal {
    background-image: url('../Escrever_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:341px;
    top:233px;
    width:25px;
    height:25px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u4 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_mouseOver {
    background-image: url('../Escrever_files/u3_mouseOver.png');
}

.u5_normal {
    background-image: url('../Escrever_files/u3_normal.png');
}

.u5_container {
    position:absolute;
    left:367px;
    top:233px;
    width:25px;
    height:25px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u6 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_mouseOver {
    background-image: url('../Escrever_files/u3_mouseOver.png');
}

.u7_normal {
    background-image: url('../Escrever_files/u3_normal.png');
}

.u7_container {
    position:absolute;
    left:408px;
    top:233px;
    width:25px;
    height:25px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_mouseOver {
    background-image: url('../Escrever_files/u3_mouseOver.png');
}

.u9_normal {
    background-image: url('../Escrever_files/u3_normal.png');
}

.u9_container {
    position:absolute;
    left:432px;
    top:233px;
    width:25px;
    height:25px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u10 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_mouseOver {
    background-image: url('../Escrever_files/u3_mouseOver.png');
}

.u11_normal {
    background-image: url('../Escrever_files/u3_normal.png');
}

.u11_container {
    position:absolute;
    left:275px;
    top:233px;
    width:25px;
    height:25px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u12 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_mouseOver {
    background-image: url('../Escrever_files/u3_mouseOver.png');
}

.u13_normal {
    background-image: url('../Escrever_files/u3_normal.png');
}

.u13_container {
    position:absolute;
    left:300px;
    top:233px;
    width:25px;
    height:25px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u14 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_mouseOver {
    background-image: url('../MenuMensagens_files/Escrever_u2_mouseOver.png');
}

.u15_selected {
    background-image: url('../MenuMensagens_files/Escrever_u2_selected.png');
}

.u15_normal {
    background-image: url('../MenuMensagens_files/Escrever_u2_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u16 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_mouseOver {
    background-image: url('../MenuMensagens_files/Escrever_u2_mouseOver.png');
}

.u17_selected {
    background-image: url('../MenuMensagens_files/Escrever_u2_selected.png');
}

.u17_normal {
    background-image: url('../MenuMensagens_files/Escrever_u2_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u18 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_mouseOver {
    background-image: url('../MenuMensagens_files/Escrever_u2_mouseOver.png');
}

.u19_selected {
    background-image: url('../MenuMensagens_files/Escrever_u2_selected.png');
}

.u19_normal {
    background-image: url('../MenuMensagens_files/Escrever_u2_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:160px;
    width:100px;
    height:40px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u20 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_mouseOver {
    background-image: url('../MenuMensagens_files/Escrever_u2_mouseOver.png');
}

.u21_selected {
    background-image: url('../MenuMensagens_files/Escrever_u2_selected.png');
}

.u21_normal {
    background-image: url('../MenuMensagens_files/Escrever_u2_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:200px;
    width:100px;
    height:40px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u22 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:114px;
    top:100px;
    width:254px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:205px;
    top:193px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_mouseOver {
    background-image: url('../Escrever_files/u3_mouseOver.png');
}

.u26_normal {
    background-image: url('../Escrever_files/u3_normal.png');
}

.u26_container {
    position:absolute;
    left:250px;
    top:233px;
    width:25px;
    height:25px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u27 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_mouseOver {
    background-image: url('../Escrever_files/u3_mouseOver.png');
}

.u28_normal {
    background-image: url('../Escrever_files/u3_normal.png');
}

.u28_container {
    position:absolute;
    left:209px;
    top:233px;
    width:25px;
    height:25px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u29 {
    position:absolute;
    left:2px;
    top:6px;
    width:21px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_mouseOver {
    background-image: url('../Escrever_files/u3_mouseOver.png');
}

.u30_normal {
    background-image: url('../Escrever_files/u3_normal.png');
}

.u30_container {
    position:absolute;
    left:134px;
    top:233px;
    width:25px;
    height:25px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u31 {
    position:absolute;
    left:2px;
    top:6px;
    width:21px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_line {
    background-image: url('../Escrever_files/u32_line.png');
}

.u32_line {
    position:absolute;
    left:0px;
    top:4px;
    width:12px;
    height:3px;
}

.u32 {
    position:absolute;
    left:215px;
    top:242px;
    width:12px;
    height:10px;
    
}

.u33_mouseOver {
    background-image: url('../Escrever_files/u33_mouseOver.png');
}

.u33_normal {
    background-image: url('../Escrever_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:159px;
    top:233px;
    width:25px;
    height:25px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u34 {
    position:absolute;
    left:2px;
    top:6px;
    width:21px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_mouseOver {
    background-image: url('../Escrever_files/u33_mouseOver.png');
}

.u35_normal {
    background-image: url('../Escrever_files/u33_normal.png');
}

.u35_container {
    position:absolute;
    left:184px;
    top:233px;
    width:25px;
    height:25px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u36 {
    position:absolute;
    left:2px;
    top:6px;
    width:21px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u37 {
    position:absolute;
    left:473px;
    top:233px;
    width:121px;
    height:26px;
    overflow:hidden;
}

#pd1u37 {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:26px;
    
}

.u38_normal {
    background-image: url('../Escrever_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:25px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:31px;
}

.u39 {
    position:absolute;
    left:2px;
    top:4px;
    width:116px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Escrever_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:110px;
    top:10px;
    width:6px;
    height:4px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:10px;
}

.u41 {
    position:absolute;
    left:2px;
    top:-6px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u37 {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:26px;
    
}

.u42_normal {
    background-image: url('../Escrever_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:25px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:31px;
}

.u43 {
    position:absolute;
    left:2px;
    top:5px;
    width:116px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Escrever_files/u40_normal.png');
}

.u44_container {
    position:absolute;
    left:110px;
    top:10px;
    width:6px;
    height:4px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:10px;
}

.u45 {
    position:absolute;
    left:2px;
    top:-6px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u46 {
    position:absolute;
    left:471px;
    top:259px;
    width:126px;
    height:226px;
    overflow:hidden;
}

#pd0u46 {
    position:absolute;
    left:0px;
    top:0px;
    width:126px;
    height:226px;
    
}

.u47_normal {
    background-image: url('../Escrever_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:1px;
    top:0px;
    width:124px;
    height:225px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:124px;
    height:225px;
}

.u48 {
    position:absolute;
    left:2px;
    top:104px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u49 {
    position:absolute;
    left:1px;
    top:39px;
    width:120px;
    height:20px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u50 {
    position:absolute;
    left:670px;
    top:233px;
    width:36px;
    height:26px;
    overflow:hidden;
}

#pd1u50 {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:26px;
    
}

.u51_normal {
    background-image: url('../Escrever_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:25px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:25px;
}

.u52 {
    position:absolute;
    left:2px;
    top:4px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u50 {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:26px;
    
}

.u53_normal {
    background-image: url('../Escrever_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:25px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:25px;
}

.u54 {
    position:absolute;
    left:2px;
    top:4px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u55 {
    position:absolute;
    left:670px;
    top:258px;
    width:173px;
    height:205px;
    overflow:hidden;
}

#pd0u55 {
    position:absolute;
    left:0px;
    top:0px;
    width:173px;
    height:205px;
    
}

.u56_normal {
    background-image: url('../Escrever_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:0px;
    width:172px;
    height:205px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:172px;
    height:205px;
}

.u57 {
    position:absolute;
    left:2px;
    top:94px;
    width:168px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u58 {
    position:absolute;
    left:44px;
    top:155px;
    width:14px;
    height:14px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u59 {
    position:absolute;
    left:608px;
    top:233px;
    width:52px;
    height:26px;
    overflow:hidden;
}

#pd1u59 {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:26px;
    
}

.u60_normal {
    background-image: url('../Escrever_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:25px;
}

#u60_img {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:25px;
}

.u61 {
    position:absolute;
    left:2px;
    top:4px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u59 {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:26px;
    
}

.u62_normal {
    background-image: url('../Escrever_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:25px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:25px;
}

.u63 {
    position:absolute;
    left:2px;
    top:4px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u64 {
    position:absolute;
    left:608px;
    top:257px;
    width:53px;
    height:123px;
    overflow:hidden;
}

#pd0u64 {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:123px;
    
}

.u65_normal {
    background-image: url('../Escrever_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:122px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:122px;
}

.u66 {
    position:absolute;
    left:2px;
    top:53px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u67 {
    position:absolute;
    left:0px;
    top:39px;
    width:50px;
    height:18px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u68_line {
    background-image: url('../Escrever_files/u68_line.png');
}

.u68_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u68 {
    position:absolute;
    left:328px;
    top:238px;
    width:10px;
    height:16px;
    
}

.u69_line {
    background-image: url('../Escrever_files/u69_line.png');
}

.u69_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u69 {
    position:absolute;
    left:329px;
    top:238px;
    width:10px;
    height:16px;
    
}

.u70_selected {
    background-image: url('../Escrever_files/textarea_button___unordered_list_u70_selected.png');
}

.u70_normal {
    background-image: url('../Escrever_files/textarea_button___unordered_list_u70_normal.png');
}

.u70_container {
    position:absolute;
    left:343px;
    top:234px;
    width:23px;
    height:23px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u71 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_selected {
    background-image: url('../Escrever_files/textarea_button___ordered_list_u72_selected.png');
}

.u72_normal {
    background-image: url('../Escrever_files/textarea_button___ordered_list_u72_normal.png');
}

.u72_container {
    position:absolute;
    left:367px;
    top:234px;
    width:23px;
    height:23px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u73 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_line {
    background-image: url('../Escrever_files/u74_line.png');
}

.u74_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u74 {
    position:absolute;
    left:237px;
    top:238px;
    width:10px;
    height:16px;
    
}

.u75_line {
    background-image: url('../Escrever_files/u75_line.png');
}

.u75_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u75 {
    position:absolute;
    left:238px;
    top:238px;
    width:10px;
    height:16px;
    
}

.u76_selected {
    background-image: url('../Escrever_files/textarea_button___outdent_u76_selected.png');
}

.u76_disabled {
    background-image: url('../Escrever_files/textarea_button___outdent_u76_disabled.png');
}

.u76_normal {
    background-image: url('../Escrever_files/textarea_button___outdent_u76_normal.png');
}

.u76_container {
    position:absolute;
    left:408px;
    top:235px;
    width:23px;
    height:23px;
}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u77 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_selected {
    background-image: url('../Escrever_files/textarea_button___indent_u78_selected.png');
}

.u78_disabled {
    background-image: url('../Escrever_files/textarea_button___indent_u78_disabled.png');
}

.u78_normal {
    background-image: url('../Escrever_files/textarea_button___indent_u78_normal.png');
}

.u78_container {
    position:absolute;
    left:432px;
    top:235px;
    width:23px;
    height:23px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u79 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_selected {
    background-image: url('../Escrever_files/textarea_button___align_left_u80_selected.png');
}

.u80_disabled {
    background-image: url('../Escrever_files/textarea_button___align_left_u80_disabled.png');
}

.u80_normal {
    background-image: url('../Escrever_files/textarea_button___align_left_u80_normal.png');
}

.u80_container {
    position:absolute;
    left:251px;
    top:234px;
    width:23px;
    height:23px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u81 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_selected {
    background-image: url('../Escrever_files/textarea_button___align_center_u82_selected.png');
}

.u82_disabled {
    background-image: url('../Escrever_files/textarea_button___align_center_u82_disabled.png');
}

.u82_normal {
    background-image: url('../Escrever_files/textarea_button___align_center_u82_normal.png');
}

.u82_container {
    position:absolute;
    left:276px;
    top:234px;
    width:23px;
    height:23px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u83 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_selected {
    background-image: url('../Escrever_files/textarea_button___align_right_u84_selected.png');
}

.u84_disabled {
    background-image: url('../Escrever_files/textarea_button___align_right_u84_disabled.png');
}

.u84_normal {
    background-image: url('../Escrever_files/textarea_button___align_right_u84_normal.png');
}

.u84_container {
    position:absolute;
    left:301px;
    top:234px;
    width:23px;
    height:23px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u85 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_line {
    background-image: url('../Escrever_files/u86_line.png');
}

.u86_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u86 {
    position:absolute;
    left:395px;
    top:237px;
    width:10px;
    height:16px;
    
}

.u87_line {
    background-image: url('../Escrever_files/u87_line.png');
}

.u87_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u87 {
    position:absolute;
    left:396px;
    top:237px;
    width:10px;
    height:16px;
    
}

.u88_line {
    background-image: url('../Escrever_files/u88_line.png');
}

.u88_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u88 {
    position:absolute;
    left:460px;
    top:238px;
    width:10px;
    height:16px;
    
}

.u89_line {
    background-image: url('../Escrever_files/u89_line.png');
}

.u89_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u89 {
    position:absolute;
    left:461px;
    top:238px;
    width:10px;
    height:16px;
    
}

.u90_normal {
    background-image: url('../Escrever_files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:114px;
    top:159px;
    width:80px;
    height:54px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:60px;
}

.u91 {
    position:absolute;
    left:2px;
    top:11px;
    width:76px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:301px;
    top:158px;
    width:973px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u93_normal {
    background-image: url('../Escrever_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:204px;
    top:158px;
    width:75px;
    height:25px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u94 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:301px;
    top:188px;
    width:973px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u96_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u24_normal.png');
}

.u96_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u97 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../MenuPrincipal_files/preto_u26_normal.png');
}

.u98_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u99 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../MenuPrincipal_files/Logo_u28_normal.png');
}

.u100_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u101 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u32_normal.png');
}

.u104_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u105 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u32_normal.png');
}

.u106_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u107 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u36_normal.png');
}

.u108_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u108_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u109 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u38_normal.png');
}

.u110_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u110_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u111 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u40_normal.png');
}

.u112_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u112_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u113 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u115 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u115 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u116_normal {
    background-image: url('../BuscaMenu_files/u44_normal.png');
}

.u116_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u117 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u54_normal.png');
}

.u126_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u127 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u129_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u129_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u129_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u130 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u131_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u131_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u131_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u132 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u133_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u133_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u133_container {
    position:absolute;
    left:444px;
    top:2px;
    width:148px;
    height:25px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u134 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u135_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u135_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u135_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u136 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u137_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u137_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u137_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u138 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u139_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u139_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u139_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u140 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u141_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u141_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u141_container {
    position:absolute;
    left:296px;
    top:2px;
    width:148px;
    height:25px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u142 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u71_mouseOver.png');
}

.u143_selected {
    background-image: url('../MenuPrincipal_files/Sair_u71_selected.png');
}

.u143_normal {
    background-image: url('../MenuPrincipal_files/Sair_u71_selected.png');
}

.u143_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u144 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

