﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../CadGrupo_files/Quadrado_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:142px;
    width:1167px;
    height:457px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:463px;
}

.u1 {
    position:absolute;
    left:2px;
    top:220px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:149px;
    top:181px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:951px;
    top:159px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:951px;
    top:182px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:114px;
    top:100px;
    width:254px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:149px;
    top:159px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../CadGrupo_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:140px;
    top:130px;
    width:140px;
    height:25px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:554px;
    top:500px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:149px;
    top:522px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:951px;
    top:500px;
    width:300px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:149px;
    top:500px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:554px;
    top:522px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:951px;
    top:522px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:148px;
    top:230px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../CadGrupo_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u16 {
    position:absolute;
    left:138px;
    top:244px;
    width:1130px;
    height:10px;
    
}

.u17_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u22_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u18 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../MenuPrincipal_files/preto_u24_normal.png');
}

.u19_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u20 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../MenuPrincipal_files/Logo_u26_normal.png');
}

.u21_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u22 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u25_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u26 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u27_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u28 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u34_normal.png');
}

.u29_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u30 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u36_normal.png');
}

.u31_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u32 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u38_normal.png');
}

.u33_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u34 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u36 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u36 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u37_normal {
    background-image: url('../BuscaMenu_files/u42_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u38 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u52_normal.png');
}

.u47_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u48 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u50_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u50_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u50_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u51 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u57_mouseOver.png');
}

.u52_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u52_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u52_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u53 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u54_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u54_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u54_container {
    position:absolute;
    left:444px;
    top:2px;
    width:148px;
    height:25px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u55 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u57_mouseOver.png');
}

.u56_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u56_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u56_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u57 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u58_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u58_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u58_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u59 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u57_mouseOver.png');
}

.u60_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u60_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u60_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u61 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u62_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u62_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u62_container {
    position:absolute;
    left:296px;
    top:2px;
    width:148px;
    height:25px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u63 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u69_mouseOver.png');
}

.u64_selected {
    background-image: url('../MenuPrincipal_files/Sair_u69_selected.png');
}

.u64_normal {
    background-image: url('../MenuPrincipal_files/Sair_u69_selected.png');
}

.u64_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u65 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../CadGrupo_files/GravarJornada_u67_normal.png');
}

.u67_container {
    position:absolute;
    left:1187px;
    top:610px;
    width:100px;
    height:25px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u68 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../CadGrupo_files/GravarNovoJornada_u69_normal.png');
}

.u69_container {
    position:absolute;
    left:1040px;
    top:610px;
    width:147px;
    height:25px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:31px;
}

.u70 {
    position:absolute;
    left:2px;
    top:4px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../CadGrupo_files/GravarJornada_u67_normal.png');
}

.u71_container {
    position:absolute;
    left:940px;
    top:610px;
    width:100px;
    height:25px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u72 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u73 {
    position:absolute;
    left:138px;
    top:255px;
    width:1131px;
    height:336px;
    overflow:hidden;
}

#pd2u73 {
    position:absolute;
    left:0px;
    top:0px;
    width:1131px;
    height:336px;
    
}

.u74_normal {
    background-image: url('../CadGrupo_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1129px;
    height:335px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1135px;
    height:341px;
}

.u75 {
    position:absolute;
    left:2px;
    top:160px;
    width:1125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../CadGrupo_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:138px;
    top:37px;
    width:985px;
    height:26px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u77 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../CadGrupo_files/u76_normal.png');
}

.u78_container {
    position:absolute;
    left:138px;
    top:91px;
    width:985px;
    height:26px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u79 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../CadGrupo_files/u76_normal.png');
}

.u80_container {
    position:absolute;
    left:138px;
    top:145px;
    width:985px;
    height:26px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u81 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../CadGrupo_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:138px;
    top:172px;
    width:985px;
    height:26px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u83 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../CadGrupo_files/u76_normal.png');
}

.u84_container {
    position:absolute;
    left:138px;
    top:199px;
    width:985px;
    height:26px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u85 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../CadGrupo_files/u82_normal.png');
}

.u86_container {
    position:absolute;
    left:138px;
    top:226px;
    width:985px;
    height:26px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u87 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../CadGrupo_files/u76_normal.png');
}

.u88_container {
    position:absolute;
    left:138px;
    top:253px;
    width:985px;
    height:26px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u89 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../CadGrupo_files/u82_normal.png');
}

.u90_container {
    position:absolute;
    left:138px;
    top:280px;
    width:985px;
    height:26px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u91 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../CadGrupo_files/u76_normal.png');
}

.u92_container {
    position:absolute;
    left:138px;
    top:307px;
    width:985px;
    height:26px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u93 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../CadGrupo_files/u82_normal.png');
}

.u94_container {
    position:absolute;
    left:138px;
    top:64px;
    width:985px;
    height:26px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u95 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../CadGrupo_files/u82_normal.png');
}

.u96_container {
    position:absolute;
    left:138px;
    top:118px;
    width:985px;
    height:26px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u97 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../CadGrupo_files/u120_normal.png');
}

.u120_container {
    position:absolute;
    left:138px;
    top:5px;
    width:985px;
    height:30px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:36px;
}

.u121 {
    position:absolute;
    left:2px;
    top:7px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../CadGrupo_files/u122_normal.png');
}

.u122_container {
    position:absolute;
    left:0px;
    top:1px;
    width:128px;
    height:59px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:65px;
}

.u123 {
    position:absolute;
    left:2px;
    top:22px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../CadGrupo_files/u124_normal.png');
}

.u124_container {
    position:absolute;
    left:0px;
    top:120px;
    width:128px;
    height:60px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:66px;
}

.u125 {
    position:absolute;
    left:2px;
    top:22px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../CadGrupo_files/u122_normal.png');
}

.u126_container {
    position:absolute;
    left:0px;
    top:60px;
    width:128px;
    height:59px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:65px;
}

.u127 {
    position:absolute;
    left:2px;
    top:22px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:16px;
    top:0px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u73 {
    position:absolute;
    left:0px;
    top:0px;
    width:1131px;
    height:336px;
    
}

.u130_normal {
    background-image: url('../CadGrupo_files/u74_normal.png');
}

.u130_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1129px;
    height:335px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1135px;
    height:341px;
}

.u131 {
    position:absolute;
    left:2px;
    top:160px;
    width:1125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../CadGrupo_files/u76_normal.png');
}

.u132_container {
    position:absolute;
    left:138px;
    top:37px;
    width:985px;
    height:26px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u133 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../CadGrupo_files/u76_normal.png');
}

.u134_container {
    position:absolute;
    left:138px;
    top:91px;
    width:985px;
    height:26px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u135 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../CadGrupo_files/u76_normal.png');
}

.u136_container {
    position:absolute;
    left:138px;
    top:145px;
    width:985px;
    height:26px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u137 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../CadGrupo_files/u82_normal.png');
}

.u138_container {
    position:absolute;
    left:138px;
    top:172px;
    width:985px;
    height:26px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u139 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../CadGrupo_files/u76_normal.png');
}

.u140_container {
    position:absolute;
    left:138px;
    top:199px;
    width:985px;
    height:26px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u141 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../CadGrupo_files/u82_normal.png');
}

.u142_container {
    position:absolute;
    left:138px;
    top:226px;
    width:985px;
    height:26px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u143 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../CadGrupo_files/u76_normal.png');
}

.u144_container {
    position:absolute;
    left:138px;
    top:253px;
    width:985px;
    height:26px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u145 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../CadGrupo_files/u82_normal.png');
}

.u146_container {
    position:absolute;
    left:138px;
    top:280px;
    width:985px;
    height:26px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u147 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../CadGrupo_files/u76_normal.png');
}

.u148_container {
    position:absolute;
    left:138px;
    top:307px;
    width:985px;
    height:26px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u149 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../CadGrupo_files/u82_normal.png');
}

.u150_container {
    position:absolute;
    left:138px;
    top:64px;
    width:985px;
    height:26px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u151 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../CadGrupo_files/u82_normal.png');
}

.u152_container {
    position:absolute;
    left:138px;
    top:118px;
    width:985px;
    height:26px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u153 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176_normal {
    background-image: url('../CadGrupo_files/u120_normal.png');
}

.u176_container {
    position:absolute;
    left:138px;
    top:5px;
    width:985px;
    height:30px;
}

#u176_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:36px;
}

.u177 {
    position:absolute;
    left:2px;
    top:7px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_normal {
    background-image: url('../CadGrupo_files/u122_normal.png');
}

.u178_container {
    position:absolute;
    left:0px;
    top:1px;
    width:128px;
    height:59px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:65px;
}

.u179 {
    position:absolute;
    left:2px;
    top:22px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180_normal {
    background-image: url('../CadGrupo_files/u124_normal.png');
}

.u180_container {
    position:absolute;
    left:0px;
    top:61px;
    width:128px;
    height:60px;
}

#u180_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:66px;
}

.u181 {
    position:absolute;
    left:2px;
    top:22px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182_normal {
    background-image: url('../CadGrupo_files/u122_normal.png');
}

.u182_container {
    position:absolute;
    left:0px;
    top:122px;
    width:128px;
    height:59px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:65px;
}

.u183 {
    position:absolute;
    left:2px;
    top:22px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:16px;
    top:0px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u73 {
    position:absolute;
    left:0px;
    top:0px;
    width:1131px;
    height:336px;
    
}

.u186_normal {
    background-image: url('../CadGrupo_files/u74_normal.png');
}

.u186_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1129px;
    height:335px;
}

#u186_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1135px;
    height:341px;
}

.u187 {
    position:absolute;
    left:2px;
    top:160px;
    width:1125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188_normal {
    background-image: url('../CadGrupo_files/u122_normal.png');
}

.u188_container {
    position:absolute;
    left:0px;
    top:62px;
    width:128px;
    height:59px;
}

#u188_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:65px;
}

.u189 {
    position:absolute;
    left:2px;
    top:22px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190_normal {
    background-image: url('../CadGrupo_files/u124_normal.png');
}

.u190_container {
    position:absolute;
    left:0px;
    top:1px;
    width:128px;
    height:60px;
}

#u190_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:66px;
}

.u191 {
    position:absolute;
    left:2px;
    top:22px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192_normal {
    background-image: url('../CadGrupo_files/u122_normal.png');
}

.u192_container {
    position:absolute;
    left:0px;
    top:121px;
    width:128px;
    height:59px;
}

#u192_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:65px;
}

.u193 {
    position:absolute;
    left:2px;
    top:22px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_normal {
    background-image: url('../CadGrupo_files/u76_normal.png');
}

.u194_container {
    position:absolute;
    left:138px;
    top:37px;
    width:985px;
    height:26px;
}

#u194_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u195 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196_normal {
    background-image: url('../CadGrupo_files/u76_normal.png');
}

.u196_container {
    position:absolute;
    left:138px;
    top:91px;
    width:985px;
    height:26px;
}

#u196_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u197 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198_normal {
    background-image: url('../CadGrupo_files/u76_normal.png');
}

.u198_container {
    position:absolute;
    left:138px;
    top:145px;
    width:985px;
    height:26px;
}

#u198_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u199 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200_normal {
    background-image: url('../CadGrupo_files/u82_normal.png');
}

.u200_container {
    position:absolute;
    left:138px;
    top:172px;
    width:985px;
    height:26px;
}

#u200_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u201 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202_normal {
    background-image: url('../CadGrupo_files/u76_normal.png');
}

.u202_container {
    position:absolute;
    left:138px;
    top:199px;
    width:985px;
    height:26px;
}

#u202_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u203 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204_normal {
    background-image: url('../CadGrupo_files/u82_normal.png');
}

.u204_container {
    position:absolute;
    left:138px;
    top:226px;
    width:985px;
    height:26px;
}

#u204_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u205 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206_normal {
    background-image: url('../CadGrupo_files/u76_normal.png');
}

.u206_container {
    position:absolute;
    left:138px;
    top:253px;
    width:985px;
    height:26px;
}

#u206_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u207 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208_normal {
    background-image: url('../CadGrupo_files/u82_normal.png');
}

.u208_container {
    position:absolute;
    left:138px;
    top:280px;
    width:985px;
    height:26px;
}

#u208_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u209 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210_normal {
    background-image: url('../CadGrupo_files/u76_normal.png');
}

.u210_container {
    position:absolute;
    left:138px;
    top:307px;
    width:985px;
    height:26px;
}

#u210_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u211 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212_normal {
    background-image: url('../CadGrupo_files/u82_normal.png');
}

.u212_container {
    position:absolute;
    left:138px;
    top:64px;
    width:985px;
    height:26px;
}

#u212_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u213 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214_normal {
    background-image: url('../CadGrupo_files/u82_normal.png');
}

.u214_container {
    position:absolute;
    left:138px;
    top:118px;
    width:985px;
    height:26px;
}

#u214_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:991px;
    height:32px;
}

.u215 {
    position:absolute;
    left:2px;
    top:5px;
    width:981px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u219 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u221 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u223 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u225 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u227 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u229 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u231 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u233 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u235 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u237 {
    position:absolute;
    left:2px;
    top:0px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u238_normal {
    background-image: url('../CadGrupo_files/u238_normal.png');
}

.u238_container {
    position:absolute;
    left:138px;
    top:5px;
    width:920px;
    height:30px;
}

#u238_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:926px;
    height:36px;
}

.u239 {
    position:absolute;
    left:2px;
    top:7px;
    width:916px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u240_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u240_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u240_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u240_container {
    position:absolute;
    left:0px;
    top:81px;
    width:100px;
    height:40px;
}

#u240_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u241 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u242 {
    position:absolute;
    left:0px;
    top:121px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u242 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u243_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u243_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u243_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u243_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u243_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u244 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u245 {
    position:absolute;
    left:0px;
    top:161px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u245 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u246_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u246_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u246_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u246_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u246_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u247 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u248 {
    position:absolute;
    left:0px;
    top:201px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u248 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u249_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u249_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u249_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u249_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u249_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u250 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u251 {
    position:absolute;
    left:0px;
    top:241px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u251 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u252_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u252_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u252_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u252_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u252_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u253 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u254 {
    position:absolute;
    left:0px;
    top:281px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u254 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u255_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u255_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u255_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u255_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u255_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u256 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u257 {
    position:absolute;
    left:0px;
    top:321px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u257 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u258_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u258_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u258_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u258_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u258_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u259 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u260 {
    position:absolute;
    left:0px;
    top:361px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u260 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u261_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u261_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u261_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u261_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u261_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u262 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u263 {
    position:absolute;
    left:10px;
    top:161px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u263 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u264_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u264_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u264_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u264_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u264_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u265 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u266_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u266_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u266_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u266_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u266_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u267 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u268 {
    position:absolute;
    left:10px;
    top:201px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u268 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u269_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u269_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u269_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u269_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u269_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u270 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u271_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u271_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u271_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u271_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u271_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u272 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u273 {
    position:absolute;
    left:10px;
    top:241px;
    width:91px;
    height:281px;
    overflow:hidden;
}

#pd0u273 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:281px;
    
}

.u274_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u274_selected {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_selected.png');
}

.u274_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_normal.png');
}

.u274_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u274_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u275 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u276 {
    position:absolute;
    left:0px;
    top:80px;
    width:91px;
    height:201px;
    overflow:hidden;
}

#pd0u276 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:201px;
    
}

.u277_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u277_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u277_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u277_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u277_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u278 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u279_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u279_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u279_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u279_container {
    position:absolute;
    left:0px;
    top:40px;
    width:90px;
    height:40px;
}

#u279_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u280 {
    position:absolute;
    left:2px;
    top:6px;
    width:86px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u281_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u281_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u281_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u281_container {
    position:absolute;
    left:0px;
    top:80px;
    width:90px;
    height:40px;
}

#u281_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u282 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u283_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u283_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u283_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u283_container {
    position:absolute;
    left:0px;
    top:120px;
    width:90px;
    height:40px;
}

#u283_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u284 {
    position:absolute;
    left:2px;
    top:6px;
    width:86px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u285_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u285_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u285_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u285_container {
    position:absolute;
    left:0px;
    top:160px;
    width:90px;
    height:40px;
}

#u285_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u286 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u287 {
    position:absolute;
    left:0px;
    top:40px;
    width:91px;
    height:41px;
    overflow:hidden;
}

#pd0u287 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:41px;
    
}

.u288_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u288_selected {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_selected.png');
}

.u288_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_normal.png');
}

.u288_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u288_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u289 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u290 {
    position:absolute;
    left:10px;
    top:281px;
    width:91px;
    height:201px;
    overflow:hidden;
}

#pd0u290 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:201px;
    
}

.u291_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u291_selected {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_selected.png');
}

.u291_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_normal.png');
}

.u291_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u291_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u292 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u293 {
    position:absolute;
    left:0px;
    top:80px;
    width:91px;
    height:121px;
    overflow:hidden;
}

#pd0u293 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:121px;
    
}

.u294_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u294_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u294_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u294_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u294_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u295 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u296_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u296_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u296_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u296_container {
    position:absolute;
    left:0px;
    top:40px;
    width:90px;
    height:40px;
}

#u296_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u297 {
    position:absolute;
    left:2px;
    top:6px;
    width:86px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u298_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u298_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u298_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u298_container {
    position:absolute;
    left:0px;
    top:80px;
    width:90px;
    height:40px;
}

#u298_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u299 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u300 {
    position:absolute;
    left:0px;
    top:40px;
    width:91px;
    height:41px;
    overflow:hidden;
}

#pd0u300 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:41px;
    
}

.u301_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u301_selected {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_selected.png');
}

.u301_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_normal.png');
}

.u301_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u301_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u302 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u303 {
    position:absolute;
    left:10px;
    top:321px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u303 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u304_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u304_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u304_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u304_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u304_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u305 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u306_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u306_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u306_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u306_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u306_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u307 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u308 {
    position:absolute;
    left:10px;
    top:361px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u308 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u309_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u309_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u309_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u309_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u309_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u310 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u311_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u311_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u311_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u311_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u311_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u312 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u313 {
    position:absolute;
    left:10px;
    top:401px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u313 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u314_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u314_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u314_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u314_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u314_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u315 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u316_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u316_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u316_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u316_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u316_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u317 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

