﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:313px;
    top:150px;
    width:860px;
    height:30px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:866px;
    height:36px;
}

.u1 {
    position:absolute;
    left:2px;
    top:7px;
    width:856px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:120px;
    top:180px;
    width:1101px;
    height:30px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1107px;
    height:36px;
}

.u3 {
    position:absolute;
    left:2px;
    top:7px;
    width:1097px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:120px;
    top:210px;
    width:1101px;
    height:30px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1107px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:7px;
    width:1097px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:673px;
    top:157px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:893px;
    top:157px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:130px;
    top:187px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:600px;
    top:187px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:890px;
    top:187px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u2_normal.png');
}

.u11_container {
    position:absolute;
    left:120px;
    top:240px;
    width:1101px;
    height:30px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1107px;
    height:36px;
}

.u12 {
    position:absolute;
    left:2px;
    top:7px;
    width:1097px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u4_normal.png');
}

.u13_container {
    position:absolute;
    left:120px;
    top:270px;
    width:1101px;
    height:30px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1107px;
    height:36px;
}

.u14 {
    position:absolute;
    left:2px;
    top:7px;
    width:1097px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:130px;
    top:247px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:600px;
    top:247px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:890px;
    top:247px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u2_normal.png');
}

.u18_container {
    position:absolute;
    left:120px;
    top:300px;
    width:1101px;
    height:30px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1107px;
    height:36px;
}

.u19 {
    position:absolute;
    left:2px;
    top:7px;
    width:1097px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u4_normal.png');
}

.u20_container {
    position:absolute;
    left:120px;
    top:330px;
    width:1101px;
    height:30px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1107px;
    height:36px;
}

.u21 {
    position:absolute;
    left:2px;
    top:7px;
    width:1097px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:130px;
    top:307px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:600px;
    top:307px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:890px;
    top:307px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u2_normal.png');
}

.u25_container {
    position:absolute;
    left:120px;
    top:360px;
    width:1101px;
    height:30px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1107px;
    height:36px;
}

.u26 {
    position:absolute;
    left:2px;
    top:7px;
    width:1097px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u4_normal.png');
}

.u27_container {
    position:absolute;
    left:120px;
    top:390px;
    width:1101px;
    height:30px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1107px;
    height:36px;
}

.u28 {
    position:absolute;
    left:2px;
    top:7px;
    width:1097px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:130px;
    top:367px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:600px;
    top:367px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:890px;
    top:367px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u2_normal.png');
}

.u32_container {
    position:absolute;
    left:120px;
    top:420px;
    width:1101px;
    height:30px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1107px;
    height:36px;
}

.u33 {
    position:absolute;
    left:2px;
    top:7px;
    width:1097px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u4_normal.png');
}

.u34_container {
    position:absolute;
    left:120px;
    top:450px;
    width:1101px;
    height:30px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1107px;
    height:36px;
}

.u35 {
    position:absolute;
    left:2px;
    top:7px;
    width:1097px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:130px;
    top:427px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:600px;
    top:427px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:890px;
    top:427px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:130px;
    top:217px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:600px;
    top:217px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:890px;
    top:217px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:130px;
    top:277px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:600px;
    top:277px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:890px;
    top:277px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:130px;
    top:337px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:600px;
    top:337px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:890px;
    top:337px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:130px;
    top:397px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:600px;
    top:397px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:890px;
    top:397px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:130px;
    top:457px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:600px;
    top:457px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:890px;
    top:457px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:114px;
    top:100px;
    width:335px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:1170px;
    top:185px;
    width:20px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:1194px;
    top:185px;
    width:20px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:120px;
    top:150px;
    width:469px;
    height:30px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:475px;
    height:36px;
}

.u60 {
    position:absolute;
    left:2px;
    top:7px;
    width:465px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:589px;
    top:150px;
    width:287px;
    height:30px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:293px;
    height:36px;
}

.u62 {
    position:absolute;
    left:2px;
    top:7px;
    width:283px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u61_normal.png');
}

.u63_container {
    position:absolute;
    left:876px;
    top:150px;
    width:287px;
    height:30px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:293px;
    height:36px;
}

.u64 {
    position:absolute;
    left:2px;
    top:7px;
    width:283px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:1162px;
    top:150px;
    width:59px;
    height:30px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:36px;
}

.u66 {
    position:absolute;
    left:2px;
    top:7px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u55_normal.png');
}

.u67_container {
    position:absolute;
    left:1170px;
    top:215px;
    width:20px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u57_normal.png');
}

.u69_container {
    position:absolute;
    left:1194px;
    top:215px;
    width:20px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u55_normal.png');
}

.u71_container {
    position:absolute;
    left:1170px;
    top:245px;
    width:20px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u57_normal.png');
}

.u73_container {
    position:absolute;
    left:1194px;
    top:245px;
    width:20px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u55_normal.png');
}

.u75_container {
    position:absolute;
    left:1170px;
    top:275px;
    width:20px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u57_normal.png');
}

.u77_container {
    position:absolute;
    left:1194px;
    top:275px;
    width:20px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u55_normal.png');
}

.u79_container {
    position:absolute;
    left:1170px;
    top:305px;
    width:20px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u57_normal.png');
}

.u81_container {
    position:absolute;
    left:1194px;
    top:305px;
    width:20px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u55_normal.png');
}

.u83_container {
    position:absolute;
    left:1170px;
    top:335px;
    width:20px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u57_normal.png');
}

.u85_container {
    position:absolute;
    left:1194px;
    top:335px;
    width:20px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u55_normal.png');
}

.u87_container {
    position:absolute;
    left:1170px;
    top:365px;
    width:20px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u57_normal.png');
}

.u89_container {
    position:absolute;
    left:1194px;
    top:365px;
    width:20px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u55_normal.png');
}

.u91_container {
    position:absolute;
    left:1170px;
    top:395px;
    width:20px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u57_normal.png');
}

.u93_container {
    position:absolute;
    left:1194px;
    top:395px;
    width:20px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u55_normal.png');
}

.u95_container {
    position:absolute;
    left:1170px;
    top:425px;
    width:20px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u57_normal.png');
}

.u97_container {
    position:absolute;
    left:1194px;
    top:425px;
    width:20px;
    height:20px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u55_normal.png');
}

.u99_container {
    position:absolute;
    left:1170px;
    top:455px;
    width:20px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u57_normal.png');
}

.u101_container {
    position:absolute;
    left:1194px;
    top:455px;
    width:20px;
    height:20px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u2_normal.png');
}

.u103_container {
    position:absolute;
    left:120px;
    top:480px;
    width:1101px;
    height:30px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1107px;
    height:36px;
}

.u104 {
    position:absolute;
    left:2px;
    top:7px;
    width:1097px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u4_normal.png');
}

.u105_container {
    position:absolute;
    left:120px;
    top:510px;
    width:1101px;
    height:30px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1107px;
    height:36px;
}

.u106 {
    position:absolute;
    left:2px;
    top:7px;
    width:1097px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:130px;
    top:487px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:600px;
    top:487px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:890px;
    top:487px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u2_normal.png');
}

.u110_container {
    position:absolute;
    left:120px;
    top:540px;
    width:1101px;
    height:30px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1107px;
    height:36px;
}

.u111 {
    position:absolute;
    left:2px;
    top:7px;
    width:1097px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u4_normal.png');
}

.u112_container {
    position:absolute;
    left:120px;
    top:570px;
    width:1101px;
    height:30px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1107px;
    height:36px;
}

.u113 {
    position:absolute;
    left:2px;
    top:7px;
    width:1097px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:130px;
    top:547px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:600px;
    top:547px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:890px;
    top:547px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u2_normal.png');
}

.u117_container {
    position:absolute;
    left:120px;
    top:600px;
    width:1101px;
    height:30px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1107px;
    height:36px;
}

.u118 {
    position:absolute;
    left:2px;
    top:7px;
    width:1097px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u4_normal.png');
}

.u119_container {
    position:absolute;
    left:120px;
    top:630px;
    width:1101px;
    height:30px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1107px;
    height:36px;
}

.u120 {
    position:absolute;
    left:2px;
    top:7px;
    width:1097px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:130px;
    top:607px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:600px;
    top:607px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:890px;
    top:607px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u2_normal.png');
}

.u124_container {
    position:absolute;
    left:120px;
    top:660px;
    width:1101px;
    height:30px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1107px;
    height:36px;
}

.u125 {
    position:absolute;
    left:2px;
    top:7px;
    width:1097px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u4_normal.png');
}

.u126_container {
    position:absolute;
    left:120px;
    top:690px;
    width:1101px;
    height:30px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1107px;
    height:36px;
}

.u127 {
    position:absolute;
    left:2px;
    top:7px;
    width:1097px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:130px;
    top:667px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:600px;
    top:667px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:890px;
    top:667px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u2_normal.png');
}

.u131_container {
    position:absolute;
    left:120px;
    top:720px;
    width:1101px;
    height:30px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1107px;
    height:36px;
}

.u132 {
    position:absolute;
    left:2px;
    top:7px;
    width:1097px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u4_normal.png');
}

.u133_container {
    position:absolute;
    left:120px;
    top:750px;
    width:1101px;
    height:30px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1107px;
    height:36px;
}

.u134 {
    position:absolute;
    left:2px;
    top:7px;
    width:1097px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:130px;
    top:727px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:600px;
    top:727px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:890px;
    top:727px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:130px;
    top:517px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:600px;
    top:517px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:890px;
    top:517px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:130px;
    top:577px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:600px;
    top:577px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:890px;
    top:577px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:130px;
    top:637px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:600px;
    top:637px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:890px;
    top:637px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:130px;
    top:697px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:600px;
    top:697px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:890px;
    top:697px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:130px;
    top:757px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:600px;
    top:757px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:890px;
    top:757px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u55_normal.png');
}

.u153_container {
    position:absolute;
    left:1170px;
    top:485px;
    width:20px;
    height:20px;
}

#u153_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u154 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u57_normal.png');
}

.u155_container {
    position:absolute;
    left:1194px;
    top:485px;
    width:20px;
    height:20px;
}

#u155_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u156 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u55_normal.png');
}

.u157_container {
    position:absolute;
    left:1170px;
    top:515px;
    width:20px;
    height:20px;
}

#u157_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u158 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u57_normal.png');
}

.u159_container {
    position:absolute;
    left:1194px;
    top:515px;
    width:20px;
    height:20px;
}

#u159_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u160 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u55_normal.png');
}

.u161_container {
    position:absolute;
    left:1170px;
    top:545px;
    width:20px;
    height:20px;
}

#u161_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u162 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u57_normal.png');
}

.u163_container {
    position:absolute;
    left:1194px;
    top:545px;
    width:20px;
    height:20px;
}

#u163_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u164 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u55_normal.png');
}

.u165_container {
    position:absolute;
    left:1170px;
    top:575px;
    width:20px;
    height:20px;
}

#u165_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u166 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u57_normal.png');
}

.u167_container {
    position:absolute;
    left:1194px;
    top:575px;
    width:20px;
    height:20px;
}

#u167_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u168 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u55_normal.png');
}

.u169_container {
    position:absolute;
    left:1170px;
    top:605px;
    width:20px;
    height:20px;
}

#u169_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u170 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u57_normal.png');
}

.u171_container {
    position:absolute;
    left:1194px;
    top:605px;
    width:20px;
    height:20px;
}

#u171_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u172 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u55_normal.png');
}

.u173_container {
    position:absolute;
    left:1170px;
    top:635px;
    width:20px;
    height:20px;
}

#u173_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u174 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u57_normal.png');
}

.u175_container {
    position:absolute;
    left:1194px;
    top:635px;
    width:20px;
    height:20px;
}

#u175_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u176 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u55_normal.png');
}

.u177_container {
    position:absolute;
    left:1170px;
    top:665px;
    width:20px;
    height:20px;
}

#u177_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u178 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u57_normal.png');
}

.u179_container {
    position:absolute;
    left:1194px;
    top:665px;
    width:20px;
    height:20px;
}

#u179_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u180 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u55_normal.png');
}

.u181_container {
    position:absolute;
    left:1170px;
    top:695px;
    width:20px;
    height:20px;
}

#u181_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u182 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u57_normal.png');
}

.u183_container {
    position:absolute;
    left:1194px;
    top:695px;
    width:20px;
    height:20px;
}

#u183_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u184 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u55_normal.png');
}

.u185_container {
    position:absolute;
    left:1170px;
    top:725px;
    width:20px;
    height:20px;
}

#u185_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u186 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u57_normal.png');
}

.u187_container {
    position:absolute;
    left:1194px;
    top:725px;
    width:20px;
    height:20px;
}

#u187_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u188 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u55_normal.png');
}

.u189_container {
    position:absolute;
    left:1170px;
    top:755px;
    width:20px;
    height:20px;
}

#u189_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u190 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u57_normal.png');
}

.u191_container {
    position:absolute;
    left:1194px;
    top:755px;
    width:20px;
    height:20px;
}

#u191_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u192 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u22_normal.png');
}

.u193_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u193_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u194 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195_normal {
    background-image: url('../MenuPrincipal_files/preto_u24_normal.png');
}

.u195_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u195_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u196 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197_normal {
    background-image: url('../MenuPrincipal_files/Logo_u26_normal.png');
}

.u197_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u197_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u198 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u201_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u201_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u202 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u203_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u203_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u204 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u34_normal.png');
}

.u205_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u205_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u206 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u36_normal.png');
}

.u207_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u207_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u208 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u38_normal.png');
}

.u209_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u209_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u210 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u212 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u212 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u213_normal {
    background-image: url('../BuscaMenu_files/u42_normal.png');
}

.u213_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u213_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u214 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u215 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u219 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u221 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u223_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u52_normal.png');
}

.u223_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u223_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u224 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u226_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u226_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u226_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u226_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u226_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u227 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u228_mouseOver {
    background-image: url('../MenuPrincipal_files/Transfer_u57_mouseOver.png');
}

.u228_selected {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u228_normal {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u228_container {
    position:absolute;
    left:296px;
    top:2px;
    width:296px;
    height:25px;
}

#u228_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:31px;
}

.u229 {
    position:absolute;
    left:2px;
    top:4px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u230_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u230_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u230_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u230_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u230_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u231 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u232_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u232_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u232_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u232_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u232_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u233 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u234_mouseOver {
    background-image: url('../MenuPrincipal_files/CadastroBasico_u63_mouseOver.png');
}

.u234_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u234_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u234_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u234_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u235 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u236_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u236_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u236_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u236_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u236_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u237 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u238_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u67_mouseOver.png');
}

.u238_selected {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u238_normal {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u238_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u238_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u239 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u241_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u241_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u241_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u241_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u241_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u242 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u243_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u243_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u243_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u243_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u244 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u245_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u245_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u245_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u245_container {
    position:absolute;
    left:0px;
    top:160px;
    width:100px;
    height:40px;
}

#u245_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u246 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u247_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u247_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u247_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u247_container {
    position:absolute;
    left:0px;
    top:200px;
    width:100px;
    height:40px;
}

#u247_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u248 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u249_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u249_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u249_container {
    position:absolute;
    left:0px;
    top:240px;
    width:100px;
    height:40px;
}

#u249_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u250 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u251_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u251_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u251_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u251_container {
    position:absolute;
    left:0px;
    top:280px;
    width:100px;
    height:40px;
}

#u251_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u252 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u253_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u253_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u253_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u253_container {
    position:absolute;
    left:0px;
    top:320px;
    width:100px;
    height:40px;
}

#u253_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u254 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u255_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u255_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u255_container {
    position:absolute;
    left:0px;
    top:360px;
    width:100px;
    height:40px;
}

#u255_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u256 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u257_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u257_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u257_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u257_container {
    position:absolute;
    left:0px;
    top:400px;
    width:100px;
    height:40px;
}

#u257_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u258 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u259 {
    position:absolute;
    left:100px;
    top:280px;
    width:102px;
    height:81px;
    overflow:hidden;
}

#pd0u259 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:81px;
    
}

.u260_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u260_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u260_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u260_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u260_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u261 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u262_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u262_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u262_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u262_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u262_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u263 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u264 {
    position:absolute;
    left:100px;
    top:240px;
    width:102px;
    height:81px;
    overflow:hidden;
}

#pd0u264 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:81px;
    
}

.u265_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u265_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u265_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u265_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u265_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u266 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u267_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u267_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u267_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u267_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u267_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u268 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u269 {
    position:absolute;
    left:100px;
    top:320px;
    width:102px;
    height:81px;
    overflow:hidden;
}

#pd0u269 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:81px;
    
}

.u270_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u270_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u270_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u270_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u270_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u271 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u272_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u272_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u272_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u272_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u272_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u273 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u274 {
    position:absolute;
    left:100px;
    top:200px;
    width:101px;
    height:161px;
    overflow:hidden;
}

#pd0u274 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:161px;
    
}

.u275_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u275_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u275_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u275_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u275_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u276 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u277_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u277_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u277_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u277_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u278 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u279_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u279_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u279_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u279_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u279_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u280 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u281_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u281_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u281_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u281_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u281_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u282 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u283 {
    position:absolute;
    left:100px;
    top:360px;
    width:102px;
    height:81px;
    overflow:hidden;
}

#pd0u283 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:81px;
    
}

.u284_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u284_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u284_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u284_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u284_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u285 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u286_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u286_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u286_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u286_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u286_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u287 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u289 {
    position:absolute;
    left:0px;
    top:0px;
    width:1401px;
    height:1301px;
    overflow:hidden;
}

#pd0u289 {
    position:absolute;
    left:0px;
    top:0px;
    width:1401px;
    height:1301px;
    
}

.u290_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u290_normal.png');
}

.u290_container {
    position:absolute;
    left:0px;
    top:0px;
    width:2000px;
    height:5000px;
}

#u290_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:2006px;
    height:5006px;
}

.u291 {
    position:absolute;
    left:2px;
    top:2492px;
    width:1996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u292_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u292_normal.png');
}

.u292_container {
    position:absolute;
    left:305px;
    top:185px;
    width:800px;
    height:520px;
}

#u292_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:526px;
}

.u293 {
    position:absolute;
    left:2px;
    top:252px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u294_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u294_normal.png');
}

.u294_container {
    position:absolute;
    left:300px;
    top:180px;
    width:800px;
    height:520px;
}

#u294_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:526px;
}

.u295 {
    position:absolute;
    left:2px;
    top:252px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u296_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u296_normal.png');
}

.u296_container {
    position:absolute;
    left:300px;
    top:180px;
    width:800px;
    height:30px;
}

#u296_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:806px;
    height:36px;
}

.u297 {
    position:absolute;
    left:2px;
    top:7px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u298 {
    position:absolute;
    left:314px;
    top:187px;
    width:327px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u299 {
    position:absolute;
    left:1040px;
    top:187px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u300 {
    position:absolute;
    left:920px;
    top:672px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u301_line {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u301_line.png');
}

.u301_line {
    position:absolute;
    left:0px;
    top:4px;
    width:798px;
    height:3px;
}

.u301 {
    position:absolute;
    left:301px;
    top:651px;
    width:798px;
    height:10px;
    
}

.u302 {
    position:absolute;
    left:324px;
    top:499px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u303 {
    position:absolute;
    left:624px;
    top:495px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u304 {
    position:absolute;
    left:324px;
    top:228px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u305 {
    position:absolute;
    left:634px;
    top:225px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u306 {
    position:absolute;
    left:324px;
    top:262px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u307 {
    position:absolute;
    left:634px;
    top:259px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u308 {
    position:absolute;
    left:324px;
    top:566px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u309 {
    position:absolute;
    left:624px;
    top:563px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u310 {
    position:absolute;
    left:324px;
    top:596px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u311 {
    position:absolute;
    left:624px;
    top:593px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u312 {
    position:absolute;
    left:309px;
    top:291px;
    width:783px;
    height:190px;
    overflow:hidden;
}

#pd0u312 {
    position:absolute;
    left:0px;
    top:0px;
    width:783px;
    height:190px;
    
}

.u313 {
    position:absolute;
    left:13px;
    top:1px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u314_line {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u314_line.png');
}

.u314_line {
    position:absolute;
    left:0px;
    top:4px;
    width:765px;
    height:3px;
}

.u314 {
    position:absolute;
    left:6px;
    top:15px;
    width:765px;
    height:10px;
    
}

.u316 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u318 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u319 {
    position:absolute;
    left:15px;
    top:35px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u320_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/AdicionarPausa_u320_normal.png');
}

.u320_container {
    position:absolute;
    left:656px;
    top:62px;
    width:122px;
    height:25px;
}

#u320_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:31px;
}

.u321 {
    position:absolute;
    left:2px;
    top:4px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u322 {
    position:absolute;
    left:0px;
    top:94px;
    width:783px;
    height:88px;
    overflow:hidden;
}

#pd0u322 {
    position:absolute;
    left:0px;
    top:0px;
    width:783px;
    height:88px;
    
}

.u323_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u323_normal.png');
}

.u323_container {
    position:absolute;
    left:0px;
    top:31px;
    width:781px;
    height:26px;
}

#u323_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:787px;
    height:32px;
}

.u324 {
    position:absolute;
    left:2px;
    top:5px;
    width:777px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u325_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u325_normal.png');
}

.u325_container {
    position:absolute;
    left:0px;
    top:0px;
    width:339px;
    height:30px;
}

#u325_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:345px;
    height:36px;
}

.u326 {
    position:absolute;
    left:2px;
    top:7px;
    width:335px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u327_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u327_normal.png');
}

.u327_container {
    position:absolute;
    left:339px;
    top:0px;
    width:128px;
    height:30px;
}

#u327_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:36px;
}

.u328 {
    position:absolute;
    left:2px;
    top:7px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u329_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u329_normal.png');
}

.u329_container {
    position:absolute;
    left:617px;
    top:0px;
    width:119px;
    height:30px;
}

#u329_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:36px;
}

.u330 {
    position:absolute;
    left:2px;
    top:7px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u331 {
    position:absolute;
    left:10px;
    top:36px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u332 {
    position:absolute;
    left:350px;
    top:36px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u333 {
    position:absolute;
    left:630px;
    top:36px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u334_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u334_normal.png');
}

.u334_container {
    position:absolute;
    left:0px;
    top:58px;
    width:781px;
    height:26px;
}

#u334_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:787px;
    height:32px;
}

.u335 {
    position:absolute;
    left:2px;
    top:5px;
    width:777px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u336_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u55_normal.png');
}

.u336_container {
    position:absolute;
    left:739px;
    top:34px;
    width:20px;
    height:20px;
}

#u336_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u337 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u338_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u338_normal.png');
}

.u338_container {
    position:absolute;
    left:761px;
    top:34px;
    width:20px;
    height:20px;
}

#u338_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u339 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u340_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u340_normal.png');
}

.u340_container {
    position:absolute;
    left:736px;
    top:0px;
    width:50px;
    height:30px;
}

#u340_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:36px;
}

.u341 {
    position:absolute;
    left:2px;
    top:7px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u342_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u342_normal.png');
}

.u342_container {
    position:absolute;
    left:466px;
    top:0px;
    width:150px;
    height:30px;
}

#u342_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:36px;
}

.u343 {
    position:absolute;
    left:2px;
    top:7px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u344 {
    position:absolute;
    left:10px;
    top:63px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u345 {
    position:absolute;
    left:350px;
    top:63px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u346 {
    position:absolute;
    left:630px;
    top:63px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u347_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u55_normal.png');
}

.u347_container {
    position:absolute;
    left:739px;
    top:61px;
    width:20px;
    height:20px;
}

#u347_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u348 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u349_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/u338_normal.png');
}

.u349_container {
    position:absolute;
    left:761px;
    top:61px;
    width:20px;
    height:20px;
}

#u349_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u350 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u351 {
    position:absolute;
    left:480px;
    top:36px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u352 {
    position:absolute;
    left:480px;
    top:63px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u353 {
    position:absolute;
    left:15px;
    top:59px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u354 {
    position:absolute;
    left:15px;
    top:84px;
    width:301px;
    height:131px;
    overflow:hidden;
}

#pd0u354 {
    position:absolute;
    left:0px;
    top:0px;
    width:301px;
    height:131px;
    
}

.u355_normal {
    background-image: url('../Copy_of_Dynamic_search_box_files/u59_normal.png');
}

.u355_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u355_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u356 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u357 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u358 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u359 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u360 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u361 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u362 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u363 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u364 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u366 {
    position:absolute;
    left:324px;
    top:534px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u367 {
    position:absolute;
    left:624px;
    top:530px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u368 {
    position:absolute;
    left:324px;
    top:627px;
    width:290px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u369 {
    position:absolute;
    left:624px;
    top:623px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u370_normal {
    background-image: url('../ConfiguracaoJornadaAlertas_files/AdicionarPausa_u370_normal.png');
}

.u370_container {
    position:absolute;
    left:1010px;
    top:667px;
    width:80px;
    height:25px;
}

#u370_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:31px;
}

.u371 {
    position:absolute;
    left:2px;
    top:4px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

