﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../ListagemQuestoes_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:326px;
    width:1167px;
    height:26px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u1 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../ListagemQuestoes_files/u0_normal.png');
}

.u2_container {
    position:absolute;
    left:120px;
    top:380px;
    width:1167px;
    height:26px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u3 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../ListagemQuestoes_files/u0_normal.png');
}

.u4_container {
    position:absolute;
    left:120px;
    top:434px;
    width:1167px;
    height:26px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u5 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../ListagemQuestoes_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:120px;
    top:142px;
    width:1167px;
    height:140px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:146px;
}

.u7 {
    position:absolute;
    left:2px;
    top:62px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:114px;
    top:100px;
    width:254px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:149px;
    top:159px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../ListagemQuestoes_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:140px;
    top:130px;
    width:140px;
    height:25px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:1176px;
    top:248px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u13_normal {
    background-image: url('../ListagemQuestoes_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:1070px;
    top:295px;
    width:147px;
    height:30px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:36px;
}

.u14 {
    position:absolute;
    left:2px;
    top:7px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:1082px;
    top:331px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:1070px;
    top:870px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../ListagemQuestoes_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:1217px;
    top:873px;
    width:10px;
    height:10px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u18 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_line {
    background-image: url('../ListagemQuestoes_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:10px;
}

.u19 {
    position:absolute;
    left:1210px;
    top:873px;
    width:10px;
    height:10px;
    
}

.u20_normal {
    background-image: url('../ListagemQuestoes_files/u17_normal.png');
}

.u20_container {
    position:absolute;
    left:1236px;
    top:873px;
    width:10px;
    height:10px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u21 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../ListagemQuestoes_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:1254px;
    top:873px;
    width:10px;
    height:10px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u23 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../ListagemQuestoes_files/u22_normal.png');
}

.u24_container {
    position:absolute;
    left:1273px;
    top:873px;
    width:10px;
    height:10px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u25 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_line {
    background-image: url('../ListagemQuestoes_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:10px;
}

.u26 {
    position:absolute;
    left:1280px;
    top:873px;
    width:10px;
    height:10px;
    
}

.u27_normal {
    background-image: url('../ListagemQuestoes_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:1220px;
    top:329px;
    width:20px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../ListagemQuestoes_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:1242px;
    top:329px;
    width:20px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../ListagemQuestoes_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:1264px;
    top:329px;
    width:20px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../ListagemQuestoes_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:1217px;
    top:295px;
    width:70px;
    height:30px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:36px;
}

.u34 {
    position:absolute;
    left:2px;
    top:7px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:1082px;
    top:385px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../ListagemQuestoes_files/u27_normal.png');
}

.u36_container {
    position:absolute;
    left:1220px;
    top:383px;
    width:20px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../ListagemQuestoes_files/u29_normal.png');
}

.u38_container {
    position:absolute;
    left:1242px;
    top:383px;
    width:20px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../ListagemQuestoes_files/u31_normal.png');
}

.u40_container {
    position:absolute;
    left:1264px;
    top:383px;
    width:20px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:1082px;
    top:439px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../ListagemQuestoes_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:120px;
    top:461px;
    width:1167px;
    height:26px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u44 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../ListagemQuestoes_files/u27_normal.png');
}

.u45_container {
    position:absolute;
    left:1220px;
    top:437px;
    width:20px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../ListagemQuestoes_files/u29_normal.png');
}

.u47_container {
    position:absolute;
    left:1242px;
    top:437px;
    width:20px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../ListagemQuestoes_files/u31_normal.png');
}

.u49_container {
    position:absolute;
    left:1264px;
    top:437px;
    width:20px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:160px;
    top:466px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:1082px;
    top:466px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../ListagemQuestoes_files/u27_normal.png');
}

.u53_container {
    position:absolute;
    left:1220px;
    top:464px;
    width:20px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../ListagemQuestoes_files/u29_normal.png');
}

.u55_container {
    position:absolute;
    left:1242px;
    top:464px;
    width:20px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../ListagemQuestoes_files/u31_normal.png');
}

.u57_container {
    position:absolute;
    left:1264px;
    top:464px;
    width:20px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../ListagemQuestoes_files/u0_normal.png');
}

.u59_container {
    position:absolute;
    left:120px;
    top:488px;
    width:1167px;
    height:26px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u60 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:160px;
    top:493px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:1082px;
    top:493px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../ListagemQuestoes_files/u43_normal.png');
}

.u63_container {
    position:absolute;
    left:120px;
    top:515px;
    width:1167px;
    height:26px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u64 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../ListagemQuestoes_files/u27_normal.png');
}

.u65_container {
    position:absolute;
    left:1220px;
    top:491px;
    width:20px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../ListagemQuestoes_files/u29_normal.png');
}

.u67_container {
    position:absolute;
    left:1242px;
    top:491px;
    width:20px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../ListagemQuestoes_files/u31_normal.png');
}

.u69_container {
    position:absolute;
    left:1264px;
    top:491px;
    width:20px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:160px;
    top:520px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:1082px;
    top:520px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../ListagemQuestoes_files/u27_normal.png');
}

.u73_container {
    position:absolute;
    left:1220px;
    top:518px;
    width:20px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../ListagemQuestoes_files/u29_normal.png');
}

.u75_container {
    position:absolute;
    left:1242px;
    top:518px;
    width:20px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../ListagemQuestoes_files/u31_normal.png');
}

.u77_container {
    position:absolute;
    left:1264px;
    top:518px;
    width:20px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../ListagemQuestoes_files/u0_normal.png');
}

.u79_container {
    position:absolute;
    left:120px;
    top:542px;
    width:1167px;
    height:26px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u80 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:160px;
    top:547px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:1082px;
    top:547px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../ListagemQuestoes_files/u43_normal.png');
}

.u83_container {
    position:absolute;
    left:120px;
    top:569px;
    width:1167px;
    height:26px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u84 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../ListagemQuestoes_files/u27_normal.png');
}

.u85_container {
    position:absolute;
    left:1220px;
    top:545px;
    width:20px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../ListagemQuestoes_files/u29_normal.png');
}

.u87_container {
    position:absolute;
    left:1242px;
    top:545px;
    width:20px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../ListagemQuestoes_files/u31_normal.png');
}

.u89_container {
    position:absolute;
    left:1264px;
    top:545px;
    width:20px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:160px;
    top:574px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:1082px;
    top:574px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../ListagemQuestoes_files/u27_normal.png');
}

.u93_container {
    position:absolute;
    left:1220px;
    top:572px;
    width:20px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../ListagemQuestoes_files/u29_normal.png');
}

.u95_container {
    position:absolute;
    left:1242px;
    top:572px;
    width:20px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../ListagemQuestoes_files/u31_normal.png');
}

.u97_container {
    position:absolute;
    left:1264px;
    top:572px;
    width:20px;
    height:20px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../ListagemQuestoes_files/u0_normal.png');
}

.u99_container {
    position:absolute;
    left:120px;
    top:596px;
    width:1167px;
    height:26px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u100 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:160px;
    top:601px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:1082px;
    top:601px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../ListagemQuestoes_files/u43_normal.png');
}

.u103_container {
    position:absolute;
    left:120px;
    top:623px;
    width:1167px;
    height:26px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u104 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../ListagemQuestoes_files/u27_normal.png');
}

.u105_container {
    position:absolute;
    left:1220px;
    top:599px;
    width:20px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../ListagemQuestoes_files/u29_normal.png');
}

.u107_container {
    position:absolute;
    left:1242px;
    top:599px;
    width:20px;
    height:20px;
}

#u107_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../ListagemQuestoes_files/u31_normal.png');
}

.u109_container {
    position:absolute;
    left:1264px;
    top:599px;
    width:20px;
    height:20px;
}

#u109_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:160px;
    top:628px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:1082px;
    top:628px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../ListagemQuestoes_files/u27_normal.png');
}

.u113_container {
    position:absolute;
    left:1220px;
    top:626px;
    width:20px;
    height:20px;
}

#u113_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../ListagemQuestoes_files/u29_normal.png');
}

.u115_container {
    position:absolute;
    left:1242px;
    top:626px;
    width:20px;
    height:20px;
}

#u115_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../ListagemQuestoes_files/u31_normal.png');
}

.u117_container {
    position:absolute;
    left:1264px;
    top:626px;
    width:20px;
    height:20px;
}

#u117_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../ListagemQuestoes_files/u0_normal.png');
}

.u119_container {
    position:absolute;
    left:120px;
    top:650px;
    width:1167px;
    height:26px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u120 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:160px;
    top:655px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:1082px;
    top:655px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../ListagemQuestoes_files/u43_normal.png');
}

.u123_container {
    position:absolute;
    left:120px;
    top:677px;
    width:1167px;
    height:26px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u124 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../ListagemQuestoes_files/u27_normal.png');
}

.u125_container {
    position:absolute;
    left:1220px;
    top:653px;
    width:20px;
    height:20px;
}

#u125_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u126 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../ListagemQuestoes_files/u29_normal.png');
}

.u127_container {
    position:absolute;
    left:1242px;
    top:653px;
    width:20px;
    height:20px;
}

#u127_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u128 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../ListagemQuestoes_files/u31_normal.png');
}

.u129_container {
    position:absolute;
    left:1264px;
    top:653px;
    width:20px;
    height:20px;
}

#u129_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u130 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:160px;
    top:682px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:1082px;
    top:682px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../ListagemQuestoes_files/u27_normal.png');
}

.u133_container {
    position:absolute;
    left:1220px;
    top:680px;
    width:20px;
    height:20px;
}

#u133_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u134 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../ListagemQuestoes_files/u29_normal.png');
}

.u135_container {
    position:absolute;
    left:1242px;
    top:680px;
    width:20px;
    height:20px;
}

#u135_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u136 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../ListagemQuestoes_files/u31_normal.png');
}

.u137_container {
    position:absolute;
    left:1264px;
    top:680px;
    width:20px;
    height:20px;
}

#u137_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u138 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../ListagemQuestoes_files/u0_normal.png');
}

.u139_container {
    position:absolute;
    left:120px;
    top:704px;
    width:1167px;
    height:26px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u140 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:160px;
    top:709px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:1082px;
    top:709px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../ListagemQuestoes_files/u43_normal.png');
}

.u143_container {
    position:absolute;
    left:120px;
    top:731px;
    width:1167px;
    height:26px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u144 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../ListagemQuestoes_files/u27_normal.png');
}

.u145_container {
    position:absolute;
    left:1220px;
    top:707px;
    width:20px;
    height:20px;
}

#u145_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u146 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../ListagemQuestoes_files/u29_normal.png');
}

.u147_container {
    position:absolute;
    left:1242px;
    top:707px;
    width:20px;
    height:20px;
}

#u147_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u148 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../ListagemQuestoes_files/u31_normal.png');
}

.u149_container {
    position:absolute;
    left:1264px;
    top:707px;
    width:20px;
    height:20px;
}

#u149_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u150 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:160px;
    top:736px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:1082px;
    top:736px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_normal {
    background-image: url('../ListagemQuestoes_files/u27_normal.png');
}

.u153_container {
    position:absolute;
    left:1220px;
    top:734px;
    width:20px;
    height:20px;
}

#u153_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u154 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../ListagemQuestoes_files/u29_normal.png');
}

.u155_container {
    position:absolute;
    left:1242px;
    top:734px;
    width:20px;
    height:20px;
}

#u155_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u156 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../ListagemQuestoes_files/u31_normal.png');
}

.u157_container {
    position:absolute;
    left:1264px;
    top:734px;
    width:20px;
    height:20px;
}

#u157_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u158 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../ListagemQuestoes_files/u0_normal.png');
}

.u159_container {
    position:absolute;
    left:120px;
    top:758px;
    width:1167px;
    height:26px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u160 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:160px;
    top:763px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:1082px;
    top:763px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163_normal {
    background-image: url('../ListagemQuestoes_files/u43_normal.png');
}

.u163_container {
    position:absolute;
    left:120px;
    top:785px;
    width:1167px;
    height:26px;
}

#u163_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u164 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../ListagemQuestoes_files/u27_normal.png');
}

.u165_container {
    position:absolute;
    left:1220px;
    top:761px;
    width:20px;
    height:20px;
}

#u165_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u166 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_normal {
    background-image: url('../ListagemQuestoes_files/u29_normal.png');
}

.u167_container {
    position:absolute;
    left:1242px;
    top:761px;
    width:20px;
    height:20px;
}

#u167_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u168 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_normal {
    background-image: url('../ListagemQuestoes_files/u31_normal.png');
}

.u169_container {
    position:absolute;
    left:1264px;
    top:761px;
    width:20px;
    height:20px;
}

#u169_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u170 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:160px;
    top:790px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:1082px;
    top:790px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_normal {
    background-image: url('../ListagemQuestoes_files/u27_normal.png');
}

.u173_container {
    position:absolute;
    left:1220px;
    top:788px;
    width:20px;
    height:20px;
}

#u173_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u174 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../ListagemQuestoes_files/u29_normal.png');
}

.u175_container {
    position:absolute;
    left:1242px;
    top:788px;
    width:20px;
    height:20px;
}

#u175_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u176 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../ListagemQuestoes_files/u31_normal.png');
}

.u177_container {
    position:absolute;
    left:1264px;
    top:788px;
    width:20px;
    height:20px;
}

#u177_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u178 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../ListagemQuestoes_files/u0_normal.png');
}

.u179_container {
    position:absolute;
    left:120px;
    top:812px;
    width:1167px;
    height:26px;
}

#u179_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u180 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:160px;
    top:817px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:1082px;
    top:817px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_normal {
    background-image: url('../ListagemQuestoes_files/u43_normal.png');
}

.u183_container {
    position:absolute;
    left:120px;
    top:839px;
    width:1167px;
    height:26px;
}

#u183_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u184 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_normal {
    background-image: url('../ListagemQuestoes_files/u27_normal.png');
}

.u185_container {
    position:absolute;
    left:1220px;
    top:815px;
    width:20px;
    height:20px;
}

#u185_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u186 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187_normal {
    background-image: url('../ListagemQuestoes_files/u29_normal.png');
}

.u187_container {
    position:absolute;
    left:1242px;
    top:815px;
    width:20px;
    height:20px;
}

#u187_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u188 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189_normal {
    background-image: url('../ListagemQuestoes_files/u31_normal.png');
}

.u189_container {
    position:absolute;
    left:1264px;
    top:815px;
    width:20px;
    height:20px;
}

#u189_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u190 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:160px;
    top:844px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:1082px;
    top:844px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193_normal {
    background-image: url('../ListagemQuestoes_files/u27_normal.png');
}

.u193_container {
    position:absolute;
    left:1220px;
    top:842px;
    width:20px;
    height:20px;
}

#u193_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u194 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195_normal {
    background-image: url('../ListagemQuestoes_files/u29_normal.png');
}

.u195_container {
    position:absolute;
    left:1242px;
    top:842px;
    width:20px;
    height:20px;
}

#u195_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u196 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197_normal {
    background-image: url('../ListagemQuestoes_files/u31_normal.png');
}

.u197_container {
    position:absolute;
    left:1264px;
    top:842px;
    width:20px;
    height:20px;
}

#u197_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u198 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u226 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u228 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u229_normal {
    background-image: url('../ListagemQuestoes_files/u229_normal.png');
}

.u229_container {
    position:absolute;
    left:129px;
    top:870px;
    width:151px;
    height:25px;
}

#u229_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:31px;
}

.u230 {
    position:absolute;
    left:2px;
    top:4px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u231_normal {
    background-image: url('../ListagemQuestoes_files/u231_normal.png');
}

.u231_container {
    position:absolute;
    left:120px;
    top:295px;
    width:30px;
    height:30px;
}

#u231_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u232 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u233_normal {
    background-image: url('../ListagemQuestoes_files/u233_normal.png');
}

.u233_container {
    position:absolute;
    left:150px;
    top:295px;
    width:399px;
    height:30px;
}

#u233_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:405px;
    height:36px;
}

.u234 {
    position:absolute;
    left:2px;
    top:7px;
    width:395px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u235 {
    position:absolute;
    left:160px;
    top:331px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u236_normal {
    background-image: url('../ListagemQuestoes_files/u43_normal.png');
}

.u236_container {
    position:absolute;
    left:120px;
    top:353px;
    width:1167px;
    height:26px;
}

#u236_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u237 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u239 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u240 {
    position:absolute;
    left:160px;
    top:358px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u241 {
    position:absolute;
    left:1082px;
    top:358px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u242_normal {
    background-image: url('../ListagemQuestoes_files/u27_normal.png');
}

.u242_container {
    position:absolute;
    left:1220px;
    top:356px;
    width:20px;
    height:20px;
}

#u242_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u243 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u244_normal {
    background-image: url('../ListagemQuestoes_files/u29_normal.png');
}

.u244_container {
    position:absolute;
    left:1242px;
    top:356px;
    width:20px;
    height:20px;
}

#u244_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u245 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u246_normal {
    background-image: url('../ListagemQuestoes_files/u31_normal.png');
}

.u246_container {
    position:absolute;
    left:1264px;
    top:356px;
    width:20px;
    height:20px;
}

#u246_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u247 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u248 {
    position:absolute;
    left:160px;
    top:385px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u249_normal {
    background-image: url('../ListagemQuestoes_files/u43_normal.png');
}

.u249_container {
    position:absolute;
    left:120px;
    top:407px;
    width:1167px;
    height:26px;
}

#u249_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u250 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u251 {
    position:absolute;
    left:160px;
    top:412px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u252 {
    position:absolute;
    left:1082px;
    top:412px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u253_normal {
    background-image: url('../ListagemQuestoes_files/u27_normal.png');
}

.u253_container {
    position:absolute;
    left:1220px;
    top:410px;
    width:20px;
    height:20px;
}

#u253_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u254 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u255_normal {
    background-image: url('../ListagemQuestoes_files/u29_normal.png');
}

.u255_container {
    position:absolute;
    left:1242px;
    top:410px;
    width:20px;
    height:20px;
}

#u255_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u256 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u257_normal {
    background-image: url('../ListagemQuestoes_files/u31_normal.png');
}

.u257_container {
    position:absolute;
    left:1264px;
    top:410px;
    width:20px;
    height:20px;
}

#u257_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u258 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u259 {
    position:absolute;
    left:160px;
    top:439px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u261 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u263 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u265 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u267 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u269 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u270 {
    position:absolute;
    left:956px;
    top:182px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u271 {
    position:absolute;
    left:956px;
    top:159px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u272 {
    position:absolute;
    left:570px;
    top:466px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u273 {
    position:absolute;
    left:570px;
    top:493px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u274 {
    position:absolute;
    left:570px;
    top:520px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u275 {
    position:absolute;
    left:570px;
    top:547px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u276 {
    position:absolute;
    left:570px;
    top:574px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u277 {
    position:absolute;
    left:570px;
    top:601px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u278 {
    position:absolute;
    left:570px;
    top:628px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u279 {
    position:absolute;
    left:570px;
    top:655px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u280 {
    position:absolute;
    left:570px;
    top:682px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u281 {
    position:absolute;
    left:570px;
    top:709px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u282 {
    position:absolute;
    left:570px;
    top:736px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u283 {
    position:absolute;
    left:570px;
    top:763px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u284 {
    position:absolute;
    left:570px;
    top:790px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u285 {
    position:absolute;
    left:570px;
    top:817px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u286 {
    position:absolute;
    left:570px;
    top:844px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u287 {
    position:absolute;
    left:570px;
    top:331px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u288 {
    position:absolute;
    left:570px;
    top:358px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u289 {
    position:absolute;
    left:570px;
    top:385px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u290 {
    position:absolute;
    left:570px;
    top:412px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u291 {
    position:absolute;
    left:570px;
    top:439px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u292 {
    position:absolute;
    left:837px;
    top:466px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u293 {
    position:absolute;
    left:837px;
    top:493px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u294 {
    position:absolute;
    left:837px;
    top:520px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u295 {
    position:absolute;
    left:837px;
    top:547px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u296 {
    position:absolute;
    left:837px;
    top:574px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u297 {
    position:absolute;
    left:837px;
    top:601px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u298 {
    position:absolute;
    left:837px;
    top:628px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u299 {
    position:absolute;
    left:837px;
    top:655px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u300 {
    position:absolute;
    left:837px;
    top:682px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u301 {
    position:absolute;
    left:837px;
    top:709px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u302 {
    position:absolute;
    left:837px;
    top:736px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u303 {
    position:absolute;
    left:837px;
    top:763px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u304 {
    position:absolute;
    left:837px;
    top:790px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u305 {
    position:absolute;
    left:837px;
    top:817px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u306 {
    position:absolute;
    left:837px;
    top:844px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u307 {
    position:absolute;
    left:837px;
    top:331px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u308 {
    position:absolute;
    left:837px;
    top:358px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u309 {
    position:absolute;
    left:837px;
    top:385px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u310 {
    position:absolute;
    left:837px;
    top:412px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u311 {
    position:absolute;
    left:837px;
    top:439px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u312_normal {
    background-image: url('../ListagemQuestoes_files/u312_normal.png');
}

.u312_container {
    position:absolute;
    left:549px;
    top:295px;
    width:267px;
    height:30px;
}

#u312_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:273px;
    height:36px;
}

.u313 {
    position:absolute;
    left:2px;
    top:7px;
    width:263px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u314_normal {
    background-image: url('../ListagemQuestoes_files/u314_normal.png');
}

.u314_container {
    position:absolute;
    left:816px;
    top:295px;
    width:254px;
    height:30px;
}

#u314_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:260px;
    height:36px;
}

.u315 {
    position:absolute;
    left:2px;
    top:7px;
    width:250px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u316 {
    position:absolute;
    left:150px;
    top:250px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u317 {
    position:absolute;
    left:150px;
    top:227px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u318 {
    position:absolute;
    left:557px;
    top:250px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u319 {
    position:absolute;
    left:557px;
    top:227px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u320 {
    position:absolute;
    left:149px;
    top:182px;
    width:700px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u321 {
    position:absolute;
    left:149px;
    top:207px;
    width:701px;
    height:131px;
    overflow:hidden;
}

#pd0u321 {
    position:absolute;
    left:0px;
    top:0px;
    width:701px;
    height:131px;
    
}

.u322_normal {
    background-image: url('../Copy_of_Dynamic_search_box_files/u293_normal.png');
}

.u322_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u322_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u323 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u324 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u325 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u326 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u327 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u328 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u329 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u330 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u331 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u333_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u24_normal.png');
}

.u333_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u333_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u334 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u335_normal {
    background-image: url('../MenuPrincipal_files/preto_u26_normal.png');
}

.u335_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u335_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u336 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u337_normal {
    background-image: url('../MenuPrincipal_files/Logo_u28_normal.png');
}

.u337_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u337_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u338 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u339 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u340 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u341_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u32_normal.png');
}

.u341_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u341_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u342 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u343_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u32_normal.png');
}

.u343_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u343_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u344 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u345_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u36_normal.png');
}

.u345_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u345_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u346 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u347_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u38_normal.png');
}

.u347_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u347_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u348 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u349_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u40_normal.png');
}

.u349_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u349_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u350 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u351 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u352 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u352 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u353_normal {
    background-image: url('../BuscaMenu_files/u44_normal.png');
}

.u353_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u353_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u354 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u355 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u356 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u357 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u358 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u359 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u360 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u361 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u362 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u363_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u54_normal.png');
}

.u363_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u363_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u364 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u366_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u366_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u366_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u366_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u366_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u367 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u368_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u368_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u368_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u368_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u368_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u369 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u370_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u370_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u370_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u370_container {
    position:absolute;
    left:444px;
    top:2px;
    width:148px;
    height:25px;
}

#u370_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u371 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u372_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u372_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u372_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u372_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u372_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u373 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u374_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u374_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u374_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u374_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u374_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u375 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u376_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u376_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u376_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u376_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u376_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u377 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u378_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u378_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u378_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u378_container {
    position:absolute;
    left:296px;
    top:2px;
    width:148px;
    height:25px;
}

#u378_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u379 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u380_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u71_mouseOver.png');
}

.u380_selected {
    background-image: url('../MenuPrincipal_files/Sair_u71_selected.png');
}

.u380_normal {
    background-image: url('../MenuPrincipal_files/Sair_u71_selected.png');
}

.u380_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u380_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u381 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u383_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u0_mouseOver.png');
}

.u383_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u0_selected.png');
}

.u383_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u0_normal.png');
}

.u383_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u383_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u384 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u385_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u0_mouseOver.png');
}

.u385_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u0_selected.png');
}

.u385_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u0_normal.png');
}

.u385_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u385_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u386 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u387 {
    position:absolute;
    left:0px;
    top:160px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u387 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u388_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u0_mouseOver.png');
}

.u388_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u0_selected.png');
}

.u388_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u0_normal.png');
}

.u388_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u388_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u389 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u390 {
    position:absolute;
    left:0px;
    top:200px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u390 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u391_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u0_mouseOver.png');
}

.u391_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u0_selected.png');
}

.u391_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u0_normal.png');
}

.u391_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u391_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u392 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u393 {
    position:absolute;
    left:0px;
    top:240px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u393 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u394_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u0_mouseOver.png');
}

.u394_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u0_selected.png');
}

.u394_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u0_normal.png');
}

.u394_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u394_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u395 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u396 {
    position:absolute;
    left:0px;
    top:280px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u396 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u397_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u0_mouseOver.png');
}

.u397_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u0_selected.png');
}

.u397_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u0_normal.png');
}

.u397_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u397_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u398 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u399 {
    position:absolute;
    left:0px;
    top:320px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u399 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u400_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u0_mouseOver.png');
}

.u400_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u0_selected.png');
}

.u400_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u0_normal.png');
}

.u400_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u400_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u401 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u402 {
    position:absolute;
    left:0px;
    top:240px;
    width:101px;
    height:81px;
    overflow:hidden;
}

#pd0u402 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:81px;
    
}

.u403_mouseOver {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_mouseOver.png');
}

.u403_selected {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_selected.png');
}

.u403_normal {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_normal.png');
}

.u403_container {
    position:absolute;
    left:10px;
    top:0px;
    width:90px;
    height:40px;
}

#u403_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u404 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u405_mouseOver {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_mouseOver.png');
}

.u405_selected {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_selected.png');
}

.u405_normal {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_normal.png');
}

.u405_container {
    position:absolute;
    left:10px;
    top:40px;
    width:90px;
    height:40px;
}

#u405_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u406 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u407 {
    position:absolute;
    left:0px;
    top:360px;
    width:101px;
    height:81px;
    overflow:hidden;
}

#pd0u407 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:81px;
    
}

.u408_mouseOver {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_mouseOver.png');
}

.u408_selected {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_selected.png');
}

.u408_normal {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_normal.png');
}

.u408_container {
    position:absolute;
    left:10px;
    top:0px;
    width:90px;
    height:40px;
}

#u408_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u409 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u410_mouseOver {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_mouseOver.png');
}

.u410_selected {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_selected.png');
}

.u410_normal {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_normal.png');
}

.u410_container {
    position:absolute;
    left:10px;
    top:40px;
    width:90px;
    height:40px;
}

#u410_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u411 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u412 {
    position:absolute;
    left:0px;
    top:160px;
    width:101px;
    height:81px;
    overflow:hidden;
}

#pd0u412 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:81px;
    
}

.u413_mouseOver {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_mouseOver.png');
}

.u413_selected {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_selected.png');
}

.u413_normal {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_normal.png');
}

.u413_container {
    position:absolute;
    left:10px;
    top:0px;
    width:90px;
    height:40px;
}

#u413_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u414 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u415_mouseOver {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_mouseOver.png');
}

.u415_selected {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_selected.png');
}

.u415_normal {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_normal.png');
}

.u415_container {
    position:absolute;
    left:10px;
    top:40px;
    width:90px;
    height:40px;
}

#u415_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u416 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u417 {
    position:absolute;
    left:0px;
    top:200px;
    width:101px;
    height:81px;
    overflow:hidden;
}

#pd0u417 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:81px;
    
}

.u418_mouseOver {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_mouseOver.png');
}

.u418_selected {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_selected.png');
}

.u418_normal {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_normal.png');
}

.u418_container {
    position:absolute;
    left:10px;
    top:0px;
    width:90px;
    height:40px;
}

#u418_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u419 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u420_mouseOver {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_mouseOver.png');
}

.u420_selected {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_selected.png');
}

.u420_normal {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_normal.png');
}

.u420_container {
    position:absolute;
    left:10px;
    top:40px;
    width:90px;
    height:40px;
}

#u420_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u421 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u422 {
    position:absolute;
    left:0px;
    top:280px;
    width:101px;
    height:81px;
    overflow:hidden;
}

#pd0u422 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:81px;
    
}

.u423_mouseOver {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_mouseOver.png');
}

.u423_selected {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_selected.png');
}

.u423_normal {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_normal.png');
}

.u423_container {
    position:absolute;
    left:10px;
    top:0px;
    width:90px;
    height:40px;
}

#u423_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u424 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u425_mouseOver {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_mouseOver.png');
}

.u425_selected {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_selected.png');
}

.u425_normal {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_normal.png');
}

.u425_container {
    position:absolute;
    left:10px;
    top:40px;
    width:90px;
    height:40px;
}

#u425_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u426 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u427 {
    position:absolute;
    left:0px;
    top:320px;
    width:101px;
    height:81px;
    overflow:hidden;
}

#pd0u427 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:81px;
    
}

.u428_mouseOver {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_mouseOver.png');
}

.u428_selected {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_selected.png');
}

.u428_normal {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_normal.png');
}

.u428_container {
    position:absolute;
    left:10px;
    top:0px;
    width:90px;
    height:40px;
}

#u428_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u429 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u430_mouseOver {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_mouseOver.png');
}

.u430_selected {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_selected.png');
}

.u430_normal {
    background-image: url('../MenuTransfer_files/InserirNovoQuestoes_u20_normal.png');
}

.u430_container {
    position:absolute;
    left:10px;
    top:40px;
    width:90px;
    height:40px;
}

#u430_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u431 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

