﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../CadDestinatarioRegras_files/Quadrado_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:142px;
    width:1167px;
    height:243px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:249px;
}

.u1 {
    position:absolute;
    left:2px;
    top:114px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:114px;
    top:100px;
    width:254px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../CadDestinatarioRegras_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:140px;
    top:130px;
    width:151px;
    height:25px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:31px;
}

.u4 {
    position:absolute;
    left:2px;
    top:4px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:150px;
    top:160px;
    width:227px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../CadDestinatarioRegras_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u6 {
    position:absolute;
    left:138px;
    top:174px;
    width:1130px;
    height:10px;
    
}

.u7_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u24_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u8 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../MenuPrincipal_files/preto_u26_normal.png');
}

.u9_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u10 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../MenuPrincipal_files/Logo_u28_normal.png');
}

.u11_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u12 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u32_normal.png');
}

.u15_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u16 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u32_normal.png');
}

.u17_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u18 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u36_normal.png');
}

.u19_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u20 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u38_normal.png');
}

.u21_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u22 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u40_normal.png');
}

.u23_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u24 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u26 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u26 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u27_normal {
    background-image: url('../BuscaMenu_files/u44_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u28 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u54_normal.png');
}

.u37_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u38 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u40_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u40_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u40_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u41 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u42_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u42_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u42_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u43 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u44_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u44_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u44_container {
    position:absolute;
    left:444px;
    top:2px;
    width:148px;
    height:25px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u45 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u46_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u46_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u46_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u47 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u48_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u48_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u48_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u49 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u50_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u50_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u50_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u51 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u52_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u52_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u52_container {
    position:absolute;
    left:296px;
    top:2px;
    width:148px;
    height:25px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u53 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u71_mouseOver.png');
}

.u54_selected {
    background-image: url('../MenuPrincipal_files/Sair_u71_selected.png');
}

.u54_normal {
    background-image: url('../MenuPrincipal_files/Sair_u71_selected.png');
}

.u54_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u55 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_mouseOver {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_mouseOver.png');
}

.u57_selected {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_selected.png');
}

.u57_normal {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:121px;
    width:100px;
    height:40px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u58 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_mouseOver {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_mouseOver.png');
}

.u59_selected {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_selected.png');
}

.u59_normal {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:81px;
    width:100px;
    height:40px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u60 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_mouseOver {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_mouseOver.png');
}

.u61_selected {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_selected.png');
}

.u61_normal {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:161px;
    width:100px;
    height:40px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u62 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u63 {
    position:absolute;
    left:0px;
    top:201px;
    width:101px;
    height:201px;
    overflow:hidden;
}

#pd0u63 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:201px;
    
}

.u64_mouseOver {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png');
}

.u64_selected {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_selected.png');
}

.u64_normal {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_normal.png');
}

.u64_container {
    position:absolute;
    left:15px;
    top:40px;
    width:85px;
    height:40px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u65 {
    position:absolute;
    left:2px;
    top:5px;
    width:81px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_mouseOver {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png');
}

.u66_selected {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_selected.png');
}

.u66_normal {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_normal.png');
}

.u66_container {
    position:absolute;
    left:15px;
    top:0px;
    width:85px;
    height:40px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u67 {
    position:absolute;
    left:2px;
    top:5px;
    width:81px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_mouseOver {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png');
}

.u68_selected {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_selected.png');
}

.u68_normal {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_normal.png');
}

.u68_container {
    position:absolute;
    left:15px;
    top:120px;
    width:85px;
    height:40px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u69 {
    position:absolute;
    left:2px;
    top:5px;
    width:81px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_mouseOver {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png');
}

.u70_selected {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_selected.png');
}

.u70_normal {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_normal.png');
}

.u70_container {
    position:absolute;
    left:15px;
    top:80px;
    width:85px;
    height:40px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u71 {
    position:absolute;
    left:2px;
    top:12px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_mouseOver {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png');
}

.u72_selected {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_selected.png');
}

.u72_normal {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_normal.png');
}

.u72_container {
    position:absolute;
    left:15px;
    top:160px;
    width:85px;
    height:40px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u73 {
    position:absolute;
    left:2px;
    top:12px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:152px;
    top:298px;
    width:227px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_line {
    background-image: url('../CadDestinatarioRegras_files/u84_line.png');
}

.u84_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u84 {
    position:absolute;
    left:140px;
    top:312px;
    width:1130px;
    height:10px;
    
}

.u85 {
    position:absolute;
    left:157px;
    top:349px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u86 {
    position:absolute;
    left:157px;
    top:327px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../CadDestinatarioRegras_files/GravarJornada_u87_normal.png');
}

.u87_container {
    position:absolute;
    left:1085px;
    top:400px;
    width:100px;
    height:25px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u88 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../CadDestinatarioRegras_files/GravarJornada_u87_normal.png');
}

.u89_container {
    position:absolute;
    left:1185px;
    top:400px;
    width:100px;
    height:25px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u90 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

