﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../CadCheckpoint_files/Quadrado_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:142px;
    width:1167px;
    height:559px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:565px;
}

.u1 {
    position:absolute;
    left:2px;
    top:272px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:114px;
    top:100px;
    width:471px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../CadCheckpoint_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:140px;
    top:130px;
    width:140px;
    height:25px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u4 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../CadCheckpoint_files/GravarJornada_u5_normal.png');
}

.u5_container {
    position:absolute;
    left:1087px;
    top:711px;
    width:100px;
    height:25px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u6 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../CadCheckpoint_files/GravarJornada_u5_normal.png');
}

.u7_container {
    position:absolute;
    left:1187px;
    top:711px;
    width:100px;
    height:25px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:149px;
    top:181px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:149px;
    top:159px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:158px;
    top:510px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_line {
    background-image: url('../CadCheckpoint_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1120px;
    height:3px;
}

.u12 {
    position:absolute;
    left:140px;
    top:524px;
    width:1120px;
    height:10px;
    
}

.u14 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:149px;
    top:544px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../CadCheckpoint_files/AdicionarEspera_u20_normal.png');
}

.u20_container {
    position:absolute;
    left:1129px;
    top:570px;
    width:122px;
    height:25px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:31px;
}

.u21 {
    position:absolute;
    left:2px;
    top:4px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u22 {
    position:absolute;
    left:130px;
    top:603px;
    width:1148px;
    height:88px;
    overflow:hidden;
}

#pd0u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:1148px;
    height:88px;
    
}

.u23_normal {
    background-image: url('../CadCheckpoint_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:31px;
    width:1147px;
    height:26px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1153px;
    height:32px;
}

.u24 {
    position:absolute;
    left:2px;
    top:5px;
    width:1143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../CadCheckpoint_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:0px;
    width:472px;
    height:30px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:478px;
    height:36px;
}

.u26 {
    position:absolute;
    left:2px;
    top:7px;
    width:468px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../CadCheckpoint_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:472px;
    top:0px;
    width:250px;
    height:30px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:36px;
}

.u28 {
    position:absolute;
    left:2px;
    top:7px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../CadCheckpoint_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:930px;
    top:0px;
    width:166px;
    height:30px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:36px;
}

.u30 {
    position:absolute;
    left:2px;
    top:7px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:10px;
    top:36px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:482px;
    top:36px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:942px;
    top:36px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../CadCheckpoint_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:58px;
    width:1147px;
    height:26px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1153px;
    height:32px;
}

.u35 {
    position:absolute;
    left:2px;
    top:5px;
    width:1143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../CadCheckpoint_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:1102px;
    top:34px;
    width:20px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../CadCheckpoint_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:1124px;
    top:34px;
    width:20px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../CadCheckpoint_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:1096px;
    top:0px;
    width:50px;
    height:30px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:36px;
}

.u41 {
    position:absolute;
    left:2px;
    top:7px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../CadCheckpoint_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:721px;
    top:0px;
    width:209px;
    height:30px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:215px;
    height:36px;
}

.u43 {
    position:absolute;
    left:2px;
    top:7px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:10px;
    top:63px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:482px;
    top:63px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:942px;
    top:63px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../CadCheckpoint_files/u36_normal.png');
}

.u47_container {
    position:absolute;
    left:1102px;
    top:61px;
    width:20px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../CadCheckpoint_files/u38_normal.png');
}

.u49_container {
    position:absolute;
    left:1124px;
    top:61px;
    width:20px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:734px;
    top:36px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:734px;
    top:63px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:149px;
    top:568px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u54 {
    position:absolute;
    left:149px;
    top:593px;
    width:301px;
    height:131px;
    overflow:hidden;
}

#pd0u54 {
    position:absolute;
    left:0px;
    top:0px;
    width:301px;
    height:131px;
    
}

.u55_normal {
    background-image: url('../Copy_of_Dynamic_search_box_files/u59_normal.png');
}

.u55_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u56 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u22_normal.png');
}

.u66_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u67 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../MenuPrincipal_files/preto_u24_normal.png');
}

.u68_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u69 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../MenuPrincipal_files/Logo_u26_normal.png');
}

.u70_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u71 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u74_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u75 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u76_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u77 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u34_normal.png');
}

.u78_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u79 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u36_normal.png');
}

.u80_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u81 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u38_normal.png');
}

.u82_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u83 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u85 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u85 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u86_normal {
    background-image: url('../BuscaMenu_files/u42_normal.png');
}

.u86_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u87 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u52_normal.png');
}

.u96_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u97 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u99_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u99_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u99_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u100 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_mouseOver {
    background-image: url('../MenuPrincipal_files/Transfer_u57_mouseOver.png');
}

.u101_selected {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u101_normal {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u101_container {
    position:absolute;
    left:296px;
    top:2px;
    width:296px;
    height:25px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:31px;
}

.u102 {
    position:absolute;
    left:2px;
    top:4px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u103_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u103_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u103_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u104 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u105_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u105_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u105_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u106 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_mouseOver {
    background-image: url('../MenuPrincipal_files/CadastroBasico_u63_mouseOver.png');
}

.u107_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u107_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u107_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u108 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u109_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u109_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u109_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u110 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u67_mouseOver.png');
}

.u111_selected {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u111_normal {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u111_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u112 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:149px;
    top:244px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u115 {
    position:absolute;
    left:149px;
    top:222px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:549px;
    top:244px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u117 {
    position:absolute;
    left:549px;
    top:222px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:951px;
    top:244px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u119 {
    position:absolute;
    left:951px;
    top:222px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:149px;
    top:432px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u121 {
    position:absolute;
    left:149px;
    top:410px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u122_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u122_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u122_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u123 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u124_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u124_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u124_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u125 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u126 {
    position:absolute;
    left:0px;
    top:160px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u126 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u127_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u127_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u127_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u127_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u128 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u129 {
    position:absolute;
    left:0px;
    top:200px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u129 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u130_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u130_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u130_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u130_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u131 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u132 {
    position:absolute;
    left:0px;
    top:240px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u132 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u133_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u133_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u133_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u133_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u134 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u135 {
    position:absolute;
    left:0px;
    top:280px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u135 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u136_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u136_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u136_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u136_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u137 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u138 {
    position:absolute;
    left:0px;
    top:320px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u138 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u139_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u139_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u139_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u139_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u140 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u141 {
    position:absolute;
    left:0px;
    top:360px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u141 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u142_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u142_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u142_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u142_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u143 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u144 {
    position:absolute;
    left:0px;
    top:400px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u144 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u145_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u145_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u145_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u145_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u146 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u147 {
    position:absolute;
    left:10px;
    top:200px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u147 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u148_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u148_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u148_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u148_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u149 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u150_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u150_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u150_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u151 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u152 {
    position:absolute;
    left:10px;
    top:240px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u152 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u153_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u153_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u153_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u153_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u154 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u155_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u155_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u155_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u156 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u157 {
    position:absolute;
    left:10px;
    top:280px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u157 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u158_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u158_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u158_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u158_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u159 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u160_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u160_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u160_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u160_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u161 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u162 {
    position:absolute;
    left:10px;
    top:320px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u162 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u163_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u163_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u163_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u163_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u163_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u164 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u165_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u165_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u165_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u165_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u166 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u167 {
    position:absolute;
    left:10px;
    top:360px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u167 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u168_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u168_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u168_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u168_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u169 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u170_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u170_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u170_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u171 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u172 {
    position:absolute;
    left:10px;
    top:160px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u172 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u173_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u173_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u173_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u173_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u174 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u175_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u175_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u175_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u175_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u176 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u177 {
    position:absolute;
    left:10px;
    top:400px;
    width:91px;
    height:241px;
    overflow:hidden;
}

#pd0u177 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:241px;
    
}

.u178_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u178_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u178_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u178_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u179 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u180_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u180_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u180_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u180_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u181 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u182_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u182_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u182_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u183 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u184 {
    position:absolute;
    left:0px;
    top:120px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u184 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u185_mouseOver {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u185_selected {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_selected.png');
}

.u185_normal {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u185_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u185_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u186 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187_mouseOver {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u187_selected {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_selected.png');
}

.u187_normal {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u187_container {
    position:absolute;
    left:0px;
    top:40px;
    width:90px;
    height:40px;
}

#u187_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u188 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u189 {
    position:absolute;
    left:0px;
    top:120px;
    width:91px;
    height:41px;
    overflow:hidden;
}

#pd0u189 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:41px;
    
}

.u190_mouseOver {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u190_selected {
    background-image: url('../MenuTransfer_files/ListagemPersonagem_u72_selected.png');
}

.u190_normal {
    background-image: url('../MenuTransfer_files/ListagemPersonagem_u72_normal.png');
}

.u190_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u190_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u191 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u192 {
    position:absolute;
    left:10px;
    top:440px;
    width:91px;
    height:161px;
    overflow:hidden;
}

#pd0u192 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:161px;
    
}

.u193_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u193_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u193_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u193_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u193_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u194 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u195_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u195_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u195_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u195_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u196 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u197_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u197_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u197_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u197_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u198 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u199_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u199_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u199_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u199_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u200 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202 {
    position:absolute;
    left:951px;
    top:364px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u203 {
    position:absolute;
    left:149px;
    top:364px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u204 {
    position:absolute;
    left:149px;
    top:342px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205 {
    position:absolute;
    left:554px;
    top:364px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u206 {
    position:absolute;
    left:554px;
    top:342px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207 {
    position:absolute;
    left:951px;
    top:342px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208 {
    position:absolute;
    left:149px;
    top:307px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u209 {
    position:absolute;
    left:149px;
    top:285px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210 {
    position:absolute;
    left:951px;
    top:307px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u211 {
    position:absolute;
    left:951px;
    top:285px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

