﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../CadNFBasicos_files/Quadrado_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:142px;
    width:1167px;
    height:2014px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:2020px;
}

.u1 {
    position:absolute;
    left:2px;
    top:999px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:114px;
    top:100px;
    width:471px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../CadNFBasicos_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:140px;
    top:130px;
    width:140px;
    height:25px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u4 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../CadNFBasicos_files/GravarJornada_u5_normal.png');
}

.u5_container {
    position:absolute;
    left:1087px;
    top:2165px;
    width:100px;
    height:25px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u6 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../CadNFBasicos_files/GravarJornada_u5_normal.png');
}

.u7_container {
    position:absolute;
    left:1187px;
    top:2165px;
    width:100px;
    height:25px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:149px;
    top:181px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:149px;
    top:159px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:149px;
    top:244px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:149px;
    top:222px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u13_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u13_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u14 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u15_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u15_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u16 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u17 {
    position:absolute;
    left:0px;
    top:160px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u18_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u18_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u18_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u19 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u20 {
    position:absolute;
    left:0px;
    top:200px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u20 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u21_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u21_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u21_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u22 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u23 {
    position:absolute;
    left:0px;
    top:240px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u24_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u24_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u24_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u25 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u26 {
    position:absolute;
    left:0px;
    top:280px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u26 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u27_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u27_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u27_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u28 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u29 {
    position:absolute;
    left:0px;
    top:320px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u29 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u30_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u30_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u30_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u31 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u32 {
    position:absolute;
    left:0px;
    top:360px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u32 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u33_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u33_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u33_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u34 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u35 {
    position:absolute;
    left:0px;
    top:400px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u35 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u36_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u36_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u36_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u37 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u38 {
    position:absolute;
    left:10px;
    top:200px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u38 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u39_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u39_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u39_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u40 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u41_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u41_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u42 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u43 {
    position:absolute;
    left:10px;
    top:240px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u44_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u44_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u44_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u45 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u46_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u46_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u47 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u48 {
    position:absolute;
    left:10px;
    top:280px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u48 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u49_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u49_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u49_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u50 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u51_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u51_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u52 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u53 {
    position:absolute;
    left:10px;
    top:320px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u53 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u54_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u54_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u54_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u55 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u56_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u56_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u57 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u58 {
    position:absolute;
    left:10px;
    top:360px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u58 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u59_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u59_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u59_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u60 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u61_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u61_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u62 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u63 {
    position:absolute;
    left:10px;
    top:160px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u63 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u64_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u64_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u64_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u65 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u66_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u66_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u66_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u67 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u68 {
    position:absolute;
    left:10px;
    top:400px;
    width:91px;
    height:241px;
    overflow:hidden;
}

#pd0u68 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:241px;
    
}

.u69_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u69_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u69_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u70 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u71_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u71_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u72 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u73_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u73_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u74 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u75 {
    position:absolute;
    left:0px;
    top:120px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u75 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u76_mouseOver {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u76_selected {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_selected.png');
}

.u76_normal {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u76_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u77 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_mouseOver {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u78_selected {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_selected.png');
}

.u78_normal {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u78_container {
    position:absolute;
    left:0px;
    top:40px;
    width:90px;
    height:40px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u79 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u80 {
    position:absolute;
    left:0px;
    top:120px;
    width:91px;
    height:41px;
    overflow:hidden;
}

#pd0u80 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:41px;
    
}

.u81_mouseOver {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u81_selected {
    background-image: url('../MenuTransfer_files/ListagemPersonagem_u72_selected.png');
}

.u81_normal {
    background-image: url('../MenuTransfer_files/ListagemPersonagem_u72_normal.png');
}

.u81_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u82 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u83 {
    position:absolute;
    left:10px;
    top:440px;
    width:91px;
    height:161px;
    overflow:hidden;
}

#pd0u83 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:161px;
    
}

.u84_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u84_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u84_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u84_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u85 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u86_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u86_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u86_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u87 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u88_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u88_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u88_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u89 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u90_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u90_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u90_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u91 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:158px;
    top:350px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_line {
    background-image: url('../CadNFBasicos_files/u94_line.png');
}

.u94_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1120px;
    height:3px;
}

.u94 {
    position:absolute;
    left:140px;
    top:364px;
    width:1120px;
    height:10px;
    
}

.u95 {
    position:absolute;
    left:149px;
    top:309px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u96 {
    position:absolute;
    left:149px;
    top:287px;
    width:293px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:955px;
    top:178px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u98 {
    position:absolute;
    left:955px;
    top:156px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:955px;
    top:244px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u100 {
    position:absolute;
    left:955px;
    top:222px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:554px;
    top:309px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u102 {
    position:absolute;
    left:554px;
    top:287px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:951px;
    top:523px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u104 {
    position:absolute;
    left:149px;
    top:402px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u105 {
    position:absolute;
    left:149px;
    top:380px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:149px;
    top:523px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u107 {
    position:absolute;
    left:149px;
    top:501px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:554px;
    top:523px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u109 {
    position:absolute;
    left:554px;
    top:501px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:951px;
    top:501px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:149px;
    top:466px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u112 {
    position:absolute;
    left:149px;
    top:444px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:951px;
    top:466px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u114 {
    position:absolute;
    left:951px;
    top:444px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:623px;
    top:402px;
    width:231px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u116 {
    position:absolute;
    left:554px;
    top:380px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:554px;
    top:402px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u118 {
    position:absolute;
    left:158px;
    top:565px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_line {
    background-image: url('../CadNFBasicos_files/u119_line.png');
}

.u119_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1120px;
    height:3px;
}

.u119 {
    position:absolute;
    left:140px;
    top:579px;
    width:1120px;
    height:10px;
    
}

.u120 {
    position:absolute;
    left:951px;
    top:738px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u121 {
    position:absolute;
    left:149px;
    top:617px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u122 {
    position:absolute;
    left:149px;
    top:595px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:149px;
    top:738px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u124 {
    position:absolute;
    left:149px;
    top:716px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:554px;
    top:738px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u126 {
    position:absolute;
    left:554px;
    top:716px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:951px;
    top:716px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:149px;
    top:681px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u129 {
    position:absolute;
    left:149px;
    top:659px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:951px;
    top:681px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u131 {
    position:absolute;
    left:951px;
    top:659px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:149px;
    top:850px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u133 {
    position:absolute;
    left:149px;
    top:828px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:158px;
    top:954px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_line {
    background-image: url('../CadNFBasicos_files/u135_line.png');
}

.u135_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1120px;
    height:3px;
}

.u135 {
    position:absolute;
    left:140px;
    top:968px;
    width:1120px;
    height:10px;
    
}

.u136 {
    position:absolute;
    left:149px;
    top:913px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u137 {
    position:absolute;
    left:149px;
    top:891px;
    width:293px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:955px;
    top:847px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u139 {
    position:absolute;
    left:955px;
    top:825px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:554px;
    top:913px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u141 {
    position:absolute;
    left:554px;
    top:891px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:951px;
    top:1127px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u143 {
    position:absolute;
    left:149px;
    top:1006px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u144 {
    position:absolute;
    left:149px;
    top:984px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:149px;
    top:1127px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u146 {
    position:absolute;
    left:149px;
    top:1105px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:554px;
    top:1127px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u148 {
    position:absolute;
    left:554px;
    top:1105px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:951px;
    top:1105px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:149px;
    top:1070px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u151 {
    position:absolute;
    left:149px;
    top:1048px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:951px;
    top:1070px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u153 {
    position:absolute;
    left:951px;
    top:1048px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:623px;
    top:1006px;
    width:231px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u155 {
    position:absolute;
    left:554px;
    top:984px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:554px;
    top:1006px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u157 {
    position:absolute;
    left:158px;
    top:1169px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_line {
    background-image: url('../CadNFBasicos_files/u158_line.png');
}

.u158_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1120px;
    height:3px;
}

.u158 {
    position:absolute;
    left:140px;
    top:1183px;
    width:1120px;
    height:10px;
    
}

.u159 {
    position:absolute;
    left:951px;
    top:1342px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u160 {
    position:absolute;
    left:149px;
    top:1221px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u161 {
    position:absolute;
    left:149px;
    top:1199px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:149px;
    top:1342px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u163 {
    position:absolute;
    left:149px;
    top:1320px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:554px;
    top:1342px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u165 {
    position:absolute;
    left:554px;
    top:1320px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:951px;
    top:1320px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:149px;
    top:1285px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u168 {
    position:absolute;
    left:149px;
    top:1263px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:951px;
    top:1285px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u170 {
    position:absolute;
    left:951px;
    top:1263px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:158px;
    top:782px;
    width:186px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_line {
    background-image: url('../CadNFBasicos_files/u172_line.png');
}

.u172_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1120px;
    height:3px;
}

.u172 {
    position:absolute;
    left:140px;
    top:796px;
    width:1120px;
    height:10px;
    
}

.u173 {
    position:absolute;
    left:149px;
    top:1440px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u174 {
    position:absolute;
    left:149px;
    top:1418px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:158px;
    top:1600px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176_line {
    background-image: url('../CadNFBasicos_files/u176_line.png');
}

.u176_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1120px;
    height:3px;
}

.u176 {
    position:absolute;
    left:140px;
    top:1614px;
    width:1120px;
    height:10px;
    
}

.u177 {
    position:absolute;
    left:149px;
    top:1503px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u178 {
    position:absolute;
    left:149px;
    top:1481px;
    width:293px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:955px;
    top:1437px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u180 {
    position:absolute;
    left:955px;
    top:1415px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:951px;
    top:1773px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u182 {
    position:absolute;
    left:149px;
    top:1652px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u183 {
    position:absolute;
    left:149px;
    top:1630px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:149px;
    top:1773px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u185 {
    position:absolute;
    left:149px;
    top:1751px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:554px;
    top:1773px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u187 {
    position:absolute;
    left:554px;
    top:1751px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:951px;
    top:1751px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:149px;
    top:1716px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u190 {
    position:absolute;
    left:149px;
    top:1694px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:951px;
    top:1716px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u192 {
    position:absolute;
    left:951px;
    top:1694px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193 {
    position:absolute;
    left:623px;
    top:1652px;
    width:231px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u194 {
    position:absolute;
    left:554px;
    top:1630px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:554px;
    top:1652px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u196 {
    position:absolute;
    left:158px;
    top:1388px;
    width:186px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197_line {
    background-image: url('../CadNFBasicos_files/u197_line.png');
}

.u197_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1120px;
    height:3px;
}

.u197 {
    position:absolute;
    left:140px;
    top:1402px;
    width:1120px;
    height:10px;
    
}

.u198 {
    position:absolute;
    left:1187px;
    top:1565px;
    width:64px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u199 {
    position:absolute;
    left:149px;
    top:1565px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u200 {
    position:absolute;
    left:149px;
    top:1543px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201 {
    position:absolute;
    left:951px;
    top:1543px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202 {
    position:absolute;
    left:951px;
    top:1564px;
    width:226px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u203 {
    position:absolute;
    left:554px;
    top:1565px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u204 {
    position:absolute;
    left:554px;
    top:1543px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205 {
    position:absolute;
    left:158px;
    top:1811px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206_line {
    background-image: url('../CadNFBasicos_files/u206_line.png');
}

.u206_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1120px;
    height:3px;
}

.u206 {
    position:absolute;
    left:140px;
    top:1825px;
    width:1120px;
    height:10px;
    
}

.u207 {
    position:absolute;
    left:149px;
    top:1863px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u208 {
    position:absolute;
    left:149px;
    top:1841px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209 {
    position:absolute;
    left:554px;
    top:1863px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u210 {
    position:absolute;
    left:554px;
    top:1841px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211 {
    position:absolute;
    left:951px;
    top:1863px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u212 {
    position:absolute;
    left:951px;
    top:1841px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213 {
    position:absolute;
    left:149px;
    top:1927px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u214 {
    position:absolute;
    left:149px;
    top:1905px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u215 {
    position:absolute;
    left:554px;
    top:1927px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u216 {
    position:absolute;
    left:554px;
    top:1905px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217 {
    position:absolute;
    left:951px;
    top:1927px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u218 {
    position:absolute;
    left:951px;
    top:1905px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u219_normal {
    background-image: url('../CadNFBasicos_files/GravarJornada_u5_normal.png');
}

.u219_container {
    position:absolute;
    left:1169px;
    top:1962px;
    width:100px;
    height:25px;
}

#u219_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u220 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u221_line {
    background-image: url('../CadNFBasicos_files/u221_line.png');
}

.u221_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1120px;
    height:3px;
}

.u221 {
    position:absolute;
    left:140px;
    top:1997px;
    width:1120px;
    height:10px;
    
}

.u222_normal {
    background-image: url('../CadNFBasicos_files/u222_normal.png');
}

.u222_container {
    position:absolute;
    left:1181px;
    top:2010px;
    width:70px;
    height:30px;
}

#u222_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:36px;
}

.u223 {
    position:absolute;
    left:2px;
    top:7px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224_normal {
    background-image: url('../CadNFBasicos_files/u224_normal.png');
}

.u224_container {
    position:absolute;
    left:140px;
    top:2010px;
    width:174px;
    height:30px;
}

#u224_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:36px;
}

.u225 {
    position:absolute;
    left:2px;
    top:7px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u226 {
    position:absolute;
    left:140px;
    top:2040px;
    width:1112px;
    height:108px;
    overflow:hidden;
}

#pd0u226 {
    position:absolute;
    left:0px;
    top:0px;
    width:1112px;
    height:108px;
    
}

.u227_normal {
    background-image: url('../CadNFBasicos_files/u227_normal.png');
}

.u227_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1119px;
    height:26px;
}

#u227_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1125px;
    height:32px;
}

.u228 {
    position:absolute;
    left:2px;
    top:5px;
    width:1115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u229_normal {
    background-image: url('../CadNFBasicos_files/u227_normal.png');
}

.u229_container {
    position:absolute;
    left:0px;
    top:54px;
    width:1119px;
    height:26px;
}

#u229_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1125px;
    height:32px;
}

.u230 {
    position:absolute;
    left:2px;
    top:5px;
    width:1115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u231 {
    position:absolute;
    left:10px;
    top:5px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u232_normal {
    background-image: url('../CadNFBasicos_files/u232_normal.png');
}

.u232_container {
    position:absolute;
    left:0px;
    top:27px;
    width:1119px;
    height:26px;
}

#u232_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1125px;
    height:32px;
}

.u233 {
    position:absolute;
    left:2px;
    top:5px;
    width:1115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u234 {
    position:absolute;
    left:10px;
    top:32px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u235 {
    position:absolute;
    left:10px;
    top:59px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u236_normal {
    background-image: url('../CadNFBasicos_files/u232_normal.png');
}

.u236_container {
    position:absolute;
    left:0px;
    top:81px;
    width:1119px;
    height:26px;
}

#u236_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1125px;
    height:32px;
}

.u237 {
    position:absolute;
    left:2px;
    top:5px;
    width:1115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u238 {
    position:absolute;
    left:10px;
    top:86px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u239_normal {
    background-image: url('../CadNFBasicos_files/u239_normal.png');
}

.u239_container {
    position:absolute;
    left:1085px;
    top:3px;
    width:20px;
    height:20px;
}

#u239_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u240 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u241_normal {
    background-image: url('../CadNFBasicos_files/u239_normal.png');
}

.u241_container {
    position:absolute;
    left:1085px;
    top:57px;
    width:20px;
    height:20px;
}

#u241_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u242 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u243_normal {
    background-image: url('../CadNFBasicos_files/u239_normal.png');
}

.u243_container {
    position:absolute;
    left:1085px;
    top:30px;
    width:20px;
    height:20px;
}

#u243_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u244 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u245_normal {
    background-image: url('../CadNFBasicos_files/u239_normal.png');
}

.u245_container {
    position:absolute;
    left:1085px;
    top:84px;
    width:20px;
    height:20px;
}

#u245_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u246 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u247_normal {
    background-image: url('../CadNFBasicos_files/u247_normal.png');
}

.u247_container {
    position:absolute;
    left:1061px;
    top:3px;
    width:20px;
    height:20px;
}

#u247_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u248 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u249_normal {
    background-image: url('../CadNFBasicos_files/u247_normal.png');
}

.u249_container {
    position:absolute;
    left:1061px;
    top:30px;
    width:20px;
    height:20px;
}

#u249_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u250 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u251_normal {
    background-image: url('../CadNFBasicos_files/u247_normal.png');
}

.u251_container {
    position:absolute;
    left:1061px;
    top:57px;
    width:20px;
    height:20px;
}

#u251_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u252 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u253_normal {
    background-image: url('../CadNFBasicos_files/u247_normal.png');
}

.u253_container {
    position:absolute;
    left:1061px;
    top:84px;
    width:20px;
    height:20px;
}

#u253_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u254 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u255 {
    position:absolute;
    left:184px;
    top:5px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u256 {
    position:absolute;
    left:184px;
    top:32px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u257 {
    position:absolute;
    left:184px;
    top:59px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u258 {
    position:absolute;
    left:184px;
    top:86px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u259 {
    position:absolute;
    left:359px;
    top:5px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u260 {
    position:absolute;
    left:359px;
    top:32px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u261 {
    position:absolute;
    left:359px;
    top:59px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u262 {
    position:absolute;
    left:359px;
    top:86px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u263 {
    position:absolute;
    left:534px;
    top:5px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u264 {
    position:absolute;
    left:534px;
    top:32px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u265 {
    position:absolute;
    left:534px;
    top:59px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u266 {
    position:absolute;
    left:534px;
    top:86px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u267 {
    position:absolute;
    left:708px;
    top:5px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u268 {
    position:absolute;
    left:708px;
    top:32px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u269 {
    position:absolute;
    left:708px;
    top:59px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u270 {
    position:absolute;
    left:708px;
    top:86px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u271 {
    position:absolute;
    left:882px;
    top:5px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u272 {
    position:absolute;
    left:882px;
    top:32px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u273 {
    position:absolute;
    left:882px;
    top:59px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u274 {
    position:absolute;
    left:882px;
    top:86px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u275_normal {
    background-image: url('../CadNFBasicos_files/u224_normal.png');
}

.u275_container {
    position:absolute;
    left:314px;
    top:2010px;
    width:174px;
    height:30px;
}

#u275_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:36px;
}

.u276 {
    position:absolute;
    left:2px;
    top:7px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u277_normal {
    background-image: url('../CadNFBasicos_files/u224_normal.png');
}

.u277_container {
    position:absolute;
    left:489px;
    top:2010px;
    width:174px;
    height:30px;
}

#u277_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:36px;
}

.u278 {
    position:absolute;
    left:2px;
    top:7px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u279_normal {
    background-image: url('../CadNFBasicos_files/u224_normal.png');
}

.u279_container {
    position:absolute;
    left:664px;
    top:2010px;
    width:174px;
    height:30px;
}

#u279_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:36px;
}

.u280 {
    position:absolute;
    left:2px;
    top:7px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u281_normal {
    background-image: url('../CadNFBasicos_files/u224_normal.png');
}

.u281_container {
    position:absolute;
    left:838px;
    top:2010px;
    width:174px;
    height:30px;
}

#u281_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:36px;
}

.u282 {
    position:absolute;
    left:2px;
    top:7px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u283_normal {
    background-image: url('../CadNFBasicos_files/u224_normal.png');
}

.u283_container {
    position:absolute;
    left:1012px;
    top:2010px;
    width:174px;
    height:30px;
}

#u283_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:36px;
}

.u284 {
    position:absolute;
    left:2px;
    top:7px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u285_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u22_normal.png');
}

.u285_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u285_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u286 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u287_normal {
    background-image: url('../MenuPrincipal_files/preto_u24_normal.png');
}

.u287_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u287_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u288 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u289_normal {
    background-image: url('../MenuPrincipal_files/Logo_u26_normal.png');
}

.u289_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u289_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u290 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u291 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u292 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u293_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u293_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u293_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u294 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u295_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u295_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u295_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u296 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u297_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u34_normal.png');
}

.u297_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u297_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u298 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u299_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u36_normal.png');
}

.u299_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u299_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u300 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u301_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u38_normal.png');
}

.u301_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u301_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u302 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u303 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u304 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u304 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u305_normal {
    background-image: url('../BuscaMenu_files/u42_normal.png');
}

.u305_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u305_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u306 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u307 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u308 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u309 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u310 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u311 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u312 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u313 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u314 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u315_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u52_normal.png');
}

.u315_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u315_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u316 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u318_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u318_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u318_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u318_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u318_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u319 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u320_mouseOver {
    background-image: url('../MenuPrincipal_files/Transfer_u57_mouseOver.png');
}

.u320_selected {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u320_normal {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u320_container {
    position:absolute;
    left:296px;
    top:2px;
    width:296px;
    height:25px;
}

#u320_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:31px;
}

.u321 {
    position:absolute;
    left:2px;
    top:4px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u322_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u322_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u322_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u322_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u322_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u323 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u324_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u324_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u324_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u324_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u324_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u325 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u326_mouseOver {
    background-image: url('../MenuPrincipal_files/CadastroBasico_u63_mouseOver.png');
}

.u326_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u326_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u326_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u326_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u327 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u328_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u328_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u328_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u328_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u328_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u329 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u330_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u67_mouseOver.png');
}

.u330_selected {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u330_normal {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u330_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u330_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u331 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

