﻿* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/Quadrado_u0_normal.png");
}

* html .u3_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u3_normal.png");
}

* html .u5_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/GravarJornada_u5_normal.png");
}

* html .u7_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/GravarJornada_u5_normal.png");
}

* html .u13_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u13_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u13_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u15_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u15_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u15_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u18_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u18_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u18_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u21_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u21_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u21_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u24_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u24_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u24_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u27_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u27_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u27_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u30_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u30_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u30_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u33_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u33_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u33_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u36_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u36_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u36_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u39_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u39_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u39_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u41_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u41_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u41_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u44_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u44_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u44_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u46_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u46_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u46_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u49_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u49_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u49_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u51_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u51_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u51_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u54_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u54_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u54_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u56_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u56_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u56_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u59_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u59_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u59_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u61_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u61_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u61_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u64_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u64_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u64_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u66_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u66_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u66_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u69_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u69_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u69_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u71_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u71_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u71_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u73_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u73_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u73_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u76_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png");
}

* html .u76_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DadosCadastraisNF_u67_selected.png");
}

* html .u76_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png");
}

* html .u78_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png");
}

* html .u78_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DadosCadastraisNF_u67_selected.png");
}

* html .u78_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png");
}

* html .u81_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png");
}

* html .u81_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/ListagemPersonagem_u72_selected.png");
}

* html .u81_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/ListagemPersonagem_u72_normal.png");
}

* html .u84_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u84_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u84_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u86_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u86_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u86_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u88_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u88_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u88_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u90_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u90_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u90_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u94_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u94_line.png");
}

* html .u119_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u119_line.png");
}

* html .u135_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u135_line.png");
}

* html .u158_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u158_line.png");
}

* html .u172_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u172_line.png");
}

* html .u176_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u176_line.png");
}

* html .u197_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u197_line.png");
}

* html .u206_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u206_line.png");
}

* html .u219_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/GravarJornada_u5_normal.png");
}

* html .u221_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u221_line.png");
}

* html .u222_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u222_normal.png");
}

* html .u224_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u224_normal.png");
}

* html .u227_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u227_normal.png");
}

* html .u229_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u227_normal.png");
}

* html .u232_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u232_normal.png");
}

* html .u236_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u232_normal.png");
}

* html .u239_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u239_normal.png");
}

* html .u241_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u239_normal.png");
}

* html .u243_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u239_normal.png");
}

* html .u245_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u239_normal.png");
}

* html .u247_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u247_normal.png");
}

* html .u249_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u247_normal.png");
}

* html .u251_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u247_normal.png");
}

* html .u253_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u247_normal.png");
}

* html .u275_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u224_normal.png");
}

* html .u277_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u224_normal.png");
}

* html .u279_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u224_normal.png");
}

* html .u281_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u224_normal.png");
}

* html .u283_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadNFBasicos_files/u224_normal.png");
}

* html .u285_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/MenuQuadroCinza_u22_normal.png");
}

* html .u287_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/preto_u24_normal.png");
}

* html .u289_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Logo_u26_normal.png");
}

* html .u293_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Icone1_u30_normal.png");
}

* html .u295_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Icone1_u30_normal.png");
}

* html .u297_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/IconeMensagem_u34_normal.png");
}

* html .u299_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/IconeAten_ao_u36_normal.png");
}

* html .u301_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/IconeConfig_u38_normal.png");
}

* html .u305_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="BuscaMenu_files/u42_normal.png");
}

* html .u315_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="BuscaMenu_files/BotaoBusca_u52_normal.png");
}

* html .u318_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_mouseOver.png");
}

* html .u318_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u318_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u320_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Transfer_u57_mouseOver.png");
}

* html .u320_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Transfer_u57_selected.png");
}

* html .u320_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Transfer_u57_selected.png");
}

* html .u322_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Servi_o_4_u59_mouseOver.png");
}

* html .u322_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u322_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u324_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_mouseOver.png");
}

* html .u324_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u324_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u326_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/CadastroBasico_u63_mouseOver.png");
}

* html .u326_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u326_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u328_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Servi_o_4_u59_mouseOver.png");
}

* html .u328_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u328_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u330_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Sair_u67_mouseOver.png");
}

* html .u330_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Sair_u67_selected.png");
}

* html .u330_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Sair_u67_selected.png");
}

