﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../CadJornada_files/Quadrado_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:142px;
    width:1167px;
    height:585px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:591px;
}

.u1 {
    position:absolute;
    left:2px;
    top:284px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:149px;
    top:310px;
    width:705px;
    height:80px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:554px;
    top:159px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:149px;
    top:181px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:149px;
    top:284px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:554px;
    top:182px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:951px;
    top:159px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:951px;
    top:182px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:114px;
    top:100px;
    width:254px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:149px;
    top:159px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../CadJornada_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:140px;
    top:130px;
    width:140px;
    height:25px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u14 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:554px;
    top:223px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:149px;
    top:245px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:951px;
    top:223px;
    width:300px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:149px;
    top:223px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:554px;
    top:245px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:951px;
    top:245px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:158px;
    top:422px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_line {
    background-image: url('../CadJornada_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1120px;
    height:3px;
}

.u22 {
    position:absolute;
    left:140px;
    top:436px;
    width:1120px;
    height:10px;
    
}

.u23 {
    position:absolute;
    left:158px;
    top:486px;
    width:277px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:158px;
    top:553px;
    width:291px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:158px;
    top:508px;
    width:291px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26 {
    position:absolute;
    left:158px;
    top:575px;
    width:291px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27 {
    position:absolute;
    left:563px;
    top:486px;
    width:277px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:563px;
    top:553px;
    width:291px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:563px;
    top:508px;
    width:291px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:563px;
    top:575px;
    width:291px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31 {
    position:absolute;
    left:554px;
    top:453px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u22_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u33 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../MenuPrincipal_files/preto_u24_normal.png');
}

.u34_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u35 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../MenuPrincipal_files/Logo_u26_normal.png');
}

.u36_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u37 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u40_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u41 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u42_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u43 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u34_normal.png');
}

.u44_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u45 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u36_normal.png');
}

.u46_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u47 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u38_normal.png');
}

.u48_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u49 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u51 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u52_normal {
    background-image: url('../BuscaMenu_files/u42_normal.png');
}

.u52_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u53 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u52_normal.png');
}

.u62_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u63 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u65_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u65_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u65_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u66 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_mouseOver {
    background-image: url('../MenuPrincipal_files/Transfer_u57_mouseOver.png');
}

.u67_selected {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u67_normal {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u67_container {
    position:absolute;
    left:296px;
    top:2px;
    width:296px;
    height:25px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:31px;
}

.u68 {
    position:absolute;
    left:2px;
    top:4px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u69_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u69_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u69_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u70 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u71_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u71_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u71_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u72 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_mouseOver {
    background-image: url('../MenuPrincipal_files/CadastroBasico_u63_mouseOver.png');
}

.u73_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u73_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u73_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u74 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u75_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u75_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u75_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u76 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u67_mouseOver.png');
}

.u77_selected {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u77_normal {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u77_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u78 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:158px;
    top:631px;
    width:291px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_line {
    background-image: url('../CadJornada_files/u81_line.png');
}

.u81_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1120px;
    height:3px;
}

.u81 {
    position:absolute;
    left:140px;
    top:645px;
    width:1120px;
    height:10px;
    
}

.u82 {
    position:absolute;
    left:158px;
    top:687px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u83 {
    position:absolute;
    left:158px;
    top:665px;
    width:250px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u84 {
    position:absolute;
    left:563px;
    top:665px;
    width:301px;
    height:51px;
    overflow:hidden;
}

#pd1u84 {
    position:absolute;
    left:0px;
    top:0px;
    width:301px;
    height:51px;
    
}

.u85 {
    position:absolute;
    left:0px;
    top:0px;
    width:277px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:0px;
    top:22px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd0u84 {
    position:absolute;
    left:0px;
    top:0px;
    width:301px;
    height:51px;
    
}

.u87 {
    position:absolute;
    left:0px;
    top:0px;
    width:277px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:0px;
    top:22px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u89_normal {
    background-image: url('../CadJornada_files/GravarJornada_u89_normal.png');
}

.u89_container {
    position:absolute;
    left:1187px;
    top:737px;
    width:100px;
    height:25px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u90 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../CadJornada_files/GravarNovoJornada_u91_normal.png');
}

.u91_container {
    position:absolute;
    left:1040px;
    top:737px;
    width:147px;
    height:25px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:31px;
}

.u92 {
    position:absolute;
    left:2px;
    top:4px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../CadJornada_files/GravarJornada_u89_normal.png');
}

.u93_container {
    position:absolute;
    left:940px;
    top:737px;
    width:100px;
    height:25px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u94 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u97_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u97_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u97_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u98 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u99_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u99_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u100 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u101_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u101_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u101_container {
    position:absolute;
    left:0px;
    top:160px;
    width:100px;
    height:40px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u102 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u103_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u103_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u103_container {
    position:absolute;
    left:0px;
    top:200px;
    width:100px;
    height:40px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u104 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u105_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u105_container {
    position:absolute;
    left:0px;
    top:240px;
    width:100px;
    height:40px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u106 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u107_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u107_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u107_container {
    position:absolute;
    left:0px;
    top:280px;
    width:100px;
    height:40px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u108 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u109_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u109_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u109_container {
    position:absolute;
    left:0px;
    top:320px;
    width:100px;
    height:40px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u110 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u111_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u111_container {
    position:absolute;
    left:0px;
    top:360px;
    width:100px;
    height:40px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u112 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u113_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u113_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u113_container {
    position:absolute;
    left:0px;
    top:400px;
    width:100px;
    height:40px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u114 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u115 {
    position:absolute;
    left:100px;
    top:280px;
    width:102px;
    height:81px;
    overflow:hidden;
}

#pd0u115 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:81px;
    
}

.u116_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u116_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u116_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u116_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u117 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u118_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u118_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u118_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u119 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u120 {
    position:absolute;
    left:100px;
    top:240px;
    width:102px;
    height:81px;
    overflow:hidden;
}

#pd0u120 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:81px;
    
}

.u121_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u121_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u121_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u121_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u122 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u123_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u123_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u123_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u124 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u125 {
    position:absolute;
    left:100px;
    top:320px;
    width:102px;
    height:81px;
    overflow:hidden;
}

#pd0u125 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:81px;
    
}

.u126_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u126_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u126_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u126_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u127 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u128_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u128_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u128_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u129 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u130 {
    position:absolute;
    left:100px;
    top:200px;
    width:101px;
    height:161px;
    overflow:hidden;
}

#pd0u130 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:161px;
    
}

.u131_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u131_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u131_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u131_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u132 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u133_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u133_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u134 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u135_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u135_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u135_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u136 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u137_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u137_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u137_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u138 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u139 {
    position:absolute;
    left:100px;
    top:360px;
    width:102px;
    height:81px;
    overflow:hidden;
}

#pd0u139 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:81px;
    
}

.u140_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u140_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u140_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u140_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u141 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u142_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u142_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u142_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u143 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

