﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Enviadas_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:110px;
    top:178px;
    width:1100px;
    height:26px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u1 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Enviadas_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:110px;
    top:148px;
    width:30px;
    height:30px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u3 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Enviadas_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:140px;
    top:148px;
    width:300px;
    height:30px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:7px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Enviadas_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:440px;
    top:148px;
    width:300px;
    height:30px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:36px;
}

.u7 {
    position:absolute;
    left:2px;
    top:7px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Enviadas_files/u4_normal.png');
}

.u8_container {
    position:absolute;
    left:740px;
    top:148px;
    width:300px;
    height:30px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:36px;
}

.u9 {
    position:absolute;
    left:2px;
    top:7px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Enviadas_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:1040px;
    top:148px;
    width:170px;
    height:30px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:36px;
}

.u11 {
    position:absolute;
    left:2px;
    top:7px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:150px;
    top:183px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:450px;
    top:183px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:750px;
    top:183px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:1050px;
    top:183px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Enviadas_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:110px;
    top:204px;
    width:1100px;
    height:26px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u19 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:150px;
    top:209px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:450px;
    top:209px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:750px;
    top:209px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:1050px;
    top:209px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Enviadas_files/u0_normal.png');
}

.u26_container {
    position:absolute;
    left:110px;
    top:230px;
    width:1100px;
    height:26px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u27 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:150px;
    top:235px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:450px;
    top:235px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:750px;
    top:235px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:1050px;
    top:235px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Enviadas_files/u18_normal.png');
}

.u34_container {
    position:absolute;
    left:110px;
    top:256px;
    width:1100px;
    height:26px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u35 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:150px;
    top:261px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:450px;
    top:261px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:750px;
    top:261px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:1050px;
    top:261px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Enviadas_files/u0_normal.png');
}

.u42_container {
    position:absolute;
    left:110px;
    top:282px;
    width:1100px;
    height:26px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u43 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:150px;
    top:287px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:450px;
    top:287px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:750px;
    top:287px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:1050px;
    top:287px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Enviadas_files/u18_normal.png');
}

.u50_container {
    position:absolute;
    left:110px;
    top:308px;
    width:1100px;
    height:26px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u51 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:150px;
    top:313px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:450px;
    top:313px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:750px;
    top:313px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:1050px;
    top:313px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../Enviadas_files/u0_normal.png');
}

.u58_container {
    position:absolute;
    left:110px;
    top:334px;
    width:1100px;
    height:26px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u59 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:150px;
    top:339px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:450px;
    top:339px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:750px;
    top:339px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:1050px;
    top:339px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../Enviadas_files/u18_normal.png');
}

.u66_container {
    position:absolute;
    left:110px;
    top:360px;
    width:1100px;
    height:26px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u67 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:150px;
    top:365px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:450px;
    top:365px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:750px;
    top:365px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:1050px;
    top:365px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../Enviadas_files/u0_normal.png');
}

.u74_container {
    position:absolute;
    left:110px;
    top:386px;
    width:1100px;
    height:26px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u75 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:150px;
    top:391px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:450px;
    top:391px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:750px;
    top:391px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:1050px;
    top:391px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../Enviadas_files/u18_normal.png');
}

.u82_container {
    position:absolute;
    left:110px;
    top:412px;
    width:1100px;
    height:26px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u83 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:150px;
    top:417px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:450px;
    top:417px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:750px;
    top:417px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:1050px;
    top:417px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../Enviadas_files/u0_normal.png');
}

.u90_container {
    position:absolute;
    left:110px;
    top:438px;
    width:1100px;
    height:26px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u91 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:150px;
    top:443px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:450px;
    top:443px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:750px;
    top:443px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:1050px;
    top:443px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../Enviadas_files/u18_normal.png');
}

.u98_container {
    position:absolute;
    left:110px;
    top:464px;
    width:1100px;
    height:26px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u99 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:150px;
    top:469px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:450px;
    top:469px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:750px;
    top:469px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:1050px;
    top:469px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../Enviadas_files/u0_normal.png');
}

.u106_container {
    position:absolute;
    left:110px;
    top:490px;
    width:1100px;
    height:26px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u107 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:150px;
    top:495px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:450px;
    top:495px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:750px;
    top:495px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:1050px;
    top:495px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../Enviadas_files/u18_normal.png');
}

.u114_container {
    position:absolute;
    left:110px;
    top:516px;
    width:1100px;
    height:26px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u115 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:150px;
    top:521px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:450px;
    top:521px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:750px;
    top:521px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:1050px;
    top:521px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../Enviadas_files/u0_normal.png');
}

.u122_container {
    position:absolute;
    left:110px;
    top:542px;
    width:1100px;
    height:26px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u123 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:150px;
    top:547px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:450px;
    top:547px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:750px;
    top:547px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:1050px;
    top:547px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../Enviadas_files/u18_normal.png');
}

.u130_container {
    position:absolute;
    left:110px;
    top:568px;
    width:1100px;
    height:26px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u131 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:150px;
    top:573px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:450px;
    top:573px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:750px;
    top:573px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:1050px;
    top:573px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../Enviadas_files/u0_normal.png');
}

.u138_container {
    position:absolute;
    left:110px;
    top:594px;
    width:1100px;
    height:26px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u139 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:150px;
    top:599px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:450px;
    top:599px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:750px;
    top:599px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:1050px;
    top:599px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../Enviadas_files/u18_normal.png');
}

.u146_container {
    position:absolute;
    left:110px;
    top:620px;
    width:1100px;
    height:26px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u147 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:150px;
    top:625px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:450px;
    top:625px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:750px;
    top:625px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:1050px;
    top:625px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../Enviadas_files/u0_normal.png');
}

.u154_container {
    position:absolute;
    left:110px;
    top:646px;
    width:1100px;
    height:26px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u155 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:150px;
    top:651px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:450px;
    top:651px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160 {
    position:absolute;
    left:750px;
    top:651px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:1050px;
    top:651px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../Enviadas_files/u18_normal.png');
}

.u162_container {
    position:absolute;
    left:110px;
    top:672px;
    width:1100px;
    height:26px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u163 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:150px;
    top:677px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:450px;
    top:677px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:750px;
    top:677px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:1050px;
    top:677px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../Enviadas_files/u0_normal.png');
}

.u170_container {
    position:absolute;
    left:110px;
    top:698px;
    width:1100px;
    height:26px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u171 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:150px;
    top:703px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:450px;
    top:703px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:750px;
    top:703px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:1050px;
    top:703px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_normal {
    background-image: url('../Enviadas_files/u18_normal.png');
}

.u178_container {
    position:absolute;
    left:110px;
    top:724px;
    width:1100px;
    height:26px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u179 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:150px;
    top:729px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:450px;
    top:729px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:750px;
    top:729px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:1050px;
    top:729px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186_normal {
    background-image: url('../Enviadas_files/u0_normal.png');
}

.u186_container {
    position:absolute;
    left:110px;
    top:750px;
    width:1100px;
    height:26px;
}

#u186_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u187 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190 {
    position:absolute;
    left:150px;
    top:755px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:450px;
    top:755px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:750px;
    top:755px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193 {
    position:absolute;
    left:1050px;
    top:755px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_normal {
    background-image: url('../Enviadas_files/u18_normal.png');
}

.u194_container {
    position:absolute;
    left:110px;
    top:776px;
    width:1100px;
    height:26px;
}

#u194_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u195 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198 {
    position:absolute;
    left:150px;
    top:781px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199 {
    position:absolute;
    left:450px;
    top:781px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:750px;
    top:781px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201 {
    position:absolute;
    left:1050px;
    top:781px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202_normal {
    background-image: url('../Enviadas_files/u0_normal.png');
}

.u202_container {
    position:absolute;
    left:110px;
    top:802px;
    width:1100px;
    height:26px;
}

#u202_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u203 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206 {
    position:absolute;
    left:150px;
    top:807px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207 {
    position:absolute;
    left:450px;
    top:807px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208 {
    position:absolute;
    left:750px;
    top:807px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209 {
    position:absolute;
    left:1050px;
    top:807px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210_normal {
    background-image: url('../Enviadas_files/u18_normal.png');
}

.u210_container {
    position:absolute;
    left:110px;
    top:828px;
    width:1100px;
    height:26px;
}

#u210_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u211 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214 {
    position:absolute;
    left:150px;
    top:833px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u215 {
    position:absolute;
    left:450px;
    top:833px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216 {
    position:absolute;
    left:750px;
    top:833px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217 {
    position:absolute;
    left:1050px;
    top:833px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218_normal {
    background-image: url('../Enviadas_files/u0_normal.png');
}

.u218_container {
    position:absolute;
    left:110px;
    top:854px;
    width:1100px;
    height:26px;
}

#u218_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u219 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u221 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222 {
    position:absolute;
    left:150px;
    top:859px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u223 {
    position:absolute;
    left:450px;
    top:859px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224 {
    position:absolute;
    left:750px;
    top:859px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u225 {
    position:absolute;
    left:1050px;
    top:859px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u226_normal {
    background-image: url('../Enviadas_files/u18_normal.png');
}

.u226_container {
    position:absolute;
    left:110px;
    top:880px;
    width:1100px;
    height:26px;
}

#u226_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u227 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u229 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u230 {
    position:absolute;
    left:150px;
    top:885px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u231 {
    position:absolute;
    left:450px;
    top:885px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u232 {
    position:absolute;
    left:750px;
    top:885px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u233 {
    position:absolute;
    left:1050px;
    top:885px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u234_normal {
    background-image: url('../Enviadas_files/u0_normal.png');
}

.u234_container {
    position:absolute;
    left:110px;
    top:906px;
    width:1100px;
    height:26px;
}

#u234_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u235 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u237 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u238 {
    position:absolute;
    left:150px;
    top:911px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u239 {
    position:absolute;
    left:450px;
    top:911px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u240 {
    position:absolute;
    left:750px;
    top:911px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u241 {
    position:absolute;
    left:1050px;
    top:911px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u242_normal {
    background-image: url('../Enviadas_files/u18_normal.png');
}

.u242_container {
    position:absolute;
    left:110px;
    top:932px;
    width:1100px;
    height:26px;
}

#u242_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:32px;
}

.u243 {
    position:absolute;
    left:2px;
    top:5px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u245 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u246 {
    position:absolute;
    left:150px;
    top:937px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u247 {
    position:absolute;
    left:450px;
    top:937px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u248 {
    position:absolute;
    left:750px;
    top:937px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u249 {
    position:absolute;
    left:1050px;
    top:937px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u250 {
    position:absolute;
    left:1074px;
    top:113px;
    width:136px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u251 {
    position:absolute;
    left:764px;
    top:114px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u252 {
    position:absolute;
    left:670px;
    top:118px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u253 {
    position:absolute;
    left:114px;
    top:100px;
    width:254px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u254 {
    position:absolute;
    left:1060px;
    top:974px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u255_normal {
    background-image: url('../Enviadas_files/u255_normal.png');
}

.u255_container {
    position:absolute;
    left:1207px;
    top:977px;
    width:10px;
    height:10px;
}

#u255_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u256 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u257_line {
    background-image: url('../Enviadas_files/u257_line.png');
}

.u257_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:10px;
}

.u257 {
    position:absolute;
    left:1200px;
    top:977px;
    width:10px;
    height:10px;
    
}

.u258_normal {
    background-image: url('../Enviadas_files/u255_normal.png');
}

.u258_container {
    position:absolute;
    left:1226px;
    top:977px;
    width:10px;
    height:10px;
}

#u258_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u259 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u260_normal {
    background-image: url('../Enviadas_files/u260_normal.png');
}

.u260_container {
    position:absolute;
    left:1244px;
    top:977px;
    width:10px;
    height:10px;
}

#u260_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u261 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u262_normal {
    background-image: url('../Enviadas_files/u260_normal.png');
}

.u262_container {
    position:absolute;
    left:1263px;
    top:977px;
    width:10px;
    height:10px;
}

#u262_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u263 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u264_line {
    background-image: url('../Enviadas_files/u264_line.png');
}

.u264_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:10px;
}

.u264 {
    position:absolute;
    left:1270px;
    top:977px;
    width:10px;
    height:10px;
    
}

.u266 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u267_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u22_normal.png');
}

.u267_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u267_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u268 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u269_normal {
    background-image: url('../MenuPrincipal_files/preto_u24_normal.png');
}

.u269_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u269_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u270 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u271_normal {
    background-image: url('../MenuPrincipal_files/Logo_u26_normal.png');
}

.u271_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u271_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u272 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u273 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u274 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u275_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u275_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u275_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u276 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u277_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u277_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u277_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u278 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u279_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u34_normal.png');
}

.u279_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u279_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u280 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u281_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u36_normal.png');
}

.u281_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u281_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u282 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u283_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u38_normal.png');
}

.u283_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u283_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u284 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u285 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u286 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u286 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u287_normal {
    background-image: url('../BuscaMenu_files/u42_normal.png');
}

.u287_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u287_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u288 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u289 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u290 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u291 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u292 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u293 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u294 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u295 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u296 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u297_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u52_normal.png');
}

.u297_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u297_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u298 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u300_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u300_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u300_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u300_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u300_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u301 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u302_mouseOver {
    background-image: url('../MenuPrincipal_files/Transfer_u57_mouseOver.png');
}

.u302_selected {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u302_normal {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u302_container {
    position:absolute;
    left:296px;
    top:2px;
    width:296px;
    height:25px;
}

#u302_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:31px;
}

.u303 {
    position:absolute;
    left:2px;
    top:4px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u304_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u304_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u304_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u304_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u304_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u305 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u306_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u306_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u306_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u306_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u306_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u307 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u308_mouseOver {
    background-image: url('../MenuPrincipal_files/CadastroBasico_u63_mouseOver.png');
}

.u308_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u308_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u308_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u308_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u309 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u310_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u310_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u310_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u310_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u310_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u311 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u312_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u67_mouseOver.png');
}

.u312_selected {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u312_normal {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u312_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u312_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u313 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u315_mouseOver {
    background-image: url('../MenuMensagens_files/Escrever_u315_mouseOver.png');
}

.u315_selected {
    background-image: url('../MenuMensagens_files/Escrever_u315_selected.png');
}

.u315_normal {
    background-image: url('../MenuMensagens_files/Escrever_u315_normal.png');
}

.u315_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u315_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u316 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u317 {
    position:absolute;
    left:0px;
    top:120px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u317 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u318_mouseOver {
    background-image: url('../MenuMensagens_files/Escrever_u315_mouseOver.png');
}

.u318_selected {
    background-image: url('../MenuMensagens_files/Escrever_u315_selected.png');
}

.u318_normal {
    background-image: url('../MenuMensagens_files/Escrever_u315_normal.png');
}

.u318_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u318_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u319 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u320 {
    position:absolute;
    left:0px;
    top:160px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u320 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u321_mouseOver {
    background-image: url('../MenuMensagens_files/Escrever_u315_mouseOver.png');
}

.u321_selected {
    background-image: url('../MenuMensagens_files/Escrever_u315_selected.png');
}

.u321_normal {
    background-image: url('../MenuMensagens_files/Escrever_u315_normal.png');
}

.u321_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u321_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u322 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u323 {
    position:absolute;
    left:0px;
    top:200px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u323 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u324_mouseOver {
    background-image: url('../MenuMensagens_files/Escrever_u315_mouseOver.png');
}

.u324_selected {
    background-image: url('../MenuMensagens_files/Escrever_u315_selected.png');
}

.u324_normal {
    background-image: url('../MenuMensagens_files/Escrever_u315_normal.png');
}

.u324_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u324_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u325 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u326 {
    position:absolute;
    left:0px;
    top:240px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u326 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u327_mouseOver {
    background-image: url('../MenuMensagens_files/Escrever_u315_mouseOver.png');
}

.u327_selected {
    background-image: url('../MenuMensagens_files/Escrever_u315_selected.png');
}

.u327_normal {
    background-image: url('../MenuMensagens_files/Escrever_u315_normal.png');
}

.u327_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u327_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u328 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u329 {
    position:absolute;
    left:10px;
    top:280px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u329 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u330_mouseOver {
    background-image: url('../MenuMensagens_files/Escrever_u315_mouseOver.png');
}

.u330_selected {
    background-image: url('../MenuMensagens_files/Escrever_u315_selected.png');
}

.u330_normal {
    background-image: url('../MenuMensagens_files/Escrever_u315_normal.png');
}

.u330_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u330_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u331 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u332_mouseOver {
    background-image: url('../MenuMensagens_files/Escrever_u315_mouseOver.png');
}

.u332_selected {
    background-image: url('../MenuMensagens_files/Escrever_u315_selected.png');
}

.u332_normal {
    background-image: url('../MenuMensagens_files/Escrever_u315_normal.png');
}

.u332_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u332_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u333 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u334 {
    position:absolute;
    left:10px;
    top:120px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u334 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u335_mouseOver {
    background-image: url('../MenuMensagens_files/Escrever_u315_mouseOver.png');
}

.u335_selected {
    background-image: url('../MenuMensagens_files/Escrever_u315_selected.png');
}

.u335_normal {
    background-image: url('../MenuMensagens_files/Escrever_u315_normal.png');
}

.u335_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u335_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u336 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u337_mouseOver {
    background-image: url('../MenuMensagens_files/Escrever_u315_mouseOver.png');
}

.u337_selected {
    background-image: url('../MenuMensagens_files/Escrever_u315_selected.png');
}

.u337_normal {
    background-image: url('../MenuMensagens_files/Escrever_u315_normal.png');
}

.u337_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u337_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u338 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

