﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../ListagemEmbarcador_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:286px;
    width:1167px;
    height:26px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u1 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../ListagemEmbarcador_files/u0_normal.png');
}

.u2_container {
    position:absolute;
    left:120px;
    top:340px;
    width:1167px;
    height:26px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u3 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../ListagemEmbarcador_files/u0_normal.png');
}

.u4_container {
    position:absolute;
    left:120px;
    top:394px;
    width:1167px;
    height:26px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u5 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../ListagemEmbarcador_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:120px;
    top:142px;
    width:1167px;
    height:107px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:113px;
}

.u7 {
    position:absolute;
    left:2px;
    top:46px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:114px;
    top:100px;
    width:254px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:549px;
    top:182px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:149px;
    top:159px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:549px;
    top:159px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../ListagemEmbarcador_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:140px;
    top:130px;
    width:140px;
    height:25px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u13 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:1169px;
    top:214px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u15_normal {
    background-image: url('../ListagemEmbarcador_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:1070px;
    top:255px;
    width:147px;
    height:30px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:36px;
}

.u16 {
    position:absolute;
    left:2px;
    top:7px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:1082px;
    top:291px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:1070px;
    top:830px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../ListagemEmbarcador_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:1217px;
    top:833px;
    width:10px;
    height:10px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u20 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_line {
    background-image: url('../ListagemEmbarcador_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:10px;
}

.u21 {
    position:absolute;
    left:1210px;
    top:833px;
    width:10px;
    height:10px;
    
}

.u22_normal {
    background-image: url('../ListagemEmbarcador_files/u19_normal.png');
}

.u22_container {
    position:absolute;
    left:1236px;
    top:833px;
    width:10px;
    height:10px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u23 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../ListagemEmbarcador_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:1254px;
    top:833px;
    width:10px;
    height:10px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u25 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../ListagemEmbarcador_files/u24_normal.png');
}

.u26_container {
    position:absolute;
    left:1273px;
    top:833px;
    width:10px;
    height:10px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u27 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_line {
    background-image: url('../ListagemEmbarcador_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:10px;
}

.u28 {
    position:absolute;
    left:1280px;
    top:833px;
    width:10px;
    height:10px;
    
}

.u29_normal {
    background-image: url('../ListagemEmbarcador_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:1220px;
    top:289px;
    width:20px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../ListagemEmbarcador_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:1242px;
    top:289px;
    width:20px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../ListagemEmbarcador_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:1264px;
    top:289px;
    width:20px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../ListagemEmbarcador_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:1217px;
    top:255px;
    width:70px;
    height:30px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:36px;
}

.u36 {
    position:absolute;
    left:2px;
    top:7px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:1082px;
    top:345px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../ListagemEmbarcador_files/u29_normal.png');
}

.u38_container {
    position:absolute;
    left:1220px;
    top:343px;
    width:20px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../ListagemEmbarcador_files/u31_normal.png');
}

.u40_container {
    position:absolute;
    left:1242px;
    top:343px;
    width:20px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../ListagemEmbarcador_files/u33_normal.png');
}

.u42_container {
    position:absolute;
    left:1264px;
    top:343px;
    width:20px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:1082px;
    top:399px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../ListagemEmbarcador_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:120px;
    top:421px;
    width:1167px;
    height:26px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u46 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../ListagemEmbarcador_files/u29_normal.png');
}

.u47_container {
    position:absolute;
    left:1220px;
    top:397px;
    width:20px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../ListagemEmbarcador_files/u31_normal.png');
}

.u49_container {
    position:absolute;
    left:1242px;
    top:397px;
    width:20px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../ListagemEmbarcador_files/u33_normal.png');
}

.u51_container {
    position:absolute;
    left:1264px;
    top:397px;
    width:20px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:160px;
    top:426px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:1082px;
    top:426px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../ListagemEmbarcador_files/u29_normal.png');
}

.u55_container {
    position:absolute;
    left:1220px;
    top:424px;
    width:20px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../ListagemEmbarcador_files/u31_normal.png');
}

.u57_container {
    position:absolute;
    left:1242px;
    top:424px;
    width:20px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../ListagemEmbarcador_files/u33_normal.png');
}

.u59_container {
    position:absolute;
    left:1264px;
    top:424px;
    width:20px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../ListagemEmbarcador_files/u0_normal.png');
}

.u61_container {
    position:absolute;
    left:120px;
    top:448px;
    width:1167px;
    height:26px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u62 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:160px;
    top:453px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:1082px;
    top:453px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../ListagemEmbarcador_files/u45_normal.png');
}

.u65_container {
    position:absolute;
    left:120px;
    top:475px;
    width:1167px;
    height:26px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u66 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../ListagemEmbarcador_files/u29_normal.png');
}

.u67_container {
    position:absolute;
    left:1220px;
    top:451px;
    width:20px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../ListagemEmbarcador_files/u31_normal.png');
}

.u69_container {
    position:absolute;
    left:1242px;
    top:451px;
    width:20px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../ListagemEmbarcador_files/u33_normal.png');
}

.u71_container {
    position:absolute;
    left:1264px;
    top:451px;
    width:20px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:160px;
    top:480px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:1082px;
    top:480px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../ListagemEmbarcador_files/u29_normal.png');
}

.u75_container {
    position:absolute;
    left:1220px;
    top:478px;
    width:20px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../ListagemEmbarcador_files/u31_normal.png');
}

.u77_container {
    position:absolute;
    left:1242px;
    top:478px;
    width:20px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../ListagemEmbarcador_files/u33_normal.png');
}

.u79_container {
    position:absolute;
    left:1264px;
    top:478px;
    width:20px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../ListagemEmbarcador_files/u0_normal.png');
}

.u81_container {
    position:absolute;
    left:120px;
    top:502px;
    width:1167px;
    height:26px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u82 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:160px;
    top:507px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:1082px;
    top:507px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../ListagemEmbarcador_files/u45_normal.png');
}

.u85_container {
    position:absolute;
    left:120px;
    top:529px;
    width:1167px;
    height:26px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u86 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../ListagemEmbarcador_files/u29_normal.png');
}

.u87_container {
    position:absolute;
    left:1220px;
    top:505px;
    width:20px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../ListagemEmbarcador_files/u31_normal.png');
}

.u89_container {
    position:absolute;
    left:1242px;
    top:505px;
    width:20px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../ListagemEmbarcador_files/u33_normal.png');
}

.u91_container {
    position:absolute;
    left:1264px;
    top:505px;
    width:20px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:160px;
    top:534px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:1082px;
    top:534px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../ListagemEmbarcador_files/u29_normal.png');
}

.u95_container {
    position:absolute;
    left:1220px;
    top:532px;
    width:20px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../ListagemEmbarcador_files/u31_normal.png');
}

.u97_container {
    position:absolute;
    left:1242px;
    top:532px;
    width:20px;
    height:20px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../ListagemEmbarcador_files/u33_normal.png');
}

.u99_container {
    position:absolute;
    left:1264px;
    top:532px;
    width:20px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../ListagemEmbarcador_files/u0_normal.png');
}

.u101_container {
    position:absolute;
    left:120px;
    top:556px;
    width:1167px;
    height:26px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u102 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:160px;
    top:561px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:1082px;
    top:561px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../ListagemEmbarcador_files/u45_normal.png');
}

.u105_container {
    position:absolute;
    left:120px;
    top:583px;
    width:1167px;
    height:26px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u106 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../ListagemEmbarcador_files/u29_normal.png');
}

.u107_container {
    position:absolute;
    left:1220px;
    top:559px;
    width:20px;
    height:20px;
}

#u107_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../ListagemEmbarcador_files/u31_normal.png');
}

.u109_container {
    position:absolute;
    left:1242px;
    top:559px;
    width:20px;
    height:20px;
}

#u109_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../ListagemEmbarcador_files/u33_normal.png');
}

.u111_container {
    position:absolute;
    left:1264px;
    top:559px;
    width:20px;
    height:20px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:160px;
    top:588px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:1082px;
    top:588px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../ListagemEmbarcador_files/u29_normal.png');
}

.u115_container {
    position:absolute;
    left:1220px;
    top:586px;
    width:20px;
    height:20px;
}

#u115_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../ListagemEmbarcador_files/u31_normal.png');
}

.u117_container {
    position:absolute;
    left:1242px;
    top:586px;
    width:20px;
    height:20px;
}

#u117_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../ListagemEmbarcador_files/u33_normal.png');
}

.u119_container {
    position:absolute;
    left:1264px;
    top:586px;
    width:20px;
    height:20px;
}

#u119_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../ListagemEmbarcador_files/u0_normal.png');
}

.u121_container {
    position:absolute;
    left:120px;
    top:610px;
    width:1167px;
    height:26px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u122 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:160px;
    top:615px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:1082px;
    top:615px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../ListagemEmbarcador_files/u45_normal.png');
}

.u125_container {
    position:absolute;
    left:120px;
    top:637px;
    width:1167px;
    height:26px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u126 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../ListagemEmbarcador_files/u29_normal.png');
}

.u127_container {
    position:absolute;
    left:1220px;
    top:613px;
    width:20px;
    height:20px;
}

#u127_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u128 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../ListagemEmbarcador_files/u31_normal.png');
}

.u129_container {
    position:absolute;
    left:1242px;
    top:613px;
    width:20px;
    height:20px;
}

#u129_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u130 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../ListagemEmbarcador_files/u33_normal.png');
}

.u131_container {
    position:absolute;
    left:1264px;
    top:613px;
    width:20px;
    height:20px;
}

#u131_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u132 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:160px;
    top:642px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:1082px;
    top:642px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../ListagemEmbarcador_files/u29_normal.png');
}

.u135_container {
    position:absolute;
    left:1220px;
    top:640px;
    width:20px;
    height:20px;
}

#u135_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u136 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../ListagemEmbarcador_files/u31_normal.png');
}

.u137_container {
    position:absolute;
    left:1242px;
    top:640px;
    width:20px;
    height:20px;
}

#u137_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u138 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../ListagemEmbarcador_files/u33_normal.png');
}

.u139_container {
    position:absolute;
    left:1264px;
    top:640px;
    width:20px;
    height:20px;
}

#u139_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u140 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../ListagemEmbarcador_files/u0_normal.png');
}

.u141_container {
    position:absolute;
    left:120px;
    top:664px;
    width:1167px;
    height:26px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u142 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:160px;
    top:669px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:1082px;
    top:669px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../ListagemEmbarcador_files/u45_normal.png');
}

.u145_container {
    position:absolute;
    left:120px;
    top:691px;
    width:1167px;
    height:26px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u146 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../ListagemEmbarcador_files/u29_normal.png');
}

.u147_container {
    position:absolute;
    left:1220px;
    top:667px;
    width:20px;
    height:20px;
}

#u147_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u148 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../ListagemEmbarcador_files/u31_normal.png');
}

.u149_container {
    position:absolute;
    left:1242px;
    top:667px;
    width:20px;
    height:20px;
}

#u149_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u150 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_normal {
    background-image: url('../ListagemEmbarcador_files/u33_normal.png');
}

.u151_container {
    position:absolute;
    left:1264px;
    top:667px;
    width:20px;
    height:20px;
}

#u151_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u152 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:160px;
    top:696px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:1082px;
    top:696px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../ListagemEmbarcador_files/u29_normal.png');
}

.u155_container {
    position:absolute;
    left:1220px;
    top:694px;
    width:20px;
    height:20px;
}

#u155_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u156 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../ListagemEmbarcador_files/u31_normal.png');
}

.u157_container {
    position:absolute;
    left:1242px;
    top:694px;
    width:20px;
    height:20px;
}

#u157_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u158 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../ListagemEmbarcador_files/u33_normal.png');
}

.u159_container {
    position:absolute;
    left:1264px;
    top:694px;
    width:20px;
    height:20px;
}

#u159_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u160 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_normal {
    background-image: url('../ListagemEmbarcador_files/u0_normal.png');
}

.u161_container {
    position:absolute;
    left:120px;
    top:718px;
    width:1167px;
    height:26px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u162 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:160px;
    top:723px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:1082px;
    top:723px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../ListagemEmbarcador_files/u45_normal.png');
}

.u165_container {
    position:absolute;
    left:120px;
    top:745px;
    width:1167px;
    height:26px;
}

#u165_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u166 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_normal {
    background-image: url('../ListagemEmbarcador_files/u29_normal.png');
}

.u167_container {
    position:absolute;
    left:1220px;
    top:721px;
    width:20px;
    height:20px;
}

#u167_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u168 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_normal {
    background-image: url('../ListagemEmbarcador_files/u31_normal.png');
}

.u169_container {
    position:absolute;
    left:1242px;
    top:721px;
    width:20px;
    height:20px;
}

#u169_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u170 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_normal {
    background-image: url('../ListagemEmbarcador_files/u33_normal.png');
}

.u171_container {
    position:absolute;
    left:1264px;
    top:721px;
    width:20px;
    height:20px;
}

#u171_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u172 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:160px;
    top:750px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:1082px;
    top:750px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../ListagemEmbarcador_files/u29_normal.png');
}

.u175_container {
    position:absolute;
    left:1220px;
    top:748px;
    width:20px;
    height:20px;
}

#u175_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u176 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../ListagemEmbarcador_files/u31_normal.png');
}

.u177_container {
    position:absolute;
    left:1242px;
    top:748px;
    width:20px;
    height:20px;
}

#u177_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u178 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../ListagemEmbarcador_files/u33_normal.png');
}

.u179_container {
    position:absolute;
    left:1264px;
    top:748px;
    width:20px;
    height:20px;
}

#u179_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u180 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_normal {
    background-image: url('../ListagemEmbarcador_files/u0_normal.png');
}

.u181_container {
    position:absolute;
    left:120px;
    top:772px;
    width:1167px;
    height:26px;
}

#u181_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u182 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:160px;
    top:777px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:1082px;
    top:777px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_normal {
    background-image: url('../ListagemEmbarcador_files/u45_normal.png');
}

.u185_container {
    position:absolute;
    left:120px;
    top:799px;
    width:1167px;
    height:26px;
}

#u185_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u186 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187_normal {
    background-image: url('../ListagemEmbarcador_files/u29_normal.png');
}

.u187_container {
    position:absolute;
    left:1220px;
    top:775px;
    width:20px;
    height:20px;
}

#u187_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u188 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189_normal {
    background-image: url('../ListagemEmbarcador_files/u31_normal.png');
}

.u189_container {
    position:absolute;
    left:1242px;
    top:775px;
    width:20px;
    height:20px;
}

#u189_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u190 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191_normal {
    background-image: url('../ListagemEmbarcador_files/u33_normal.png');
}

.u191_container {
    position:absolute;
    left:1264px;
    top:775px;
    width:20px;
    height:20px;
}

#u191_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u192 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193 {
    position:absolute;
    left:160px;
    top:804px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194 {
    position:absolute;
    left:1082px;
    top:804px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195_normal {
    background-image: url('../ListagemEmbarcador_files/u29_normal.png');
}

.u195_container {
    position:absolute;
    left:1220px;
    top:802px;
    width:20px;
    height:20px;
}

#u195_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u196 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197_normal {
    background-image: url('../ListagemEmbarcador_files/u31_normal.png');
}

.u197_container {
    position:absolute;
    left:1242px;
    top:802px;
    width:20px;
    height:20px;
}

#u197_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u198 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199_normal {
    background-image: url('../ListagemEmbarcador_files/u33_normal.png');
}

.u199_container {
    position:absolute;
    left:1264px;
    top:802px;
    width:20px;
    height:20px;
}

#u199_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u200 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u226 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u228 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u230 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u231_normal {
    background-image: url('../ListagemEmbarcador_files/u231_normal.png');
}

.u231_container {
    position:absolute;
    left:129px;
    top:830px;
    width:151px;
    height:25px;
}

#u231_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:31px;
}

.u232 {
    position:absolute;
    left:2px;
    top:4px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u233_normal {
    background-image: url('../ListagemEmbarcador_files/u233_normal.png');
}

.u233_container {
    position:absolute;
    left:120px;
    top:255px;
    width:30px;
    height:30px;
}

#u233_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u234 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u235_normal {
    background-image: url('../ListagemEmbarcador_files/u235_normal.png');
}

.u235_container {
    position:absolute;
    left:150px;
    top:255px;
    width:650px;
    height:30px;
}

#u235_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:656px;
    height:36px;
}

.u236 {
    position:absolute;
    left:2px;
    top:7px;
    width:646px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u237 {
    position:absolute;
    left:160px;
    top:291px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u238_normal {
    background-image: url('../ListagemEmbarcador_files/u45_normal.png');
}

.u238_container {
    position:absolute;
    left:120px;
    top:313px;
    width:1167px;
    height:26px;
}

#u238_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u239 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u241 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u242 {
    position:absolute;
    left:160px;
    top:318px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u243 {
    position:absolute;
    left:1082px;
    top:318px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u244_normal {
    background-image: url('../ListagemEmbarcador_files/u29_normal.png');
}

.u244_container {
    position:absolute;
    left:1220px;
    top:316px;
    width:20px;
    height:20px;
}

#u244_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u245 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u246_normal {
    background-image: url('../ListagemEmbarcador_files/u31_normal.png');
}

.u246_container {
    position:absolute;
    left:1242px;
    top:316px;
    width:20px;
    height:20px;
}

#u246_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u247 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u248_normal {
    background-image: url('../ListagemEmbarcador_files/u33_normal.png');
}

.u248_container {
    position:absolute;
    left:1264px;
    top:316px;
    width:20px;
    height:20px;
}

#u248_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u249 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u250 {
    position:absolute;
    left:160px;
    top:345px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u251_normal {
    background-image: url('../ListagemEmbarcador_files/u45_normal.png');
}

.u251_container {
    position:absolute;
    left:120px;
    top:367px;
    width:1167px;
    height:26px;
}

#u251_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u252 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u253 {
    position:absolute;
    left:160px;
    top:372px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u254 {
    position:absolute;
    left:1082px;
    top:372px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u255_normal {
    background-image: url('../ListagemEmbarcador_files/u29_normal.png');
}

.u255_container {
    position:absolute;
    left:1220px;
    top:370px;
    width:20px;
    height:20px;
}

#u255_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u256 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u257_normal {
    background-image: url('../ListagemEmbarcador_files/u31_normal.png');
}

.u257_container {
    position:absolute;
    left:1242px;
    top:370px;
    width:20px;
    height:20px;
}

#u257_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u258 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u259_normal {
    background-image: url('../ListagemEmbarcador_files/u33_normal.png');
}

.u259_container {
    position:absolute;
    left:1264px;
    top:370px;
    width:20px;
    height:20px;
}

#u259_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u260 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u261 {
    position:absolute;
    left:160px;
    top:399px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u263 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u265 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u267 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u269 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u271 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u272 {
    position:absolute;
    left:956px;
    top:182px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u273 {
    position:absolute;
    left:956px;
    top:159px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u274 {
    position:absolute;
    left:812px;
    top:426px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u275 {
    position:absolute;
    left:812px;
    top:453px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u276 {
    position:absolute;
    left:812px;
    top:480px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u277 {
    position:absolute;
    left:812px;
    top:507px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u278 {
    position:absolute;
    left:812px;
    top:534px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u279 {
    position:absolute;
    left:812px;
    top:561px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u280 {
    position:absolute;
    left:812px;
    top:588px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u281 {
    position:absolute;
    left:812px;
    top:615px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u282 {
    position:absolute;
    left:812px;
    top:642px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u283 {
    position:absolute;
    left:812px;
    top:669px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u284 {
    position:absolute;
    left:812px;
    top:696px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u285 {
    position:absolute;
    left:812px;
    top:723px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u286 {
    position:absolute;
    left:812px;
    top:750px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u287 {
    position:absolute;
    left:812px;
    top:777px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u288 {
    position:absolute;
    left:812px;
    top:804px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u289 {
    position:absolute;
    left:812px;
    top:291px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u290 {
    position:absolute;
    left:812px;
    top:318px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u291 {
    position:absolute;
    left:812px;
    top:345px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u292 {
    position:absolute;
    left:812px;
    top:372px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u293 {
    position:absolute;
    left:812px;
    top:399px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u294_normal {
    background-image: url('../ListagemEmbarcador_files/u294_normal.png');
}

.u294_container {
    position:absolute;
    left:801px;
    top:255px;
    width:267px;
    height:30px;
}

#u294_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:273px;
    height:36px;
}

.u295 {
    position:absolute;
    left:2px;
    top:7px;
    width:263px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u296 {
    position:absolute;
    left:149px;
    top:182px;
    width:700px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u297 {
    position:absolute;
    left:149px;
    top:207px;
    width:701px;
    height:131px;
    overflow:hidden;
}

#pd0u297 {
    position:absolute;
    left:0px;
    top:0px;
    width:701px;
    height:131px;
    
}

.u298_normal {
    background-image: url('../Copy_of_Dynamic_search_box_files/u293_normal.png');
}

.u298_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u298_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u299 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u300 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u301 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u302 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u303 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u304 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u305 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u306 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u307 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u309_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u22_normal.png');
}

.u309_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u309_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u310 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u311_normal {
    background-image: url('../MenuPrincipal_files/preto_u24_normal.png');
}

.u311_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u311_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u312 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u313_normal {
    background-image: url('../MenuPrincipal_files/Logo_u26_normal.png');
}

.u313_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u313_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u314 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u315 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u316 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u317_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u317_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u317_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u318 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u319_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u319_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u319_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u320 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u321_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u34_normal.png');
}

.u321_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u321_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u322 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u323_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u36_normal.png');
}

.u323_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u323_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u324 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u325_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u38_normal.png');
}

.u325_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u325_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u326 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u327 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u328 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u328 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u329_normal {
    background-image: url('../BuscaMenu_files/u42_normal.png');
}

.u329_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u329_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u330 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u331 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u332 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u333 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u334 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u335 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u336 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u337 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u338 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u339_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u52_normal.png');
}

.u339_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u339_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u340 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u342_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u342_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u342_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u342_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u342_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u343 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u344_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u344_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u344_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u344_container {
    position:absolute;
    left:296px;
    top:2px;
    width:148px;
    height:25px;
}

#u344_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u345 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u346_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u346_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u346_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u346_container {
    position:absolute;
    left:444px;
    top:2px;
    width:148px;
    height:25px;
}

#u346_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u347 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u348_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u61_mouseOver.png');
}

.u348_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u348_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u348_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u348_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u349 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u350_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u350_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u350_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u350_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u350_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u351 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u352_mouseOver {
    background-image: url('../MenuPrincipal_files/CadastroBasico_u65_mouseOver.png');
}

.u352_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u352_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u352_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u352_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u353 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u354_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u61_mouseOver.png');
}

.u354_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u354_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u354_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u354_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u355 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u356_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u69_mouseOver.png');
}

.u356_selected {
    background-image: url('../MenuPrincipal_files/Sair_u69_selected.png');
}

.u356_normal {
    background-image: url('../MenuPrincipal_files/Sair_u69_selected.png');
}

.u356_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u356_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u357 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

