﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../CadEmpresaRecebedor_files/Quadrado_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:142px;
    width:1167px;
    height:555px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:561px;
}

.u1 {
    position:absolute;
    left:2px;
    top:270px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:114px;
    top:100px;
    width:579px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../CadEmpresaRecebedor_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:140px;
    top:130px;
    width:140px;
    height:25px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u4 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:150px;
    top:160px;
    width:227px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../CadEmpresaRecebedor_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u6 {
    position:absolute;
    left:138px;
    top:174px;
    width:1130px;
    height:10px;
    
}

.u7_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u22_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u8 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../MenuPrincipal_files/preto_u24_normal.png');
}

.u9_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u10 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../MenuPrincipal_files/Logo_u26_normal.png');
}

.u11_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u12 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u15_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u16 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u17_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u18 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u34_normal.png');
}

.u19_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u20 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u36_normal.png');
}

.u21_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u22 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u38_normal.png');
}

.u23_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u24 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u26 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u26 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u27_normal {
    background-image: url('../BuscaMenu_files/u42_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u28 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u52_normal.png');
}

.u37_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u38 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u40_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u40_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u40_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u41 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_mouseOver {
    background-image: url('../MenuPrincipal_files/Transfer_u57_mouseOver.png');
}

.u42_selected {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u42_normal {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u42_container {
    position:absolute;
    left:296px;
    top:2px;
    width:296px;
    height:25px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:31px;
}

.u43 {
    position:absolute;
    left:2px;
    top:4px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u44_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u44_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u44_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u45 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u46_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u46_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u46_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u47 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_mouseOver {
    background-image: url('../MenuPrincipal_files/CadastroBasico_u63_mouseOver.png');
}

.u48_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u48_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u48_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u49 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u50_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u50_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u50_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u51 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u67_mouseOver.png');
}

.u52_selected {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u52_normal {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u52_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u53 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../CadEmpresaRecebedor_files/GravarJornada_u55_normal.png');
}

.u55_container {
    position:absolute;
    left:1085px;
    top:700px;
    width:100px;
    height:25px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u56 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../CadEmpresaRecebedor_files/GravarJornada_u55_normal.png');
}

.u57_container {
    position:absolute;
    left:1185px;
    top:700px;
    width:100px;
    height:25px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u58 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u59 {
    position:absolute;
    left:140px;
    top:232px;
    width:1129px;
    height:461px;
    overflow:hidden;
}

#pd0u59 {
    position:absolute;
    left:0px;
    top:0px;
    width:1129px;
    height:461px;
    
}

#u60 {
    position:absolute;
    left:0px;
    top:194px;
    width:1125px;
    height:277px;
    overflow:hidden;
}

#pd0u60 {
    position:absolute;
    left:0px;
    top:0px;
    width:1125px;
    height:277px;
    
}

.u61_normal {
    background-image: url('../CadEmpresaRecebedor_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:1px;
    top:31px;
    width:1117px;
    height:26px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u62 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../CadEmpresaRecebedor_files/u61_normal.png');
}

.u63_container {
    position:absolute;
    left:1px;
    top:85px;
    width:1117px;
    height:26px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u64 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../CadEmpresaRecebedor_files/u61_normal.png');
}

.u65_container {
    position:absolute;
    left:1px;
    top:139px;
    width:1117px;
    height:26px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u66 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../CadEmpresaRecebedor_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:1073px;
    top:34px;
    width:20px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../CadEmpresaRecebedor_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:1095px;
    top:34px;
    width:20px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../CadEmpresaRecebedor_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:1064px;
    top:0px;
    width:54px;
    height:30px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:36px;
}

.u72 {
    position:absolute;
    left:2px;
    top:7px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../CadEmpresaRecebedor_files/u67_normal.png');
}

.u73_container {
    position:absolute;
    left:1073px;
    top:88px;
    width:20px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../CadEmpresaRecebedor_files/u69_normal.png');
}

.u75_container {
    position:absolute;
    left:1095px;
    top:88px;
    width:20px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../CadEmpresaRecebedor_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:1px;
    top:166px;
    width:1117px;
    height:26px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u78 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../CadEmpresaRecebedor_files/u67_normal.png');
}

.u79_container {
    position:absolute;
    left:1073px;
    top:142px;
    width:20px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../CadEmpresaRecebedor_files/u69_normal.png');
}

.u81_container {
    position:absolute;
    left:1095px;
    top:142px;
    width:20px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:41px;
    top:171px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../CadEmpresaRecebedor_files/u67_normal.png');
}

.u84_container {
    position:absolute;
    left:1073px;
    top:169px;
    width:20px;
    height:20px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u85 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../CadEmpresaRecebedor_files/u69_normal.png');
}

.u86_container {
    position:absolute;
    left:1095px;
    top:169px;
    width:20px;
    height:20px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u87 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../CadEmpresaRecebedor_files/u61_normal.png');
}

.u88_container {
    position:absolute;
    left:1px;
    top:193px;
    width:1117px;
    height:26px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u89 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:41px;
    top:198px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../CadEmpresaRecebedor_files/u77_normal.png');
}

.u91_container {
    position:absolute;
    left:1px;
    top:220px;
    width:1117px;
    height:26px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u92 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../CadEmpresaRecebedor_files/u67_normal.png');
}

.u93_container {
    position:absolute;
    left:1073px;
    top:196px;
    width:20px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../CadEmpresaRecebedor_files/u69_normal.png');
}

.u95_container {
    position:absolute;
    left:1095px;
    top:196px;
    width:20px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:41px;
    top:225px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../CadEmpresaRecebedor_files/u67_normal.png');
}

.u98_container {
    position:absolute;
    left:1073px;
    top:223px;
    width:20px;
    height:20px;
}

#u98_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u99 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../CadEmpresaRecebedor_files/u69_normal.png');
}

.u100_container {
    position:absolute;
    left:1095px;
    top:223px;
    width:20px;
    height:20px;
}

#u100_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u101 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../CadEmpresaRecebedor_files/u108_normal.png');
}

.u108_container {
    position:absolute;
    left:1px;
    top:0px;
    width:30px;
    height:30px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u109 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../CadEmpresaRecebedor_files/u110_normal.png');
}

.u110_container {
    position:absolute;
    left:31px;
    top:0px;
    width:399px;
    height:30px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:405px;
    height:36px;
}

.u111 {
    position:absolute;
    left:2px;
    top:7px;
    width:395px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:41px;
    top:36px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../CadEmpresaRecebedor_files/u77_normal.png');
}

.u113_container {
    position:absolute;
    left:1px;
    top:58px;
    width:1117px;
    height:26px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u114 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:41px;
    top:63px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../CadEmpresaRecebedor_files/u67_normal.png');
}

.u118_container {
    position:absolute;
    left:1073px;
    top:61px;
    width:20px;
    height:20px;
}

#u118_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u119 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../CadEmpresaRecebedor_files/u69_normal.png');
}

.u120_container {
    position:absolute;
    left:1095px;
    top:61px;
    width:20px;
    height:20px;
}

#u120_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u121 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:41px;
    top:90px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../CadEmpresaRecebedor_files/u77_normal.png');
}

.u123_container {
    position:absolute;
    left:1px;
    top:112px;
    width:1117px;
    height:26px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u124 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:41px;
    top:117px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../CadEmpresaRecebedor_files/u67_normal.png');
}

.u126_container {
    position:absolute;
    left:1073px;
    top:115px;
    width:20px;
    height:20px;
}

#u126_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u127 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../CadEmpresaRecebedor_files/u69_normal.png');
}

.u128_container {
    position:absolute;
    left:1095px;
    top:115px;
    width:20px;
    height:20px;
}

#u128_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u129 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:41px;
    top:144px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:441px;
    top:171px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:441px;
    top:198px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:441px;
    top:225px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:441px;
    top:36px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:441px;
    top:63px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:441px;
    top:90px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:441px;
    top:117px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:441px;
    top:144px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:791px;
    top:171px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:791px;
    top:198px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:791px;
    top:225px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:791px;
    top:36px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:791px;
    top:63px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:791px;
    top:90px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:791px;
    top:117px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:791px;
    top:144px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../CadEmpresaRecebedor_files/u157_normal.png');
}

.u157_container {
    position:absolute;
    left:430px;
    top:0px;
    width:350px;
    height:30px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:356px;
    height:36px;
}

.u158 {
    position:absolute;
    left:2px;
    top:7px;
    width:346px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../CadEmpresaRecebedor_files/u159_normal.png');
}

.u159_container {
    position:absolute;
    left:780px;
    top:0px;
    width:174px;
    height:30px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:36px;
}

.u160 {
    position:absolute;
    left:2px;
    top:7px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:898px;
    top:251px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../CadEmpresaRecebedor_files/u162_normal.png');
}

.u162_container {
    position:absolute;
    left:1045px;
    top:254px;
    width:10px;
    height:10px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u163 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_line {
    background-image: url('../CadEmpresaRecebedor_files/u164_line.png');
}

.u164_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:10px;
}

.u164 {
    position:absolute;
    left:1038px;
    top:254px;
    width:10px;
    height:10px;
    
}

.u165_normal {
    background-image: url('../CadEmpresaRecebedor_files/u162_normal.png');
}

.u165_container {
    position:absolute;
    left:1064px;
    top:254px;
    width:10px;
    height:10px;
}

#u165_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u166 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_normal {
    background-image: url('../CadEmpresaRecebedor_files/u167_normal.png');
}

.u167_container {
    position:absolute;
    left:1082px;
    top:254px;
    width:10px;
    height:10px;
}

#u167_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u168 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_normal {
    background-image: url('../CadEmpresaRecebedor_files/u167_normal.png');
}

.u169_container {
    position:absolute;
    left:1101px;
    top:254px;
    width:10px;
    height:10px;
}

#u169_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u170 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_line {
    background-image: url('../CadEmpresaRecebedor_files/u171_line.png');
}

.u171_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:10px;
}

.u171 {
    position:absolute;
    left:1108px;
    top:254px;
    width:10px;
    height:10px;
    
}

.u172_normal {
    background-image: url('../CadEmpresaRecebedor_files/u172_normal.png');
}

.u172_container {
    position:absolute;
    left:954px;
    top:0px;
    width:110px;
    height:30px;
}

#u172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:36px;
}

.u173 {
    position:absolute;
    left:2px;
    top:7px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:965px;
    top:36px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:965px;
    top:63px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:965px;
    top:90px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:965px;
    top:117px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:965px;
    top:144px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:965px;
    top:171px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:965px;
    top:198px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:965px;
    top:225px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:13px;
    top:58px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u183 {
    position:absolute;
    left:13px;
    top:36px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:13px;
    top:122px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u185 {
    position:absolute;
    left:13px;
    top:100px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:884px;
    top:122px;
    width:231px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u187 {
    position:absolute;
    left:815px;
    top:100px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:815px;
    top:36px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:1040px;
    top:162px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u190_line {
    background-image: url('../CadEmpresaRecebedor_files/u190_line.png');
}

.u190_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u190 {
    position:absolute;
    left:0px;
    top:151px;
    width:1130px;
    height:10px;
    
}

.u191 {
    position:absolute;
    left:815px;
    top:58px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u192 {
    position:absolute;
    left:815px;
    top:122px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u193_line {
    background-image: url('../CadEmpresaRecebedor_files/u193_line.png');
}

.u193_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u193 {
    position:absolute;
    left:0px;
    top:25px;
    width:1130px;
    height:10px;
    
}

.u194 {
    position:absolute;
    left:0px;
    top:10px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u199_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u199_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u199_container {
    position:absolute;
    left:0px;
    top:81px;
    width:100px;
    height:40px;
}

#u199_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u200 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u201 {
    position:absolute;
    left:0px;
    top:121px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u201 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u202_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u202_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u202_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u202_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u202_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u203 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u204 {
    position:absolute;
    left:0px;
    top:161px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u204 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u205_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u205_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u205_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u205_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u205_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u206 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u207 {
    position:absolute;
    left:0px;
    top:201px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u207 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u208_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u208_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u208_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u208_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u208_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u209 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u210 {
    position:absolute;
    left:0px;
    top:241px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u210 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u211_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u211_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u211_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u211_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u211_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u212 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u213 {
    position:absolute;
    left:0px;
    top:281px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u213 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u214_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u214_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u214_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u214_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u214_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u215 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u216 {
    position:absolute;
    left:0px;
    top:321px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u216 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u217_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u217_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u217_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u217_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u217_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u218 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u219 {
    position:absolute;
    left:0px;
    top:361px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u219 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u220_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u220_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u220_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u220_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u220_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u221 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u222 {
    position:absolute;
    left:10px;
    top:161px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u222 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u223_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u223_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u223_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u223_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u223_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u224 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u225_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u225_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u225_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u225_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u225_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u226 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u227 {
    position:absolute;
    left:10px;
    top:201px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u227 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u228_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u228_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u228_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u228_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u228_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u229 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u230_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u230_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u230_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u230_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u230_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u231 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u232 {
    position:absolute;
    left:10px;
    top:241px;
    width:91px;
    height:281px;
    overflow:hidden;
}

#pd0u232 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:281px;
    
}

.u233_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u233_selected {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_selected.png');
}

.u233_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_normal.png');
}

.u233_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u233_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u234 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u235 {
    position:absolute;
    left:0px;
    top:80px;
    width:91px;
    height:161px;
    overflow:hidden;
}

#pd0u235 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:161px;
    
}

.u236_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u236_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u236_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u236_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u236_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u237 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u238_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u238_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u238_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u238_container {
    position:absolute;
    left:0px;
    top:40px;
    width:90px;
    height:40px;
}

#u238_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u239 {
    position:absolute;
    left:2px;
    top:6px;
    width:86px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u240_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u240_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u240_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u240_container {
    position:absolute;
    left:0px;
    top:80px;
    width:90px;
    height:40px;
}

#u240_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u241 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u242_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u242_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u242_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u242_container {
    position:absolute;
    left:0px;
    top:120px;
    width:90px;
    height:40px;
}

#u242_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u243 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u244 {
    position:absolute;
    left:0px;
    top:40px;
    width:91px;
    height:41px;
    overflow:hidden;
}

#pd0u244 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:41px;
    
}

.u245_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u245_selected {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_selected.png');
}

.u245_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_normal.png');
}

.u245_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u245_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u246 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u247 {
    position:absolute;
    left:10px;
    top:281px;
    width:91px;
    height:201px;
    overflow:hidden;
}

#pd0u247 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:201px;
    
}

.u248_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u248_selected {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_selected.png');
}

.u248_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_normal.png');
}

.u248_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u248_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u249 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u250 {
    position:absolute;
    left:0px;
    top:80px;
    width:91px;
    height:121px;
    overflow:hidden;
}

#pd0u250 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:121px;
    
}

.u251_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u251_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u251_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u251_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u251_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u252 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u253_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u253_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u253_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u253_container {
    position:absolute;
    left:0px;
    top:40px;
    width:90px;
    height:40px;
}

#u253_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u254 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u255 {
    position:absolute;
    left:0px;
    top:40px;
    width:91px;
    height:41px;
    overflow:hidden;
}

#pd0u255 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:41px;
    
}

.u256_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u256_selected {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_selected.png');
}

.u256_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_normal.png');
}

.u256_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u256_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u257 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u258 {
    position:absolute;
    left:10px;
    top:321px;
    width:91px;
    height:161px;
    overflow:hidden;
}

#pd0u258 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:161px;
    
}

.u259_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u259_selected {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_selected.png');
}

.u259_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_normal.png');
}

.u259_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u259_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u260 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u261 {
    position:absolute;
    left:0px;
    top:80px;
    width:91px;
    height:201px;
    overflow:hidden;
}

#pd0u261 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:201px;
    
}

.u262_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u262_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u262_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u262_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u262_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u263 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u264_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u264_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u264_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u264_container {
    position:absolute;
    left:0px;
    top:40px;
    width:90px;
    height:40px;
}

#u264_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u265 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u266 {
    position:absolute;
    left:0px;
    top:40px;
    width:91px;
    height:41px;
    overflow:hidden;
}

#pd0u266 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:41px;
    
}

.u267_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u267_selected {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_selected.png');
}

.u267_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_normal.png');
}

.u267_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u267_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u268 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u269 {
    position:absolute;
    left:10px;
    top:361px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u269 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u270_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u270_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u270_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u270_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u270_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u271 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u272_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u272_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u272_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u272_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u272_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u273 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u274 {
    position:absolute;
    left:10px;
    top:401px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u274 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u275_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u275_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u275_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u275_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u275_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u276 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u277_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u277_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u277_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u277_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u277_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u278 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

