﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../CadEspera_files/Quadrado_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:142px;
    width:1167px;
    height:329px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:335px;
}

.u1 {
    position:absolute;
    left:2px;
    top:156px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:149px;
    top:181px;
    width:714px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:951px;
    top:159px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:951px;
    top:182px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:114px;
    top:100px;
    width:254px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:149px;
    top:159px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../CadEspera_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:140px;
    top:130px;
    width:140px;
    height:25px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:158px;
    top:280px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../CadEspera_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1120px;
    height:3px;
}

.u10 {
    position:absolute;
    left:140px;
    top:294px;
    width:1120px;
    height:10px;
    
}

.u11_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u22_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u12 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../MenuPrincipal_files/preto_u24_normal.png');
}

.u13_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u14 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../MenuPrincipal_files/Logo_u26_normal.png');
}

.u15_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u16 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u19_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u20 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u21_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u22 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u34_normal.png');
}

.u23_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u24 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u36_normal.png');
}

.u25_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u26 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u38_normal.png');
}

.u27_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u28 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u30 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u31_normal {
    background-image: url('../BuscaMenu_files/u42_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u32 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u52_normal.png');
}

.u41_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u42 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u44_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u44_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u44_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u45 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_mouseOver {
    background-image: url('../MenuPrincipal_files/Transfer_u57_mouseOver.png');
}

.u46_selected {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u46_normal {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u46_container {
    position:absolute;
    left:296px;
    top:2px;
    width:296px;
    height:25px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:31px;
}

.u47 {
    position:absolute;
    left:2px;
    top:4px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u48_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u48_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u48_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u49 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u50_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u50_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u50_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u51 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_mouseOver {
    background-image: url('../MenuPrincipal_files/CadastroBasico_u63_mouseOver.png');
}

.u52_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u52_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u52_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u53 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u54_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u54_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u54_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u55 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u67_mouseOver.png');
}

.u56_selected {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u56_normal {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u56_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u57 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../CadEspera_files/GravarEspera_u59_normal.png');
}

.u59_container {
    position:absolute;
    left:1187px;
    top:481px;
    width:100px;
    height:25px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u60 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../CadEspera_files/GravarNovoEspera_u61_normal.png');
}

.u61_container {
    position:absolute;
    left:1040px;
    top:481px;
    width:147px;
    height:25px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:31px;
}

.u62 {
    position:absolute;
    left:2px;
    top:4px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../CadEspera_files/GravarEspera_u59_normal.png');
}

.u63_container {
    position:absolute;
    left:940px;
    top:481px;
    width:100px;
    height:25px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u64 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:149px;
    top:314px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../CadEspera_files/AdicionarEspera_u74_normal.png');
}

.u74_container {
    position:absolute;
    left:1129px;
    top:340px;
    width:122px;
    height:25px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:31px;
}

.u75 {
    position:absolute;
    left:2px;
    top:4px;
    width:118px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u76 {
    position:absolute;
    left:130px;
    top:373px;
    width:1148px;
    height:88px;
    overflow:hidden;
}

#pd0u76 {
    position:absolute;
    left:0px;
    top:0px;
    width:1148px;
    height:88px;
    
}

.u77_normal {
    background-image: url('../CadEspera_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:0px;
    top:31px;
    width:1147px;
    height:26px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1153px;
    height:32px;
}

.u78 {
    position:absolute;
    left:2px;
    top:5px;
    width:1143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../CadEspera_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:0px;
    top:0px;
    width:472px;
    height:30px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:478px;
    height:36px;
}

.u80 {
    position:absolute;
    left:2px;
    top:7px;
    width:468px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../CadEspera_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:472px;
    top:0px;
    width:250px;
    height:30px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:36px;
}

.u82 {
    position:absolute;
    left:2px;
    top:7px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../CadEspera_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:930px;
    top:0px;
    width:166px;
    height:30px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:36px;
}

.u84 {
    position:absolute;
    left:2px;
    top:7px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:10px;
    top:36px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:482px;
    top:36px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:942px;
    top:36px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../CadEspera_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:0px;
    top:58px;
    width:1147px;
    height:26px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1153px;
    height:32px;
}

.u89 {
    position:absolute;
    left:2px;
    top:5px;
    width:1143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../CadEspera_files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:1102px;
    top:34px;
    width:20px;
    height:20px;
}

#u90_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u91 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../CadEspera_files/u92_normal.png');
}

.u92_container {
    position:absolute;
    left:1124px;
    top:34px;
    width:20px;
    height:20px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u93 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../CadEspera_files/u94_normal.png');
}

.u94_container {
    position:absolute;
    left:1096px;
    top:0px;
    width:50px;
    height:30px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:36px;
}

.u95 {
    position:absolute;
    left:2px;
    top:7px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../CadEspera_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:721px;
    top:0px;
    width:209px;
    height:30px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:215px;
    height:36px;
}

.u97 {
    position:absolute;
    left:2px;
    top:7px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:10px;
    top:63px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:482px;
    top:63px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:942px;
    top:63px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../CadEspera_files/u90_normal.png');
}

.u101_container {
    position:absolute;
    left:1102px;
    top:61px;
    width:20px;
    height:20px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../CadEspera_files/u92_normal.png');
}

.u103_container {
    position:absolute;
    left:1124px;
    top:61px;
    width:20px;
    height:20px;
}

#u103_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:734px;
    top:36px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:734px;
    top:63px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:149px;
    top:338px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u108 {
    position:absolute;
    left:149px;
    top:363px;
    width:301px;
    height:131px;
    overflow:hidden;
}

#pd0u108 {
    position:absolute;
    left:0px;
    top:0px;
    width:301px;
    height:131px;
    
}

.u109_normal {
    background-image: url('../Copy_of_Dynamic_search_box_files/u59_normal.png');
}

.u109_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u110 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u120_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u120_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u120_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u121 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u122_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u122_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u123 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u124_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u124_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u124_container {
    position:absolute;
    left:0px;
    top:160px;
    width:100px;
    height:40px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u125 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u126_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u126_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u126_container {
    position:absolute;
    left:0px;
    top:200px;
    width:100px;
    height:40px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u127 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u128_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u128_container {
    position:absolute;
    left:0px;
    top:240px;
    width:100px;
    height:40px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u129 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u130_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u130_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u130_container {
    position:absolute;
    left:0px;
    top:280px;
    width:100px;
    height:40px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u131 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u132_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u132_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u132_container {
    position:absolute;
    left:0px;
    top:320px;
    width:100px;
    height:40px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u133 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u134_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u134_container {
    position:absolute;
    left:0px;
    top:360px;
    width:100px;
    height:40px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u135 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u136_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u136_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u136_container {
    position:absolute;
    left:0px;
    top:400px;
    width:100px;
    height:40px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u137 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u138 {
    position:absolute;
    left:100px;
    top:280px;
    width:102px;
    height:81px;
    overflow:hidden;
}

#pd0u138 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:81px;
    
}

.u139_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u139_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u139_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u139_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u140 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u141_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u141_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u141_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u142 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u143 {
    position:absolute;
    left:100px;
    top:240px;
    width:102px;
    height:81px;
    overflow:hidden;
}

#pd0u143 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:81px;
    
}

.u144_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u144_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u144_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u144_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u145 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u146_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u146_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u146_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u147 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u148 {
    position:absolute;
    left:100px;
    top:320px;
    width:102px;
    height:81px;
    overflow:hidden;
}

#pd0u148 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:81px;
    
}

.u149_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u149_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u149_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u149_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u150 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u151_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u151_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u151_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u152 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u153 {
    position:absolute;
    left:100px;
    top:200px;
    width:101px;
    height:161px;
    overflow:hidden;
}

#pd0u153 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:161px;
    
}

.u154_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u154_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u154_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u154_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u155 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u156_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u156_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u157 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u158_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u158_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u158_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u159 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u160_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u160_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u160_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u160_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u161 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u162 {
    position:absolute;
    left:100px;
    top:360px;
    width:102px;
    height:81px;
    overflow:hidden;
}

#pd0u162 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:81px;
    
}

.u163_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u163_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u163_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u163_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u163_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u164 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u165_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u165_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u165_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u165_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u166 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:951px;
    top:245px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u169 {
    position:absolute;
    left:951px;
    top:223px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:537px;
    top:245px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u171 {
    position:absolute;
    left:537px;
    top:223px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

