﻿* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatarioBasicos_files/Quadrado_u0_normal.png");
}

* html .u7_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatarioBasicos_files/u7_normal.png");
}

* html .u10_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatarioBasicos_files/u10_line.png");
}

* html .u11_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatarioBasicos_files/GravarJornada_u11_normal.png");
}

* html .u13_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatarioBasicos_files/GravarJornada_u11_normal.png");
}

* html .u23_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatarioBasicos_files/u23_normal.png");
}

* html .u25_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatarioBasicos_files/u23_normal.png");
}

* html .u27_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatarioBasicos_files/u27_normal.png");
}

* html .u29_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatarioBasicos_files/u29_normal.png");
}

* html .u32_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatarioBasicos_files/u32_normal.png");
}

* html .u36_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatarioBasicos_files/u32_normal.png");
}

* html .u39_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatarioBasicos_files/u39_normal.png");
}

* html .u41_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatarioBasicos_files/u39_normal.png");
}

* html .u43_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatarioBasicos_files/u39_normal.png");
}

* html .u45_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatarioBasicos_files/u39_normal.png");
}

* html .u50_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatarioBasicos_files/u50_line.png");
}

* html .u63_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/MenuQuadroCinza_u24_normal.png");
}

* html .u65_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/preto_u26_normal.png");
}

* html .u67_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Logo_u28_normal.png");
}

* html .u71_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Icone1_u32_normal.png");
}

* html .u73_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Icone1_u32_normal.png");
}

* html .u75_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/IconeMensagem_u36_normal.png");
}

* html .u77_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/IconeAten_ao_u38_normal.png");
}

* html .u79_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/IconeConfig_u40_normal.png");
}

* html .u83_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="BuscaMenu_files/u44_normal.png");
}

* html .u93_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="BuscaMenu_files/BotaoBusca_u54_normal.png");
}

* html .u96_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u57_mouseOver.png");
}

* html .u96_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u57_selected.png");
}

* html .u96_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u57_selected.png");
}

* html .u98_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Mensagem_u59_mouseOver.png");
}

* html .u98_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u57_selected.png");
}

* html .u98_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u57_selected.png");
}

* html .u100_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u57_mouseOver.png");
}

* html .u100_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u57_selected.png");
}

* html .u100_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u57_selected.png");
}

* html .u102_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Mensagem_u59_mouseOver.png");
}

* html .u102_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u57_selected.png");
}

* html .u102_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u57_selected.png");
}

* html .u104_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u57_mouseOver.png");
}

* html .u104_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u57_selected.png");
}

* html .u104_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u57_selected.png");
}

* html .u106_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Mensagem_u59_mouseOver.png");
}

* html .u106_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u57_selected.png");
}

* html .u106_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u57_selected.png");
}

* html .u108_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u57_mouseOver.png");
}

* html .u108_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u57_selected.png");
}

* html .u108_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u57_selected.png");
}

* html .u110_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Sair_u71_mouseOver.png");
}

* html .u110_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Sair_u71_selected.png");
}

* html .u110_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Sair_u71_selected.png");
}

* html .u113_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/ListagemJornada_u294_mouseOver.png");
}

* html .u113_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/ListagemJornada_u294_selected.png");
}

* html .u113_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/ListagemJornada_u294_normal.png");
}

* html .u115_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/ListagemJornada_u294_mouseOver.png");
}

* html .u115_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/ListagemJornada_u294_selected.png");
}

* html .u115_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/ListagemJornada_u294_normal.png");
}

* html .u117_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/ListagemJornada_u294_mouseOver.png");
}

* html .u117_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/ListagemJornada_u294_selected.png");
}

* html .u117_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/ListagemJornada_u294_normal.png");
}

* html .u120_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png");
}

* html .u120_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/LocalEmbarcador_u301_selected.png");
}

* html .u120_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/LocalEmbarcador_u301_normal.png");
}

* html .u122_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png");
}

* html .u122_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/LocalEmbarcador_u301_selected.png");
}

* html .u122_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/LocalEmbarcador_u301_normal.png");
}

* html .u124_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png");
}

* html .u124_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/LocalEmbarcador_u301_selected.png");
}

* html .u124_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/LocalEmbarcador_u301_normal.png");
}

* html .u126_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png");
}

* html .u126_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/LocalEmbarcador_u301_selected.png");
}

* html .u126_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/LocalEmbarcador_u301_normal.png");
}

* html .u128_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png");
}

* html .u128_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/LocalEmbarcador_u301_selected.png");
}

* html .u128_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadDestinatario_files/LocalEmbarcador_u301_normal.png");
}

