﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../CadDestinatarioBasicos_files/Quadrado_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:142px;
    width:1167px;
    height:541px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:547px;
}

.u1 {
    position:absolute;
    left:2px;
    top:262px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:149px;
    top:181px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:951px;
    top:215px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:951px;
    top:238px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:114px;
    top:100px;
    width:254px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:149px;
    top:159px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../CadDestinatarioBasicos_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:140px;
    top:130px;
    width:140px;
    height:25px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:148px;
    top:276px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../CadDestinatarioBasicos_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u10 {
    position:absolute;
    left:138px;
    top:290px;
    width:1130px;
    height:10px;
    
}

.u11_normal {
    background-image: url('../CadDestinatarioBasicos_files/GravarJornada_u11_normal.png');
}

.u11_container {
    position:absolute;
    left:1085px;
    top:691px;
    width:100px;
    height:25px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u12 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../CadDestinatarioBasicos_files/GravarJornada_u11_normal.png');
}

.u13_container {
    position:absolute;
    left:1185px;
    top:691px;
    width:100px;
    height:25px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u14 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:951px;
    top:173px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:951px;
    top:151px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:149px;
    top:237px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:149px;
    top:215px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:218px;
    top:323px;
    width:231px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:149px;
    top:363px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:149px;
    top:302px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:149px;
    top:385px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23_normal {
    background-image: url('../CadDestinatarioBasicos_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:666px;
    top:341px;
    width:585px;
    height:26px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u24 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../CadDestinatarioBasicos_files/u23_normal.png');
}

.u25_container {
    position:absolute;
    left:666px;
    top:395px;
    width:585px;
    height:26px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u26 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../CadDestinatarioBasicos_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:1214px;
    top:310px;
    width:37px;
    height:30px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:43px;
    height:36px;
}

.u28 {
    position:absolute;
    left:2px;
    top:7px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../CadDestinatarioBasicos_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:666px;
    top:310px;
    width:548px;
    height:30px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:554px;
    height:36px;
}

.u30 {
    position:absolute;
    left:2px;
    top:7px;
    width:544px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:676px;
    top:346px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../CadDestinatarioBasicos_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:666px;
    top:368px;
    width:585px;
    height:26px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u33 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:676px;
    top:373px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:676px;
    top:400px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../CadDestinatarioBasicos_files/u32_normal.png');
}

.u36_container {
    position:absolute;
    left:666px;
    top:422px;
    width:585px;
    height:26px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u37 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:676px;
    top:427px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../CadDestinatarioBasicos_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:1222px;
    top:344px;
    width:20px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../CadDestinatarioBasicos_files/u39_normal.png');
}

.u41_container {
    position:absolute;
    left:1222px;
    top:398px;
    width:20px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../CadDestinatarioBasicos_files/u39_normal.png');
}

.u43_container {
    position:absolute;
    left:1222px;
    top:371px;
    width:20px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../CadDestinatarioBasicos_files/u39_normal.png');
}

.u45_container {
    position:absolute;
    left:1222px;
    top:425px;
    width:20px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:476px;
    top:384px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48 {
    position:absolute;
    left:149px;
    top:323px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49 {
    position:absolute;
    left:148px;
    top:470px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_line {
    background-image: url('../CadDestinatarioBasicos_files/u50_line.png');
}

.u50_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u50 {
    position:absolute;
    left:138px;
    top:484px;
    width:1130px;
    height:10px;
    
}

.u51 {
    position:absolute;
    left:951px;
    top:639px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u52 {
    position:absolute;
    left:149px;
    top:518px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:149px;
    top:496px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:149px;
    top:639px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55 {
    position:absolute;
    left:149px;
    top:617px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:554px;
    top:639px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:554px;
    top:617px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:951px;
    top:617px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:149px;
    top:582px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:149px;
    top:560px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:951px;
    top:582px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u62 {
    position:absolute;
    left:951px;
    top:560px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u24_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u64 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../MenuPrincipal_files/preto_u26_normal.png');
}

.u65_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u66 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../MenuPrincipal_files/Logo_u28_normal.png');
}

.u67_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u68 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u32_normal.png');
}

.u71_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u72 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u32_normal.png');
}

.u73_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u74 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u36_normal.png');
}

.u75_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u76 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u38_normal.png');
}

.u77_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u78 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u40_normal.png');
}

.u79_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u80 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u82 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u82 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u83_normal {
    background-image: url('../BuscaMenu_files/u44_normal.png');
}

.u83_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u84 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u54_normal.png');
}

.u93_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u94 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u96_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u96_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u96_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u97 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u98_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u98_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u98_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u99 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u100_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u100_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u100_container {
    position:absolute;
    left:444px;
    top:2px;
    width:148px;
    height:25px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u101 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u102_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u102_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u102_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u103 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u104_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u104_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u104_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u105 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u106_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u106_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u106_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u107 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u108_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u108_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u108_container {
    position:absolute;
    left:296px;
    top:2px;
    width:148px;
    height:25px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u109 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u71_mouseOver.png');
}

.u110_selected {
    background-image: url('../MenuPrincipal_files/Sair_u71_selected.png');
}

.u110_normal {
    background-image: url('../MenuPrincipal_files/Sair_u71_selected.png');
}

.u110_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u111 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_mouseOver {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_mouseOver.png');
}

.u113_selected {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_selected.png');
}

.u113_normal {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_normal.png');
}

.u113_container {
    position:absolute;
    left:0px;
    top:121px;
    width:100px;
    height:40px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u114 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_mouseOver {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_mouseOver.png');
}

.u115_selected {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_selected.png');
}

.u115_normal {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_normal.png');
}

.u115_container {
    position:absolute;
    left:0px;
    top:81px;
    width:100px;
    height:40px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u116 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_mouseOver {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_mouseOver.png');
}

.u117_selected {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_selected.png');
}

.u117_normal {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_normal.png');
}

.u117_container {
    position:absolute;
    left:0px;
    top:161px;
    width:100px;
    height:40px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u118 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u119 {
    position:absolute;
    left:0px;
    top:201px;
    width:101px;
    height:201px;
    overflow:hidden;
}

#pd0u119 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:201px;
    
}

.u120_mouseOver {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png');
}

.u120_selected {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_selected.png');
}

.u120_normal {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_normal.png');
}

.u120_container {
    position:absolute;
    left:15px;
    top:40px;
    width:85px;
    height:40px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u121 {
    position:absolute;
    left:2px;
    top:5px;
    width:81px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_mouseOver {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png');
}

.u122_selected {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_selected.png');
}

.u122_normal {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_normal.png');
}

.u122_container {
    position:absolute;
    left:15px;
    top:0px;
    width:85px;
    height:40px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u123 {
    position:absolute;
    left:2px;
    top:5px;
    width:81px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_mouseOver {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png');
}

.u124_selected {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_selected.png');
}

.u124_normal {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_normal.png');
}

.u124_container {
    position:absolute;
    left:15px;
    top:120px;
    width:85px;
    height:40px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u125 {
    position:absolute;
    left:2px;
    top:5px;
    width:81px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_mouseOver {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png');
}

.u126_selected {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_selected.png');
}

.u126_normal {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_normal.png');
}

.u126_container {
    position:absolute;
    left:15px;
    top:80px;
    width:85px;
    height:40px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u127 {
    position:absolute;
    left:2px;
    top:12px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_mouseOver {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png');
}

.u128_selected {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_selected.png');
}

.u128_normal {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_normal.png');
}

.u128_container {
    position:absolute;
    left:15px;
    top:160px;
    width:85px;
    height:40px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u129 {
    position:absolute;
    left:2px;
    top:12px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

