﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../CadQuestao_files/Quadrado_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:142px;
    width:1167px;
    height:305px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:311px;
}

.u1 {
    position:absolute;
    left:2px;
    top:144px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:951px;
    top:170px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:951px;
    top:193px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:114px;
    top:100px;
    width:471px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../CadQuestao_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:140px;
    top:130px;
    width:140px;
    height:25px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u6 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:148px;
    top:230px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../CadQuestao_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u8 {
    position:absolute;
    left:138px;
    top:244px;
    width:1130px;
    height:10px;
    
}

.u9_normal {
    background-image: url('../CadQuestao_files/GravarJornada_u9_normal.png');
}

.u9_container {
    position:absolute;
    left:1087px;
    top:463px;
    width:100px;
    height:25px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u10 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../CadQuestao_files/GravarJornada_u9_normal.png');
}

.u11_container {
    position:absolute;
    left:1187px;
    top:463px;
    width:100px;
    height:25px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u12 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:549px;
    top:170px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:549px;
    top:193px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:149px;
    top:170px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:149px;
    top:193px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u22_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u18 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../MenuPrincipal_files/preto_u24_normal.png');
}

.u19_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u20 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../MenuPrincipal_files/Logo_u26_normal.png');
}

.u21_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u22 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u25_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u26 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u27_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u28 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u34_normal.png');
}

.u29_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u30 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u36_normal.png');
}

.u31_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u32 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u38_normal.png');
}

.u33_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u34 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u36 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u36 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u37_normal {
    background-image: url('../BuscaMenu_files/u42_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u38 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u52_normal.png');
}

.u47_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u48 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u50_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u50_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u50_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u51 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_mouseOver {
    background-image: url('../MenuPrincipal_files/Transfer_u57_mouseOver.png');
}

.u52_selected {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u52_normal {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u52_container {
    position:absolute;
    left:296px;
    top:2px;
    width:296px;
    height:25px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:31px;
}

.u53 {
    position:absolute;
    left:2px;
    top:4px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u54_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u54_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u54_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u55 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u56_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u56_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u56_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u57 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_mouseOver {
    background-image: url('../MenuPrincipal_files/CadastroBasico_u63_mouseOver.png');
}

.u58_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u58_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u58_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u59 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u60_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u60_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u60_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u61 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u67_mouseOver.png');
}

.u62_selected {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u62_normal {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u62_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u63 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u65 {
    position:absolute;
    left:144px;
    top:260px;
    width:1120px;
    height:179px;
    overflow:hidden;
}

#pd2u65 {
    position:absolute;
    left:0px;
    top:0px;
    width:1120px;
    height:179px;
    
}

.u66 {
    position:absolute;
    left:4px;
    top:22px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u67 {
    position:absolute;
    left:4px;
    top:0px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:2px;
    top:0px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u65 {
    position:absolute;
    left:0px;
    top:0px;
    width:1120px;
    height:179px;
    
}

.u74 {
    position:absolute;
    left:4px;
    top:22px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u75 {
    position:absolute;
    left:4px;
    top:0px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:4px;
    top:93px;
    width:705px;
    height:80px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:4px;
    top:71px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:2px;
    top:0px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u65 {
    position:absolute;
    left:0px;
    top:0px;
    width:1120px;
    height:179px;
    
}

.u80 {
    position:absolute;
    left:4px;
    top:22px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u81 {
    position:absolute;
    left:4px;
    top:0px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:2px;
    top:0px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u84_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u84_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u84_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u85 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u86_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u86_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u86_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u87 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u88 {
    position:absolute;
    left:0px;
    top:160px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u88 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u89_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u89_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u89_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u89_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u90 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u91 {
    position:absolute;
    left:0px;
    top:200px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u91 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u92_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u92_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u92_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u92_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u93 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u94 {
    position:absolute;
    left:0px;
    top:240px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u94 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u95_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u95_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u95_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u95_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u96 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u97 {
    position:absolute;
    left:0px;
    top:280px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u97 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u98_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u98_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u98_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u98_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u99 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u100 {
    position:absolute;
    left:0px;
    top:320px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u100 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u101_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u101_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u101_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u101_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u102 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u103 {
    position:absolute;
    left:0px;
    top:360px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u103 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u104_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u104_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u104_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u104_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u105 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u106 {
    position:absolute;
    left:0px;
    top:400px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u106 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u107_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u107_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u107_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u107_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u108 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u109 {
    position:absolute;
    left:10px;
    top:200px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u109 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u110_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u110_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u110_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u110_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u111 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u112_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u112_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u112_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u113 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u114 {
    position:absolute;
    left:10px;
    top:240px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u114 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u115_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u115_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u115_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u115_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u116 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u117_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u117_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u117_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u118 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u119 {
    position:absolute;
    left:10px;
    top:280px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u119 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u120_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u120_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u120_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u120_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u121 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u122_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u122_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u122_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u123 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u124 {
    position:absolute;
    left:10px;
    top:320px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u124 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u125_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u125_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u125_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u125_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u126 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u127_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u127_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u127_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u128 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u129 {
    position:absolute;
    left:10px;
    top:360px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u129 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u130_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u130_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u130_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u130_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u131 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u132_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u132_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u132_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u133 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u134 {
    position:absolute;
    left:10px;
    top:160px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u134 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u135_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u135_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u135_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u135_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u136 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u137_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u137_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u137_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u138 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u139 {
    position:absolute;
    left:10px;
    top:400px;
    width:91px;
    height:241px;
    overflow:hidden;
}

#pd0u139 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:241px;
    
}

.u140_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u140_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u140_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u140_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u141 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u142_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u142_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u142_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u143 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u144_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u144_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u144_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u145 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u146 {
    position:absolute;
    left:0px;
    top:120px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u146 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u147_mouseOver {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u147_selected {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_selected.png');
}

.u147_normal {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u147_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u148 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_mouseOver {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u149_selected {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_selected.png');
}

.u149_normal {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u149_container {
    position:absolute;
    left:0px;
    top:40px;
    width:90px;
    height:40px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u150 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u151 {
    position:absolute;
    left:0px;
    top:120px;
    width:91px;
    height:41px;
    overflow:hidden;
}

#pd0u151 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:41px;
    
}

.u152_mouseOver {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u152_selected {
    background-image: url('../MenuTransfer_files/ListagemPersonagem_u72_selected.png');
}

.u152_normal {
    background-image: url('../MenuTransfer_files/ListagemPersonagem_u72_normal.png');
}

.u152_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u153 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u154 {
    position:absolute;
    left:10px;
    top:440px;
    width:91px;
    height:161px;
    overflow:hidden;
}

#pd0u154 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:161px;
    
}

.u155_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u155_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u155_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u155_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u156 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u157_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u157_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u157_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u158 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u159_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u159_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u159_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u160 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u161_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u161_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u161_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u162 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

