﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:114px;
    top:260px;
    width:1160px;
    height:478px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u1_normal {
    background-image: url('../EscreverLivre_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:114px;
    top:230px;
    width:1160px;
    height:30px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1166px;
    height:36px;
}

.u2 {
    position:absolute;
    left:2px;
    top:7px;
    width:1156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_mouseOver {
    background-image: url('../EscreverLivre_files/u3_mouseOver.png');
}

.u3_normal {
    background-image: url('../EscreverLivre_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:341px;
    top:233px;
    width:25px;
    height:25px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u4 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_mouseOver {
    background-image: url('../EscreverLivre_files/u3_mouseOver.png');
}

.u5_normal {
    background-image: url('../EscreverLivre_files/u3_normal.png');
}

.u5_container {
    position:absolute;
    left:367px;
    top:233px;
    width:25px;
    height:25px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u6 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_mouseOver {
    background-image: url('../EscreverLivre_files/u3_mouseOver.png');
}

.u7_normal {
    background-image: url('../EscreverLivre_files/u3_normal.png');
}

.u7_container {
    position:absolute;
    left:408px;
    top:233px;
    width:25px;
    height:25px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_mouseOver {
    background-image: url('../EscreverLivre_files/u3_mouseOver.png');
}

.u9_normal {
    background-image: url('../EscreverLivre_files/u3_normal.png');
}

.u9_container {
    position:absolute;
    left:432px;
    top:233px;
    width:25px;
    height:25px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u10 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_mouseOver {
    background-image: url('../EscreverLivre_files/u3_mouseOver.png');
}

.u11_normal {
    background-image: url('../EscreverLivre_files/u3_normal.png');
}

.u11_container {
    position:absolute;
    left:275px;
    top:233px;
    width:25px;
    height:25px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u12 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_mouseOver {
    background-image: url('../EscreverLivre_files/u3_mouseOver.png');
}

.u13_normal {
    background-image: url('../EscreverLivre_files/u3_normal.png');
}

.u13_container {
    position:absolute;
    left:300px;
    top:233px;
    width:25px;
    height:25px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u14 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:114px;
    top:100px;
    width:254px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:205px;
    top:193px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_mouseOver {
    background-image: url('../EscreverLivre_files/u3_mouseOver.png');
}

.u17_normal {
    background-image: url('../EscreverLivre_files/u3_normal.png');
}

.u17_container {
    position:absolute;
    left:250px;
    top:233px;
    width:25px;
    height:25px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u18 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_mouseOver {
    background-image: url('../EscreverLivre_files/u3_mouseOver.png');
}

.u19_normal {
    background-image: url('../EscreverLivre_files/u3_normal.png');
}

.u19_container {
    position:absolute;
    left:209px;
    top:233px;
    width:25px;
    height:25px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u20 {
    position:absolute;
    left:2px;
    top:6px;
    width:21px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_mouseOver {
    background-image: url('../EscreverLivre_files/u3_mouseOver.png');
}

.u21_normal {
    background-image: url('../EscreverLivre_files/u3_normal.png');
}

.u21_container {
    position:absolute;
    left:134px;
    top:233px;
    width:25px;
    height:25px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u22 {
    position:absolute;
    left:2px;
    top:6px;
    width:21px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_line {
    background-image: url('../EscreverLivre_files/u23_line.png');
}

.u23_line {
    position:absolute;
    left:0px;
    top:4px;
    width:12px;
    height:3px;
}

.u23 {
    position:absolute;
    left:215px;
    top:242px;
    width:12px;
    height:10px;
    
}

.u24_mouseOver {
    background-image: url('../EscreverLivre_files/u24_mouseOver.png');
}

.u24_normal {
    background-image: url('../EscreverLivre_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:159px;
    top:233px;
    width:25px;
    height:25px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u25 {
    position:absolute;
    left:2px;
    top:6px;
    width:21px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_mouseOver {
    background-image: url('../EscreverLivre_files/u24_mouseOver.png');
}

.u26_normal {
    background-image: url('../EscreverLivre_files/u24_normal.png');
}

.u26_container {
    position:absolute;
    left:184px;
    top:233px;
    width:25px;
    height:25px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u27 {
    position:absolute;
    left:2px;
    top:6px;
    width:21px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u28 {
    position:absolute;
    left:473px;
    top:233px;
    width:121px;
    height:26px;
    overflow:hidden;
}

#pd1u28 {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:26px;
    
}

.u29_normal {
    background-image: url('../EscreverLivre_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:25px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:31px;
}

.u30 {
    position:absolute;
    left:2px;
    top:4px;
    width:116px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../EscreverLivre_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:110px;
    top:10px;
    width:6px;
    height:4px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:10px;
}

.u32 {
    position:absolute;
    left:2px;
    top:-6px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u28 {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:26px;
    
}

.u33_normal {
    background-image: url('../EscreverLivre_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:25px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:31px;
}

.u34 {
    position:absolute;
    left:2px;
    top:5px;
    width:116px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../EscreverLivre_files/u31_normal.png');
}

.u35_container {
    position:absolute;
    left:110px;
    top:10px;
    width:6px;
    height:4px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:10px;
}

.u36 {
    position:absolute;
    left:2px;
    top:-6px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u37 {
    position:absolute;
    left:471px;
    top:259px;
    width:126px;
    height:226px;
    overflow:hidden;
}

#pd0u37 {
    position:absolute;
    left:0px;
    top:0px;
    width:126px;
    height:226px;
    
}

.u38_normal {
    background-image: url('../EscreverLivre_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:1px;
    top:0px;
    width:124px;
    height:225px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:124px;
    height:225px;
}

.u39 {
    position:absolute;
    left:2px;
    top:104px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u40 {
    position:absolute;
    left:1px;
    top:39px;
    width:120px;
    height:20px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u41 {
    position:absolute;
    left:670px;
    top:233px;
    width:36px;
    height:26px;
    overflow:hidden;
}

#pd1u41 {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:26px;
    
}

.u42_normal {
    background-image: url('../EscreverLivre_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:25px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:25px;
}

.u43 {
    position:absolute;
    left:2px;
    top:4px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u41 {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:26px;
    
}

.u44_normal {
    background-image: url('../EscreverLivre_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:25px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:25px;
}

.u45 {
    position:absolute;
    left:2px;
    top:4px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u46 {
    position:absolute;
    left:670px;
    top:258px;
    width:173px;
    height:205px;
    overflow:hidden;
}

#pd0u46 {
    position:absolute;
    left:0px;
    top:0px;
    width:173px;
    height:205px;
    
}

.u47_normal {
    background-image: url('../EscreverLivre_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:0px;
    width:172px;
    height:205px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:172px;
    height:205px;
}

.u48 {
    position:absolute;
    left:2px;
    top:94px;
    width:168px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u49 {
    position:absolute;
    left:44px;
    top:155px;
    width:14px;
    height:14px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u50 {
    position:absolute;
    left:608px;
    top:233px;
    width:52px;
    height:26px;
    overflow:hidden;
}

#pd1u50 {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:26px;
    
}

.u51_normal {
    background-image: url('../EscreverLivre_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:25px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:25px;
}

.u52 {
    position:absolute;
    left:2px;
    top:4px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u50 {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:26px;
    
}

.u53_normal {
    background-image: url('../EscreverLivre_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:25px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:25px;
}

.u54 {
    position:absolute;
    left:2px;
    top:4px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u55 {
    position:absolute;
    left:608px;
    top:257px;
    width:53px;
    height:123px;
    overflow:hidden;
}

#pd0u55 {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:123px;
    
}

.u56_normal {
    background-image: url('../EscreverLivre_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:122px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:122px;
}

.u57 {
    position:absolute;
    left:2px;
    top:53px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u58 {
    position:absolute;
    left:0px;
    top:39px;
    width:50px;
    height:18px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u59_line {
    background-image: url('../EscreverLivre_files/u59_line.png');
}

.u59_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u59 {
    position:absolute;
    left:328px;
    top:238px;
    width:10px;
    height:16px;
    
}

.u60_line {
    background-image: url('../EscreverLivre_files/u60_line.png');
}

.u60_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u60 {
    position:absolute;
    left:329px;
    top:238px;
    width:10px;
    height:16px;
    
}

.u61_selected {
    background-image: url('../EscreverLivre_files/textarea_button_-_unordered_list_u61_selected.png');
}

.u61_normal {
    background-image: url('../EscreverLivre_files/textarea_button_-_unordered_list_u61_normal.png');
}

.u61_container {
    position:absolute;
    left:343px;
    top:234px;
    width:23px;
    height:23px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u62 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_selected {
    background-image: url('../EscreverLivre_files/textarea_button_-_ordered_list_u63_selected.png');
}

.u63_normal {
    background-image: url('../EscreverLivre_files/textarea_button_-_ordered_list_u63_normal.png');
}

.u63_container {
    position:absolute;
    left:367px;
    top:234px;
    width:23px;
    height:23px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u64 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_line {
    background-image: url('../EscreverLivre_files/u65_line.png');
}

.u65_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u65 {
    position:absolute;
    left:237px;
    top:238px;
    width:10px;
    height:16px;
    
}

.u66_line {
    background-image: url('../EscreverLivre_files/u66_line.png');
}

.u66_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u66 {
    position:absolute;
    left:238px;
    top:238px;
    width:10px;
    height:16px;
    
}

.u67_selected {
    background-image: url('../EscreverLivre_files/textarea_button_-_outdent_u67_selected.png');
}

.u67_disabled {
    background-image: url('../EscreverLivre_files/textarea_button_-_outdent_u67_disabled.png');
}

.u67_normal {
    background-image: url('../EscreverLivre_files/textarea_button_-_outdent_u67_normal.png');
}

.u67_container {
    position:absolute;
    left:408px;
    top:235px;
    width:23px;
    height:23px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u68 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_selected {
    background-image: url('../EscreverLivre_files/textarea_button_-_indent_u69_selected.png');
}

.u69_disabled {
    background-image: url('../EscreverLivre_files/textarea_button_-_indent_u69_disabled.png');
}

.u69_normal {
    background-image: url('../EscreverLivre_files/textarea_button_-_indent_u69_normal.png');
}

.u69_container {
    position:absolute;
    left:432px;
    top:235px;
    width:23px;
    height:23px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u70 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_selected {
    background-image: url('../EscreverLivre_files/textarea_button_-_align_left_u71_selected.png');
}

.u71_disabled {
    background-image: url('../EscreverLivre_files/textarea_button_-_align_left_u71_disabled.png');
}

.u71_normal {
    background-image: url('../EscreverLivre_files/textarea_button_-_align_left_u71_normal.png');
}

.u71_container {
    position:absolute;
    left:251px;
    top:234px;
    width:23px;
    height:23px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u72 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_selected {
    background-image: url('../EscreverLivre_files/textarea_button_-_align_center_u73_selected.png');
}

.u73_disabled {
    background-image: url('../EscreverLivre_files/textarea_button_-_align_center_u73_disabled.png');
}

.u73_normal {
    background-image: url('../EscreverLivre_files/textarea_button_-_align_center_u73_normal.png');
}

.u73_container {
    position:absolute;
    left:276px;
    top:234px;
    width:23px;
    height:23px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u74 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_selected {
    background-image: url('../EscreverLivre_files/textarea_button_-_align_right_u75_selected.png');
}

.u75_disabled {
    background-image: url('../EscreverLivre_files/textarea_button_-_align_right_u75_disabled.png');
}

.u75_normal {
    background-image: url('../EscreverLivre_files/textarea_button_-_align_right_u75_normal.png');
}

.u75_container {
    position:absolute;
    left:301px;
    top:234px;
    width:23px;
    height:23px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u76 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_line {
    background-image: url('../EscreverLivre_files/u77_line.png');
}

.u77_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u77 {
    position:absolute;
    left:395px;
    top:237px;
    width:10px;
    height:16px;
    
}

.u78_line {
    background-image: url('../EscreverLivre_files/u78_line.png');
}

.u78_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u78 {
    position:absolute;
    left:396px;
    top:237px;
    width:10px;
    height:16px;
    
}

.u79_line {
    background-image: url('../EscreverLivre_files/u79_line.png');
}

.u79_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u79 {
    position:absolute;
    left:460px;
    top:238px;
    width:10px;
    height:16px;
    
}

.u80_line {
    background-image: url('../EscreverLivre_files/u80_line.png');
}

.u80_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u80 {
    position:absolute;
    left:461px;
    top:238px;
    width:10px;
    height:16px;
    
}

.u81_normal {
    background-image: url('../EscreverLivre_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:114px;
    top:159px;
    width:80px;
    height:54px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:60px;
}

.u82 {
    position:absolute;
    left:2px;
    top:11px;
    width:76px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:301px;
    top:158px;
    width:973px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u84_normal {
    background-image: url('../EscreverLivre_files/u84_normal.png');
}

.u84_container {
    position:absolute;
    left:204px;
    top:158px;
    width:75px;
    height:25px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:81px;
    height:31px;
}

.u85 {
    position:absolute;
    left:2px;
    top:4px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:301px;
    top:188px;
    width:973px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u87_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u22_normal.png');
}

.u87_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u88 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../MenuPrincipal_files/preto_u24_normal.png');
}

.u89_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u90 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../MenuPrincipal_files/Logo_u26_normal.png');
}

.u91_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u92 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u95_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u96 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u97_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u98 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u34_normal.png');
}

.u99_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u100 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u36_normal.png');
}

.u101_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u102 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u38_normal.png');
}

.u103_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u103_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u104 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u106 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u106 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u107_normal {
    background-image: url('../BuscaMenu_files/u42_normal.png');
}

.u107_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u108 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u52_normal.png');
}

.u117_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u118 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u120_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u120_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u120_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u121 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_mouseOver {
    background-image: url('../MenuPrincipal_files/Transfer_u57_mouseOver.png');
}

.u122_selected {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u122_normal {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u122_container {
    position:absolute;
    left:296px;
    top:2px;
    width:296px;
    height:25px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:31px;
}

.u123 {
    position:absolute;
    left:2px;
    top:4px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u124_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u124_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u124_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u125 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u126_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u126_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u126_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u127 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_mouseOver {
    background-image: url('../MenuPrincipal_files/CadastroBasico_u63_mouseOver.png');
}

.u128_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u128_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u128_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u129 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u130_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u130_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u130_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u131 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u67_mouseOver.png');
}

.u132_selected {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u132_normal {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u132_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u133 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_mouseOver {
    background-image: url('../MenuMensagens_files/Escrever_u315_mouseOver.png');
}

.u135_selected {
    background-image: url('../MenuMensagens_files/Escrever_u315_selected.png');
}

.u135_normal {
    background-image: url('../MenuMensagens_files/Escrever_u315_normal.png');
}

.u135_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u136 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u137 {
    position:absolute;
    left:0px;
    top:120px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u137 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u138_mouseOver {
    background-image: url('../MenuMensagens_files/Escrever_u315_mouseOver.png');
}

.u138_selected {
    background-image: url('../MenuMensagens_files/Escrever_u315_selected.png');
}

.u138_normal {
    background-image: url('../MenuMensagens_files/Escrever_u315_normal.png');
}

.u138_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u139 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u140 {
    position:absolute;
    left:0px;
    top:160px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u140 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u141_mouseOver {
    background-image: url('../MenuMensagens_files/Escrever_u315_mouseOver.png');
}

.u141_selected {
    background-image: url('../MenuMensagens_files/Escrever_u315_selected.png');
}

.u141_normal {
    background-image: url('../MenuMensagens_files/Escrever_u315_normal.png');
}

.u141_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u142 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u143 {
    position:absolute;
    left:0px;
    top:200px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u143 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u144_mouseOver {
    background-image: url('../MenuMensagens_files/Escrever_u315_mouseOver.png');
}

.u144_selected {
    background-image: url('../MenuMensagens_files/Escrever_u315_selected.png');
}

.u144_normal {
    background-image: url('../MenuMensagens_files/Escrever_u315_normal.png');
}

.u144_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u145 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u146 {
    position:absolute;
    left:0px;
    top:240px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u146 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u147_mouseOver {
    background-image: url('../MenuMensagens_files/Escrever_u315_mouseOver.png');
}

.u147_selected {
    background-image: url('../MenuMensagens_files/Escrever_u315_selected.png');
}

.u147_normal {
    background-image: url('../MenuMensagens_files/Escrever_u315_normal.png');
}

.u147_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u148 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u149 {
    position:absolute;
    left:10px;
    top:280px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u149 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u150_mouseOver {
    background-image: url('../MenuMensagens_files/Escrever_u315_mouseOver.png');
}

.u150_selected {
    background-image: url('../MenuMensagens_files/Escrever_u315_selected.png');
}

.u150_normal {
    background-image: url('../MenuMensagens_files/Escrever_u315_normal.png');
}

.u150_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u151 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_mouseOver {
    background-image: url('../MenuMensagens_files/Escrever_u315_mouseOver.png');
}

.u152_selected {
    background-image: url('../MenuMensagens_files/Escrever_u315_selected.png');
}

.u152_normal {
    background-image: url('../MenuMensagens_files/Escrever_u315_normal.png');
}

.u152_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u153 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u154 {
    position:absolute;
    left:10px;
    top:120px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u154 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u155_mouseOver {
    background-image: url('../MenuMensagens_files/Escrever_u315_mouseOver.png');
}

.u155_selected {
    background-image: url('../MenuMensagens_files/Escrever_u315_selected.png');
}

.u155_normal {
    background-image: url('../MenuMensagens_files/Escrever_u315_normal.png');
}

.u155_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u156 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_mouseOver {
    background-image: url('../MenuMensagens_files/Escrever_u315_mouseOver.png');
}

.u157_selected {
    background-image: url('../MenuMensagens_files/Escrever_u315_selected.png');
}

.u157_normal {
    background-image: url('../MenuMensagens_files/Escrever_u315_normal.png');
}

.u157_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u158 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

