﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/Quadrado_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:142px;
    width:1167px;
    height:491px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:497px;
}

.u1 {
    position:absolute;
    left:2px;
    top:238px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:114px;
    top:100px;
    width:254px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:140px;
    top:130px;
    width:140px;
    height:25px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u4 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:150px;
    top:160px;
    width:227px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../CadEmbarcadorRecebedor_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u6 {
    position:absolute;
    left:138px;
    top:174px;
    width:1130px;
    height:10px;
    
}

.u7 {
    position:absolute;
    left:151px;
    top:208px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:151px;
    top:186px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:151px;
    top:272px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:151px;
    top:250px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:953px;
    top:272px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:953px;
    top:250px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u24_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u14 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../MenuPrincipal_files/preto_u26_normal.png');
}

.u15_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u16 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../MenuPrincipal_files/Logo_u28_normal.png');
}

.u17_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u18 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u32_normal.png');
}

.u21_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u22 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u32_normal.png');
}

.u23_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u24 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u36_normal.png');
}

.u25_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u26 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u38_normal.png');
}

.u27_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u28 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u40_normal.png');
}

.u29_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u30 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u32 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u32 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u33_normal {
    background-image: url('../BuscaMenu_files/u44_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u34 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u54_normal.png');
}

.u43_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u44 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u46_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u46_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u46_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u47 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u48_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u48_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u48_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u49 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u50_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u50_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u50_container {
    position:absolute;
    left:444px;
    top:2px;
    width:148px;
    height:25px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u51 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u52_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u52_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u52_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u53 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u54_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u54_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u54_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u55 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u56_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u56_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u56_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u57 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u58_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u58_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u58_container {
    position:absolute;
    left:296px;
    top:2px;
    width:148px;
    height:25px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u59 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u71_mouseOver.png');
}

.u60_selected {
    background-image: url('../MenuPrincipal_files/Sair_u71_selected.png');
}

.u60_normal {
    background-image: url('../MenuPrincipal_files/Sair_u71_selected.png');
}

.u60_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u61 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_mouseOver {
    background-image: url('../CadDestinatario_files/ListagemJornada_u318_mouseOver.png');
}

.u63_selected {
    background-image: url('../CadDestinatario_files/ListagemJornada_u318_selected.png');
}

.u63_normal {
    background-image: url('../CadDestinatario_files/ListagemJornada_u318_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:121px;
    width:100px;
    height:40px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u64 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_mouseOver {
    background-image: url('../CadDestinatario_files/ListagemJornada_u318_mouseOver.png');
}

.u65_selected {
    background-image: url('../CadDestinatario_files/ListagemJornada_u318_selected.png');
}

.u65_normal {
    background-image: url('../CadDestinatario_files/ListagemJornada_u318_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:81px;
    width:100px;
    height:40px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u66 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_mouseOver {
    background-image: url('../CadDestinatario_files/ListagemJornada_u318_mouseOver.png');
}

.u67_selected {
    background-image: url('../CadDestinatario_files/ListagemJornada_u318_selected.png');
}

.u67_normal {
    background-image: url('../CadDestinatario_files/ListagemJornada_u318_normal.png');
}

.u67_container {
    position:absolute;
    left:0px;
    top:161px;
    width:100px;
    height:40px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u68 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u69 {
    position:absolute;
    left:0px;
    top:201px;
    width:101px;
    height:201px;
    overflow:hidden;
}

#pd0u69 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:201px;
    
}

.u70_mouseOver {
    background-image: url('../CadDestinatario_files/ListagemJornada_u325_mouseOver.png');
}

.u70_selected {
    background-image: url('../CadDestinatario_files/ListagemJornada_u325_selected.png');
}

.u70_normal {
    background-image: url('../CadDestinatario_files/ListagemJornada_u325_normal.png');
}

.u70_container {
    position:absolute;
    left:15px;
    top:40px;
    width:85px;
    height:40px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u71 {
    position:absolute;
    left:2px;
    top:5px;
    width:81px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_mouseOver {
    background-image: url('../CadDestinatario_files/ListagemJornada_u325_mouseOver.png');
}

.u72_selected {
    background-image: url('../CadDestinatario_files/ListagemJornada_u325_selected.png');
}

.u72_normal {
    background-image: url('../CadDestinatario_files/ListagemJornada_u325_normal.png');
}

.u72_container {
    position:absolute;
    left:15px;
    top:0px;
    width:85px;
    height:40px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u73 {
    position:absolute;
    left:2px;
    top:5px;
    width:81px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_mouseOver {
    background-image: url('../CadDestinatario_files/ListagemJornada_u325_mouseOver.png');
}

.u74_selected {
    background-image: url('../CadDestinatario_files/ListagemJornada_u325_selected.png');
}

.u74_normal {
    background-image: url('../CadDestinatario_files/ListagemJornada_u325_normal.png');
}

.u74_container {
    position:absolute;
    left:15px;
    top:120px;
    width:85px;
    height:40px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u75 {
    position:absolute;
    left:2px;
    top:5px;
    width:81px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_mouseOver {
    background-image: url('../CadDestinatario_files/ListagemJornada_u325_mouseOver.png');
}

.u76_selected {
    background-image: url('../CadDestinatario_files/ListagemJornada_u325_selected.png');
}

.u76_normal {
    background-image: url('../CadDestinatario_files/ListagemJornada_u325_normal.png');
}

.u76_container {
    position:absolute;
    left:15px;
    top:80px;
    width:85px;
    height:40px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u77 {
    position:absolute;
    left:2px;
    top:12px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_mouseOver {
    background-image: url('../CadDestinatario_files/ListagemJornada_u325_mouseOver.png');
}

.u78_selected {
    background-image: url('../CadDestinatario_files/ListagemJornada_u325_selected.png');
}

.u78_normal {
    background-image: url('../CadDestinatario_files/ListagemJornada_u325_normal.png');
}

.u78_container {
    position:absolute;
    left:15px;
    top:160px;
    width:85px;
    height:40px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u79 {
    position:absolute;
    left:2px;
    top:12px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:140px;
    top:387px;
    width:1117px;
    height:26px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u82 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u81_normal.png');
}

.u83_container {
    position:absolute;
    left:140px;
    top:441px;
    width:1117px;
    height:26px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u84 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u81_normal.png');
}

.u85_container {
    position:absolute;
    left:140px;
    top:495px;
    width:1117px;
    height:26px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u86 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:1190px;
    top:390px;
    width:20px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u89_normal.png');
}

.u89_container {
    position:absolute;
    left:1212px;
    top:390px;
    width:20px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u91_normal.png');
}

.u91_container {
    position:absolute;
    left:1234px;
    top:390px;
    width:20px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:1187px;
    top:356px;
    width:70px;
    height:30px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:36px;
}

.u94 {
    position:absolute;
    left:2px;
    top:7px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u87_normal.png');
}

.u95_container {
    position:absolute;
    left:1190px;
    top:444px;
    width:20px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u89_normal.png');
}

.u97_container {
    position:absolute;
    left:1212px;
    top:444px;
    width:20px;
    height:20px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u91_normal.png');
}

.u99_container {
    position:absolute;
    left:1234px;
    top:444px;
    width:20px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u101_normal.png');
}

.u101_container {
    position:absolute;
    left:140px;
    top:522px;
    width:1117px;
    height:26px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u102 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u87_normal.png');
}

.u103_container {
    position:absolute;
    left:1190px;
    top:498px;
    width:20px;
    height:20px;
}

#u103_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u89_normal.png');
}

.u105_container {
    position:absolute;
    left:1212px;
    top:498px;
    width:20px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u91_normal.png');
}

.u107_container {
    position:absolute;
    left:1234px;
    top:498px;
    width:20px;
    height:20px;
}

#u107_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:180px;
    top:527px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u87_normal.png');
}

.u110_container {
    position:absolute;
    left:1190px;
    top:525px;
    width:20px;
    height:20px;
}

#u110_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u111 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u89_normal.png');
}

.u112_container {
    position:absolute;
    left:1212px;
    top:525px;
    width:20px;
    height:20px;
}

#u112_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u113 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u91_normal.png');
}

.u114_container {
    position:absolute;
    left:1234px;
    top:525px;
    width:20px;
    height:20px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u115 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u81_normal.png');
}

.u116_container {
    position:absolute;
    left:140px;
    top:549px;
    width:1117px;
    height:26px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u117 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:180px;
    top:554px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u101_normal.png');
}

.u119_container {
    position:absolute;
    left:140px;
    top:576px;
    width:1117px;
    height:26px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u120 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u87_normal.png');
}

.u121_container {
    position:absolute;
    left:1190px;
    top:552px;
    width:20px;
    height:20px;
}

#u121_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u122 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u89_normal.png');
}

.u123_container {
    position:absolute;
    left:1212px;
    top:552px;
    width:20px;
    height:20px;
}

#u123_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u124 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u91_normal.png');
}

.u125_container {
    position:absolute;
    left:1234px;
    top:552px;
    width:20px;
    height:20px;
}

#u125_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u126 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:180px;
    top:581px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u87_normal.png');
}

.u128_container {
    position:absolute;
    left:1190px;
    top:579px;
    width:20px;
    height:20px;
}

#u128_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u129 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u89_normal.png');
}

.u130_container {
    position:absolute;
    left:1212px;
    top:579px;
    width:20px;
    height:20px;
}

#u130_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u131 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u91_normal.png');
}

.u132_container {
    position:absolute;
    left:1234px;
    top:579px;
    width:20px;
    height:20px;
}

#u132_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u133 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u140_normal.png');
}

.u140_container {
    position:absolute;
    left:140px;
    top:356px;
    width:30px;
    height:30px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u141 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u142_normal.png');
}

.u142_container {
    position:absolute;
    left:170px;
    top:356px;
    width:399px;
    height:30px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:405px;
    height:36px;
}

.u143 {
    position:absolute;
    left:2px;
    top:7px;
    width:395px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:180px;
    top:392px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u101_normal.png');
}

.u145_container {
    position:absolute;
    left:140px;
    top:414px;
    width:1117px;
    height:26px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u146 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:180px;
    top:419px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u87_normal.png');
}

.u150_container {
    position:absolute;
    left:1190px;
    top:417px;
    width:20px;
    height:20px;
}

#u150_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u151 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u89_normal.png');
}

.u152_container {
    position:absolute;
    left:1212px;
    top:417px;
    width:20px;
    height:20px;
}

#u152_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u153 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u91_normal.png');
}

.u154_container {
    position:absolute;
    left:1234px;
    top:417px;
    width:20px;
    height:20px;
}

#u154_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u155 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:180px;
    top:446px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u101_normal.png');
}

.u157_container {
    position:absolute;
    left:140px;
    top:468px;
    width:1117px;
    height:26px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u158 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:180px;
    top:473px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u87_normal.png');
}

.u160_container {
    position:absolute;
    left:1190px;
    top:471px;
    width:20px;
    height:20px;
}

#u160_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u161 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u89_normal.png');
}

.u162_container {
    position:absolute;
    left:1212px;
    top:471px;
    width:20px;
    height:20px;
}

#u162_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u163 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u91_normal.png');
}

.u164_container {
    position:absolute;
    left:1234px;
    top:471px;
    width:20px;
    height:20px;
}

#u164_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u165 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:180px;
    top:500px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:580px;
    top:527px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:580px;
    top:554px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:580px;
    top:581px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:580px;
    top:392px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:580px;
    top:419px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:580px;
    top:446px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:580px;
    top:473px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:580px;
    top:500px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:930px;
    top:527px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:930px;
    top:554px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:930px;
    top:581px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:930px;
    top:392px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:930px;
    top:419px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190 {
    position:absolute;
    left:930px;
    top:446px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:930px;
    top:473px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:930px;
    top:500px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u193_normal.png');
}

.u193_container {
    position:absolute;
    left:569px;
    top:356px;
    width:350px;
    height:30px;
}

#u193_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:356px;
    height:36px;
}

.u194 {
    position:absolute;
    left:2px;
    top:7px;
    width:346px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u195_normal.png');
}

.u195_container {
    position:absolute;
    left:919px;
    top:356px;
    width:268px;
    height:30px;
}

#u195_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:274px;
    height:36px;
}

.u196 {
    position:absolute;
    left:2px;
    top:7px;
    width:264px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197 {
    position:absolute;
    left:953px;
    top:186px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198 {
    position:absolute;
    left:1178px;
    top:316px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u199_line {
    background-image: url('../CadEmbarcadorRecebedor_files/u199_line.png');
}

.u199_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u199 {
    position:absolute;
    left:138px;
    top:305px;
    width:1130px;
    height:10px;
    
}

.u200 {
    position:absolute;
    left:1037px;
    top:607px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u201_normal.png');
}

.u201_container {
    position:absolute;
    left:1184px;
    top:610px;
    width:10px;
    height:10px;
}

#u201_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u202 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203_line {
    background-image: url('../CadEmbarcadorRecebedor_files/u203_line.png');
}

.u203_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:10px;
}

.u203 {
    position:absolute;
    left:1177px;
    top:610px;
    width:10px;
    height:10px;
    
}

.u204_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u201_normal.png');
}

.u204_container {
    position:absolute;
    left:1203px;
    top:610px;
    width:10px;
    height:10px;
}

#u204_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u205 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u206_normal.png');
}

.u206_container {
    position:absolute;
    left:1221px;
    top:610px;
    width:10px;
    height:10px;
}

#u206_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u207 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/u206_normal.png');
}

.u208_container {
    position:absolute;
    left:1240px;
    top:610px;
    width:10px;
    height:10px;
}

#u208_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u209 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210_line {
    background-image: url('../CadEmbarcadorRecebedor_files/u210_line.png');
}

.u210_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:10px;
}

.u210 {
    position:absolute;
    left:1247px;
    top:610px;
    width:10px;
    height:10px;
    
}

.u211 {
    position:absolute;
    left:953px;
    top:208px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u212_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/GravarJornada_u212_normal.png');
}

.u212_container {
    position:absolute;
    left:1085px;
    top:640px;
    width:100px;
    height:25px;
}

#u212_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u213 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214_normal {
    background-image: url('../CadEmbarcadorRecebedor_files/GravarJornada_u212_normal.png');
}

.u214_container {
    position:absolute;
    left:1185px;
    top:640px;
    width:100px;
    height:25px;
}

#u214_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u215 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

