﻿* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadRessalvas_files/Quadrado_u0_normal.png");
}

* html .u3_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadRessalvas_files/u3_normal.png");
}

* html .u5_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadRessalvas_files/GravarJornada_u5_normal.png");
}

* html .u7_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadRessalvas_files/GravarJornada_u5_normal.png");
}

* html .u18_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadRessalvas_files/u18_line.png");
}

* html .u27_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadRessalvas_files/u27_normal.png");
}

* html .u29_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadRessalvas_files/u29_normal.png");
}

* html .u31_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadRessalvas_files/u31_normal.png");
}

* html .u33_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadRessalvas_files/u33_normal.png");
}

* html .u38_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadRessalvas_files/u38_normal.png");
}

* html .u40_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadRessalvas_files/u40_normal.png");
}

* html .u42_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadRessalvas_files/u42_normal.png");
}

* html .u44_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadRessalvas_files/u44_normal.png");
}

* html .u46_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadRessalvas_files/u46_normal.png");
}

* html .u51_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadRessalvas_files/u40_normal.png");
}

* html .u53_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadRessalvas_files/u42_normal.png");
}

* html .u59_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_Dynamic_search_box_files/u59_normal.png");
}

* html .u70_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/MenuQuadroCinza_u22_normal.png");
}

* html .u72_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/preto_u24_normal.png");
}

* html .u74_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Logo_u26_normal.png");
}

* html .u78_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Icone1_u30_normal.png");
}

* html .u80_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Icone1_u30_normal.png");
}

* html .u82_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/IconeMensagem_u34_normal.png");
}

* html .u84_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/IconeAten_ao_u36_normal.png");
}

* html .u86_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/IconeConfig_u38_normal.png");
}

* html .u90_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="BuscaMenu_files/u42_normal.png");
}

* html .u100_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="BuscaMenu_files/BotaoBusca_u52_normal.png");
}

* html .u103_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_mouseOver.png");
}

* html .u103_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u103_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u105_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Transfer_u57_mouseOver.png");
}

* html .u105_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Transfer_u57_selected.png");
}

* html .u105_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Transfer_u57_selected.png");
}

* html .u107_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Servi_o_4_u59_mouseOver.png");
}

* html .u107_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u107_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u109_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_mouseOver.png");
}

* html .u109_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u109_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u111_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/CadastroBasico_u63_mouseOver.png");
}

* html .u111_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u111_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u113_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Servi_o_4_u59_mouseOver.png");
}

* html .u113_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u113_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u115_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Sair_u67_mouseOver.png");
}

* html .u115_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Sair_u67_selected.png");
}

* html .u115_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Sair_u67_selected.png");
}

* html .u118_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u118_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u118_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u120_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u120_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u120_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u123_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u123_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u123_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u126_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u126_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u126_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u129_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u129_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u129_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u132_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u132_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u132_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u135_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u135_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u135_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u138_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u138_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u138_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u141_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u141_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u141_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u144_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u144_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u144_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u146_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u146_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u146_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u149_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u149_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u149_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u151_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u151_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u151_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u154_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u154_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u154_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u156_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u156_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u156_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u159_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u159_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u159_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u161_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u161_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u161_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u164_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u164_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u164_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u166_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u166_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u166_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u169_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u169_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u169_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u171_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u171_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u171_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u174_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u174_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u174_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u176_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u176_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u176_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u178_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u178_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u178_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u181_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png");
}

* html .u181_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DadosCadastraisNF_u67_selected.png");
}

* html .u181_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png");
}

* html .u183_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png");
}

* html .u183_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DadosCadastraisNF_u67_selected.png");
}

* html .u183_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png");
}

* html .u186_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png");
}

* html .u186_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/ListagemPersonagem_u72_selected.png");
}

* html .u186_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/ListagemPersonagem_u72_normal.png");
}

* html .u189_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u189_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u189_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u191_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u191_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u191_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u193_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u193_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u193_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u195_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_mouseOver.png");
}

* html .u195_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_selected.png");
}

* html .u195_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuTransfer_files/DashboardTransfer_u4_normal.png");
}

* html .u198_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CadRessalvas_files/AdicionarEspera_u198_normal.png");
}

