/* RESET */

	html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,dl,dt,dd,ol,ul,li,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}

/* RESET */

	html, body {
		height: 100%;
	}

	body {
		background: /*#858484 url(../images/bg.png) repeat-y;*/ #eee;
		font-size: 10px;
		font-family: 'Open Sans';
	}

	input + select {
		position: relative;
		top: 1px;
	}

	select + input {
		position: relative;
		top: -1px;
	}

	a {
		color: #000;
	}

	a:hover {
		color: #000;
		text-decoration: underline !important;
	}

	.btn,
	.btn:hover,
	.btn:active,
	a [class^="icon-"],
	a [class*=" icon-"] {
		text-decoration: none !important;
	}

	.text-left {
		text-align: left !important;
	}

	.text-right {
		text-align: right !important;
	}

	.alert-icon {
		position: absolute;
		top: 9px;
		left: 10px;
		display: block;
		background: rgb(255,48,25); /* Old browsers */
		font-size: 13px; /* Opera 11.10+ */
		background-clip: padding-box;
		width: 17px;
		height: 17px;
		font: bold 10px/16px 'Open Sans', Arial, Helvetica, sans-serif !important;
		text-align: center;
		color: #FFF;
		border: 2px solid #FFF;
		-webkit-border-radius: 60px;
		        border-radius: 60px;
	}

	/* HEADER */

		#header {
			display: inline-block;
			*display: inline;
			zoom: 1;
			background: #fff;
			width: 100%;
			height: 55px;
			padding: 0 0 10px;
			-webkit-box-shadow: 0px 0px 10px 5px #ccc;
			        box-shadow: 0px 0px 10px 5px #ccc;

		}

		#header #logo {
			float: left;
			font-size: 3.0em;
			margin: 5px 0 0 50px;
		}

		#header #logo h1 {
			margin: 0 0 5px;

			/* text-align: center; */
}

		#header #logo a,
		#login h2 {
			display: block;
			background: url(../images/logo.png) no-repeat;
			width: 137px;
			height: 50px;
			font-weight: 600;
			color: #000;
			text-decoration: none;
		}

		#login h2 {
			margin: 0 10px;
		}

		#header .menu {
			float: right;
			margin: 10px 10px 0 0;
		}

		#header .menu .appMenu,
		#header .menu .userMenu,
		#header .menu .appMenu li,
		#header .menu .userMenu li,
		#header .menu .userMenu li > img {
			float: left;
		}

		#header .menu .appMenu {
			margin: 15px 0 0;
		}

		#header .menu .appMenu .mobile {
			display: none;
			font-size:  1.5em;
		}

		#header .menu .appMenu li {
			margin: 0 5px;
			font-size: 1.3em;
			font-weight: 600;
		}

		#header .menu .appMenu li a {
			color: #000;
			text-decoration: none;
		}

		#header .menu .avatar {
			border-left: 1px solid #000;
			margin: 0 10px 0 10px;
			padding: 0 0 0 10px;
		}

		#header .menu .avatar .userName {
			float: right;
			margin: 0 0 0 10px;
			font-size: 1.3em;
			font-weight: 600;
			line-height: 1.5em;
		}

		#header .menu .userMenu a [class^="icon-"],
		#header .menu .userMenu a [class*=" icon-"] {
			position: relative;
			margin: 0 5px;
			font-size: 2.0em;
			line-height: 35px;
			text-decoration: none;
			color: #000;
		}

		#login {
			position: fixed;
			left: 50%;
			top: 50%;
			max-width: 200px;
			margin-top: -140px;
			margin-left: -140px;
			padding: 25px 40px 40px;
			max-width: 200px;
			-webkit-box-shadow: 0px 0px 10px 5px #CCC;
					  box-shadow: 0px 0px 10px 5px #CCC;
			-webkit-border-radius: 20px;
					  border-radius: 20px;
			background-clip: padding-box;
		}

		.login {
			background: #fff;
		}

		#login h2 {
			margin: 0 30px 20px;
			font-size: 30px;
			font-weight: bold;
			text-align: center;
		}

		#login .btn {
			margin: 15px 0 0;
		}

	/* LEFT MENU */

	/*	#leftmenu {
			position: absolute;
			width: 220px;
			min-height: 100%;
			font-size: 1.5em;
			color: #d0d0d0;
		}

		#leftmenu li a > [class^="icon-"],
		#leftmenu li a > [class*=" icon-"] {
			position: relative;
			left: 5px;
			top: 5px;
			display: inline-block;
			*display: inline;
			zoom: 1;
			width: 35px;
			font-size: 1.5em;
			color: #ccc;
			text-decoration: none;
			text-align: center;
		}

		#leftmenu li a > span {
			display: inline-block;
			*display: inline;
			zoom: 1;
			width: 181px;
			height: 40px;
			line-height: 32px;
			text-align: center;
			color: #d0d0d0;
			border-bottom: 1px solid #505050;
		}

		#leftmenu ul > li.selected {
			background: url(../images/leftmenu-selected.png) 212px 15px no-repeat;}


		#leftmenu ul li ul {
			background: #505050;
			width: 214px;
			padding: 5px 0px 5px 5px;
			font-size: 0.8em;
			color: #8C8C8C;
			-webkit-box-shadow: inset 0px 0px 7px -1px #000;
			box-shadow: inset 0px 0px 7px -1px #000;
		}

		#leftmenu ul li ul li [class^="icon-"],
		#leftmenu ul li ul li [class*=" icon-"] {
			position: inherit;
			margin: 0 -5px 0 0;
			font-size: 0.8em;
		}

		#leftmenu ul li ul li a {
			color: #8c8c8c;
			text-decoration: none;
		}

		#leftmenu ul li ul li a:hover {
			text-decoration: none !important;
			color: #bbb;
		}

		#leftmenu ul li ul li.selected > a:hover,
		#leftmenu ul li ul li.selected > a [class^="icon-"],
		#leftmenu ul li ul li.selected > a,
		#leftmenu ul li ul li.selected > a [class*=" icon-"] {
			text-decoration: none !important;
			color: #fff;
		}

		#leftmenu ul li ul li {
			margin: 2px 0;

			font-size: 1.1em;
}

		#leftmenu ul li.submenu {
			position: relative;
		}

		#leftmenu ul li.submenu ul {
			display: none;
		}

		#leftmenu ul li.submenu.open ul {
			display: block;
		}

		#leftmenu ul li ul li ul {
			display: block !important;
			background: none;
			width: auto;
			padding: 5px 0px 5px 15px;
			-webkit-box-shadow: inherit;
						box-shadow: inherit;
		}
	*/

	/* LEFT MENU 2 */

		#leftmenu {
			background: #fff;
			position: absolute;
		    top: 85px;
			left: 25px;
			width: 170px;
			font-size: 1.4em;
			color: #000;
			border: 1px solid #ccc;
		}

		#leftmenu li a > [class^="icon-"],
		#leftmenu li a > [class*=" icon-"] {
			position: relative;
			left: 5px;
			top: 1px;
			display: inline-block;
			*display: inline;
			zoom: 1;
			font-size: 1.3em;
			color: #000;
			text-decoration: none;
			text-align: center;
		}

		#leftmenu li a > span {
			display: inline-block;
			*display: inline;
			zoom: 1;
			margin-left: 15px;
			line-height: 32px;
			text-align: center;
			color: #000;
		}

		#leftmenu ul > li.selected {
			border-left: 5px solid #000;
		}


		#leftmenu ul li ul {
			background: #fff;
			padding: 5px 0px 5px 5px;
			font-size: 0.8em;
			color: #000;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;

		}

		#leftmenu ul li ul li [class^="icon-"],
		#leftmenu ul li ul li [class*=" icon-"] {
			position: inherit;
			margin: 0 -5px 0 0;
			font-size: 0.8em;
			display: none;
		}

		#leftmenu ul li ul li a {
			color: #000;
			text-decoration: none;
		}

		#leftmenu ul li ul li a:hover {
			text-decoration: none !important;
			color: #000;
		}

		#leftmenu ul li ul li.selected > a:hover,
		#leftmenu ul li ul li.selected > a [class^="icon-"],
		#leftmenu ul li ul li.selected > a,
		#leftmenu ul li ul li.selected > a [class*=" icon-"] {
			text-decoration: none !important;
			color: #000;
			border: 0px !important;
			font-weight: bold;
		}
		
		#leftmenu ul li ul li.selected {
			border: 0px;
		}

		#leftmenu ul li ul li {
			margin: 2px 0;
			font-size: 1.1em;
		}

		#leftmenu ul li.submenu {
			position: relative;
		}

		#leftmenu ul li.submenu ul {
			display: none;
		}

		#leftmenu ul li.submenu.open ul {
			display: block;
		}

*/	
	
	/* MAIN */

	#main {
		background: #fff;
		width: auto;
		min-height: 100%;
		padding: 10px;
		font-size: 1.5em;
	}

	#main {
		line-height: 18px;
		font-size: 14px;
	}

	#main.withMenu {
		background: #fff;
		width: auto;
		margin: 0 0 10px 220px;
		padding: 10px 0 10px 10px;
	}

	#main .centermenu {
		margin: 60px 0 0;
		font-size: 1.2em;
		font-weight: 600;
		text-align: center;
	}

    #main .centermenu .span2 {
        min-height: 70px;
    }


    #main .centermenu .innactive span,
	#main .centermenu .innactive i,
	#header .menu .appMenu .mobile .innactive a i,
	#header .menu .appMenu .innactive a {
		color: #ddd !important;
	}

	#main .centermenu .innactive a:hover {
		text-decoration: none !important;
	}

	#main .centermenu [class^="icon-"],
	#main .centermenu [class*=" icon-"] {
		display: block;
		font-size: 7.0em;
		margin: 0 0 10px;
	}

	#main .centermenu .icon-time,
	#header .menu .appMenu .mobile .icon-time {
		color: #be041c;
	}

	#main .centermenu .icon-list-alt,
	#header .menu .appMenu .mobile .icon-list-alt {
		color: #EE860B;
	}

	#main .centermenu .icon-calendar-empty,
	#header .menu .appMenu .mobile .icon-calendar-empty {
		color: #96C636;
	}

	#main .centermenu .icon-file-text,
	#header .menu .appMenu .mobile .icon-file-text {
		color: #009ED0;
	}

	#main .centermenu .icon-truck,
	#header .menu .appMenu .mobile .icon-truck {
		color: #57509E;
	}

	#main .centermenu .icon-cogs,
	#header .menu .appMenu .mobile .icon-cogs {
		color: #6C7079;
	}

	#main .centermenu .icon-usd,
	#header .menu .appMenu .mobile .icon-usd {
		color: #039b24;
	}

	#main .centermenu .icon-shopping-cart,
	#header .menu .appMenu .mobile .icon-shopping-cart {
		color: #f2c41f;
	}

	#header .menu .appMenu .mobile .icon-terminalBrokers,
	#main .icon-terminalBrokers {
		background: url(../images/icn-terminal-mini.png) no-repeat;
		width: 18px;
		height: 20px;
		display: block;
	}

	#leftmenu .submenu .icon-terminalBrokers {
		position: relative;
		top: 5px;
		left: 8px;
		background: url(../images/icn-terminal-mini.png) no-repeat;
		width: 18px;
		height: 20px;
	}


	#main .centermenu .icon-terminalBrokers {
		background: url(../images/icn-terminal.png) no-repeat;
		width: 66px;
		height: 120px;
		margin: 0 auto !important;
	}

	@media (max-width: 979px) and (min-width: 768px) {
		#main .centermenu .icon-terminalBrokers {
			background: url(../images/icn-terminal-medium.png) no-repeat;
			width: 28px;
			height: 51px;
		}
	}

	@media (max-width: 767px) {
		#main .centermenu .icon-terminalBrokers {
			background: url(../images/icn-terminal-small.png) no-repeat;
			width: 21px;
			height: 38px;
		}		
	}

	.innactive .icon-terminalBrokers {
		opacity: 0.1;
		zoom: 1;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
		filter: alpha(opacity=10);
		-moz-opacity:0.1;
		-khtml-opacity: 0.1;		
	}


	#header .menu .appMenu .mobile .innactive .icon-terminalBrokers {
		opacity: 0.2;
		zoom: 1;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
		filter: alpha(opacity=20);
		-moz-opacity:0.2;
		-khtml-opacity: 0.2;
	}	

	#main .centermenu a [class^="icon-"],
	#main .centermenu a [class*=" icon-"] {
		text-decoration: none;
	}

	#main .centermenu a {
		color: #000;
		text-decoration: none;
	}

	#main form {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#main fieldset {
		margin: 10px 0;
		padding: 10px;
		border: 1px solid #CDCDCD;
	}

	#main legend {
		width: auto;
	}

	#main input[name="select_all"],
	#main [name="select_all_together"] {
		margin:  0 5px 15px 0;
	}
	
	#main input[name="select_all"],
	#main [name="select_all_together"] {
		margin:  0 5px 15px 0;
	}
	
	#main table th .ui-dt-c input[name="select_all"],
	#main table th .ui-dt-c [name="select_all_together"] {
		width: 12px;
		height: 12px;
		position: absolute;
		margin: -17px 0 0 -5px;
	}
	
	#main table th .ui-dt-c {
		padding: 0;
		overflow: inherit;
	}

	#main .optionSelected {
		display: none;
	}

	#main .info-viagem {
		cursor: pointer;
	}


	#main .viagem-detalhes {
		display: none;
	}

	#main .block {
		margin: 12px 0;
	}

	#main table.text-center td {
		text-align: center;
	}

	/* Bolsa Frete */

	.trucker-profile var {
		display: block;
		margin: -10px 0 10px;
		font-weight: bold;
		font-size:  120px;
		line-height:  120px;
	}

	.trucker-profile h5 {
		margin:  0px;
	}

	.trucker-profile .btn {
		display: block;
		margin: 10px 0;
		padding: 14.5px 0;
	}

	.trucker-profile table tr td {
		text-align: center;
	}

	.jqplot-table-legend {
		left: 10px;
	}

	.jqplot-table-legend td {
		padding: 0 5px;
	}

	.jqplot-pie-series.jqplot-data-label {
		color: #fff;
		text-shadow: 	-1px -1px 2px #000,
						 1px -1px 2px #000,
						 -1px 1px 2px #000,
						  1px 1px 2px #000;
	}

	/* Progress Bar */

	.progtrckr.home {
	margin: 0 auto;
	padding: 53px 0 0px;
	display: inline-block;
	overflow: auto;
	overflow-y: hidden;
	min-width: 850px;
	max-width: 1280px;
	width: 100%;
	white-space: nowrap;
	height: 220px;
	}

	ul.checktrckr.home li {
		height: 250px;
	}

	.progtrckr {
		margin: 0 auto;
		padding: 120px 0 0px;
		display: inline-block;
		overflow: auto;
		overflow-y: hidden;
		min-width: 850px;
		max-width: 1280px;
		width: 100%;
		white-space: nowrap;
		height: 180px
	}

	@media  ( max-width: 1366px ) AND ( min-width: 1280px ) {
		.progtrckr {
			min-width: 950px;
			max-width: 950px !important;
		}
	}

	@media  ( max-width: 1280px ) AND ( min-width: 1024px ) {
		.progtrckr {
			min-width: 880px;
			max-width: 880px !important;
		}
	}

	@media  ( max-width: 1024px ) AND ( min-width: 768px ) {
		.progtrckr {
			min-width: 590px;
			max-width: 590px !important;
		}
	}

	@media  ( max-width: 768px ) AND ( min-width: 640px ) {
		.progtrckr {
			min-width: 580px;
			max-width: 580px !important;
		}
	}

	@media  ( max-width: 640px ) AND ( min-width: 480px ) {
		.progtrckr {
			min-width: 440px;
			max-width: 440px !important;
		}
	}



	.progtrckr ol li {
	    display: inline-block;
	    margin-left: -5px;
	    padding: 15px 0;
	    width: 225px;
	    text-align: center;
	    line-height: 1.8em;
	    border-top: 4px solid #CCC;
	}
	.progtrckr ol li.progtrckr-done {
	    color: green;
	}

	.progtrckr ol li.progtrckr-todo {
	    color: #ccc;
	}
	.progtrckr ol li.progtrckr-finish {
	    color: red;
	}
	.progtrckr ol li.progtrckr-checkpoint {
	    color: #16A7E2;
	}
	.progtrckr ol li.progtrckr-alert {
	    color: #FFA81E;
	}
	.progtrckr ol li:after {
	    content: "\00a0\00a0";
	}
	.progtrckr ol li:before {
	    position: relative;
	    bottom: 2em;
	    float: left;
	    left: 50%;
	    line-height: 1em;
	}
	.progtrckr ol li.progtrckr-done:before {
	    content: "0";
	    color: yellowgreen;
	    background-color: yellowgreen;
	    height: 25px;
	    width: 25px;
	    line-height: 1.2em;
	    border: none;
	    border-radius: 1.2em;
	}
	.progtrckr ol li.progtrckr-todo:before {
	    content: "0";
	    color: #ccc;
	    background-color: #ccc;
	    height: 25px;
	    width: 25px;
	    font-size: 1.5em;
	    bottom: 1.4em;
	    border-radius: 1.2em;
	}

	.progtrckr ol li.progtrckr-finish:before {
	    content: "0";
	    color: red;
	    background-color: red;
	    height: 25px;
	    width: 25px;
	    font-size: 1.5em;
	    bottom: 1.4em;
	    border-radius: 1.2em;
	}

	.progtrckr ol li.progtrckr-checkpoint:before {
	    content: "0";
	    color: #16A7E2;
	    background-color: #16A7E2;
	    height: 25px;
	    width: 25px;
	    font-size: 1.5em;
	    bottom: 1.4em;
	    border-radius: 1.2em;
	}

	.progtrckr ol li.progtrckr-alert:before {
	    content: "0";
	    color: #FFA81E;
	    background-color: #FFA81E;
	    height: 25px;
	    width: 25px;
	    font-size: 1.5em;
	    bottom: 1.4em;
	    border-radius: 1.2em;
	}

	.progtrckr ol li p {
		position: relative;
		bottom: 20px;
		text-indent: 20px;
		margin: 0! important;
    }

    ul.checktrckr {
    	margin-top: -338px;
    	width: 100%;
		height: 240px;
		padding: 15px 0;
    }

    ul.checktrckr li {
    	display: inline-block;
		height: 270px;
		border-radius: 15px;
		webkit-border-radius: 15px;
		border: 1px dashed #000;
		padding: 8px;
		font-size: 12px;
		line-height: 14px;

    }

	ul.checktrckr .check-1 {
    	width: 202px;
    }
    
    ul.checktrckr .check-2 {
    	width: 404px;
    }

    ul.checktrckr .check-3 {
    	width: 606px;
    }

    ul.checktrckr .check-4 {
    	width: 808px;
    }

    ul.checktrckr .check-5 {
    	width: 1010px;
    }


    /* modal - fotos */

    #modalFotos ul {
    	width: 500px;
    	height: 300px;
    	overflow: hidden;
    }

    #modalFotos ul li {
    	float: left;
    	margin: 5px 0;
    }

    #modalFotos .gallery {
    	width: 500px;
    	margin: 0 auto;
    }

    #modalFotos .pagination {
    	margin: 0;
    	display: inline-block;
    }

	#modalFotos i {
		cursor: pointer;
		font-size: 30px;
		position: relative;
		display: inline-block;
		top: -10px;
		margin: 0 5px;
	}

	#modalPagination {
		position: inherit !important;
		left: 0px !important;
	}

	#modalPagination li {
		float: left;
	}
    
    #modalPagination img {
    	cursor: pointer;
    	margin: 5px;
		width: 50px;
	}

	/* Breadcrumb */
		#breadcrumb {
			position: relative;
			top: -5px;
			left: -10px;
			width: 100%;
			background-color: #A53533;
			box-shadow: 0 0 1px #ffffff;
			border-top: 1px solid #d6d6d6;
			border-bottom: 1px solid #d6d6d6;
			padding-left: 10px;
		}
		#breadcrumb a {
			padding: 8px 20px 8px 10px;
			display: inline-block;
			background-image: url('../images/breadcrumb.png');
			background-position: center right;
			background-repeat: no-repeat;
			font-size: 11px;
			color: #fafafa;
		}
		#breadcrumb a:hover {
			color: #333333;
			text-decoration: none !important;
		}
		#breadcrumb a:last-child {
			background-image:none;
		}
		#breadcrumb a.current {
			font-weight: bold;
			color: #fff;
		}
		#breadcrumb a i {
			margin-right: 5px;
			opacity: .6;
		}
		#breadcrumb a:hover i {
			margin-right: 5px;
			opacity: .8;
		}

	/* Widgets */

		.widget-box {
		    background: none repeat scroll 0 0 #F9F9F9;
		    border-top: 1px solid #CDCDCD;
		    border-left: 1px solid #CDCDCD;
		    border-right: 1px solid #CDCDCD;
		    clear: both;
		    margin-top: 16px;
		    margin-bottom: 16px;
		    position: relative;
		}
		.widget-box.widget-calendar, .widget-box.widget-chat {
		    overflow:hidden !important;
		}
		.accordion .widget-box {
			margin-top: -2px;
			margin-bottom: 0;
			border-radius: 0;
		}
		.widget-box.widget-plain {
			background: transparent;
			border: none;
			margin-top: 0;
			margin-bottom: 0;
		}

		.widget-title, .modal-header, .table th, div.dataTables_wrapper .ui-widget-header, .ui-dialog .ui-dialog-titlebar {
			background-color: #efefef;
			background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
			background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
		    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
		    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
		    background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
		    background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
		    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
		    border-bottom: 1px solid #CDCDCD;
		    height: 36px;
		}
		.widget-title .nav-tabs {
		    border-bottom: 0 none;
		}
		.widget-title .nav-tabs li a {
		    border-bottom: medium none !important;
		    border-left: 1px solid #DDDDDD;
		    border-radius: 0 0 0 0;
		    border-right: 1px solid #DDDDDD;
		    border-top: medium none;
		    color: #999999;
		    margin: 0;
		    outline: medium none;
		    padding: 9px 10px 8px;
		    font-weight: bold;
		    text-shadow: 0 1px 0 #FFFFFF;
		}
		.widget-title .nav-tabs li:first-child a{
		    border-left: medium none !important;
		}
		.widget-title .nav-tabs li a:hover {
		    background-color: transparent !important;
		    border-color: #D6D6D6;
		    border-width: 0 1px;
		    color: #666666;
		}
		.widget-title .nav-tabs li.active a {
		    background-color: #F9F9F9 !important;
		    color: #444444;
		}
		.widget-title span.icon {
			border-right: 1px solid #cdcdcd;
			padding: 9px 10px 7px 11px;
			float: left;
			opacity: .7;
		}
		.widget-title h5 {
		    color: #666666;
			text-shadow: 0 1px 0 #ffffff;
		    float: left;
		    font-size: 12px;
		    font-weight: bold;
		    padding: 12px;
		    line-height: 12px;
		    margin: 0;
		    max-width: 80%;
		    min-width: 10%;
		}
		.widget-title .buttons {
			float: right;
			margin: 8px 10px 0 0;
		}
		.widget-title .label {
			padding: 3px 5px 2px;
			float: right;
			margin: 9px 15px 0 0;
			box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #ffffff;
		}

		.widget-title .paginate {
			float: right;
			width: 195px;
		}

		.widget-calendar .widget-title .label {
			margin-right: 190px;
		}

		.widget-content {
			padding: 12px 15px;
		    border-bottom: 1px solid #cdcdcd;
		}
		.widget-box.widget-plain .widget-content {
			padding: 12px 0 0;
		}
		.widget-box.collapsible .collapse.in .widget-content {
		    border-bottom: 1px solid #CDCDCD;
		}

		/* Tables */

			.ui-widget.table,
			.ui-fileupload span,
			.ui-fileupload label,
			.ui-fileupload div,
			.ui-fileupload button {
				font-size: 0.9em !important;
			}

			.ui-widget select {
				width: auto;
				height: 15px;
			}

			.ui-widget .ui-paginator {
				padding: 0px;
			}

			.ui-widget .ui-icon {
				line-height: 13px;
			}

			span.icon .checker {
				margin-top: -5px;
				margin-right: 0;
			}

			.table th {
				height: auto;
				font-size: 10px;
				padding: 5px 10px 2px;
				border-bottom: 0;
				text-align: center;
				color: #666666;
			}
			.table.with-check tr th:first-child, .table.with-check tr td:first-child {
				width: 10px;
			}
			.table.with-check tr th:first-child i{
				margin-top: -2px;
				opacity: 0.6;
			}
			.table.with-check tr td:first-child .checker {
				margin-right: 0;
			}
			.table tr.checked td {
				background-color: #FFFFE3 !important;
			}
			.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
			    background-color: #FCFCFC;
			}
			.table-hover tbody > tr:hover > td {
			    background-color: #f5f5f5;
			}
			/* Misc */
			.nopadding {
				padding: 0 !important;
			}
			.nopadding .table {
				margin-bottom: 0;
			}
			.nopadding .table-bordered {
				border: 0;
			}

			.line {
			    background: url("../img/line.png") repeat-x scroll 0 0 transparent;
			    display: block;
			    height: 8px;
			}
			.modal {
				z-index: 99999 !important;
			}
			.modal-backdrop {
				z-index: 999 !important;
			}
			.modal-header {
				height: auto;
				padding: 8px 15px 5px;
			}
			.modal-header h3 {
				font-size: 13px;
				text-shadow: 0 1px 0 #ffffff;
			}
			
			.modal.large {
				 width: 80%; /* respsonsive width */
				 margin-left:-40%; /* width/2) */
			}
			
			@media (max-width: 767px ) {
				.modal.large {
					 width: 92%; /* respsonsive width */
					 margin: 0 !important;
				}			
			} 
			@media (max-width: 480px) {
				.modal.large {
					 width: 92%; /* respsonsive width */
					 margin: 0 !important;
				}			
			}

			.notify-ui ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}
			.notify-ui li {
				background-image: -moz-linear-gradient(top, #eeeeee,#dddddd);
				margin-bottom: 5px;
				padding: 5px 10px;
				text-align: center;
				border: 1px solid #dddddd;
			}
			.notify-ui li:hover {
				cursor: pointer;
				color: #777777;
			}
			.css_right {
			    float: right;
			}

	#main .nav-tabs {
		margin-bottom: 0px;
	}

	#main .tab-content {
		background: #FFF;
		margin: 0 0 20px;
		padding: 20px;
		border: 1px solid #CCC;
		border-top: none;
	}


	#main #footer {
		margin:  50px 0 0;
		text-align: center;
	}

	/* Messages */

	.linhaMsgNaoLida td {
		background-color: #feffe5 !important;
		font-weight: bold;
	}

	/* Large desktop */
	@media (min-width: 979px) and (max-width: 1100px) {
		#header .menu .appMenu ul {
			display: none;
		}

		#header .menu .appMenu .mobile {
			display: inline-block;
		}
	}

	/* Portrait tablet to landscape and desktop */
	@media (min-width: 768px) and (max-width: 979px) {
		#main .centermenu {
			float: left;
			margin: 10% 0 0;
		}

		#main .centermenu .span2 {
			display: block !important;
			float: left !important;
			width: 14% !important;
			font-size: 1em;
		}

		#main .centermenu .span2 i {
			font-size: 3em;
		}

		#header .menu .appMenu ul {
			display: none;
		}

		#header .menu .appMenu .mobile {
			display: inline-block;
		}
	}

	/* Landscape phone to portrait tablet */
	@media (max-width: 767px) {
		#header {
		    height: 125px;
		}

		#header .menu {
			width: 100%;
			margin: 0;
		}

		#header #logo,
		#header .menu .appMenu,
		#header .menu .userMenu {
			margin: 6px 29%;
		}

		#header .menu .appMenu {
			position: relative;
			top: 30px;
			margin: 11px 0 0;
        }

        #header .menu .appMenu ul {
			display: none;
		}

		#header .menu .appMenu .mobile {
			display: inline-block;
		}
		#header .menu .userMenu {
			display: block;
			width: 180px !important;
			margin: -40px 28%;
			border: none;
        }

		#header .menu .avatar {
			border: none;
			margin: 0 !important;
		}

		#header .menu .avatar .userName {
		    display: none;
		    margin: 0 !important;
		}

		#header #logo {
			text-align: center;
		}

		/*
		#leftmenu {
			width: 40px;
		}

		#leftmenu li a > span {
			display: none;
		}

		#leftmenu li a > [class^="icon-"],
		#leftmenu li a > [class*=" icon-"] {
			font-size: 1.4em;
			height: 40px;
			display: block;
		}

		#leftmenu ul li ul {
			position: absolute;
			z-index: 9999;
			top: 4px;
			left: 41px;
			background: #FFF;
			padding: 5px 0 5px 10px;
			-webkit-box-shadow: 3px 3px 24px -6px #000;
					  box-shadow: 3px 3px 24px -6px #000;
			-webkit-border-radius: 0px 10px 10px 0px;
					  border-radius: 0px 10px 10px 0px;
		}

		#leftmenu ul li ul:after {
			background: url(../images/leftmenu-selected.png) -1px -3px no-repeat;
			content: " ";
			position: absolute;
			top: 13px;
			left: -9px;
			width: 30px;
			height: 10px;
		}

		#leftmenu ul li ul li.selected > a,
		#leftmenu ul li ul li.selected > a [class^="icon-"],
		#leftmenu ul li ul li.selected > a [class*=" icon-"] {
			color: #000;
		}

		#leftmenu ul li ul li.selected a:hover {
			text-decoration: none !important;
			color: #888;
		}

		#leftmenu ul li ul {
			position: absolute;
			z-index: 9999;
		}

		#leftmenu ul li ul li ul {
			position: inherit;
		}

		#leftmenu ul li ul li [class^="icon-"],
		#leftmenu ul li ul li [class*=" icon-"] {
			display: inherit;
			margin: 0 5px 0 0;
		}

		#leftmenu ul > li.selected {
			background: url(../images/leftmenu-selected.png) 33px 15px no-repeat;
		}

		#leftmenu ul li.submenu.open ul {
			display: none;
		}
		
	*/
	
		#leftmenu {
			width: 20px;
			top: 140px;
			left: 4px;
			padding-right: 10px;
		}

		#leftmenu li a > span {
			display: none;
		}

		#leftmenu li a > [class^="icon-"],
		#leftmenu li a > [class*=" icon-"] {
			font-size: 1.4em;
			height: 40px;
			display: block;
		}

		#leftmenu ul li ul {
			position: absolute;
			z-index: 9999;
			top: 4px;
			left: 41px;
			background: #FFF;
			padding: 5px 0 5px 10px;
			-webkit-box-shadow: 3px 3px 24px -6px #000;
					  box-shadow: 3px 3px 24px -6px #000;
			-webkit-border-radius: 0px 10px 10px 0px;
					  border-radius: 0px 10px 10px 0px;
		}

		#leftmenu ul li ul:after {
			background: url(../images/leftmenu-selected.png) -1px -3px no-repeat;
			content: " ";
			position: absolute;
			top: 13px;
			left: -9px;
			width: 30px;
			height: 10px;
		}

		#leftmenu ul li ul li.selected > a,
		#leftmenu ul li ul li.selected > a [class^="icon-"],
		#leftmenu ul li ul li.selected > a [class*=" icon-"] {
			color: #000;
		}

		#leftmenu ul li ul li.selected a:hover {
			text-decoration: none !important;
			color: #888;
		}

		#leftmenu ul li ul {
			position: absolute;
			z-index: 9999;
			width: 150px;
		}

		#leftmenu ul li ul li ul {
			position: inherit;
		}

		#leftmenu ul li ul li [class^="icon-"],
		#leftmenu ul li ul li [class*=" icon-"] {
			display: inherit;
			margin: 0 5px 0 0;
		}

		#leftmenu ul > li.selected {
			border-left: 3px solid #000;
			height: 33px;
			margin-left: -2px;
		}

		#leftmenu ul li.submenu.open ul {
			display: none;
		}	

		#main {
			font-size: 13px;
		}
		
		#main .centermenu {
			margin:  50px 0 0;
		}

		#main .centermenu .span2 {
			display: block !important;
			float: left !important;
			width: 25% !important;
			font-size: .8em;
		}

		#main .centermenu .span2 i {
			font-size: 3em;
		}

		#main.withMenu {
			margin: 0 0 10px 40px;
		}

		.widget-title .paginate {
			width: 100px;
		}

		.widget-title .paginate h5 {
			display: none;
		}
	}

	/* Landscape phones and down */
	@media (max-width: 320px) {
		#header .menu .avatar {
			margin: 0 35% 0 0;
			border: none;
		}

		#header .menu .appMenu ul {
			display: none;
		}

		#header .menu .appMenu .mobile {
			display: inline-block;
		}
	}

/* Fix */

	.ui-autocomplete {
		cursor: inherit !important;
	}

	span[class*="span"] {
	    margin-left: 0px !important;
	}

	.ui-autocomplete input {
		width: 98%;
		font-size: 14px !important;
	}

	table.with-check tr td input[type="radio"] {
    	float: left;
    	margin: 3px 10px 0 0;
	}

	#main div.ui-widget-header {
	    background-color: #efefef;
	    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
	    background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
	    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
	    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
	    background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
	    background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 );
	    height: 36px;
	    border-color: #dddddd !important;
	}

	span[class*="ui-paginator-"] {
		margin-top: 2px;
	}

	table.radio {
		border-collapse: inherit !important;
	}

	.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
		border: 1px solid #dddddd !important;
	}

	table {
    	table-layout: fixed;
	}

	table td {
	    text-overflow: ellipsis;
	}

	.ui-datatable div.ui-dt-c {
		position: inherit !important;
	}

	.relative {
		position: relative;
	}

/* =Negative text */

	#header #logo h1 a,
	#login h2 {
		text-indent:-9999px;
		text-transform:capitalize;
		color:transparent;
		zoom: 1;
	}