﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Copy_of_CadEmpresaBasicos_files/Quadrado_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:142px;
    width:1167px;
    height:636px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:642px;
}

.u1 {
    position:absolute;
    left:2px;
    top:310px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:149px;
    top:181px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:951px;
    top:215px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:951px;
    top:238px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:114px;
    top:100px;
    width:583px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:149px;
    top:159px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Copy_of_CadEmpresaBasicos_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:140px;
    top:130px;
    width:140px;
    height:25px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:148px;
    top:380px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../Copy_of_CadEmpresaBasicos_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u10 {
    position:absolute;
    left:138px;
    top:394px;
    width:1130px;
    height:10px;
    
}

.u11_normal {
    background-image: url('../Copy_of_CadEmpresaBasicos_files/GravarJornada_u11_normal.png');
}

.u11_container {
    position:absolute;
    left:1085px;
    top:785px;
    width:100px;
    height:25px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u12 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Copy_of_CadEmpresaBasicos_files/GravarJornada_u11_normal.png');
}

.u13_container {
    position:absolute;
    left:1185px;
    top:785px;
    width:100px;
    height:25px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u14 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:951px;
    top:173px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:951px;
    top:151px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:149px;
    top:237px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:149px;
    top:215px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:218px;
    top:427px;
    width:231px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:149px;
    top:467px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:149px;
    top:406px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:149px;
    top:489px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23_normal {
    background-image: url('../Copy_of_CadEmpresaBasicos_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:1214px;
    top:414px;
    width:37px;
    height:30px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:43px;
    height:36px;
}

.u24 {
    position:absolute;
    left:2px;
    top:7px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Copy_of_CadEmpresaBasicos_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:666px;
    top:414px;
    width:548px;
    height:30px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:554px;
    height:36px;
}

.u26 {
    position:absolute;
    left:2px;
    top:7px;
    width:544px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:476px;
    top:488px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:149px;
    top:427px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:148px;
    top:574px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_line {
    background-image: url('../Copy_of_CadEmpresaBasicos_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u30 {
    position:absolute;
    left:138px;
    top:588px;
    width:1130px;
    height:10px;
    
}

.u31 {
    position:absolute;
    left:951px;
    top:743px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32 {
    position:absolute;
    left:149px;
    top:622px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33 {
    position:absolute;
    left:149px;
    top:600px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:149px;
    top:743px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:149px;
    top:721px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:554px;
    top:743px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37 {
    position:absolute;
    left:554px;
    top:721px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:951px;
    top:721px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:149px;
    top:686px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u40 {
    position:absolute;
    left:149px;
    top:664px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:951px;
    top:686px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42 {
    position:absolute;
    left:951px;
    top:664px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u22_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u44 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../MenuPrincipal_files/preto_u24_normal.png');
}

.u45_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u46 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../MenuPrincipal_files/Logo_u26_normal.png');
}

.u47_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u48 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u51_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u52 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u53_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u54 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u34_normal.png');
}

.u55_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u56 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u36_normal.png');
}

.u57_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u58 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u38_normal.png');
}

.u59_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u60 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u62 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u62 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u63_normal {
    background-image: url('../BuscaMenu_files/u42_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u64 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u52_normal.png');
}

.u73_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u74 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u76_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u76_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u76_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u77 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u78_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u78_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u78_container {
    position:absolute;
    left:296px;
    top:2px;
    width:148px;
    height:25px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u79 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u80_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u80_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u80_container {
    position:absolute;
    left:444px;
    top:2px;
    width:148px;
    height:25px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u81 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u61_mouseOver.png');
}

.u82_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u82_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u82_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u83 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u84_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u84_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u84_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u85 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_mouseOver {
    background-image: url('../MenuPrincipal_files/CadastroBasico_u65_mouseOver.png');
}

.u86_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u86_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u86_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u87 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u61_mouseOver.png');
}

.u88_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u88_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u88_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u89 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u69_mouseOver.png');
}

.u90_selected {
    background-image: url('../MenuPrincipal_files/Sair_u69_selected.png');
}

.u90_normal {
    background-image: url('../MenuPrincipal_files/Sair_u69_selected.png');
}

.u90_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u91 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u93_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u93_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u93_container {
    position:absolute;
    left:0px;
    top:81px;
    width:100px;
    height:40px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u94 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u95 {
    position:absolute;
    left:0px;
    top:121px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u95 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u96_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u96_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u96_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u96_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u97 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u98 {
    position:absolute;
    left:0px;
    top:161px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u98 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u99_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u99_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u99_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u99_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u100 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u101 {
    position:absolute;
    left:0px;
    top:201px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u101 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u102_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u102_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u102_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u102_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u103 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u104 {
    position:absolute;
    left:0px;
    top:241px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u104 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u105_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u105_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u105_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u105_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u106 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u107 {
    position:absolute;
    left:0px;
    top:281px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u107 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u108_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u108_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u108_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u108_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u109 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u110 {
    position:absolute;
    left:0px;
    top:321px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u110 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u111_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u111_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u111_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u111_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u112 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u113 {
    position:absolute;
    left:0px;
    top:361px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u113 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u114_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u114_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u114_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u114_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u115 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u116 {
    position:absolute;
    left:10px;
    top:161px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u116 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u117_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u117_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u117_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u117_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u118 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u119_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u119_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u119_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u120 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u121 {
    position:absolute;
    left:10px;
    top:201px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u121 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u122_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u122_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u122_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u122_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u123 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u124_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u124_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u124_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u125 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u126 {
    position:absolute;
    left:10px;
    top:241px;
    width:91px;
    height:281px;
    overflow:hidden;
}

#pd0u126 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:281px;
    
}

.u127_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u127_selected {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_selected.png');
}

.u127_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_normal.png');
}

.u127_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u128 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u129 {
    position:absolute;
    left:0px;
    top:80px;
    width:91px;
    height:201px;
    overflow:hidden;
}

#pd0u129 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:201px;
    
}

.u130_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u130_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u130_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u130_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u131 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u132_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u132_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u132_container {
    position:absolute;
    left:0px;
    top:40px;
    width:90px;
    height:40px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u133 {
    position:absolute;
    left:2px;
    top:6px;
    width:86px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u134_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u134_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u134_container {
    position:absolute;
    left:0px;
    top:80px;
    width:90px;
    height:40px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u135 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u136_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u136_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u136_container {
    position:absolute;
    left:0px;
    top:120px;
    width:90px;
    height:40px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u137 {
    position:absolute;
    left:2px;
    top:6px;
    width:86px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u138_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u138_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u138_container {
    position:absolute;
    left:0px;
    top:160px;
    width:90px;
    height:40px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u139 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u140 {
    position:absolute;
    left:0px;
    top:40px;
    width:91px;
    height:41px;
    overflow:hidden;
}

#pd0u140 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:41px;
    
}

.u141_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u141_selected {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_selected.png');
}

.u141_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_normal.png');
}

.u141_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u142 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u143 {
    position:absolute;
    left:10px;
    top:281px;
    width:91px;
    height:201px;
    overflow:hidden;
}

#pd0u143 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:201px;
    
}

.u144_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u144_selected {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_selected.png');
}

.u144_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_normal.png');
}

.u144_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u145 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u146 {
    position:absolute;
    left:0px;
    top:80px;
    width:91px;
    height:121px;
    overflow:hidden;
}

#pd0u146 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:121px;
    
}

.u147_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u147_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u147_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u147_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u148 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u149_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u149_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u149_container {
    position:absolute;
    left:0px;
    top:40px;
    width:90px;
    height:40px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u150 {
    position:absolute;
    left:2px;
    top:6px;
    width:86px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u151_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u151_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u151_container {
    position:absolute;
    left:0px;
    top:80px;
    width:90px;
    height:40px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u152 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u153 {
    position:absolute;
    left:0px;
    top:40px;
    width:91px;
    height:41px;
    overflow:hidden;
}

#pd0u153 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:41px;
    
}

.u154_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u154_selected {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_selected.png');
}

.u154_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_normal.png');
}

.u154_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u155 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u156 {
    position:absolute;
    left:10px;
    top:321px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u156 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u157_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u157_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u157_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u157_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u158 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u159_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u159_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u159_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u160 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u161 {
    position:absolute;
    left:10px;
    top:361px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u161 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u162_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u162_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u162_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u162_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u163 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u164_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u164_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u164_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u165 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u166 {
    position:absolute;
    left:10px;
    top:401px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u166 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u167_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u167_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u167_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u167_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u167_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u168 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u169_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u169_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u169_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u169_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u170 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:148px;
    top:280px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_line {
    background-image: url('../Copy_of_CadEmpresaBasicos_files/u173_line.png');
}

.u173_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u173 {
    position:absolute;
    left:138px;
    top:294px;
    width:1130px;
    height:10px;
    
}

.u175 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u180 {
    position:absolute;
    left:666px;
    top:444px;
    width:586px;
    height:108px;
    overflow:hidden;
}

#pd0u180 {
    position:absolute;
    left:0px;
    top:0px;
    width:586px;
    height:108px;
    
}

.u181_normal {
    background-image: url('../Copy_of_CadEmpresaBasicos_files/u181_normal.png');
}

.u181_container {
    position:absolute;
    left:0px;
    top:0px;
    width:585px;
    height:26px;
}

#u181_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u182 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_normal {
    background-image: url('../Copy_of_CadEmpresaBasicos_files/u181_normal.png');
}

.u183_container {
    position:absolute;
    left:0px;
    top:54px;
    width:585px;
    height:26px;
}

#u183_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u184 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:10px;
    top:5px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186_normal {
    background-image: url('../Copy_of_CadEmpresaBasicos_files/u186_normal.png');
}

.u186_container {
    position:absolute;
    left:0px;
    top:27px;
    width:585px;
    height:26px;
}

#u186_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u187 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:10px;
    top:32px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:10px;
    top:59px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190_normal {
    background-image: url('../Copy_of_CadEmpresaBasicos_files/u186_normal.png');
}

.u190_container {
    position:absolute;
    left:0px;
    top:81px;
    width:585px;
    height:26px;
}

#u190_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u191 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:10px;
    top:86px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193_normal {
    background-image: url('../Copy_of_CadEmpresaBasicos_files/u193_normal.png');
}

.u193_container {
    position:absolute;
    left:556px;
    top:3px;
    width:20px;
    height:20px;
}

#u193_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u194 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195_normal {
    background-image: url('../Copy_of_CadEmpresaBasicos_files/u193_normal.png');
}

.u195_container {
    position:absolute;
    left:556px;
    top:57px;
    width:20px;
    height:20px;
}

#u195_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u196 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197_normal {
    background-image: url('../Copy_of_CadEmpresaBasicos_files/u193_normal.png');
}

.u197_container {
    position:absolute;
    left:556px;
    top:30px;
    width:20px;
    height:20px;
}

#u197_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u198 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199_normal {
    background-image: url('../Copy_of_CadEmpresaBasicos_files/u193_normal.png');
}

.u199_container {
    position:absolute;
    left:556px;
    top:84px;
    width:20px;
    height:20px;
}

#u199_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u200 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

