﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u0_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u0_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u1 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u2_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u2_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u3 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u4 {
    position:absolute;
    left:0px;
    top:160px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u5_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u5_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u5_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u6 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u7 {
    position:absolute;
    left:0px;
    top:200px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u7 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u8_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u8_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u8_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u9 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u10 {
    position:absolute;
    left:0px;
    top:240px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u10 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u11_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u11_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u11_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u12 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u13 {
    position:absolute;
    left:0px;
    top:280px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u14_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u14_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u14_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u15 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u16 {
    position:absolute;
    left:0px;
    top:320px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u16 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u17_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u17_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u17_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u18 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u19 {
    position:absolute;
    left:0px;
    top:360px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u20_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u20_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u20_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u21 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u22 {
    position:absolute;
    left:0px;
    top:400px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u23_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u23_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u23_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u24 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u25 {
    position:absolute;
    left:10px;
    top:200px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u26_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u26_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u26_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u27 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u28_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u28_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u29 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u30 {
    position:absolute;
    left:10px;
    top:240px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u31_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u31_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u31_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u32 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u33_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u33_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u34 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u35 {
    position:absolute;
    left:10px;
    top:280px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u35 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u36_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u36_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u36_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u37 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u38_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u38_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u39 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u40 {
    position:absolute;
    left:10px;
    top:320px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u41_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u41_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u41_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u42 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u43_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u43_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u44 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u45 {
    position:absolute;
    left:10px;
    top:360px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u45 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u46_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u46_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u46_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u47 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u48_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u48_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u49 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u50 {
    position:absolute;
    left:10px;
    top:160px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u50 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u51_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u51_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u51_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u52 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u53_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u53_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u54 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u55 {
    position:absolute;
    left:10px;
    top:400px;
    width:91px;
    height:241px;
    overflow:hidden;
}

#pd0u55 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:241px;
    
}

.u56_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u56_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u56_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u57 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u58_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u58_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u58_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u59 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u60_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u60_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u61 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u62 {
    position:absolute;
    left:0px;
    top:120px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u62 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u63_mouseOver {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u63_selected {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_selected.png');
}

.u63_normal {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u64 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_mouseOver {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u65_selected {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_selected.png');
}

.u65_normal {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:40px;
    width:90px;
    height:40px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u66 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u67 {
    position:absolute;
    left:0px;
    top:120px;
    width:91px;
    height:41px;
    overflow:hidden;
}

#pd0u67 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:41px;
    
}

.u68_mouseOver {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u68_selected {
    background-image: url('../MenuTransfer_files/ListagemPersonagem_u72_selected.png');
}

.u68_normal {
    background-image: url('../MenuTransfer_files/ListagemPersonagem_u72_normal.png');
}

.u68_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u69 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u70 {
    position:absolute;
    left:10px;
    top:440px;
    width:91px;
    height:161px;
    overflow:hidden;
}

#pd0u70 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:161px;
    
}

.u71_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u71_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u71_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u72 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u73_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u73_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u74 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u75_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u75_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u75_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u76 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u77_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u77_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u77_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u78 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../ConfiguraOperacao_files/Quadrado_u80_normal.png');
}

.u80_container {
    position:absolute;
    left:120px;
    top:140px;
    width:1167px;
    height:1139px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:1145px;
}

.u81 {
    position:absolute;
    left:2px;
    top:562px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:149px;
    top:181px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u83 {
    position:absolute;
    left:114px;
    top:100px;
    width:358px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:149px;
    top:159px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../ConfiguraOperacao_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:140px;
    top:130px;
    width:140px;
    height:25px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u86 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../ConfiguraOperacao_files/GravarJornada_u87_normal.png');
}

.u87_container {
    position:absolute;
    left:1085px;
    top:1289px;
    width:100px;
    height:25px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u88 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../ConfiguraOperacao_files/GravarJornada_u87_normal.png');
}

.u89_container {
    position:absolute;
    left:1185px;
    top:1289px;
    width:100px;
    height:25px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u90 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u22_normal.png');
}

.u91_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u92 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../MenuPrincipal_files/preto_u24_normal.png');
}

.u93_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u94 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../MenuPrincipal_files/Logo_u26_normal.png');
}

.u95_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u96 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u99_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u100 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u101_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u102 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u34_normal.png');
}

.u103_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u103_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u104 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u36_normal.png');
}

.u105_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u105_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u106 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u38_normal.png');
}

.u107_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u107_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u108 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u110 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u110 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u111_normal {
    background-image: url('../BuscaMenu_files/u42_normal.png');
}

.u111_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u112 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u52_normal.png');
}

.u121_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u122 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u124_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u124_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u124_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u125 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_mouseOver {
    background-image: url('../MenuPrincipal_files/Transfer_u57_mouseOver.png');
}

.u126_selected {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u126_normal {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u126_container {
    position:absolute;
    left:296px;
    top:2px;
    width:296px;
    height:25px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:31px;
}

.u127 {
    position:absolute;
    left:2px;
    top:4px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u128_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u128_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u128_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u129 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u130_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u130_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u130_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u131 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_mouseOver {
    background-image: url('../MenuPrincipal_files/CadastroBasico_u63_mouseOver.png');
}

.u132_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u132_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u132_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u133 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u134_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u134_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u134_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u135 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u67_mouseOver.png');
}

.u136_selected {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u136_normal {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u136_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u137 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:149px;
    top:749px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:149px;
    top:771px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u142 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:149px;
    top:241px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u144 {
    position:absolute;
    left:149px;
    top:219px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:149px;
    top:304px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u146 {
    position:absolute;
    left:149px;
    top:282px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../ConfiguraOperacao_files/u147_normal.png');
}

.u147_container {
    position:absolute;
    left:1207px;
    top:751px;
    width:37px;
    height:30px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:43px;
    height:36px;
}

.u148 {
    position:absolute;
    left:2px;
    top:7px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../ConfiguraOperacao_files/u149_normal.png');
}

.u149_container {
    position:absolute;
    left:659px;
    top:751px;
    width:548px;
    height:30px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:554px;
    height:36px;
}

.u150 {
    position:absolute;
    left:2px;
    top:7px;
    width:544px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:469px;
    top:769px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u152 {
    position:absolute;
    left:659px;
    top:781px;
    width:586px;
    height:108px;
    overflow:hidden;
}

#pd0u152 {
    position:absolute;
    left:0px;
    top:0px;
    width:586px;
    height:108px;
    
}

.u153_normal {
    background-image: url('../ConfiguraOperacao_files/u153_normal.png');
}

.u153_container {
    position:absolute;
    left:0px;
    top:0px;
    width:585px;
    height:26px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u154 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../ConfiguraOperacao_files/u153_normal.png');
}

.u155_container {
    position:absolute;
    left:0px;
    top:54px;
    width:585px;
    height:26px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u156 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:10px;
    top:5px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../ConfiguraOperacao_files/u158_normal.png');
}

.u158_container {
    position:absolute;
    left:0px;
    top:27px;
    width:585px;
    height:26px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u159 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160 {
    position:absolute;
    left:10px;
    top:32px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:10px;
    top:59px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../ConfiguraOperacao_files/u158_normal.png');
}

.u162_container {
    position:absolute;
    left:0px;
    top:81px;
    width:585px;
    height:26px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u163 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:10px;
    top:86px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../ConfiguraOperacao_files/u165_normal.png');
}

.u165_container {
    position:absolute;
    left:556px;
    top:3px;
    width:20px;
    height:20px;
}

#u165_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u166 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_normal {
    background-image: url('../ConfiguraOperacao_files/u165_normal.png');
}

.u167_container {
    position:absolute;
    left:556px;
    top:57px;
    width:20px;
    height:20px;
}

#u167_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u168 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_normal {
    background-image: url('../ConfiguraOperacao_files/u165_normal.png');
}

.u169_container {
    position:absolute;
    left:556px;
    top:30px;
    width:20px;
    height:20px;
}

#u169_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u170 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_normal {
    background-image: url('../ConfiguraOperacao_files/u165_normal.png');
}

.u171_container {
    position:absolute;
    left:556px;
    top:84px;
    width:20px;
    height:20px;
}

#u171_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u172 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:149px;
    top:958px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u174 {
    position:absolute;
    left:149px;
    top:936px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:149px;
    top:1022px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u176 {
    position:absolute;
    left:149px;
    top:1000px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../ConfiguraOperacao_files/u149_normal.png');
}

.u177_container {
    position:absolute;
    left:659px;
    top:934px;
    width:548px;
    height:30px;
}

#u177_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:554px;
    height:36px;
}

.u178 {
    position:absolute;
    left:2px;
    top:7px;
    width:544px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:469px;
    top:1022px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u180 {
    position:absolute;
    left:659px;
    top:964px;
    width:586px;
    height:108px;
    overflow:hidden;
}

#pd0u180 {
    position:absolute;
    left:0px;
    top:0px;
    width:586px;
    height:108px;
    
}

.u181_normal {
    background-image: url('../ConfiguraOperacao_files/u153_normal.png');
}

.u181_container {
    position:absolute;
    left:0px;
    top:0px;
    width:585px;
    height:26px;
}

#u181_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u182 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_normal {
    background-image: url('../ConfiguraOperacao_files/u153_normal.png');
}

.u183_container {
    position:absolute;
    left:0px;
    top:54px;
    width:585px;
    height:26px;
}

#u183_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u184 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:10px;
    top:5px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186_normal {
    background-image: url('../ConfiguraOperacao_files/u158_normal.png');
}

.u186_container {
    position:absolute;
    left:0px;
    top:27px;
    width:585px;
    height:26px;
}

#u186_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u187 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:10px;
    top:32px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:10px;
    top:59px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190_normal {
    background-image: url('../ConfiguraOperacao_files/u158_normal.png');
}

.u190_container {
    position:absolute;
    left:0px;
    top:81px;
    width:585px;
    height:26px;
}

#u190_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u191 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:10px;
    top:86px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193_normal {
    background-image: url('../ConfiguraOperacao_files/u165_normal.png');
}

.u193_container {
    position:absolute;
    left:556px;
    top:3px;
    width:20px;
    height:20px;
}

#u193_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u194 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195_normal {
    background-image: url('../ConfiguraOperacao_files/u165_normal.png');
}

.u195_container {
    position:absolute;
    left:556px;
    top:57px;
    width:20px;
    height:20px;
}

#u195_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u196 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197_normal {
    background-image: url('../ConfiguraOperacao_files/u165_normal.png');
}

.u197_container {
    position:absolute;
    left:556px;
    top:30px;
    width:20px;
    height:20px;
}

#u197_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u198 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199_normal {
    background-image: url('../ConfiguraOperacao_files/u165_normal.png');
}

.u199_container {
    position:absolute;
    left:556px;
    top:84px;
    width:20px;
    height:20px;
}

#u199_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u200 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201 {
    position:absolute;
    left:161px;
    top:904px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202_line {
    background-image: url('../ConfiguraOperacao_files/u202_line.png');
}

.u202_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1120px;
    height:3px;
}

.u202 {
    position:absolute;
    left:144px;
    top:918px;
    width:1120px;
    height:10px;
    
}

.u203_normal {
    background-image: url('../ConfiguraOperacao_files/u147_normal.png');
}

.u203_container {
    position:absolute;
    left:1207px;
    top:934px;
    width:37px;
    height:30px;
}

#u203_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:43px;
    height:36px;
}

.u204 {
    position:absolute;
    left:2px;
    top:7px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205 {
    position:absolute;
    left:161px;
    top:685px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206_line {
    background-image: url('../ConfiguraOperacao_files/u206_line.png');
}

.u206_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1120px;
    height:3px;
}

.u206 {
    position:absolute;
    left:144px;
    top:699px;
    width:1120px;
    height:10px;
    
}

.u207 {
    position:absolute;
    left:149px;
    top:1130px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208 {
    position:absolute;
    left:149px;
    top:1152px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u210 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211_normal {
    background-image: url('../ConfiguraOperacao_files/u211_normal.png');
}

.u211_container {
    position:absolute;
    left:659px;
    top:1132px;
    width:318px;
    height:30px;
}

#u211_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:324px;
    height:36px;
}

.u212 {
    position:absolute;
    left:2px;
    top:7px;
    width:314px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213 {
    position:absolute;
    left:469px;
    top:1150px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u214 {
    position:absolute;
    left:659px;
    top:1162px;
    width:586px;
    height:108px;
    overflow:hidden;
}

#pd0u214 {
    position:absolute;
    left:0px;
    top:0px;
    width:586px;
    height:108px;
    
}

.u215_normal {
    background-image: url('../ConfiguraOperacao_files/u153_normal.png');
}

.u215_container {
    position:absolute;
    left:0px;
    top:0px;
    width:585px;
    height:26px;
}

#u215_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u216 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217_normal {
    background-image: url('../ConfiguraOperacao_files/u153_normal.png');
}

.u217_container {
    position:absolute;
    left:0px;
    top:54px;
    width:585px;
    height:26px;
}

#u217_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u218 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u219 {
    position:absolute;
    left:10px;
    top:5px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220_normal {
    background-image: url('../ConfiguraOperacao_files/u158_normal.png');
}

.u220_container {
    position:absolute;
    left:0px;
    top:27px;
    width:585px;
    height:26px;
}

#u220_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u221 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222 {
    position:absolute;
    left:10px;
    top:32px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u223 {
    position:absolute;
    left:10px;
    top:59px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224_normal {
    background-image: url('../ConfiguraOperacao_files/u158_normal.png');
}

.u224_container {
    position:absolute;
    left:0px;
    top:81px;
    width:585px;
    height:26px;
}

#u224_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u225 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u226 {
    position:absolute;
    left:10px;
    top:86px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u227_normal {
    background-image: url('../ConfiguraOperacao_files/u165_normal.png');
}

.u227_container {
    position:absolute;
    left:556px;
    top:3px;
    width:20px;
    height:20px;
}

#u227_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u228 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u229_normal {
    background-image: url('../ConfiguraOperacao_files/u165_normal.png');
}

.u229_container {
    position:absolute;
    left:556px;
    top:57px;
    width:20px;
    height:20px;
}

#u229_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u230 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u231_normal {
    background-image: url('../ConfiguraOperacao_files/u165_normal.png');
}

.u231_container {
    position:absolute;
    left:556px;
    top:30px;
    width:20px;
    height:20px;
}

#u231_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u232 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u233_normal {
    background-image: url('../ConfiguraOperacao_files/u165_normal.png');
}

.u233_container {
    position:absolute;
    left:556px;
    top:84px;
    width:20px;
    height:20px;
}

#u233_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u234 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u235 {
    position:absolute;
    left:320px;
    top:7px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u236 {
    position:absolute;
    left:320px;
    top:34px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u237 {
    position:absolute;
    left:320px;
    top:61px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u238 {
    position:absolute;
    left:320px;
    top:88px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u239 {
    position:absolute;
    left:450px;
    top:7px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u240 {
    position:absolute;
    left:450px;
    top:34px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u241 {
    position:absolute;
    left:450px;
    top:61px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u242 {
    position:absolute;
    left:450px;
    top:88px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u243 {
    position:absolute;
    left:161px;
    top:1066px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u244_line {
    background-image: url('../ConfiguraOperacao_files/u244_line.png');
}

.u244_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1120px;
    height:3px;
}

.u244 {
    position:absolute;
    left:144px;
    top:1080px;
    width:1120px;
    height:10px;
    
}

.u245_normal {
    background-image: url('../ConfiguraOperacao_files/u147_normal.png');
}

.u245_container {
    position:absolute;
    left:1207px;
    top:1132px;
    width:37px;
    height:30px;
}

#u245_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:43px;
    height:36px;
}

.u246 {
    position:absolute;
    left:2px;
    top:7px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u247_normal {
    background-image: url('../ConfiguraOperacao_files/u247_normal.png');
}

.u247_container {
    position:absolute;
    left:1109px;
    top:1132px;
    width:98px;
    height:30px;
}

#u247_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:36px;
}

.u248 {
    position:absolute;
    left:2px;
    top:7px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u249_normal {
    background-image: url('../ConfiguraOperacao_files/u249_normal.png');
}

.u249_container {
    position:absolute;
    left:977px;
    top:1132px;
    width:132px;
    height:30px;
}

#u249_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:138px;
    height:36px;
}

.u250 {
    position:absolute;
    left:2px;
    top:7px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u251 {
    position:absolute;
    left:149px;
    top:369px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u252 {
    position:absolute;
    left:149px;
    top:347px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u253 {
    position:absolute;
    left:150px;
    top:415px;
    width:227px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u254_line {
    background-image: url('../ConfiguraOperacao_files/u254_line.png');
}

.u254_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u254 {
    position:absolute;
    left:138px;
    top:429px;
    width:1130px;
    height:10px;
    
}

.u256 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u258 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u260 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u262 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u263 {
    position:absolute;
    left:152px;
    top:525px;
    width:227px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u264_line {
    background-image: url('../ConfiguraOperacao_files/u264_line.png');
}

.u264_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u264 {
    position:absolute;
    left:140px;
    top:539px;
    width:1130px;
    height:10px;
    
}

.u265 {
    position:absolute;
    left:157px;
    top:576px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u266 {
    position:absolute;
    left:157px;
    top:554px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u267 {
    position:absolute;
    left:555px;
    top:573px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u268 {
    position:absolute;
    left:555px;
    top:551px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u269 {
    position:absolute;
    left:157px;
    top:641px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u270 {
    position:absolute;
    left:157px;
    top:619px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u271 {
    position:absolute;
    left:555px;
    top:638px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u272 {
    position:absolute;
    left:555px;
    top:616px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u274 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

