﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u24_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u1 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../MenuPrincipal_files/preto_u26_normal.png');
}

.u2_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u3 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../MenuPrincipal_files/Logo_u28_normal.png');
}

.u4_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u5 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u32_normal.png');
}

.u8_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u9 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u32_normal.png');
}

.u10_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u11 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u36_normal.png');
}

.u12_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u13 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u38_normal.png');
}

.u14_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u15 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u40_normal.png');
}

.u16_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u17 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u19 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u20_normal {
    background-image: url('../BuscaMenu_files/u44_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u21 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u54_normal.png');
}

.u30_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u31 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u33_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u33_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u33_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u34 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u35_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u35_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u35_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u36 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u37_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u37_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u37_container {
    position:absolute;
    left:444px;
    top:2px;
    width:148px;
    height:25px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u38 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u39_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u39_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u39_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u40 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u41_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u41_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u41_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u42 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u43_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u43_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u43_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u44 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u45_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u45_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u45_container {
    position:absolute;
    left:296px;
    top:2px;
    width:148px;
    height:25px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u46 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u71_mouseOver.png');
}

.u47_selected {
    background-image: url('../MenuPrincipal_files/Sair_u71_selected.png');
}

.u47_normal {
    background-image: url('../MenuPrincipal_files/Sair_u71_selected.png');
}

.u47_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u48 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_mouseOver {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_mouseOver.png');
}

.u50_selected {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_selected.png');
}

.u50_normal {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u51 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_mouseOver {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_mouseOver.png');
}

.u52_normal {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_normal.png');
}

.u52_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u53 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_mouseOver {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_mouseOver.png');
}

.u54_selected {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_selected.png');
}

.u54_normal {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:160px;
    width:100px;
    height:40px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u55 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_mouseOver {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_mouseOver.png');
}

.u56_selected {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_selected.png');
}

.u56_normal {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:200px;
    width:100px;
    height:40px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u57 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_mouseOver {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_mouseOver.png');
}

.u58_normal {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_normal.png');
}

.u58_container {
    position:absolute;
    left:0px;
    top:240px;
    width:100px;
    height:40px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u59 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_mouseOver {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_mouseOver.png');
}

.u60_selected {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_selected.png');
}

.u60_normal {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:280px;
    width:100px;
    height:40px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u61 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_mouseOver {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_mouseOver.png');
}

.u62_selected {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_selected.png');
}

.u62_normal {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_normal.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:320px;
    width:100px;
    height:40px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u63 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_mouseOver {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_mouseOver.png');
}

.u64_normal {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_normal.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:360px;
    width:100px;
    height:40px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u65 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_mouseOver {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_mouseOver.png');
}

.u66_selected {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_selected.png');
}

.u66_normal {
    background-image: url('../MenuCanhoto_files/DashboardJornada_u50_normal.png');
}

.u66_container {
    position:absolute;
    left:0px;
    top:400px;
    width:100px;
    height:40px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u67 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../New_Page_1_1_files/Quadrado_u69_normal.png');
}

.u69_container {
    position:absolute;
    left:120px;
    top:142px;
    width:1167px;
    height:446px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:452px;
}

.u70 {
    position:absolute;
    left:2px;
    top:215px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:149px;
    top:181px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u72 {
    position:absolute;
    left:114px;
    top:100px;
    width:254px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:149px;
    top:159px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../New_Page_1_1_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:140px;
    top:130px;
    width:140px;
    height:25px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u75 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../New_Page_1_1_files/GravarJornada_u76_normal.png');
}

.u76_container {
    position:absolute;
    left:1085px;
    top:600px;
    width:100px;
    height:25px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u77 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../New_Page_1_1_files/GravarJornada_u76_normal.png');
}

.u78_container {
    position:absolute;
    left:1185px;
    top:600px;
    width:100px;
    height:25px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u79 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:951px;
    top:173px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u81 {
    position:absolute;
    left:951px;
    top:151px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:149px;
    top:216px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:149px;
    top:238px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u84 {
    position:absolute;
    left:138px;
    top:270px;
    width:1135px;
    height:309px;
    overflow:hidden;
}

#pd2u84 {
    position:absolute;
    left:0px;
    top:0px;
    width:1135px;
    height:309px;
    
}

.u85 {
    position:absolute;
    left:10px;
    top:0px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_line {
    background-image: url('../New_Page_1_1_files/u86_line.png');
}

.u86_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u86 {
    position:absolute;
    left:0px;
    top:14px;
    width:1130px;
    height:10px;
    
}

.u87 {
    position:absolute;
    left:11px;
    top:139px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../New_Page_1_1_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:439px;
    top:175px;
    width:691px;
    height:26px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:697px;
    height:32px;
}

.u89 {
    position:absolute;
    left:2px;
    top:5px;
    width:687px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../New_Page_1_1_files/u88_normal.png');
}

.u90_container {
    position:absolute;
    left:439px;
    top:229px;
    width:691px;
    height:26px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:697px;
    height:32px;
}

.u91 {
    position:absolute;
    left:2px;
    top:5px;
    width:687px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../New_Page_1_1_files/u92_normal.png');
}

.u92_container {
    position:absolute;
    left:1101px;
    top:144px;
    width:29px;
    height:30px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:36px;
}

.u93 {
    position:absolute;
    left:2px;
    top:7px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../New_Page_1_1_files/u94_normal.png');
}

.u94_container {
    position:absolute;
    left:439px;
    top:144px;
    width:662px;
    height:30px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:668px;
    height:36px;
}

.u95 {
    position:absolute;
    left:2px;
    top:7px;
    width:658px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:452px;
    top:180px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../New_Page_1_1_files/u97_normal.png');
}

.u97_container {
    position:absolute;
    left:439px;
    top:202px;
    width:691px;
    height:26px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:697px;
    height:32px;
}

.u98 {
    position:absolute;
    left:2px;
    top:5px;
    width:687px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:452px;
    top:207px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:452px;
    top:234px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../New_Page_1_1_files/u97_normal.png');
}

.u101_container {
    position:absolute;
    left:439px;
    top:256px;
    width:691px;
    height:26px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:697px;
    height:32px;
}

.u102 {
    position:absolute;
    left:2px;
    top:5px;
    width:687px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:452px;
    top:261px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../New_Page_1_1_files/u104_normal.png');
}

.u104_container {
    position:absolute;
    left:1106px;
    top:178px;
    width:20px;
    height:20px;
}

#u104_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u105 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../New_Page_1_1_files/u104_normal.png');
}

.u106_container {
    position:absolute;
    left:1106px;
    top:232px;
    width:20px;
    height:20px;
}

#u106_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u107 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../New_Page_1_1_files/u104_normal.png');
}

.u108_container {
    position:absolute;
    left:1106px;
    top:205px;
    width:20px;
    height:20px;
}

#u108_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u109 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../New_Page_1_1_files/u104_normal.png');
}

.u110_container {
    position:absolute;
    left:1106px;
    top:259px;
    width:20px;
    height:20px;
}

#u110_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u111 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:338px;
    top:160px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u113 {
    position:absolute;
    left:11px;
    top:159px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u114 {
    position:absolute;
    left:11px;
    top:48px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u115 {
    position:absolute;
    left:11px;
    top:26px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:11px;
    top:105px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u117 {
    position:absolute;
    left:11px;
    top:83px;
    width:238px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:813px;
    top:29px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:813px;
    top:51px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u120 {
    position:absolute;
    left:813px;
    top:83px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:813px;
    top:105px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd1u84 {
    position:absolute;
    left:0px;
    top:0px;
    width:1135px;
    height:309px;
    
}

.u122_line {
    background-image: url('../New_Page_1_1_files/u122_line.png');
}

.u122_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u122 {
    position:absolute;
    left:0px;
    top:16px;
    width:1130px;
    height:10px;
    
}

.u123 {
    position:absolute;
    left:11px;
    top:31px;
    width:238px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:11px;
    top:53px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u125_normal {
    background-image: url('../New_Page_1_1_files/u88_normal.png');
}

.u125_container {
    position:absolute;
    left:439px;
    top:67px;
    width:691px;
    height:26px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:697px;
    height:32px;
}

.u126 {
    position:absolute;
    left:2px;
    top:5px;
    width:687px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../New_Page_1_1_files/u88_normal.png');
}

.u127_container {
    position:absolute;
    left:439px;
    top:121px;
    width:691px;
    height:26px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:697px;
    height:32px;
}

.u128 {
    position:absolute;
    left:2px;
    top:5px;
    width:687px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../New_Page_1_1_files/u129_normal.png');
}

.u129_container {
    position:absolute;
    left:439px;
    top:36px;
    width:150px;
    height:30px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:36px;
}

.u130 {
    position:absolute;
    left:2px;
    top:7px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:452px;
    top:72px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../New_Page_1_1_files/u97_normal.png');
}

.u132_container {
    position:absolute;
    left:439px;
    top:94px;
    width:691px;
    height:26px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:697px;
    height:32px;
}

.u133 {
    position:absolute;
    left:2px;
    top:5px;
    width:687px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:452px;
    top:99px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:452px;
    top:126px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../New_Page_1_1_files/u97_normal.png');
}

.u136_container {
    position:absolute;
    left:439px;
    top:148px;
    width:691px;
    height:26px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:697px;
    height:32px;
}

.u137 {
    position:absolute;
    left:2px;
    top:5px;
    width:687px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:452px;
    top:153px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:338px;
    top:52px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u140_normal {
    background-image: url('../New_Page_1_1_files/u140_normal.png');
}

.u140_container {
    position:absolute;
    left:589px;
    top:36px;
    width:255px;
    height:30px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:261px;
    height:36px;
}

.u141 {
    position:absolute;
    left:2px;
    top:7px;
    width:251px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../New_Page_1_1_files/u140_normal.png');
}

.u142_container {
    position:absolute;
    left:846px;
    top:36px;
    width:255px;
    height:30px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:261px;
    height:36px;
}

.u143 {
    position:absolute;
    left:2px;
    top:7px;
    width:251px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:597px;
    top:72px;
    width:199px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:597px;
    top:99px;
    width:199px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:597px;
    top:126px;
    width:199px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:597px;
    top:153px;
    width:199px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:855px;
    top:72px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:855px;
    top:99px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:855px;
    top:126px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:855px;
    top:153px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../New_Page_1_1_files/u92_normal.png');
}

.u152_container {
    position:absolute;
    left:1101px;
    top:36px;
    width:29px;
    height:30px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:36px;
}

.u153 {
    position:absolute;
    left:2px;
    top:7px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../New_Page_1_1_files/u104_normal.png');
}

.u154_container {
    position:absolute;
    left:1106px;
    top:70px;
    width:20px;
    height:20px;
}

#u154_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u155 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../New_Page_1_1_files/u104_normal.png');
}

.u156_container {
    position:absolute;
    left:1106px;
    top:124px;
    width:20px;
    height:20px;
}

#u156_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u157 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../New_Page_1_1_files/u104_normal.png');
}

.u158_container {
    position:absolute;
    left:1106px;
    top:97px;
    width:20px;
    height:20px;
}

#u158_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u159 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../New_Page_1_1_files/u104_normal.png');
}

.u160_container {
    position:absolute;
    left:1106px;
    top:151px;
    width:20px;
    height:20px;
}

#u160_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u161 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:11px;
    top:85px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:11px;
    top:107px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u164 {
    position:absolute;
    left:11px;
    top:139px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:11px;
    top:161px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u166 {
    position:absolute;
    left:0px;
    top:0px;
    width:227px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u84 {
    position:absolute;
    left:0px;
    top:0px;
    width:1135px;
    height:309px;
    
}

.u167 {
    position:absolute;
    left:10px;
    top:0px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_line {
    background-image: url('../New_Page_1_1_files/u168_line.png');
}

.u168_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u168 {
    position:absolute;
    left:0px;
    top:14px;
    width:1130px;
    height:10px;
    
}

.u169 {
    position:absolute;
    left:11px;
    top:29px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:11px;
    top:51px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u171_normal {
    background-image: url('../New_Page_1_1_files/u88_normal.png');
}

.u171_container {
    position:absolute;
    left:439px;
    top:65px;
    width:691px;
    height:26px;
}

#u171_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:697px;
    height:32px;
}

.u172 {
    position:absolute;
    left:2px;
    top:5px;
    width:687px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_normal {
    background-image: url('../New_Page_1_1_files/u88_normal.png');
}

.u173_container {
    position:absolute;
    left:439px;
    top:119px;
    width:691px;
    height:26px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:697px;
    height:32px;
}

.u174 {
    position:absolute;
    left:2px;
    top:5px;
    width:687px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../New_Page_1_1_files/u92_normal.png');
}

.u175_container {
    position:absolute;
    left:1101px;
    top:34px;
    width:29px;
    height:30px;
}

#u175_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:36px;
}

.u176 {
    position:absolute;
    left:2px;
    top:7px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../New_Page_1_1_files/u129_normal.png');
}

.u177_container {
    position:absolute;
    left:439px;
    top:34px;
    width:150px;
    height:30px;
}

#u177_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:36px;
}

.u178 {
    position:absolute;
    left:2px;
    top:7px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:452px;
    top:70px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180_normal {
    background-image: url('../New_Page_1_1_files/u97_normal.png');
}

.u180_container {
    position:absolute;
    left:439px;
    top:92px;
    width:691px;
    height:26px;
}

#u180_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:697px;
    height:32px;
}

.u181 {
    position:absolute;
    left:2px;
    top:5px;
    width:687px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:452px;
    top:97px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:452px;
    top:124px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184_normal {
    background-image: url('../New_Page_1_1_files/u97_normal.png');
}

.u184_container {
    position:absolute;
    left:439px;
    top:146px;
    width:691px;
    height:26px;
}

#u184_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:697px;
    height:32px;
}

.u185 {
    position:absolute;
    left:2px;
    top:5px;
    width:687px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:452px;
    top:151px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187_normal {
    background-image: url('../New_Page_1_1_files/u104_normal.png');
}

.u187_container {
    position:absolute;
    left:1106px;
    top:68px;
    width:20px;
    height:20px;
}

#u187_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u188 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189_normal {
    background-image: url('../New_Page_1_1_files/u104_normal.png');
}

.u189_container {
    position:absolute;
    left:1106px;
    top:122px;
    width:20px;
    height:20px;
}

#u189_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u190 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191_normal {
    background-image: url('../New_Page_1_1_files/u104_normal.png');
}

.u191_container {
    position:absolute;
    left:1106px;
    top:95px;
    width:20px;
    height:20px;
}

#u191_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u192 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193_normal {
    background-image: url('../New_Page_1_1_files/u104_normal.png');
}

.u193_container {
    position:absolute;
    left:1106px;
    top:149px;
    width:20px;
    height:20px;
}

#u193_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u194 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:338px;
    top:50px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u196_normal {
    background-image: url('../New_Page_1_1_files/u140_normal.png');
}

.u196_container {
    position:absolute;
    left:589px;
    top:34px;
    width:255px;
    height:30px;
}

#u196_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:261px;
    height:36px;
}

.u197 {
    position:absolute;
    left:2px;
    top:7px;
    width:251px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198_normal {
    background-image: url('../New_Page_1_1_files/u140_normal.png');
}

.u198_container {
    position:absolute;
    left:846px;
    top:34px;
    width:255px;
    height:30px;
}

#u198_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:261px;
    height:36px;
}

.u199 {
    position:absolute;
    left:2px;
    top:7px;
    width:251px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:597px;
    top:70px;
    width:199px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201 {
    position:absolute;
    left:597px;
    top:97px;
    width:199px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202 {
    position:absolute;
    left:597px;
    top:124px;
    width:199px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203 {
    position:absolute;
    left:597px;
    top:151px;
    width:199px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204 {
    position:absolute;
    left:855px;
    top:70px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205 {
    position:absolute;
    left:855px;
    top:97px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206 {
    position:absolute;
    left:855px;
    top:124px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207 {
    position:absolute;
    left:855px;
    top:151px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208 {
    position:absolute;
    left:11px;
    top:101px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209 {
    position:absolute;
    left:11px;
    top:123px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

