﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../CadRotas_files/Quadrado_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:142px;
    width:1167px;
    height:368px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:374px;
}

.u1 {
    position:absolute;
    left:2px;
    top:176px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:114px;
    top:100px;
    width:471px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../CadRotas_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:140px;
    top:130px;
    width:140px;
    height:25px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u4 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../CadRotas_files/GravarJornada_u5_normal.png');
}

.u5_container {
    position:absolute;
    left:1087px;
    top:571px;
    width:100px;
    height:25px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u6 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../CadRotas_files/GravarJornada_u5_normal.png');
}

.u7_container {
    position:absolute;
    left:1187px;
    top:571px;
    width:100px;
    height:25px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:149px;
    top:232px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:149px;
    top:210px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u22_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u12 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../MenuPrincipal_files/preto_u24_normal.png');
}

.u13_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u14 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../MenuPrincipal_files/Logo_u26_normal.png');
}

.u15_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u16 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u19_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u20 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u21_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u22 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u34_normal.png');
}

.u23_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u24 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u36_normal.png');
}

.u25_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u26 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u38_normal.png');
}

.u27_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u28 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u30 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u31_normal {
    background-image: url('../BuscaMenu_files/u42_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u32 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u52_normal.png');
}

.u41_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u42 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u44_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u44_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u44_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u45 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_mouseOver {
    background-image: url('../MenuPrincipal_files/Transfer_u57_mouseOver.png');
}

.u46_selected {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u46_normal {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u46_container {
    position:absolute;
    left:296px;
    top:2px;
    width:296px;
    height:25px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:31px;
}

.u47 {
    position:absolute;
    left:2px;
    top:4px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u48_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u48_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u48_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u49 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u50_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u50_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u50_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u51 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_mouseOver {
    background-image: url('../MenuPrincipal_files/CadastroBasico_u63_mouseOver.png');
}

.u52_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u52_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u52_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u53 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u54_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u54_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u54_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u55 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u67_mouseOver.png');
}

.u56_selected {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u56_normal {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u56_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u57 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:149px;
    top:295px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:149px;
    top:273px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:550px;
    top:210px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:550px;
    top:232px;
    width:705px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u63 {
    position:absolute;
    left:550px;
    top:276px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:550px;
    top:298px;
    width:705px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u65_normal {
    background-image: url('../CadRotas_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:1218px;
    top:386px;
    width:37px;
    height:30px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:43px;
    height:36px;
}

.u66 {
    position:absolute;
    left:2px;
    top:7px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../CadRotas_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:550px;
    top:386px;
    width:512px;
    height:30px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:518px;
    height:36px;
}

.u68 {
    position:absolute;
    left:2px;
    top:7px;
    width:508px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:459px;
    top:463px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u70 {
    position:absolute;
    left:550px;
    top:416px;
    width:706px;
    height:136px;
    overflow:hidden;
}

#pd0u70 {
    position:absolute;
    left:0px;
    top:0px;
    width:706px;
    height:136px;
    
}

.u71_normal {
    background-image: url('../CadRotas_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:0px;
    width:705px;
    height:26px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:711px;
    height:32px;
}

.u72 {
    position:absolute;
    left:2px;
    top:5px;
    width:701px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../CadRotas_files/u71_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:54px;
    width:705px;
    height:26px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:711px;
    height:32px;
}

.u74 {
    position:absolute;
    left:2px;
    top:5px;
    width:701px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:10px;
    top:5px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../CadRotas_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:0px;
    top:27px;
    width:705px;
    height:26px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:711px;
    height:32px;
}

.u77 {
    position:absolute;
    left:2px;
    top:5px;
    width:701px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:10px;
    top:32px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:10px;
    top:59px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../CadRotas_files/u76_normal.png');
}

.u80_container {
    position:absolute;
    left:0px;
    top:81px;
    width:705px;
    height:26px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:711px;
    height:32px;
}

.u81 {
    position:absolute;
    left:2px;
    top:5px;
    width:701px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:10px;
    top:86px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../CadRotas_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:680px;
    top:3px;
    width:20px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../CadRotas_files/u83_normal.png');
}

.u85_container {
    position:absolute;
    left:680px;
    top:57px;
    width:20px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../CadRotas_files/u83_normal.png');
}

.u87_container {
    position:absolute;
    left:680px;
    top:30px;
    width:20px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../CadRotas_files/u83_normal.png');
}

.u89_container {
    position:absolute;
    left:680px;
    top:84px;
    width:20px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:520px;
    top:5px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:520px;
    top:32px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:520px;
    top:59px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:520px;
    top:86px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../CadRotas_files/u95_normal.png');
}

.u95_container {
    position:absolute;
    left:0px;
    top:108px;
    width:705px;
    height:26px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:711px;
    height:32px;
}

.u96 {
    position:absolute;
    left:2px;
    top:5px;
    width:701px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:285px;
    top:113px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:520px;
    top:113px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:149px;
    top:398px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u100 {
    position:absolute;
    left:149px;
    top:376px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u101_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u101_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u101_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u102 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u103_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u103_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u103_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u104 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u105 {
    position:absolute;
    left:0px;
    top:160px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u105 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u106_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u106_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u106_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u106_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u107 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u108 {
    position:absolute;
    left:0px;
    top:200px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u108 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u109_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u109_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u109_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u109_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u110 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u111 {
    position:absolute;
    left:0px;
    top:240px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u111 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u112_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u112_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u112_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u112_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u113 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u114 {
    position:absolute;
    left:0px;
    top:280px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u114 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u115_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u115_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u115_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u115_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u116 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u117 {
    position:absolute;
    left:0px;
    top:320px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u117 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u118_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u118_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u118_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u118_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u119 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u120 {
    position:absolute;
    left:0px;
    top:360px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u120 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u121_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u121_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u121_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u121_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u122 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u123 {
    position:absolute;
    left:0px;
    top:400px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u123 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u124_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u124_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u124_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u124_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u125 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u126 {
    position:absolute;
    left:10px;
    top:200px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u126 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u127_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u127_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u127_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u127_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u128 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u129_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u129_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u129_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u130 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u131 {
    position:absolute;
    left:10px;
    top:240px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u131 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u132_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u132_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u132_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u132_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u133 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u134_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u134_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u134_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u135 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u136 {
    position:absolute;
    left:10px;
    top:280px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u136 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u137_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u137_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u137_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u137_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u138 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u139_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u139_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u139_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u140 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u141 {
    position:absolute;
    left:10px;
    top:320px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u141 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u142_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u142_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u142_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u142_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u143 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u144_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u144_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u144_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u145 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u146 {
    position:absolute;
    left:10px;
    top:360px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u146 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u147_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u147_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u147_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u147_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u148 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u149_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u149_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u149_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u150 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u151 {
    position:absolute;
    left:10px;
    top:160px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u151 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u152_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u152_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u152_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u152_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u153 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u154_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u154_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u154_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u155 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u156 {
    position:absolute;
    left:10px;
    top:400px;
    width:91px;
    height:241px;
    overflow:hidden;
}

#pd0u156 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:241px;
    
}

.u157_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u157_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u157_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u157_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u158 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u159_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u159_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u159_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u160 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u161_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u161_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u161_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u162 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u163 {
    position:absolute;
    left:0px;
    top:120px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u163 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u164_mouseOver {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u164_selected {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_selected.png');
}

.u164_normal {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u164_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u165 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_mouseOver {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u166_selected {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_selected.png');
}

.u166_normal {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u166_container {
    position:absolute;
    left:0px;
    top:40px;
    width:90px;
    height:40px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u167 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u168 {
    position:absolute;
    left:0px;
    top:120px;
    width:91px;
    height:41px;
    overflow:hidden;
}

#pd0u168 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:41px;
    
}

.u169_mouseOver {
    background-image: url('../MenuTransfer_files/DadosCadastraisNF_u67_mouseOver.png');
}

.u169_selected {
    background-image: url('../MenuTransfer_files/ListagemPersonagem_u72_selected.png');
}

.u169_normal {
    background-image: url('../MenuTransfer_files/ListagemPersonagem_u72_normal.png');
}

.u169_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u169_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u170 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u171 {
    position:absolute;
    left:10px;
    top:440px;
    width:91px;
    height:161px;
    overflow:hidden;
}

#pd0u171 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:161px;
    
}

.u172_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u172_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u172_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u172_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u173 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u174_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u174_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u174_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u174_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u175 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u176_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u176_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u176_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u176_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u177 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_mouseOver {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_mouseOver.png');
}

.u178_selected {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_selected.png');
}

.u178_normal {
    background-image: url('../MenuTransfer_files/DashboardTransfer_u4_normal.png');
}

.u178_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u179 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:158px;
    top:351px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182_line {
    background-image: url('../CadRotas_files/u182_line.png');
}

.u182_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1120px;
    height:3px;
}

.u182 {
    position:absolute;
    left:140px;
    top:365px;
    width:1120px;
    height:10px;
    
}

.u183 {
    position:absolute;
    left:149px;
    top:463px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u184 {
    position:absolute;
    left:149px;
    top:441px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_normal {
    background-image: url('../CadRotas_files/u185_normal.png');
}

.u185_container {
    position:absolute;
    left:1062px;
    top:386px;
    width:156px;
    height:30px;
}

#u185_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:162px;
    height:36px;
}

.u186 {
    position:absolute;
    left:2px;
    top:7px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:149px;
    top:175px;
    width:1106px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u188 {
    position:absolute;
    left:149px;
    top:153px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

