﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../CadDestinatarioLocal_files/Quadrado_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:142px;
    width:1167px;
    height:541px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:547px;
}

.u1 {
    position:absolute;
    left:2px;
    top:262px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:114px;
    top:100px;
    width:254px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../CadDestinatarioLocal_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:140px;
    top:130px;
    width:140px;
    height:25px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u4 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:150px;
    top:160px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../CadDestinatarioLocal_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u6 {
    position:absolute;
    left:138px;
    top:174px;
    width:1130px;
    height:10px;
    
}

.u7 {
    position:absolute;
    left:953px;
    top:329px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:151px;
    top:208px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:151px;
    top:186px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:151px;
    top:329px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:151px;
    top:307px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:556px;
    top:329px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:556px;
    top:307px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:953px;
    top:307px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:151px;
    top:272px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:151px;
    top:250px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:953px;
    top:272px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:953px;
    top:250px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u24_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u20 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../MenuPrincipal_files/preto_u26_normal.png');
}

.u21_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u22 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../MenuPrincipal_files/Logo_u28_normal.png');
}

.u23_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u24 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u32_normal.png');
}

.u27_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u28 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u32_normal.png');
}

.u29_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u30 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u36_normal.png');
}

.u31_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u32 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u38_normal.png');
}

.u33_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u34 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u40_normal.png');
}

.u35_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u36 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u38 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u38 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u39_normal {
    background-image: url('../BuscaMenu_files/u44_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u40 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u54_normal.png');
}

.u49_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u50 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u52_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u52_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u52_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u53 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u54_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u54_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u54_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u55 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u56_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u56_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u56_container {
    position:absolute;
    left:444px;
    top:2px;
    width:148px;
    height:25px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u57 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u58_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u58_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u58_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u59 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u60_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u60_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u60_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u61 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_mouseOver {
    background-image: url('../MenuPrincipal_files/Mensagem_u59_mouseOver.png');
}

.u62_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u62_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u62_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u63 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u57_mouseOver.png');
}

.u64_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u64_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u57_selected.png');
}

.u64_container {
    position:absolute;
    left:296px;
    top:2px;
    width:148px;
    height:25px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u65 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u71_mouseOver.png');
}

.u66_selected {
    background-image: url('../MenuPrincipal_files/Sair_u71_selected.png');
}

.u66_normal {
    background-image: url('../MenuPrincipal_files/Sair_u71_selected.png');
}

.u66_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u67 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_mouseOver {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_mouseOver.png');
}

.u69_selected {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_selected.png');
}

.u69_normal {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_normal.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:121px;
    width:100px;
    height:40px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u70 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_mouseOver {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_mouseOver.png');
}

.u71_selected {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_selected.png');
}

.u71_normal {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_normal.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:81px;
    width:100px;
    height:40px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u72 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_mouseOver {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_mouseOver.png');
}

.u73_selected {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_selected.png');
}

.u73_normal {
    background-image: url('../CadDestinatario_files/ListagemJornada_u294_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:161px;
    width:100px;
    height:40px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u74 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u75 {
    position:absolute;
    left:0px;
    top:201px;
    width:101px;
    height:201px;
    overflow:hidden;
}

#pd0u75 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:201px;
    
}

.u76_mouseOver {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png');
}

.u76_selected {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_selected.png');
}

.u76_normal {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_normal.png');
}

.u76_container {
    position:absolute;
    left:15px;
    top:40px;
    width:85px;
    height:40px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u77 {
    position:absolute;
    left:2px;
    top:5px;
    width:81px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_mouseOver {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png');
}

.u78_selected {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_selected.png');
}

.u78_normal {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_normal.png');
}

.u78_container {
    position:absolute;
    left:15px;
    top:0px;
    width:85px;
    height:40px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u79 {
    position:absolute;
    left:2px;
    top:5px;
    width:81px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_mouseOver {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png');
}

.u80_selected {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_selected.png');
}

.u80_normal {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_normal.png');
}

.u80_container {
    position:absolute;
    left:15px;
    top:120px;
    width:85px;
    height:40px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u81 {
    position:absolute;
    left:2px;
    top:5px;
    width:81px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_mouseOver {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png');
}

.u82_selected {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_selected.png');
}

.u82_normal {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_normal.png');
}

.u82_container {
    position:absolute;
    left:15px;
    top:80px;
    width:85px;
    height:40px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u83 {
    position:absolute;
    left:2px;
    top:12px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_mouseOver {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_mouseOver.png');
}

.u84_selected {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_selected.png');
}

.u84_normal {
    background-image: url('../CadDestinatario_files/LocalEmbarcador_u301_normal.png');
}

.u84_container {
    position:absolute;
    left:15px;
    top:160px;
    width:85px;
    height:40px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:46px;
}

.u85 {
    position:absolute;
    left:2px;
    top:12px;
    width:81px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../CadDestinatarioLocal_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:140px;
    top:437px;
    width:1117px;
    height:26px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u88 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../CadDestinatarioLocal_files/u87_normal.png');
}

.u89_container {
    position:absolute;
    left:140px;
    top:491px;
    width:1117px;
    height:26px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u90 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../CadDestinatarioLocal_files/u87_normal.png');
}

.u91_container {
    position:absolute;
    left:140px;
    top:545px;
    width:1117px;
    height:26px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u92 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../CadDestinatarioLocal_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:1040px;
    top:406px;
    width:147px;
    height:30px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:36px;
}

.u94 {
    position:absolute;
    left:2px;
    top:7px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:1050px;
    top:442px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../CadDestinatarioLocal_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:1190px;
    top:440px;
    width:20px;
    height:20px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u97 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../CadDestinatarioLocal_files/u98_normal.png');
}

.u98_container {
    position:absolute;
    left:1212px;
    top:440px;
    width:20px;
    height:20px;
}

#u98_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u99 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../CadDestinatarioLocal_files/u100_normal.png');
}

.u100_container {
    position:absolute;
    left:1234px;
    top:440px;
    width:20px;
    height:20px;
}

#u100_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u101 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../CadDestinatarioLocal_files/u102_normal.png');
}

.u102_container {
    position:absolute;
    left:1187px;
    top:406px;
    width:70px;
    height:30px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:36px;
}

.u103 {
    position:absolute;
    left:2px;
    top:7px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:1050px;
    top:496px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../CadDestinatarioLocal_files/u96_normal.png');
}

.u105_container {
    position:absolute;
    left:1190px;
    top:494px;
    width:20px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../CadDestinatarioLocal_files/u98_normal.png');
}

.u107_container {
    position:absolute;
    left:1212px;
    top:494px;
    width:20px;
    height:20px;
}

#u107_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../CadDestinatarioLocal_files/u100_normal.png');
}

.u109_container {
    position:absolute;
    left:1234px;
    top:494px;
    width:20px;
    height:20px;
}

#u109_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:1050px;
    top:550px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../CadDestinatarioLocal_files/u112_normal.png');
}

.u112_container {
    position:absolute;
    left:140px;
    top:572px;
    width:1117px;
    height:26px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u113 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../CadDestinatarioLocal_files/u96_normal.png');
}

.u114_container {
    position:absolute;
    left:1190px;
    top:548px;
    width:20px;
    height:20px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u115 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../CadDestinatarioLocal_files/u98_normal.png');
}

.u116_container {
    position:absolute;
    left:1212px;
    top:548px;
    width:20px;
    height:20px;
}

#u116_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u117 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../CadDestinatarioLocal_files/u100_normal.png');
}

.u118_container {
    position:absolute;
    left:1234px;
    top:548px;
    width:20px;
    height:20px;
}

#u118_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u119 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:180px;
    top:577px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:1050px;
    top:577px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../CadDestinatarioLocal_files/u96_normal.png');
}

.u122_container {
    position:absolute;
    left:1190px;
    top:575px;
    width:20px;
    height:20px;
}

#u122_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u123 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../CadDestinatarioLocal_files/u98_normal.png');
}

.u124_container {
    position:absolute;
    left:1212px;
    top:575px;
    width:20px;
    height:20px;
}

#u124_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u125 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../CadDestinatarioLocal_files/u100_normal.png');
}

.u126_container {
    position:absolute;
    left:1234px;
    top:575px;
    width:20px;
    height:20px;
}

#u126_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u127 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../CadDestinatarioLocal_files/u87_normal.png');
}

.u128_container {
    position:absolute;
    left:140px;
    top:599px;
    width:1117px;
    height:26px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u129 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:180px;
    top:604px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:1050px;
    top:604px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../CadDestinatarioLocal_files/u112_normal.png');
}

.u132_container {
    position:absolute;
    left:140px;
    top:626px;
    width:1117px;
    height:26px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u133 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../CadDestinatarioLocal_files/u96_normal.png');
}

.u134_container {
    position:absolute;
    left:1190px;
    top:602px;
    width:20px;
    height:20px;
}

#u134_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u135 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../CadDestinatarioLocal_files/u98_normal.png');
}

.u136_container {
    position:absolute;
    left:1212px;
    top:602px;
    width:20px;
    height:20px;
}

#u136_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u137 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../CadDestinatarioLocal_files/u100_normal.png');
}

.u138_container {
    position:absolute;
    left:1234px;
    top:602px;
    width:20px;
    height:20px;
}

#u138_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u139 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:180px;
    top:631px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:1050px;
    top:631px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../CadDestinatarioLocal_files/u96_normal.png');
}

.u142_container {
    position:absolute;
    left:1190px;
    top:629px;
    width:20px;
    height:20px;
}

#u142_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u143 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../CadDestinatarioLocal_files/u98_normal.png');
}

.u144_container {
    position:absolute;
    left:1212px;
    top:629px;
    width:20px;
    height:20px;
}

#u144_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u145 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../CadDestinatarioLocal_files/u100_normal.png');
}

.u146_container {
    position:absolute;
    left:1234px;
    top:629px;
    width:20px;
    height:20px;
}

#u146_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u147 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../CadDestinatarioLocal_files/u154_normal.png');
}

.u154_container {
    position:absolute;
    left:140px;
    top:406px;
    width:30px;
    height:30px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u155 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../CadDestinatarioLocal_files/u156_normal.png');
}

.u156_container {
    position:absolute;
    left:170px;
    top:406px;
    width:399px;
    height:30px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:405px;
    height:36px;
}

.u157 {
    position:absolute;
    left:2px;
    top:7px;
    width:395px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:180px;
    top:442px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../CadDestinatarioLocal_files/u112_normal.png');
}

.u159_container {
    position:absolute;
    left:140px;
    top:464px;
    width:1117px;
    height:26px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u160 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:180px;
    top:469px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:1050px;
    top:469px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../CadDestinatarioLocal_files/u96_normal.png');
}

.u165_container {
    position:absolute;
    left:1190px;
    top:467px;
    width:20px;
    height:20px;
}

#u165_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u166 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_normal {
    background-image: url('../CadDestinatarioLocal_files/u98_normal.png');
}

.u167_container {
    position:absolute;
    left:1212px;
    top:467px;
    width:20px;
    height:20px;
}

#u167_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u168 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_normal {
    background-image: url('../CadDestinatarioLocal_files/u100_normal.png');
}

.u169_container {
    position:absolute;
    left:1234px;
    top:467px;
    width:20px;
    height:20px;
}

#u169_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u170 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:180px;
    top:496px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_normal {
    background-image: url('../CadDestinatarioLocal_files/u112_normal.png');
}

.u172_container {
    position:absolute;
    left:140px;
    top:518px;
    width:1117px;
    height:26px;
}

#u172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1123px;
    height:32px;
}

.u173 {
    position:absolute;
    left:2px;
    top:5px;
    width:1113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:180px;
    top:523px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:1050px;
    top:523px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176_normal {
    background-image: url('../CadDestinatarioLocal_files/u96_normal.png');
}

.u176_container {
    position:absolute;
    left:1190px;
    top:521px;
    width:20px;
    height:20px;
}

#u176_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u177 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_normal {
    background-image: url('../CadDestinatarioLocal_files/u98_normal.png');
}

.u178_container {
    position:absolute;
    left:1212px;
    top:521px;
    width:20px;
    height:20px;
}

#u178_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u179 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180_normal {
    background-image: url('../CadDestinatarioLocal_files/u100_normal.png');
}

.u180_container {
    position:absolute;
    left:1234px;
    top:521px;
    width:20px;
    height:20px;
}

#u180_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u181 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:180px;
    top:550px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193 {
    position:absolute;
    left:590px;
    top:577px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194 {
    position:absolute;
    left:590px;
    top:604px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:590px;
    top:631px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196 {
    position:absolute;
    left:590px;
    top:442px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197 {
    position:absolute;
    left:590px;
    top:469px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198 {
    position:absolute;
    left:590px;
    top:496px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199 {
    position:absolute;
    left:590px;
    top:523px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:590px;
    top:550px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201 {
    position:absolute;
    left:857px;
    top:577px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202 {
    position:absolute;
    left:857px;
    top:604px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203 {
    position:absolute;
    left:857px;
    top:631px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204 {
    position:absolute;
    left:857px;
    top:442px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205 {
    position:absolute;
    left:857px;
    top:469px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206 {
    position:absolute;
    left:857px;
    top:496px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207 {
    position:absolute;
    left:857px;
    top:523px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208 {
    position:absolute;
    left:857px;
    top:550px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209_normal {
    background-image: url('../CadDestinatarioLocal_files/u209_normal.png');
}

.u209_container {
    position:absolute;
    left:569px;
    top:406px;
    width:267px;
    height:30px;
}

#u209_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:273px;
    height:36px;
}

.u210 {
    position:absolute;
    left:2px;
    top:7px;
    width:263px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211_normal {
    background-image: url('../CadDestinatarioLocal_files/u211_normal.png');
}

.u211_container {
    position:absolute;
    left:836px;
    top:406px;
    width:204px;
    height:30px;
}

#u211_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:210px;
    height:36px;
}

.u212 {
    position:absolute;
    left:2px;
    top:7px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213 {
    position:absolute;
    left:953px;
    top:208px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u214 {
    position:absolute;
    left:953px;
    top:186px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u215 {
    position:absolute;
    left:1178px;
    top:366px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u216_line {
    background-image: url('../CadDestinatarioLocal_files/u216_line.png');
}

.u216_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u216 {
    position:absolute;
    left:138px;
    top:355px;
    width:1130px;
    height:10px;
    
}

.u217 {
    position:absolute;
    left:1037px;
    top:657px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218_normal {
    background-image: url('../CadDestinatarioLocal_files/u218_normal.png');
}

.u218_container {
    position:absolute;
    left:1184px;
    top:660px;
    width:10px;
    height:10px;
}

#u218_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u219 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220_line {
    background-image: url('../CadDestinatarioLocal_files/u220_line.png');
}

.u220_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:10px;
}

.u220 {
    position:absolute;
    left:1177px;
    top:660px;
    width:10px;
    height:10px;
    
}

.u221_normal {
    background-image: url('../CadDestinatarioLocal_files/u218_normal.png');
}

.u221_container {
    position:absolute;
    left:1203px;
    top:660px;
    width:10px;
    height:10px;
}

#u221_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u222 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u223_normal {
    background-image: url('../CadDestinatarioLocal_files/u223_normal.png');
}

.u223_container {
    position:absolute;
    left:1221px;
    top:660px;
    width:10px;
    height:10px;
}

#u223_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u224 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u225_normal {
    background-image: url('../CadDestinatarioLocal_files/u223_normal.png');
}

.u225_container {
    position:absolute;
    left:1240px;
    top:660px;
    width:10px;
    height:10px;
}

#u225_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u226 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u227_line {
    background-image: url('../CadDestinatarioLocal_files/u227_line.png');
}

.u227_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:10px;
}

.u227 {
    position:absolute;
    left:1247px;
    top:660px;
    width:10px;
    height:10px;
    
}

.u228_normal {
    background-image: url('../CadDestinatarioLocal_files/GravarJornada_u228_normal.png');
}

.u228_container {
    position:absolute;
    left:1085px;
    top:691px;
    width:100px;
    height:25px;
}

#u228_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u229 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u230_normal {
    background-image: url('../CadDestinatarioLocal_files/GravarJornada_u228_normal.png');
}

.u230_container {
    position:absolute;
    left:1185px;
    top:691px;
    width:100px;
    height:25px;
}

#u230_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u231 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

