﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../LinhaTempo_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:1166px;
    top:0px;
    width:1185px;
    height:179px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1191px;
    height:185px;
}

.u1 {
    position:absolute;
    left:2px;
    top:82px;
    width:1181px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../LinhaTempo_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1166px;
    height:179px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1172px;
    height:185px;
}

.u3 {
    position:absolute;
    left:2px;
    top:82px;
    width:1162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../LinhaTempo_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:63px;
    top:57px;
    width:2210px;
    height:2px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:2216px;
    height:8px;
}

.u5 {
    position:absolute;
    left:2px;
    top:-7px;
    width:2206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../LinhaTempo_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:63px;
    top:45px;
    width:25px;
    height:25px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u7 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../LinhaTempo_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:263px;
    top:45px;
    width:25px;
    height:25px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../LinhaTempo_files/u6_normal.png');
}

.u10_container {
    position:absolute;
    left:463px;
    top:45px;
    width:25px;
    height:25px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../LinhaTempo_files/u8_normal.png');
}

.u12_container {
    position:absolute;
    left:663px;
    top:45px;
    width:25px;
    height:25px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u13 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../LinhaTempo_files/u8_normal.png');
}

.u14_container {
    position:absolute;
    left:863px;
    top:45px;
    width:25px;
    height:25px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u15 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../LinhaTempo_files/u6_normal.png');
}

.u16_container {
    position:absolute;
    left:1063px;
    top:45px;
    width:25px;
    height:25px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u17 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:1px;
    top:77px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:235px;
    top:77px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:401px;
    top:77px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:603px;
    top:77px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:835px;
    top:77px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:1001px;
    top:77px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:31px;
    top:102px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:31px;
    top:122px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:31px;
    top:147px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:231px;
    top:102px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:231px;
    top:122px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:231px;
    top:147px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:431px;
    top:102px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:431px;
    top:122px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:431px;
    top:147px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:631px;
    top:102px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:631px;
    top:122px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:631px;
    top:147px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:831px;
    top:102px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:831px;
    top:122px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:831px;
    top:147px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:1031px;
    top:102px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:1031px;
    top:122px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:1031px;
    top:147px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../LinhaTempo_files/u6_normal.png');
}

.u42_container {
    position:absolute;
    left:1263px;
    top:45px;
    width:25px;
    height:25px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u43 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../LinhaTempo_files/u8_normal.png');
}

.u44_container {
    position:absolute;
    left:1463px;
    top:45px;
    width:25px;
    height:25px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u45 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../LinhaTempo_files/u6_normal.png');
}

.u46_container {
    position:absolute;
    left:1663px;
    top:45px;
    width:25px;
    height:25px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u47 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../LinhaTempo_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:1863px;
    top:45px;
    width:25px;
    height:25px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u49 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../LinhaTempo_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:2063px;
    top:45px;
    width:25px;
    height:25px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u51 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../LinhaTempo_files/u50_normal.png');
}

.u52_container {
    position:absolute;
    left:2263px;
    top:45px;
    width:25px;
    height:25px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u53 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:1201px;
    top:77px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:1435px;
    top:77px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:1601px;
    top:77px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:1803px;
    top:77px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:2035px;
    top:77px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:2201px;
    top:77px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:1231px;
    top:102px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:1231px;
    top:122px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:1231px;
    top:147px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:1431px;
    top:102px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:1431px;
    top:122px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:1431px;
    top:147px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:1631px;
    top:102px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:1631px;
    top:122px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:1631px;
    top:147px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:1831px;
    top:102px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:1831px;
    top:122px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:1831px;
    top:147px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:2031px;
    top:102px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:2031px;
    top:122px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:2031px;
    top:147px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:2231px;
    top:102px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:2231px;
    top:122px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:2231px;
    top:147px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:8px;
    top:9px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:131px;
    top:9px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:1176px;
    top:9px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:1299px;
    top:9px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u82 {
    position:absolute;
    left:0px;
    top:0px;
    width:1401px;
    height:1301px;
    overflow:hidden;
}

#pd1u82 {
    position:absolute;
    left:0px;
    top:0px;
    width:1401px;
    height:1301px;
    
}

.u83_normal {
    background-image: url('../LinhaTempo_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:0px;
    top:0px;
    width:2000px;
    height:5000px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:2006px;
    height:5006px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2492px;
    width:1996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../LinhaTempo_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:155px;
    top:35px;
    width:1100px;
    height:400px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:406px;
}

.u86 {
    position:absolute;
    left:2px;
    top:192px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../LinhaTempo_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:150px;
    top:30px;
    width:1100px;
    height:400px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:406px;
}

.u88 {
    position:absolute;
    left:2px;
    top:192px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../LinhaTempo_files/u89_normal.png');
}

.u89_container {
    position:absolute;
    left:150px;
    top:30px;
    width:1100px;
    height:30px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:36px;
}

.u90 {
    position:absolute;
    left:2px;
    top:7px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:158px;
    top:37px;
    width:327px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:1170px;
    top:406px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_line {
    background-image: url('../LinhaTempo_files/u93_line.png');
}

.u93_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1090px;
    height:3px;
}

.u93 {
    position:absolute;
    left:155px;
    top:390px;
    width:1090px;
    height:10px;
    
}

.u94 {
    position:absolute;
    left:1181px;
    top:37px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../LinhaTempo_files/u95_normal.png');
}

.u95_container {
    position:absolute;
    left:175px;
    top:273px;
    width:1050px;
    height:26px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1056px;
    height:32px;
}

.u96 {
    position:absolute;
    left:2px;
    top:5px;
    width:1046px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../LinhaTempo_files/u95_normal.png');
}

.u97_container {
    position:absolute;
    left:175px;
    top:327px;
    width:1050px;
    height:26px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1056px;
    height:32px;
}

.u98 {
    position:absolute;
    left:2px;
    top:5px;
    width:1046px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../LinhaTempo_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:175px;
    top:300px;
    width:1050px;
    height:26px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1056px;
    height:32px;
}

.u100 {
    position:absolute;
    left:2px;
    top:5px;
    width:1046px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../LinhaTempo_files/u99_normal.png');
}

.u101_container {
    position:absolute;
    left:175px;
    top:354px;
    width:1050px;
    height:26px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1056px;
    height:32px;
}

.u102 {
    position:absolute;
    left:2px;
    top:5px;
    width:1046px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../LinhaTempo_files/u103_normal.png');
}

.u103_container {
    position:absolute;
    left:175px;
    top:243px;
    width:88px;
    height:30px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:36px;
}

.u104 {
    position:absolute;
    left:2px;
    top:7px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../LinhaTempo_files/u105_normal.png');
}

.u105_container {
    position:absolute;
    left:263px;
    top:243px;
    width:437px;
    height:30px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:443px;
    height:36px;
}

.u106 {
    position:absolute;
    left:2px;
    top:7px;
    width:433px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../LinhaTempo_files/u107_normal.png');
}

.u107_container {
    position:absolute;
    left:700px;
    top:243px;
    width:105px;
    height:30px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:36px;
}

.u108 {
    position:absolute;
    left:2px;
    top:7px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../LinhaTempo_files/u107_normal.png');
}

.u109_container {
    position:absolute;
    left:805px;
    top:243px;
    width:105px;
    height:30px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:36px;
}

.u110 {
    position:absolute;
    left:2px;
    top:7px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../LinhaTempo_files/u107_normal.png');
}

.u111_container {
    position:absolute;
    left:910px;
    top:243px;
    width:105px;
    height:30px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:36px;
}

.u112 {
    position:absolute;
    left:2px;
    top:7px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../LinhaTempo_files/u107_normal.png');
}

.u113_container {
    position:absolute;
    left:1015px;
    top:243px;
    width:105px;
    height:30px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:36px;
}

.u114 {
    position:absolute;
    left:2px;
    top:7px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../LinhaTempo_files/u107_normal.png');
}

.u115_container {
    position:absolute;
    left:1120px;
    top:243px;
    width:105px;
    height:30px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:36px;
}

.u116 {
    position:absolute;
    left:2px;
    top:7px;
    width:101px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:185px;
    top:276px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:185px;
    top:303px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:185px;
    top:330px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:185px;
    top:357px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:273px;
    top:276px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:273px;
    top:303px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:273px;
    top:330px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:273px;
    top:357px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:710px;
    top:276px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:710px;
    top:303px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:710px;
    top:330px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:710px;
    top:357px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:815px;
    top:276px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:815px;
    top:303px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:815px;
    top:330px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:815px;
    top:357px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:920px;
    top:276px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:920px;
    top:303px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:920px;
    top:330px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:920px;
    top:357px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:1025px;
    top:276px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:1025px;
    top:303px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:1025px;
    top:330px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:1025px;
    top:357px;
    width:77px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:1130px;
    top:276px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:1130px;
    top:303px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:1130px;
    top:330px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:1130px;
    top:357px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:168px;
    top:78px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:854px;
    top:78px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:256px;
    top:78px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:942px;
    top:78px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:168px;
    top:104px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:310px;
    top:104px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:168px;
    top:130px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:854px;
    top:130px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:256px;
    top:130px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:942px;
    top:130px;
    width:129px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:168px;
    top:156px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:310px;
    top:156px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:854px;
    top:104px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:945px;
    top:104px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:854px;
    top:156px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160 {
    position:absolute;
    left:945px;
    top:156px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_line {
    background-image: url('../LinhaTempo_files/u161_line.png');
}

.u161_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1090px;
    height:3px;
}

.u161 {
    position:absolute;
    left:155px;
    top:230px;
    width:1090px;
    height:10px;
    
}

.u162 {
    position:absolute;
    left:168px;
    top:217px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u82 {
    position:absolute;
    left:0px;
    top:0px;
    width:1401px;
    height:1301px;
    
}

.u163_normal {
    background-image: url('../LinhaTempo_files/u83_normal.png');
}

.u163_container {
    position:absolute;
    left:0px;
    top:0px;
    width:2000px;
    height:5000px;
}

#u163_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:2006px;
    height:5006px;
}

.u164 {
    position:absolute;
    left:2px;
    top:2492px;
    width:1996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../LinhaTempo_files/u165_normal.png');
}

.u165_container {
    position:absolute;
    left:385px;
    top:25px;
    width:580px;
    height:350px;
}

#u165_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:586px;
    height:356px;
}

.u166 {
    position:absolute;
    left:2px;
    top:167px;
    width:576px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_normal {
    background-image: url('../LinhaTempo_files/u167_normal.png');
}

.u167_container {
    position:absolute;
    left:380px;
    top:20px;
    width:580px;
    height:350px;
}

#u167_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:586px;
    height:356px;
}

.u168 {
    position:absolute;
    left:2px;
    top:167px;
    width:576px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_normal {
    background-image: url('../LinhaTempo_files/u169_normal.png');
}

.u169_container {
    position:absolute;
    left:380px;
    top:20px;
    width:580px;
    height:30px;
}

#u169_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:586px;
    height:36px;
}

.u170 {
    position:absolute;
    left:2px;
    top:7px;
    width:576px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:388px;
    top:27px;
    width:327px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:836px;
    top:341px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_line {
    background-image: url('../LinhaTempo_files/u173_line.png');
}

.u173_line {
    position:absolute;
    left:0px;
    top:4px;
    width:579px;
    height:3px;
}

.u173 {
    position:absolute;
    left:381px;
    top:322px;
    width:579px;
    height:10px;
    
}

.u174_normal {
    background-image: url('../LinhaTempo_files/u174_normal.png');
}

.u174_container {
    position:absolute;
    left:909px;
    top:333px;
    width:32px;
    height:32px;
}

#u174_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u175 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:400px;
    top:60px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:515px;
    top:60px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:410px;
    top:120px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:515px;
    top:120px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:515px;
    top:180px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:410px;
    top:150px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:515px;
    top:150px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:706px;
    top:150px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:808px;
    top:150px;
    width:123px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:706px;
    top:120px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:808px;
    top:120px;
    width:123px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:410px;
    top:180px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:906px;
    top:27px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:515px;
    top:250px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190 {
    position:absolute;
    left:410px;
    top:250px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:515px;
    top:280px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:410px;
    top:280px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u193 {
    position:absolute;
    left:912px;
    top:166px;
    width:37px;
    height:33px;
    overflow:hidden;
}

#pd0u193 {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:33px;
    
}

.u194_normal {
    background-image: url('../LinhaTempo_files/u194_normal.png');
}

.u194_container {
    position:absolute;
    left:-14px;
    top:-32px;
    width:54px;
    height:64px;
}

#u194_img {
    position:absolute;
    left:0px;
    top:0px;
    width:54px;
    height:64px;
}

.u195 {
    position:absolute;
    left:2px;
    top:24px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196 {
    position:absolute;
    left:400px;
    top:90px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197_line {
    background-image: url('../LinhaTempo_files/u197_line.png');
}

.u197_line {
    position:absolute;
    left:0px;
    top:4px;
    width:551px;
    height:3px;
}

.u197 {
    position:absolute;
    left:397px;
    top:103px;
    width:551px;
    height:10px;
    
}

.u198 {
    position:absolute;
    left:403px;
    top:217px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199_line {
    background-image: url('../LinhaTempo_files/u199_line.png');
}

.u199_line {
    position:absolute;
    left:0px;
    top:4px;
    width:551px;
    height:3px;
}

.u199 {
    position:absolute;
    left:400px;
    top:230px;
    width:551px;
    height:10px;
    
}

