﻿* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ConfgPreDefinidas_files/Quadrado_u0_normal.png");
}

* html .u7_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ConfgPreDefinidas_files/u7_normal.png");
}

* html .u9_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/MenuQuadroCinza_u22_normal.png");
}

* html .u11_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/preto_u24_normal.png");
}

* html .u13_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Logo_u26_normal.png");
}

* html .u17_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Icone1_u30_normal.png");
}

* html .u19_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Icone1_u30_normal.png");
}

* html .u21_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/IconeMensagem_u34_normal.png");
}

* html .u23_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/IconeAten_ao_u36_normal.png");
}

* html .u25_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/IconeConfig_u38_normal.png");
}

* html .u29_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="BuscaMenu_files/u42_normal.png");
}

* html .u39_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="BuscaMenu_files/BotaoBusca_u52_normal.png");
}

* html .u42_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_mouseOver.png");
}

* html .u42_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u42_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u44_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Transfer_u57_mouseOver.png");
}

* html .u44_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Transfer_u57_selected.png");
}

* html .u44_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Transfer_u57_selected.png");
}

* html .u46_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Servi_o_4_u59_mouseOver.png");
}

* html .u46_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u46_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u48_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_mouseOver.png");
}

* html .u48_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u48_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u50_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/CadastroBasico_u63_mouseOver.png");
}

* html .u50_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u50_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u52_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Servi_o_4_u59_mouseOver.png");
}

* html .u52_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u52_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Jornada_u55_selected.png");
}

* html .u54_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Sair_u67_mouseOver.png");
}

* html .u54_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Sair_u67_selected.png");
}

* html .u54_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuPrincipal_files/Sair_u67_selected.png");
}

* html .u57_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ConfgPreDefinidas_files/GravarEspera_u57_normal.png");
}

* html .u59_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ConfgPreDefinidas_files/GravarNovoEspera_u59_normal.png");
}

* html .u61_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ConfgPreDefinidas_files/GravarEspera_u57_normal.png");
}

* html .u65_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_mouseOver.png");
}

* html .u65_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_selected.png");
}

* html .u65_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_normal.png");
}

* html .u68_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_mouseOver.png");
}

* html .u68_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_selected.png");
}

* html .u68_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_normal.png");
}

* html .u71_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_mouseOver.png");
}

* html .u71_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_selected.png");
}

* html .u71_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_normal.png");
}

* html .u74_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_mouseOver.png");
}

* html .u74_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_selected.png");
}

* html .u74_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_normal.png");
}

* html .u77_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_mouseOver.png");
}

* html .u77_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_selected.png");
}

* html .u77_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_normal.png");
}

* html .u80_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_mouseOver.png");
}

* html .u80_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_selected.png");
}

* html .u80_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_normal.png");
}

* html .u82_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_mouseOver.png");
}

* html .u82_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_selected.png");
}

* html .u82_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_normal.png");
}

* html .u85_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_mouseOver.png");
}

* html .u85_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_selected.png");
}

* html .u85_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_normal.png");
}

* html .u87_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_mouseOver.png");
}

* html .u87_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_selected.png");
}

* html .u87_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="MenuMensagens_files/Escrever_u315_normal.png");
}

