﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../SiteExterno_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:478px;
    top:139px;
    width:345px;
    height:445px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:351px;
    height:451px;
}

.u1 {
    position:absolute;
    left:2px;
    top:214px;
    width:341px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../SiteExterno_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:524px;
    top:171px;
    width:252px;
    height:112px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:258px;
    height:118px;
}

.u3 {
    position:absolute;
    left:2px;
    top:48px;
    width:248px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:516px;
    top:332px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:516px;
    top:358px;
    width:267px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:516px;
    top:401px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:516px;
    top:427px;
    width:267px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:683px;
    top:468px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

