﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u22_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u1 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../MenuPrincipal_files/preto_u24_normal.png');
}

.u2_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u3 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../MenuPrincipal_files/Logo_u26_normal.png');
}

.u4_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u5 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u8_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u9 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u10_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u11 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u34_normal.png');
}

.u12_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u13 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u36_normal.png');
}

.u14_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u15 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u38_normal.png');
}

.u16_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u17 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u19 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u20_normal {
    background-image: url('../BuscaMenu_files/u42_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u21 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u52_normal.png');
}

.u30_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u31 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u33_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u33_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u33_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u34 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_mouseOver {
    background-image: url('../MenuPrincipal_files/Transfer_u57_mouseOver.png');
}

.u35_selected {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u35_normal {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u35_container {
    position:absolute;
    left:296px;
    top:2px;
    width:296px;
    height:25px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:31px;
}

.u36 {
    position:absolute;
    left:2px;
    top:4px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u37_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u37_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u37_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u38 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u39_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u39_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u39_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u40 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_mouseOver {
    background-image: url('../MenuPrincipal_files/CadastroBasico_u63_mouseOver.png');
}

.u41_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u41_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u41_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u42 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u43_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u43_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u43_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u44 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u67_mouseOver.png');
}

.u45_selected {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u45_normal {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u45_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u46 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../CadEmpresaBasicos_files/Quadrado_u48_normal.png');
}

.u48_container {
    position:absolute;
    left:120px;
    top:142px;
    width:1167px;
    height:698px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:704px;
}

.u49 {
    position:absolute;
    left:2px;
    top:341px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:149px;
    top:181px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u51 {
    position:absolute;
    left:951px;
    top:280px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:951px;
    top:303px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:114px;
    top:100px;
    width:583px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:149px;
    top:159px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../CadEmpresaBasicos_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:140px;
    top:130px;
    width:140px;
    height:25px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u56 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:148px;
    top:445px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_line {
    background-image: url('../CadEmpresaBasicos_files/u58_line.png');
}

.u58_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u58 {
    position:absolute;
    left:138px;
    top:459px;
    width:1130px;
    height:10px;
    
}

.u59_normal {
    background-image: url('../CadEmpresaBasicos_files/GravarJornada_u59_normal.png');
}

.u59_container {
    position:absolute;
    left:1085px;
    top:850px;
    width:100px;
    height:25px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u60 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../CadEmpresaBasicos_files/GravarJornada_u59_normal.png');
}

.u61_container {
    position:absolute;
    left:1185px;
    top:850px;
    width:100px;
    height:25px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u62 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:951px;
    top:151px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:149px;
    top:302px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u65 {
    position:absolute;
    left:149px;
    top:280px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:218px;
    top:492px;
    width:231px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u67 {
    position:absolute;
    left:149px;
    top:532px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:149px;
    top:471px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:149px;
    top:554px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u70_normal {
    background-image: url('../CadEmpresaBasicos_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:1214px;
    top:479px;
    width:37px;
    height:30px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:43px;
    height:36px;
}

.u71 {
    position:absolute;
    left:2px;
    top:7px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../CadEmpresaBasicos_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:666px;
    top:479px;
    width:548px;
    height:30px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:554px;
    height:36px;
}

.u73 {
    position:absolute;
    left:2px;
    top:7px;
    width:544px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:476px;
    top:553px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u75 {
    position:absolute;
    left:149px;
    top:492px;
    width:59px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u76 {
    position:absolute;
    left:148px;
    top:639px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_line {
    background-image: url('../CadEmpresaBasicos_files/u77_line.png');
}

.u77_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u77 {
    position:absolute;
    left:138px;
    top:653px;
    width:1130px;
    height:10px;
    
}

.u78 {
    position:absolute;
    left:951px;
    top:808px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u79 {
    position:absolute;
    left:149px;
    top:687px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u80 {
    position:absolute;
    left:149px;
    top:665px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:149px;
    top:808px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u82 {
    position:absolute;
    left:149px;
    top:786px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:554px;
    top:808px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u84 {
    position:absolute;
    left:554px;
    top:786px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:951px;
    top:786px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:149px;
    top:751px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u87 {
    position:absolute;
    left:149px;
    top:729px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:951px;
    top:751px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u89 {
    position:absolute;
    left:951px;
    top:729px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u90_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u90_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u90_container {
    position:absolute;
    left:0px;
    top:81px;
    width:100px;
    height:40px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u91 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u92 {
    position:absolute;
    left:0px;
    top:121px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u92 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u93_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u93_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u93_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u93_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u94 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u95 {
    position:absolute;
    left:0px;
    top:161px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u95 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u96_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u96_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u96_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u96_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u97 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u98 {
    position:absolute;
    left:0px;
    top:201px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u98 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u99_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u99_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u99_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u99_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u100 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u101 {
    position:absolute;
    left:0px;
    top:241px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u101 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u102_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u102_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u102_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u102_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u103 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u104 {
    position:absolute;
    left:0px;
    top:281px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u104 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u105_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u105_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u105_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u105_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u106 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u107 {
    position:absolute;
    left:0px;
    top:321px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u107 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u108_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u108_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u108_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u108_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u109 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u110 {
    position:absolute;
    left:0px;
    top:361px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd0u110 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u111_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u111_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u111_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u111_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u112 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u113 {
    position:absolute;
    left:10px;
    top:161px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u113 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u114_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u114_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u114_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u114_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u115 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u116_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u116_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u116_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u117 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u118 {
    position:absolute;
    left:10px;
    top:201px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u118 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u119_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u119_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u119_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u119_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u120 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u121_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u121_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u121_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u122 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u123 {
    position:absolute;
    left:10px;
    top:241px;
    width:91px;
    height:281px;
    overflow:hidden;
}

#pd0u123 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:281px;
    
}

.u124_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u124_selected {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_selected.png');
}

.u124_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_normal.png');
}

.u124_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u125 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u126 {
    position:absolute;
    left:0px;
    top:80px;
    width:91px;
    height:161px;
    overflow:hidden;
}

#pd0u126 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:161px;
    
}

.u127_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u127_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u127_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u127_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u128 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u129_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u129_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u129_container {
    position:absolute;
    left:0px;
    top:40px;
    width:90px;
    height:40px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u130 {
    position:absolute;
    left:2px;
    top:6px;
    width:86px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u131_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u131_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u131_container {
    position:absolute;
    left:0px;
    top:80px;
    width:90px;
    height:40px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u132 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u133_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u133_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u133_container {
    position:absolute;
    left:0px;
    top:120px;
    width:90px;
    height:40px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u134 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u135 {
    position:absolute;
    left:0px;
    top:40px;
    width:91px;
    height:41px;
    overflow:hidden;
}

#pd0u135 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:41px;
    
}

.u136_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u136_selected {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_selected.png');
}

.u136_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_normal.png');
}

.u136_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u137 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u138 {
    position:absolute;
    left:10px;
    top:281px;
    width:91px;
    height:201px;
    overflow:hidden;
}

#pd0u138 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:201px;
    
}

.u139_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u139_selected {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_selected.png');
}

.u139_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_normal.png');
}

.u139_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u140 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u141 {
    position:absolute;
    left:0px;
    top:80px;
    width:91px;
    height:121px;
    overflow:hidden;
}

#pd0u141 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:121px;
    
}

.u142_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u142_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u142_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u142_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u143 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u144_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u144_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u144_container {
    position:absolute;
    left:0px;
    top:40px;
    width:90px;
    height:40px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u145 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u146 {
    position:absolute;
    left:0px;
    top:40px;
    width:91px;
    height:41px;
    overflow:hidden;
}

#pd0u146 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:41px;
    
}

.u147_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u147_selected {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_selected.png');
}

.u147_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_normal.png');
}

.u147_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u148 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u149 {
    position:absolute;
    left:10px;
    top:321px;
    width:91px;
    height:161px;
    overflow:hidden;
}

#pd0u149 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:161px;
    
}

.u150_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u150_selected {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_selected.png');
}

.u150_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_normal.png');
}

.u150_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u151 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u152 {
    position:absolute;
    left:0px;
    top:80px;
    width:91px;
    height:201px;
    overflow:hidden;
}

#pd0u152 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:201px;
    
}

.u153_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u153_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u153_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u153_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u154 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u155_selected {
    background-image: url('../MenuCadastroBasico_files/DadosCadastraisPersonagem_u183_selected.png');
}

.u155_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u155_container {
    position:absolute;
    left:0px;
    top:40px;
    width:90px;
    height:40px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u156 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u157 {
    position:absolute;
    left:0px;
    top:40px;
    width:91px;
    height:41px;
    overflow:hidden;
}

#pd0u157 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:41px;
    
}

.u158_mouseOver {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_mouseOver.png');
}

.u158_selected {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_selected.png');
}

.u158_normal {
    background-image: url('../MenuCadastroBasico_files/InserirNovoPersonagem_u180_normal.png');
}

.u158_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:40px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u159 {
    position:absolute;
    left:2px;
    top:12px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u160 {
    position:absolute;
    left:10px;
    top:361px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u160 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u161_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u161_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u161_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u161_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u162 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u163_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u163_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u163_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u163_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u164 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u165 {
    position:absolute;
    left:10px;
    top:401px;
    width:91px;
    height:81px;
    overflow:hidden;
}

#pd0u165 {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:81px;
    
}

.u166_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u166_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u166_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u166_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u167 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_mouseOver {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_mouseOver.png');
}

.u168_selected {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_selected.png');
}

.u168_normal {
    background-image: url('../MenuCadastroBasico_files/DashboardCadBasico_u146_normal.png');
}

.u168_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u169 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:148px;
    top:345px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_line {
    background-image: url('../CadEmpresaBasicos_files/u172_line.png');
}

.u172_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1130px;
    height:3px;
}

.u172 {
    position:absolute;
    left:138px;
    top:359px;
    width:1130px;
    height:10px;
    
}

.u174 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:2px;
    top:0px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u179 {
    position:absolute;
    left:666px;
    top:509px;
    width:586px;
    height:108px;
    overflow:hidden;
}

#pd0u179 {
    position:absolute;
    left:0px;
    top:0px;
    width:586px;
    height:108px;
    
}

.u180_normal {
    background-image: url('../CadEmpresaBasicos_files/u180_normal.png');
}

.u180_container {
    position:absolute;
    left:0px;
    top:0px;
    width:585px;
    height:26px;
}

#u180_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u181 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182_normal {
    background-image: url('../CadEmpresaBasicos_files/u180_normal.png');
}

.u182_container {
    position:absolute;
    left:0px;
    top:54px;
    width:585px;
    height:26px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u183 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:10px;
    top:5px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_normal {
    background-image: url('../CadEmpresaBasicos_files/u185_normal.png');
}

.u185_container {
    position:absolute;
    left:0px;
    top:27px;
    width:585px;
    height:26px;
}

#u185_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u186 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:10px;
    top:32px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:10px;
    top:59px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189_normal {
    background-image: url('../CadEmpresaBasicos_files/u185_normal.png');
}

.u189_container {
    position:absolute;
    left:0px;
    top:81px;
    width:585px;
    height:26px;
}

#u189_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:591px;
    height:32px;
}

.u190 {
    position:absolute;
    left:2px;
    top:5px;
    width:581px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:10px;
    top:86px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192_normal {
    background-image: url('../CadEmpresaBasicos_files/u192_normal.png');
}

.u192_container {
    position:absolute;
    left:556px;
    top:3px;
    width:20px;
    height:20px;
}

#u192_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u193 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_normal {
    background-image: url('../CadEmpresaBasicos_files/u192_normal.png');
}

.u194_container {
    position:absolute;
    left:556px;
    top:57px;
    width:20px;
    height:20px;
}

#u194_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u195 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196_normal {
    background-image: url('../CadEmpresaBasicos_files/u192_normal.png');
}

.u196_container {
    position:absolute;
    left:556px;
    top:30px;
    width:20px;
    height:20px;
}

#u196_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u197 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198_normal {
    background-image: url('../CadEmpresaBasicos_files/u192_normal.png');
}

.u198_container {
    position:absolute;
    left:556px;
    top:84px;
    width:20px;
    height:20px;
}

#u198_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u199 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:149px;
    top:246px;
    width:705px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u201 {
    position:absolute;
    left:149px;
    top:224px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202 {
    position:absolute;
    left:951px;
    top:238px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u203 {
    position:absolute;
    left:951px;
    top:216px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204 {
    position:absolute;
    left:951px;
    top:177px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

