﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../DashboardFrete_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:475px;
    top:131px;
    width:450px;
    height:260px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:266px;
}

.u1 {
    position:absolute;
    left:2px;
    top:122px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../DashboardFrete_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:532px;
    top:195px;
    width:380px;
    height:155px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:380px;
    height:155px;
}

.u3 {
    position:absolute;
    left:2px;
    top:70px;
    width:376px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:491px;
    top:145px;
    width:234px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:491px;
    top:166px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:482px;
    top:252px;
    width:33px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:514px;
    top:203px;
    width:14px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:514px;
    top:231px;
    width:14px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:517px;
    top:259px;
    width:9px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:517px;
    top:286px;
    width:9px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:517px;
    top:314px;
    width:9px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:647px;
    top:370px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:546px;
    top:351px;
    width:65px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:829px;
    top:351px;
    width:65px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:735px;
    top:351px;
    width:65px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:640px;
    top:351px;
    width:65px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../DashboardFrete_files/u0_normal.png');
}

.u17_container {
    position:absolute;
    left:475px;
    top:640px;
    width:450px;
    height:260px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:266px;
}

.u18 {
    position:absolute;
    left:2px;
    top:122px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../DashboardFrete_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:532px;
    top:704px;
    width:380px;
    height:155px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:380px;
    height:155px;
}

.u20 {
    position:absolute;
    left:2px;
    top:70px;
    width:376px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:491px;
    top:654px;
    width:234px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:491px;
    top:675px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:482px;
    top:761px;
    width:33px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:514px;
    top:712px;
    width:14px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:514px;
    top:740px;
    width:14px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:517px;
    top:768px;
    width:9px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:517px;
    top:795px;
    width:9px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:517px;
    top:823px;
    width:9px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:647px;
    top:879px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:530px;
    top:862px;
    width:9px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:588px;
    top:862px;
    width:14px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:648px;
    top:862px;
    width:14px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:708px;
    top:862px;
    width:14px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:767px;
    top:862px;
    width:14px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:827px;
    top:862px;
    width:14px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:887px;
    top:862px;
    width:14px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../DashboardFrete_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:115px;
    top:421px;
    width:161px;
    height:141px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:141px;
}

.u38 {
    position:absolute;
    left:2px;
    top:62px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:129px;
    top:578px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../DashboardFrete_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:341px;
    top:438px;
    width:116px;
    height:128px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:116px;
    height:128px;
}

.u41 {
    position:absolute;
    left:2px;
    top:56px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:323px;
    top:534px;
    width:16px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:315px;
    top:458px;
    width:23px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:385px;
    top:422px;
    width:23px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:456px;
    top:460px;
    width:23px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:456px;
    top:534px;
    width:36px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:339px;
    top:578px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../DashboardFrete_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:417px;
    top:1105px;
    width:220px;
    height:23px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:220px;
    height:23px;
}

.u49 {
    position:absolute;
    left:2px;
    top:4px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../DashboardFrete_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:426px;
    top:1185px;
    width:220px;
    height:23px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:220px;
    height:23px;
}

.u51 {
    position:absolute;
    left:2px;
    top:4px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../DashboardFrete_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:762px;
    top:1068px;
    width:23px;
    height:219px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:219px;
}

.u53 {
    position:absolute;
    left:2px;
    top:102px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../DashboardFrete_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:831px;
    top:1060px;
    width:220px;
    height:23px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:220px;
    height:23px;
}

.u55 {
    position:absolute;
    left:2px;
    top:4px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../DashboardFrete_files/u37_normal.png');
}

.u56_container {
    position:absolute;
    left:515px;
    top:420px;
    width:161px;
    height:141px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:141px;
}

.u57 {
    position:absolute;
    left:2px;
    top:62px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:528px;
    top:578px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../DashboardFrete_files/u40_normal.png');
}

.u59_container {
    position:absolute;
    left:741px;
    top:438px;
    width:116px;
    height:128px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:116px;
    height:128px;
}

.u60 {
    position:absolute;
    left:2px;
    top:56px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:725px;
    top:536px;
    width:16px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:715px;
    top:458px;
    width:23px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:787px;
    top:422px;
    width:23px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:856px;
    top:460px;
    width:23px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:856px;
    top:536px;
    width:36px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:741px;
    top:578px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../DashboardFrete_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:115px;
    top:131px;
    width:350px;
    height:260px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:356px;
    height:266px;
}

.u68 {
    position:absolute;
    left:2px;
    top:122px;
    width:346px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:131px;
    top:144px;
    width:234px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:131px;
    top:165px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../DashboardFrete_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:131px;
    top:191px;
    width:317px;
    height:178px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:317px;
    height:178px;
}

.u72 {
    position:absolute;
    left:2px;
    top:81px;
    width:313px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:366px;
    top:211px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:366px;
    top:322px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:366px;
    top:285px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:366px;
    top:248px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../DashboardFrete_files/u67_normal.png');
}

.u77_container {
    position:absolute;
    left:935px;
    top:131px;
    width:350px;
    height:260px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:356px;
    height:266px;
}

.u78 {
    position:absolute;
    left:2px;
    top:122px;
    width:346px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:951px;
    top:144px;
    width:234px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:951px;
    top:165px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../DashboardFrete_files/u71_normal.png');
}

.u81_container {
    position:absolute;
    left:951px;
    top:191px;
    width:317px;
    height:178px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:317px;
    height:178px;
}

.u82 {
    position:absolute;
    left:2px;
    top:81px;
    width:313px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:1186px;
    top:211px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:1186px;
    top:322px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:1186px;
    top:285px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:1186px;
    top:248px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../DashboardFrete_files/u37_normal.png');
}

.u87_container {
    position:absolute;
    left:915px;
    top:422px;
    width:161px;
    height:141px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:141px;
}

.u88 {
    position:absolute;
    left:2px;
    top:62px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:928px;
    top:580px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../DashboardFrete_files/u40_normal.png');
}

.u90_container {
    position:absolute;
    left:1141px;
    top:440px;
    width:116px;
    height:128px;
}

#u90_img {
    position:absolute;
    left:0px;
    top:0px;
    width:116px;
    height:128px;
}

.u91 {
    position:absolute;
    left:2px;
    top:56px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:1125px;
    top:538px;
    width:16px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:1115px;
    top:460px;
    width:23px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:1187px;
    top:424px;
    width:23px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:1256px;
    top:462px;
    width:23px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:1256px;
    top:538px;
    width:36px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:1141px;
    top:580px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../DashboardFrete_files/u67_normal.png');
}

.u98_container {
    position:absolute;
    left:115px;
    top:640px;
    width:350px;
    height:260px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:356px;
    height:266px;
}

.u99 {
    position:absolute;
    left:2px;
    top:122px;
    width:346px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:131px;
    top:653px;
    width:234px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:131px;
    top:674px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../DashboardFrete_files/u71_normal.png');
}

.u102_container {
    position:absolute;
    left:131px;
    top:700px;
    width:317px;
    height:178px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:317px;
    height:178px;
}

.u103 {
    position:absolute;
    left:2px;
    top:81px;
    width:313px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:366px;
    top:720px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:366px;
    top:831px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:366px;
    top:794px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:366px;
    top:757px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../DashboardFrete_files/u67_normal.png');
}

.u108_container {
    position:absolute;
    left:935px;
    top:640px;
    width:350px;
    height:260px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:356px;
    height:266px;
}

.u109 {
    position:absolute;
    left:2px;
    top:122px;
    width:346px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:951px;
    top:653px;
    width:234px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:951px;
    top:674px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../DashboardFrete_files/u71_normal.png');
}

.u112_container {
    position:absolute;
    left:951px;
    top:700px;
    width:317px;
    height:178px;
}

#u112_img {
    position:absolute;
    left:0px;
    top:0px;
    width:317px;
    height:178px;
}

.u113 {
    position:absolute;
    left:2px;
    top:81px;
    width:313px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:1186px;
    top:720px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:1186px;
    top:831px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:1186px;
    top:794px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:1186px;
    top:757px;
    width:79px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u22_normal.png');
}

.u118_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u119 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../MenuPrincipal_files/preto_u24_normal.png');
}

.u120_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u121 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../MenuPrincipal_files/Logo_u26_normal.png');
}

.u122_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u123 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u126_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u127 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u128_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u129 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u34_normal.png');
}

.u130_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u130_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u131 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u36_normal.png');
}

.u132_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u132_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u133 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u38_normal.png');
}

.u134_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u134_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u135 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u137 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u137 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u138_normal {
    background-image: url('../BuscaMenu_files/u42_normal.png');
}

.u138_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u139 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u52_normal.png');
}

.u148_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u149 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u151_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u151_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u151_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u152 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_mouseOver {
    background-image: url('../MenuPrincipal_files/Transfer_u57_mouseOver.png');
}

.u153_selected {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u153_normal {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u153_container {
    position:absolute;
    left:296px;
    top:2px;
    width:296px;
    height:25px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:31px;
}

.u154 {
    position:absolute;
    left:2px;
    top:4px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u155_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u155_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u155_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u156 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u157_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u157_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u157_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u158 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_mouseOver {
    background-image: url('../MenuPrincipal_files/CadastroBasico_u63_mouseOver.png');
}

.u159_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u159_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u159_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u160 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u161_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u161_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u161_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u162 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u67_mouseOver.png');
}

.u163_selected {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u163_normal {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u163_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u163_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u164 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_mouseOver {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_mouseOver.png');
}

.u166_selected {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_selected.png');
}

.u166_normal {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_normal.png');
}

.u166_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u167 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_mouseOver {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_mouseOver.png');
}

.u168_normal {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_normal.png');
}

.u168_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u169 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_mouseOver {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_mouseOver.png');
}

.u170_selected {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_selected.png');
}

.u170_normal {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_normal.png');
}

.u170_container {
    position:absolute;
    left:0px;
    top:160px;
    width:100px;
    height:40px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u171 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_mouseOver {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_mouseOver.png');
}

.u172_selected {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_selected.png');
}

.u172_normal {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_normal.png');
}

.u172_container {
    position:absolute;
    left:0px;
    top:200px;
    width:100px;
    height:40px;
}

#u172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u173 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174_mouseOver {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_mouseOver.png');
}

.u174_normal {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_normal.png');
}

.u174_container {
    position:absolute;
    left:0px;
    top:240px;
    width:100px;
    height:40px;
}

#u174_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u175 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176_mouseOver {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_mouseOver.png');
}

.u176_selected {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_selected.png');
}

.u176_normal {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_normal.png');
}

.u176_container {
    position:absolute;
    left:0px;
    top:280px;
    width:100px;
    height:40px;
}

#u176_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u177 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_mouseOver {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_mouseOver.png');
}

.u178_selected {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_selected.png');
}

.u178_normal {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_normal.png');
}

.u178_container {
    position:absolute;
    left:0px;
    top:320px;
    width:100px;
    height:40px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u179 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180_mouseOver {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_mouseOver.png');
}

.u180_normal {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_normal.png');
}

.u180_container {
    position:absolute;
    left:0px;
    top:360px;
    width:100px;
    height:40px;
}

#u180_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u181 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182_mouseOver {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_mouseOver.png');
}

.u182_selected {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_selected.png');
}

.u182_normal {
    background-image: url('../MenuFrete_files/DashboardJornada_u166_normal.png');
}

.u182_container {
    position:absolute;
    left:0px;
    top:400px;
    width:100px;
    height:40px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u183 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

