﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../ListagemEspera_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:142px;
    width:1167px;
    height:107px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:113px;
}

.u1 {
    position:absolute;
    left:2px;
    top:46px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:114px;
    top:100px;
    width:254px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:549px;
    top:182px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:149px;
    top:159px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:549px;
    top:159px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:949px;
    top:182px;
    width:300px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:949px;
    top:159px;
    width:300px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../ListagemEspera_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:140px;
    top:130px;
    width:140px;
    height:25px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:31px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:1169px;
    top:214px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u11_normal {
    background-image: url('../MenuPrincipal_files/MenuQuadroCinza_u22_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1300px;
    height:80px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1306px;
    height:86px;
}

.u12 {
    position:absolute;
    left:2px;
    top:32px;
    width:1296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../MenuPrincipal_files/preto_u24_normal.png');
}

.u13_container {
    position:absolute;
    left:147px;
    top:0px;
    width:1153px;
    height:28px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1159px;
    height:34px;
}

.u14 {
    position:absolute;
    left:2px;
    top:6px;
    width:1149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../MenuPrincipal_files/Logo_u26_normal.png');
}

.u15_container {
    position:absolute;
    left:8px;
    top:8px;
    width:130px;
    height:64px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:70px;
}

.u16 {
    position:absolute;
    left:2px;
    top:24px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:150px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:150px;
    top:56px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u19_container {
    position:absolute;
    left:1249px;
    top:40px;
    width:30px;
    height:30px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u20 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../MenuPrincipal_files/Icone1_u30_normal.png');
}

.u21_container {
    position:absolute;
    left:1212px;
    top:40px;
    width:30px;
    height:30px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u22 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../MenuPrincipal_files/IconeMensagem_u34_normal.png');
}

.u23_container {
    position:absolute;
    left:1137px;
    top:39px;
    width:30px;
    height:32px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:32px;
}

.u24 {
    position:absolute;
    left:2px;
    top:8px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../MenuPrincipal_files/IconeAten_ao_u36_normal.png');
}

.u25_container {
    position:absolute;
    left:1175px;
    top:40px;
    width:30px;
    height:30px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u26 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../MenuPrincipal_files/IconeConfig_u38_normal.png');
}

.u27_container {
    position:absolute;
    left:1283px;
    top:40px;
    width:15px;
    height:15px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u28 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:777px;
    top:43px;
    width:290px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u30 {
    position:absolute;
    left:777px;
    top:68px;
    width:291px;
    height:131px;
    overflow:hidden;
}

#pd0u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:291px;
    height:131px;
    
}

.u31_normal {
    background-image: url('../BuscaMenu_files/u42_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u32 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../BuscaMenu_files/BotaoBusca_u52_normal.png');
}

.u41_container {
    position:absolute;
    left:1077px;
    top:43px;
    width:50px;
    height:25px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:31px;
}

.u42 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u44_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u44_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u44_container {
    position:absolute;
    left:148px;
    top:2px;
    width:148px;
    height:25px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u45 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_mouseOver {
    background-image: url('../MenuPrincipal_files/Transfer_u57_mouseOver.png');
}

.u46_selected {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u46_normal {
    background-image: url('../MenuPrincipal_files/Transfer_u57_selected.png');
}

.u46_container {
    position:absolute;
    left:296px;
    top:2px;
    width:296px;
    height:25px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:31px;
}

.u47 {
    position:absolute;
    left:2px;
    top:4px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u48_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u48_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u48_container {
    position:absolute;
    left:592px;
    top:2px;
    width:148px;
    height:25px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u49 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_mouseOver {
    background-image: url('../MenuPrincipal_files/Jornada_u55_mouseOver.png');
}

.u50_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u50_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u50_container {
    position:absolute;
    left:740px;
    top:2px;
    width:148px;
    height:25px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u51 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_mouseOver {
    background-image: url('../MenuPrincipal_files/CadastroBasico_u63_mouseOver.png');
}

.u52_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u52_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u52_container {
    position:absolute;
    left:888px;
    top:2px;
    width:148px;
    height:25px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u53 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_mouseOver {
    background-image: url('../MenuPrincipal_files/Servi_o_4_u59_mouseOver.png');
}

.u54_selected {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u54_normal {
    background-image: url('../MenuPrincipal_files/Jornada_u55_selected.png');
}

.u54_container {
    position:absolute;
    left:1036px;
    top:2px;
    width:148px;
    height:25px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:31px;
}

.u55 {
    position:absolute;
    left:2px;
    top:4px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_mouseOver {
    background-image: url('../MenuPrincipal_files/Sair_u67_mouseOver.png');
}

.u56_selected {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u56_normal {
    background-image: url('../MenuPrincipal_files/Sair_u67_selected.png');
}

.u56_container {
    position:absolute;
    left:1184px;
    top:2px;
    width:116px;
    height:25px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u57 {
    position:absolute;
    left:2px;
    top:4px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../ListagemEspera_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:120px;
    top:286px;
    width:1167px;
    height:26px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u60 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../ListagemEspera_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:120px;
    top:255px;
    width:30px;
    height:30px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u62 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../ListagemEspera_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:150px;
    top:255px;
    width:442px;
    height:30px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:448px;
    height:36px;
}

.u64 {
    position:absolute;
    left:2px;
    top:7px;
    width:438px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../ListagemEspera_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:592px;
    top:255px;
    width:261px;
    height:30px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:267px;
    height:36px;
}

.u66 {
    position:absolute;
    left:2px;
    top:7px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../ListagemEspera_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:1070px;
    top:255px;
    width:147px;
    height:30px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:36px;
}

.u68 {
    position:absolute;
    left:2px;
    top:7px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:160px;
    top:291px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:605px;
    top:291px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:1082px;
    top:291px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../ListagemEspera_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:120px;
    top:313px;
    width:1167px;
    height:26px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u73 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:1070px;
    top:830px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../ListagemEspera_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:1217px;
    top:833px;
    width:10px;
    height:10px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u76 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_line {
    background-image: url('../ListagemEspera_files/u77_line.png');
}

.u77_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:10px;
}

.u77 {
    position:absolute;
    left:1210px;
    top:833px;
    width:10px;
    height:10px;
    
}

.u78_normal {
    background-image: url('../ListagemEspera_files/u75_normal.png');
}

.u78_container {
    position:absolute;
    left:1236px;
    top:833px;
    width:10px;
    height:10px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u79 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../ListagemEspera_files/u80_normal.png');
}

.u80_container {
    position:absolute;
    left:1254px;
    top:833px;
    width:10px;
    height:10px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u81 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../ListagemEspera_files/u80_normal.png');
}

.u82_container {
    position:absolute;
    left:1273px;
    top:833px;
    width:10px;
    height:10px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u83 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_line {
    background-image: url('../ListagemEspera_files/u84_line.png');
}

.u84_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:10px;
}

.u84 {
    position:absolute;
    left:1280px;
    top:833px;
    width:10px;
    height:10px;
    
}

.u86 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../ListagemEspera_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:1220px;
    top:289px;
    width:20px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../ListagemEspera_files/u89_normal.png');
}

.u89_container {
    position:absolute;
    left:1242px;
    top:289px;
    width:20px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../ListagemEspera_files/u91_normal.png');
}

.u91_container {
    position:absolute;
    left:1264px;
    top:289px;
    width:20px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../ListagemEspera_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:1217px;
    top:255px;
    width:70px;
    height:30px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:36px;
}

.u94 {
    position:absolute;
    left:2px;
    top:7px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../ListagemEspera_files/u95_normal.png');
}

.u95_container {
    position:absolute;
    left:852px;
    top:255px;
    width:218px;
    height:30px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:224px;
    height:36px;
}

.u96 {
    position:absolute;
    left:2px;
    top:7px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:160px;
    top:318px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:605px;
    top:318px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:1082px;
    top:318px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../ListagemEspera_files/u87_normal.png');
}

.u100_container {
    position:absolute;
    left:1220px;
    top:316px;
    width:20px;
    height:20px;
}

#u100_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u101 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../ListagemEspera_files/u89_normal.png');
}

.u102_container {
    position:absolute;
    left:1242px;
    top:316px;
    width:20px;
    height:20px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u103 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../ListagemEspera_files/u91_normal.png');
}

.u104_container {
    position:absolute;
    left:1264px;
    top:316px;
    width:20px;
    height:20px;
}

#u104_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u105 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../ListagemEspera_files/u59_normal.png');
}

.u106_container {
    position:absolute;
    left:120px;
    top:340px;
    width:1167px;
    height:26px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u107 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:160px;
    top:345px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:605px;
    top:345px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:1082px;
    top:345px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../ListagemEspera_files/u72_normal.png');
}

.u111_container {
    position:absolute;
    left:120px;
    top:367px;
    width:1167px;
    height:26px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u112 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../ListagemEspera_files/u87_normal.png');
}

.u113_container {
    position:absolute;
    left:1220px;
    top:343px;
    width:20px;
    height:20px;
}

#u113_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../ListagemEspera_files/u89_normal.png');
}

.u115_container {
    position:absolute;
    left:1242px;
    top:343px;
    width:20px;
    height:20px;
}

#u115_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../ListagemEspera_files/u91_normal.png');
}

.u117_container {
    position:absolute;
    left:1264px;
    top:343px;
    width:20px;
    height:20px;
}

#u117_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:160px;
    top:372px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:605px;
    top:372px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:1082px;
    top:372px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../ListagemEspera_files/u87_normal.png');
}

.u122_container {
    position:absolute;
    left:1220px;
    top:370px;
    width:20px;
    height:20px;
}

#u122_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u123 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../ListagemEspera_files/u89_normal.png');
}

.u124_container {
    position:absolute;
    left:1242px;
    top:370px;
    width:20px;
    height:20px;
}

#u124_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u125 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../ListagemEspera_files/u91_normal.png');
}

.u126_container {
    position:absolute;
    left:1264px;
    top:370px;
    width:20px;
    height:20px;
}

#u126_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u127 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../ListagemEspera_files/u59_normal.png');
}

.u128_container {
    position:absolute;
    left:120px;
    top:394px;
    width:1167px;
    height:26px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u129 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:160px;
    top:399px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:605px;
    top:399px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:1082px;
    top:399px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../ListagemEspera_files/u72_normal.png');
}

.u133_container {
    position:absolute;
    left:120px;
    top:421px;
    width:1167px;
    height:26px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u134 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../ListagemEspera_files/u87_normal.png');
}

.u135_container {
    position:absolute;
    left:1220px;
    top:397px;
    width:20px;
    height:20px;
}

#u135_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u136 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../ListagemEspera_files/u89_normal.png');
}

.u137_container {
    position:absolute;
    left:1242px;
    top:397px;
    width:20px;
    height:20px;
}

#u137_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u138 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../ListagemEspera_files/u91_normal.png');
}

.u139_container {
    position:absolute;
    left:1264px;
    top:397px;
    width:20px;
    height:20px;
}

#u139_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u140 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:160px;
    top:426px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:605px;
    top:426px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:1082px;
    top:426px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../ListagemEspera_files/u87_normal.png');
}

.u144_container {
    position:absolute;
    left:1220px;
    top:424px;
    width:20px;
    height:20px;
}

#u144_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u145 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../ListagemEspera_files/u89_normal.png');
}

.u146_container {
    position:absolute;
    left:1242px;
    top:424px;
    width:20px;
    height:20px;
}

#u146_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u147 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../ListagemEspera_files/u91_normal.png');
}

.u148_container {
    position:absolute;
    left:1264px;
    top:424px;
    width:20px;
    height:20px;
}

#u148_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u149 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../ListagemEspera_files/u59_normal.png');
}

.u150_container {
    position:absolute;
    left:120px;
    top:448px;
    width:1167px;
    height:26px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u151 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:160px;
    top:453px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:605px;
    top:453px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:1082px;
    top:453px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../ListagemEspera_files/u72_normal.png');
}

.u155_container {
    position:absolute;
    left:120px;
    top:475px;
    width:1167px;
    height:26px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u156 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../ListagemEspera_files/u87_normal.png');
}

.u157_container {
    position:absolute;
    left:1220px;
    top:451px;
    width:20px;
    height:20px;
}

#u157_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u158 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../ListagemEspera_files/u89_normal.png');
}

.u159_container {
    position:absolute;
    left:1242px;
    top:451px;
    width:20px;
    height:20px;
}

#u159_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u160 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_normal {
    background-image: url('../ListagemEspera_files/u91_normal.png');
}

.u161_container {
    position:absolute;
    left:1264px;
    top:451px;
    width:20px;
    height:20px;
}

#u161_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u162 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:160px;
    top:480px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:605px;
    top:480px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:1082px;
    top:480px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../ListagemEspera_files/u87_normal.png');
}

.u166_container {
    position:absolute;
    left:1220px;
    top:478px;
    width:20px;
    height:20px;
}

#u166_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u167 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../ListagemEspera_files/u89_normal.png');
}

.u168_container {
    position:absolute;
    left:1242px;
    top:478px;
    width:20px;
    height:20px;
}

#u168_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u169 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../ListagemEspera_files/u91_normal.png');
}

.u170_container {
    position:absolute;
    left:1264px;
    top:478px;
    width:20px;
    height:20px;
}

#u170_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u171 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_normal {
    background-image: url('../ListagemEspera_files/u59_normal.png');
}

.u172_container {
    position:absolute;
    left:120px;
    top:502px;
    width:1167px;
    height:26px;
}

#u172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u173 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:160px;
    top:507px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:605px;
    top:507px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:1082px;
    top:507px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../ListagemEspera_files/u72_normal.png');
}

.u177_container {
    position:absolute;
    left:120px;
    top:529px;
    width:1167px;
    height:26px;
}

#u177_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u178 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../ListagemEspera_files/u87_normal.png');
}

.u179_container {
    position:absolute;
    left:1220px;
    top:505px;
    width:20px;
    height:20px;
}

#u179_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u180 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_normal {
    background-image: url('../ListagemEspera_files/u89_normal.png');
}

.u181_container {
    position:absolute;
    left:1242px;
    top:505px;
    width:20px;
    height:20px;
}

#u181_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u182 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_normal {
    background-image: url('../ListagemEspera_files/u91_normal.png');
}

.u183_container {
    position:absolute;
    left:1264px;
    top:505px;
    width:20px;
    height:20px;
}

#u183_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u184 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:160px;
    top:534px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:605px;
    top:534px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:1082px;
    top:534px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188_normal {
    background-image: url('../ListagemEspera_files/u87_normal.png');
}

.u188_container {
    position:absolute;
    left:1220px;
    top:532px;
    width:20px;
    height:20px;
}

#u188_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u189 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190_normal {
    background-image: url('../ListagemEspera_files/u89_normal.png');
}

.u190_container {
    position:absolute;
    left:1242px;
    top:532px;
    width:20px;
    height:20px;
}

#u190_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u191 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192_normal {
    background-image: url('../ListagemEspera_files/u91_normal.png');
}

.u192_container {
    position:absolute;
    left:1264px;
    top:532px;
    width:20px;
    height:20px;
}

#u192_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u193 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_normal {
    background-image: url('../ListagemEspera_files/u59_normal.png');
}

.u194_container {
    position:absolute;
    left:120px;
    top:556px;
    width:1167px;
    height:26px;
}

#u194_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u195 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196 {
    position:absolute;
    left:160px;
    top:561px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197 {
    position:absolute;
    left:605px;
    top:561px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198 {
    position:absolute;
    left:1082px;
    top:561px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199_normal {
    background-image: url('../ListagemEspera_files/u72_normal.png');
}

.u199_container {
    position:absolute;
    left:120px;
    top:583px;
    width:1167px;
    height:26px;
}

#u199_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u200 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201_normal {
    background-image: url('../ListagemEspera_files/u87_normal.png');
}

.u201_container {
    position:absolute;
    left:1220px;
    top:559px;
    width:20px;
    height:20px;
}

#u201_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u202 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203_normal {
    background-image: url('../ListagemEspera_files/u89_normal.png');
}

.u203_container {
    position:absolute;
    left:1242px;
    top:559px;
    width:20px;
    height:20px;
}

#u203_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u204 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205_normal {
    background-image: url('../ListagemEspera_files/u91_normal.png');
}

.u205_container {
    position:absolute;
    left:1264px;
    top:559px;
    width:20px;
    height:20px;
}

#u205_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u206 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207 {
    position:absolute;
    left:160px;
    top:588px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208 {
    position:absolute;
    left:605px;
    top:588px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209 {
    position:absolute;
    left:1082px;
    top:588px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210_normal {
    background-image: url('../ListagemEspera_files/u87_normal.png');
}

.u210_container {
    position:absolute;
    left:1220px;
    top:586px;
    width:20px;
    height:20px;
}

#u210_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u211 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212_normal {
    background-image: url('../ListagemEspera_files/u89_normal.png');
}

.u212_container {
    position:absolute;
    left:1242px;
    top:586px;
    width:20px;
    height:20px;
}

#u212_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u213 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214_normal {
    background-image: url('../ListagemEspera_files/u91_normal.png');
}

.u214_container {
    position:absolute;
    left:1264px;
    top:586px;
    width:20px;
    height:20px;
}

#u214_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u215 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216_normal {
    background-image: url('../ListagemEspera_files/u59_normal.png');
}

.u216_container {
    position:absolute;
    left:120px;
    top:610px;
    width:1167px;
    height:26px;
}

#u216_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u217 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218 {
    position:absolute;
    left:160px;
    top:615px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u219 {
    position:absolute;
    left:605px;
    top:615px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220 {
    position:absolute;
    left:1082px;
    top:615px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u221_normal {
    background-image: url('../ListagemEspera_files/u72_normal.png');
}

.u221_container {
    position:absolute;
    left:120px;
    top:637px;
    width:1167px;
    height:26px;
}

#u221_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u222 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u223_normal {
    background-image: url('../ListagemEspera_files/u87_normal.png');
}

.u223_container {
    position:absolute;
    left:1220px;
    top:613px;
    width:20px;
    height:20px;
}

#u223_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u224 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u225_normal {
    background-image: url('../ListagemEspera_files/u89_normal.png');
}

.u225_container {
    position:absolute;
    left:1242px;
    top:613px;
    width:20px;
    height:20px;
}

#u225_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u226 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u227_normal {
    background-image: url('../ListagemEspera_files/u91_normal.png');
}

.u227_container {
    position:absolute;
    left:1264px;
    top:613px;
    width:20px;
    height:20px;
}

#u227_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u228 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u229 {
    position:absolute;
    left:160px;
    top:642px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u230 {
    position:absolute;
    left:605px;
    top:642px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u231 {
    position:absolute;
    left:1082px;
    top:642px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u232_normal {
    background-image: url('../ListagemEspera_files/u87_normal.png');
}

.u232_container {
    position:absolute;
    left:1220px;
    top:640px;
    width:20px;
    height:20px;
}

#u232_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u233 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u234_normal {
    background-image: url('../ListagemEspera_files/u89_normal.png');
}

.u234_container {
    position:absolute;
    left:1242px;
    top:640px;
    width:20px;
    height:20px;
}

#u234_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u235 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u236_normal {
    background-image: url('../ListagemEspera_files/u91_normal.png');
}

.u236_container {
    position:absolute;
    left:1264px;
    top:640px;
    width:20px;
    height:20px;
}

#u236_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u237 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u238_normal {
    background-image: url('../ListagemEspera_files/u59_normal.png');
}

.u238_container {
    position:absolute;
    left:120px;
    top:664px;
    width:1167px;
    height:26px;
}

#u238_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u239 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u240 {
    position:absolute;
    left:160px;
    top:669px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u241 {
    position:absolute;
    left:605px;
    top:669px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u242 {
    position:absolute;
    left:1082px;
    top:669px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u243_normal {
    background-image: url('../ListagemEspera_files/u72_normal.png');
}

.u243_container {
    position:absolute;
    left:120px;
    top:691px;
    width:1167px;
    height:26px;
}

#u243_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u244 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u245_normal {
    background-image: url('../ListagemEspera_files/u87_normal.png');
}

.u245_container {
    position:absolute;
    left:1220px;
    top:667px;
    width:20px;
    height:20px;
}

#u245_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u246 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u247_normal {
    background-image: url('../ListagemEspera_files/u89_normal.png');
}

.u247_container {
    position:absolute;
    left:1242px;
    top:667px;
    width:20px;
    height:20px;
}

#u247_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u248 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u249_normal {
    background-image: url('../ListagemEspera_files/u91_normal.png');
}

.u249_container {
    position:absolute;
    left:1264px;
    top:667px;
    width:20px;
    height:20px;
}

#u249_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u250 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u251 {
    position:absolute;
    left:160px;
    top:696px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u252 {
    position:absolute;
    left:605px;
    top:696px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u253 {
    position:absolute;
    left:1082px;
    top:696px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u254_normal {
    background-image: url('../ListagemEspera_files/u87_normal.png');
}

.u254_container {
    position:absolute;
    left:1220px;
    top:694px;
    width:20px;
    height:20px;
}

#u254_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u255 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u256_normal {
    background-image: url('../ListagemEspera_files/u89_normal.png');
}

.u256_container {
    position:absolute;
    left:1242px;
    top:694px;
    width:20px;
    height:20px;
}

#u256_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u257 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u258_normal {
    background-image: url('../ListagemEspera_files/u91_normal.png');
}

.u258_container {
    position:absolute;
    left:1264px;
    top:694px;
    width:20px;
    height:20px;
}

#u258_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u259 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u260_normal {
    background-image: url('../ListagemEspera_files/u59_normal.png');
}

.u260_container {
    position:absolute;
    left:120px;
    top:718px;
    width:1167px;
    height:26px;
}

#u260_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u261 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u262 {
    position:absolute;
    left:160px;
    top:723px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u263 {
    position:absolute;
    left:605px;
    top:723px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u264 {
    position:absolute;
    left:1082px;
    top:723px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u265_normal {
    background-image: url('../ListagemEspera_files/u72_normal.png');
}

.u265_container {
    position:absolute;
    left:120px;
    top:745px;
    width:1167px;
    height:26px;
}

#u265_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u266 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u267_normal {
    background-image: url('../ListagemEspera_files/u87_normal.png');
}

.u267_container {
    position:absolute;
    left:1220px;
    top:721px;
    width:20px;
    height:20px;
}

#u267_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u268 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u269_normal {
    background-image: url('../ListagemEspera_files/u89_normal.png');
}

.u269_container {
    position:absolute;
    left:1242px;
    top:721px;
    width:20px;
    height:20px;
}

#u269_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u270 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u271_normal {
    background-image: url('../ListagemEspera_files/u91_normal.png');
}

.u271_container {
    position:absolute;
    left:1264px;
    top:721px;
    width:20px;
    height:20px;
}

#u271_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u272 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u273 {
    position:absolute;
    left:160px;
    top:750px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u274 {
    position:absolute;
    left:605px;
    top:750px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u275 {
    position:absolute;
    left:1082px;
    top:750px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u276_normal {
    background-image: url('../ListagemEspera_files/u87_normal.png');
}

.u276_container {
    position:absolute;
    left:1220px;
    top:748px;
    width:20px;
    height:20px;
}

#u276_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u277 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u278_normal {
    background-image: url('../ListagemEspera_files/u89_normal.png');
}

.u278_container {
    position:absolute;
    left:1242px;
    top:748px;
    width:20px;
    height:20px;
}

#u278_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u279 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u280_normal {
    background-image: url('../ListagemEspera_files/u91_normal.png');
}

.u280_container {
    position:absolute;
    left:1264px;
    top:748px;
    width:20px;
    height:20px;
}

#u280_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u281 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u282_normal {
    background-image: url('../ListagemEspera_files/u59_normal.png');
}

.u282_container {
    position:absolute;
    left:120px;
    top:772px;
    width:1167px;
    height:26px;
}

#u282_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u283 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u284 {
    position:absolute;
    left:160px;
    top:777px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u285 {
    position:absolute;
    left:605px;
    top:777px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u286 {
    position:absolute;
    left:1082px;
    top:777px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u287_normal {
    background-image: url('../ListagemEspera_files/u72_normal.png');
}

.u287_container {
    position:absolute;
    left:120px;
    top:799px;
    width:1167px;
    height:26px;
}

#u287_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1173px;
    height:32px;
}

.u288 {
    position:absolute;
    left:2px;
    top:5px;
    width:1163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u289_normal {
    background-image: url('../ListagemEspera_files/u87_normal.png');
}

.u289_container {
    position:absolute;
    left:1220px;
    top:775px;
    width:20px;
    height:20px;
}

#u289_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u290 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u291_normal {
    background-image: url('../ListagemEspera_files/u89_normal.png');
}

.u291_container {
    position:absolute;
    left:1242px;
    top:775px;
    width:20px;
    height:20px;
}

#u291_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u292 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u293_normal {
    background-image: url('../ListagemEspera_files/u91_normal.png');
}

.u293_container {
    position:absolute;
    left:1264px;
    top:775px;
    width:20px;
    height:20px;
}

#u293_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u294 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u295 {
    position:absolute;
    left:160px;
    top:804px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u296 {
    position:absolute;
    left:605px;
    top:804px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u297 {
    position:absolute;
    left:1082px;
    top:804px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u298_normal {
    background-image: url('../ListagemEspera_files/u87_normal.png');
}

.u298_container {
    position:absolute;
    left:1220px;
    top:802px;
    width:20px;
    height:20px;
}

#u298_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u299 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u300_normal {
    background-image: url('../ListagemEspera_files/u89_normal.png');
}

.u300_container {
    position:absolute;
    left:1242px;
    top:802px;
    width:20px;
    height:20px;
}

#u300_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u301 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u302_normal {
    background-image: url('../ListagemEspera_files/u91_normal.png');
}

.u302_container {
    position:absolute;
    left:1264px;
    top:802px;
    width:20px;
    height:20px;
}

#u302_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u303 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u305 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u307 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u309 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u311 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u313 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u315 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u317 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u319 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u321 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u323 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u325 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u327 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u329 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u331 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u333 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u335 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u337 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u339 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u341 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u343 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u344_normal {
    background-image: url('../ListagemEspera_files/u344_normal.png');
}

.u344_container {
    position:absolute;
    left:129px;
    top:830px;
    width:151px;
    height:25px;
}

#u344_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:31px;
}

.u345 {
    position:absolute;
    left:2px;
    top:4px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u346 {
    position:absolute;
    left:860px;
    top:291px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u347 {
    position:absolute;
    left:860px;
    top:318px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u348 {
    position:absolute;
    left:860px;
    top:345px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u349 {
    position:absolute;
    left:860px;
    top:372px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u350 {
    position:absolute;
    left:860px;
    top:399px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u351 {
    position:absolute;
    left:860px;
    top:426px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u352 {
    position:absolute;
    left:860px;
    top:453px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u353 {
    position:absolute;
    left:860px;
    top:480px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u354 {
    position:absolute;
    left:860px;
    top:507px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u355 {
    position:absolute;
    left:860px;
    top:534px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u356 {
    position:absolute;
    left:860px;
    top:561px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u357 {
    position:absolute;
    left:860px;
    top:588px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u358 {
    position:absolute;
    left:860px;
    top:615px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u359 {
    position:absolute;
    left:860px;
    top:642px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u360 {
    position:absolute;
    left:860px;
    top:669px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u361 {
    position:absolute;
    left:860px;
    top:696px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u362 {
    position:absolute;
    left:860px;
    top:723px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u363 {
    position:absolute;
    left:860px;
    top:750px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u364 {
    position:absolute;
    left:860px;
    top:777px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u365 {
    position:absolute;
    left:860px;
    top:804px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u366 {
    position:absolute;
    left:149px;
    top:182px;
    width:300px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 11px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u367 {
    position:absolute;
    left:149px;
    top:207px;
    width:301px;
    height:131px;
    overflow:hidden;
}

#pd0u367 {
    position:absolute;
    left:0px;
    top:0px;
    width:301px;
    height:131px;
    
}

.u368_normal {
    background-image: url('../Copy_of_Dynamic_search_box_files/u59_normal.png');
}

.u368_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u368_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:136px;
}

.u369 {
    position:absolute;
    left:2px;
    top:57px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u370 {
    position:absolute;
    left:5px;
    top:65px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u371 {
    position:absolute;
    left:5px;
    top:110px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u372 {
    position:absolute;
    left:5px;
    top:80px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u373 {
    position:absolute;
    left:5px;
    top:95px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u374 {
    position:absolute;
    left:5px;
    top:50px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u375 {
    position:absolute;
    left:5px;
    top:20px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u376 {
    position:absolute;
    left:5px;
    top:35px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u377 {
    position:absolute;
    left:5px;
    top:5px;
    width:280px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u379_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u379_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u379_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u379_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u379_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u380 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u381_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u381_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u381_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u381_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u382 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u383_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u383_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u383_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u383_container {
    position:absolute;
    left:0px;
    top:160px;
    width:100px;
    height:40px;
}

#u383_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u384 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u385_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u385_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u385_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u385_container {
    position:absolute;
    left:0px;
    top:200px;
    width:100px;
    height:40px;
}

#u385_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u386 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u387_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u387_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u387_container {
    position:absolute;
    left:0px;
    top:240px;
    width:100px;
    height:40px;
}

#u387_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u388 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u389_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u389_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u389_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u389_container {
    position:absolute;
    left:0px;
    top:280px;
    width:100px;
    height:40px;
}

#u389_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u390 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u391_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u391_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u391_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u391_container {
    position:absolute;
    left:0px;
    top:320px;
    width:100px;
    height:40px;
}

#u391_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u392 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u393_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u393_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u393_container {
    position:absolute;
    left:0px;
    top:360px;
    width:100px;
    height:40px;
}

#u393_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u394 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u395_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u395_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u395_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u395_container {
    position:absolute;
    left:0px;
    top:400px;
    width:100px;
    height:40px;
}

#u395_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u396 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u397 {
    position:absolute;
    left:100px;
    top:280px;
    width:102px;
    height:81px;
    overflow:hidden;
}

#pd0u397 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:81px;
    
}

.u398_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u398_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u398_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u398_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u398_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u399 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u400_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u400_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u400_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u400_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u400_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u401 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u402 {
    position:absolute;
    left:100px;
    top:240px;
    width:102px;
    height:81px;
    overflow:hidden;
}

#pd0u402 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:81px;
    
}

.u403_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u403_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u403_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u403_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u403_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u404 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u405_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u405_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u405_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u405_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u405_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u406 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u407 {
    position:absolute;
    left:100px;
    top:320px;
    width:102px;
    height:81px;
    overflow:hidden;
}

#pd0u407 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:81px;
    
}

.u408_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u408_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u408_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u408_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u408_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u409 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u410_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u410_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u410_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u410_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u410_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u411 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u412 {
    position:absolute;
    left:100px;
    top:200px;
    width:101px;
    height:161px;
    overflow:hidden;
}

#pd0u412 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:161px;
    
}

.u413_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u413_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u413_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u413_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u413_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u414 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u415_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u415_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u415_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u415_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u416 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u417_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u417_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u417_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u417_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:40px;
}

#u417_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u418 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u419_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u419_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u419_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u419_container {
    position:absolute;
    left:0px;
    top:120px;
    width:100px;
    height:40px;
}

#u419_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u420 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u421 {
    position:absolute;
    left:100px;
    top:360px;
    width:102px;
    height:81px;
    overflow:hidden;
}

#pd0u421 {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:81px;
    
}

.u422_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u422_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u422_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u422_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u422_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u423 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u424_mouseOver {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_mouseOver.png');
}

.u424_selected {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_selected.png');
}

.u424_normal {
    background-image: url('../MenuJornada_files/DashboardJornada_u812_normal.png');
}

.u424_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:40px;
}

#u424_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u425 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

